<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/System/Library/CoreServices/Certificate Assistant.app</string>
	<string>/Applications/Mail.app</string>
	<string>/usr/sbin/racoon</string>
	<string>identifier "com.apple.ServerManagerDaemon" and anchor apple</string>
</array>
</plist>
