<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BezelServicesPlugin</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.driver.AppleHSBluetoothDriver</string>
		<key>Classes</key>
		<dict>
			<key>AppleHSBluetoothDevice</key>
			<dict>
				<key>Actions</key>
				<dict>
					<key>ExKB2LowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>ExtendedKeyboard2.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>ExKBLowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>ExtendedKeyboard.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KB2LowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Keyboard2.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KB3LowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Keyboard3.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KBConnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>KBDisconnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<string>2000</string>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>KBLowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Keyboard.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KBOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>KBTransportSwitchOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MOConnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouseRev.pdf</string>
						<key>MessageKey</key>
						<string>MouseConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MODisconnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<string>2000</string>
						<key>Image</key>
						<string>BtMouseRev.pdf</string>
						<key>MessageKey</key>
						<string>MouseDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MOLowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Mouse.icns</string>
						<key>NCInformativeText</key>
						<string>MouseLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>MouseLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>MOOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouseRev.pdf</string>
						<key>MessageKey</key>
						<string>MouseOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>MOTransportSwitchOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouseRev.pdf</string>
						<key>MessageKey</key>
						<string>MouseDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>TPConnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>TPDisconnectOSD</key>
					<dict>
						<key>DurationMS</key>
						<string>2000</string>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>TPLowBatteryPowerDisconnectNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>MagicTrackpad.icns</string>
						<key>NCInformativeText</key>
						<string>TrackpadLowBatteryPowerDisconnectText</string>
						<key>NCTitle</key>
						<string>TrackpadLowBatteryPowerDisconnectHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>TPOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>TPTransportSwitchOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadDisconnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
				</dict>
				<key>Messages</key>
				<dict>
					<key>ExKB2LowBatteryPowerDisconnect</key>
					<dict>
						<key>Action</key>
						<string>ExKB2LowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>ExKBLowBatteryPowerDisconnect</key>
					<dict>
						<key>Action</key>
						<string>ExKBLowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KB2LowBatteryPowerDisconnected</key>
					<dict>
						<key>Action</key>
						<string>KB2LowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KB3LowBatteryPowerDisconnected</key>
					<dict>
						<key>Action</key>
						<string>KB3LowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KBConnected</key>
					<dict>
						<key>Action</key>
						<string>KBConnectOSD</string>
						<key>CancelsPendingAction</key>
						<string>KBDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>KBDisconnected</key>
					<dict>
						<key>Action</key>
						<string>KBDisconnectOSD</string>
						<key>DelayCondition</key>
						<string>KeyboardInactive</string>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>KBLowBatteryPowerDisconnected</key>
					<dict>
						<key>Action</key>
						<string>KBLowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KBOff</key>
					<dict>
						<key>Action</key>
						<string>KBOffOSD</string>
					</dict>
					<key>KBTransportSwitch</key>
					<dict>
						<key>Action</key>
						<string>KBTransportSwitchOSD</string>
						<key>CancelsPendingAction</key>
						<string>KBDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>MOConnected</key>
					<dict>
						<key>Action</key>
						<string>MOConnectOSD</string>
						<key>CancelsPendingAction</key>
						<string>MODisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>MODisconnected</key>
					<dict>
						<key>Action</key>
						<string>MODisconnectOSD</string>
						<key>DelayCondition</key>
						<string>MouseInactive</string>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>MOLowBatteryPowerDisconnected</key>
					<dict>
						<key>Action</key>
						<string>MOLowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>MOOff</key>
					<dict>
						<key>Action</key>
						<string>MOOffOSD</string>
					</dict>
					<key>MOTransportSwitch</key>
					<dict>
						<key>Action</key>
						<string>MOTransportSwitchOSD</string>
						<key>CancelsPendingAction</key>
						<string>MODisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>TPConnected</key>
					<dict>
						<key>Action</key>
						<string>TPConnectOSD</string>
						<key>CancelsPendingAction</key>
						<string>TPDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>TPDisconnected</key>
					<dict>
						<key>Action</key>
						<string>TPDisconnectOSD</string>
						<key>DelayCondition</key>
						<string>MouseInactive</string>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>TPLowBatteryPowerDisconnected</key>
					<dict>
						<key>Action</key>
						<string>TPLowBatteryPowerDisconnectNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>TPOff</key>
					<dict>
						<key>Action</key>
						<string>TPOffOSD</string>
					</dict>
					<key>TPTransportSwitch</key>
					<dict>
						<key>Action</key>
						<string>TPTransportSwitchOSD</string>
						<key>CancelsPendingAction</key>
						<string>TPDisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>DelayMS</key>
						<integer>8000</integer>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
				</dict>
				<key>ReportsBatteryPercent</key>
				<false/>
			</dict>
		</dict>
		<key>Version</key>
		<string>2</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.BezelServices.AppleHSBluetooth</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleHSBluetooth</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5450.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5450.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
</dict>
</plist>
