<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.YearInReview-Postcard_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.YearInReview-Postcard_Preview</string>
	<key>catalogVersion</key>
	<integer>9</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:37:50Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>YearInReview-Postcard_29BC54A7-1251-487A-BF85-5A09D39E0DF6</string>
		<string>YearInReview-Postcard-V_BACB22D6-00FC-4415-BC7D-25994FEF26F5</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
