<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioServerPlugIn_IOKitUserClients</key>
	<array>
		<string>IOAVB17221ACMPServiceUserClient</string>
		<string>IOAVB17221AECPServiceUserClient</string>
		<string>IOAVB17221EntityDiscoveryUserClient</string>
		<string>IOAVB1722ApplicationControlServiceUserClient</string>
		<string>IOAVB1722MAAPServiceUserClient</string>
		<string>IOAVBInterfaceStreamManagerUserClient</string>
		<string>IOAVBInputUserSpaceStreamUserClient</string>
		<string>IOAVBNubUserClient</string>
		<string>IOAVBOutputUserSpaceStreamUserClient</string>
		<string>IOMSRPListenerUserClient</string>
		<string>IOMSRPTalkerUserClient</string>
		<string>IOMVRPUserClient</string>
		<string>IOTimeSyncClockManagerUserClient</string>
		<string>IOTimeSyncUserClient</string>
		<string>IOTimeSyncgPTPManagerUserClient</string>
	</array>
	<key>AudioServerPlugIn_LoadingConditions</key>
	<dict>
		<key>IOService Matching</key>
		<array>
			<dict>
				<key>IOProviderClass</key>
				<string>IOAVBAudioLoader</string>
			</dict>
		</array>
	</dict>
	<key>AudioServerPlugIn_MachServices</key>
	<array>
		<string>com.apple.coreservices.launchservicesd</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.lsd.mapdb</string>
		<string>com.apple.tsloader</string>
		<string>com.apple.avb.audio.driver</string>
		<string>com.apple.avb.acquiremode</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAVBAudio</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.audio.AppleAVBAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleAVBAudio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1040.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1040.6</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>E3C6EC53-3C6D-4BD5-8680-7CE3C7E917A5</key>
		<string>AppleAVBAudioFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>E3C6EC53-3C6D-4BD5-8680-7CE3C7E917A5</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>AppleAVBAudio 1040.6, Copyright © 2012-2022 Apple Inc. All rights reserved.</string>
</dict>
</plist>
