<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalModifier</key>
	<dict>
		<key>CreationDate</key>
		<date>2025-04-08T08:13:00Z</date>
		<key>Modifier</key>
		<data>
		gioVFrTiyfIyMoyXWNUnEA==
		</data>
		<key>SecurityLevel</key>
		<integer>0</integer>
	</dict>
	<key>HostUUID</key>
	<data>
	iERHCViTWVuwY3Tlq9iorw==
	</data>
	<key>InterfaceModifiers</key>
	<dict>
		<key>en0</key>
		<dict>
			<key>CreationDate</key>
			<date>2025-06-13T15:11:04Z</date>
			<key>Modifier</key>
			<data>
			02eFDNGBenJkR9svwEg7Kw==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>LinkLocalModifiers</key>
	<dict>
		<key>en0</key>
		<dict>
			<key>CreationDate</key>
			<date>2026-05-22T16:53:59Z</date>
			<key>Modifier</key>
			<data>
			T5wbK6Yi6o3TLG12lx+lUg==
			</data>
			<key>SecurityLevel</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
