<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DUID</key>
	<data>
	AAEAATEBRZeYAaevaxU=
	</data>
	<key>HostUUID</key>
	<data>
	iERHCViTWVuwY3Tlq9iorw==
	</data>
	<key>IAIDList</key>
	<array>
		<string>en0</string>
	</array>
</dict>
</plist>
