<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioServerPlugIn_IOKitUserClients</key>
	<array>
		<string>IOTimeSyncUserClient</string>
		<string>IOTimeSyncClockManagerUserClient</string>
		<string>IOTimeSyncgPTPManagerUserClient</string>
		<string>IOTimeSyncDomainUserClient</string>
		<string>IOTimeSyncNetworkPortUserClient</string>
	</array>
	<key>AudioServerPlugin_MachServices</key>
	<array>
		<string>com.apple.tsloader</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleTimeSyncAudioClock</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.audio.AppleTimeSyncAudioClock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleTimeSyncAudioClock</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1040.3</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>24C1A210-821E-407B-86B4-F0466416A8E0</key>
		<string>AppleTimeSyncAudioClockFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>24C1A210-821E-407B-86B4-F0466416A8E0</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>AppleTimeSyncAudioClock 1040.3, Copyright © 2014-2021 Apple Inc. All rights reserved.</string>
</dict>
</plist>
