<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2019 Apple Inc. All rights reserved.</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleT8101GPIOIC</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8101GPIOIC</string>
			<key>IONameMatch</key>
			<string>gpio,t8101</string>
			<key>IOPlatformActiveAction</key>
			<integer>5000</integer>
			<key>IOPlatformQuiesceAction</key>
			<integer>1000</integer>
			<key>IOPlatformWakeAction</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleT8006GPIOIC</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8006GPIOIC</string>
			<key>IONameMatch</key>
			<string>gpio,t8006</string>
			<key>IOPlatformActiveAction</key>
			<integer>5000</integer>
			<key>IOPlatformQuiesceAction</key>
			<integer>1000</integer>
			<key>IOPlatformWakeAction</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleS5L8960XGPIOIC</key>
		<dict>
			<key>IOClass</key>
			<string>AppleS5L8960XGPIOIC</string>
			<key>IONameMatch</key>
			<string>gpio,s5l8960x</string>
			<key>IOPlatformActiveAction</key>
			<integer>5000</integer>
			<key>IOPlatformQuiesceAction</key>
			<integer>1000</integer>
			<key>IOPlatformWakeAction</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
