<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.PictureCard-Postcard_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.PictureCard-Postcard_Preview</string>
	<key>catalogVersion</key>
	<integer>13</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:35:53Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>PictureCard-Postcard_FB158918-FEEB-4E78-961C-5677F78EA916</string>
		<string>PictureCard-Postcard_5C2DBFCA-07F0-4338-AA82-AE101AFE99B3</string>
		<string>PictureCard-Postcard-V_9EDDC799-BA68-4763-BABC-9741AF13009F</string>
		<string>PictureCard-Postcard_78426EB4-C79B-4E91-BD7E-B376DDB015B7</string>
		<string>PictureCard-Postcard-V_399013FA-41C2-4D65-A4EF-25D515507E32</string>
		<string>PictureCard-Postcard-V_18C4BFF3-C5DB-41CF-8026-C661B05DD638</string>
		<string>PictureCard-Postcard-V_5301501F-66A2-41A9-AF09-261148811F53</string>
		<string>PictureCard-Postcard_80A748A3-F4ED-42EE-90C6-2087DA7D141A</string>
		<string>PictureCard-Postcard-V_1F0F60BC-EA47-4841-A0AA-EEDB9669B697</string>
		<string>PictureCard-Postcard_0F88A530-67E4-436F-AC77-3A0203563CF4</string>
		<string>PictureCard-Postcard_72034A94-7D3C-4640-A57A-C2B95027B0A4</string>
		<string>PictureCard-Postcard-V_C1955DBB-B53A-462F-BA62-693551D08773</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
