<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.0</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/1F0F60BC-EA47-4841-A0AA-EEDB9669B697.ppb/Resources/Images/140614_FamilyMidEast-Provence_AT_01641.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.517035,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>0</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>441</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>297</real>
					<key>x</key>
					<real>144</real>
					<key>y</key>
					<real>216</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<false/>
			<key>height</key>
			<real>432</real>
			<key>holeCount</key>
			<integer>1</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>VFront</string>
			<key>treatmentId</key>
			<string>C7B66902490660FF0A934319A6E60464C5E08C16</string>
			<key>treatmentIdentifier</key>
			<string>C7B66902490660FF0A934319A6E60464C5E08C16</string>
			<key>uuid</key>
			<string>3F51EAE0-BE45-4E9D-9E24-438C8FE319F5</string>
			<key>width</key>
			<real>288</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>cover</key>
			<string>D55DB20E-830C-4E3B-8E27-CA14CCCE8061</string>
			<key>inside</key>
			<string>1B9EB580-C971-4595-97B2-68B616409FBB</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>C7B66902490660FF0A934319A6E60464C5E08C16</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Thank You</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Picture Card</string>
		<key>productCodes</key>
		<array>
			<string>VerticalFlatCard</string>
		</array>
		<key>themeIdentifier</key>
		<string>PictureCard-Postcard-V</string>
		<key>themePreviewIdentifier</key>
		<string>PictureCard-Postcard-V_1F0F60BC-EA47-4841-A0AA-EEDB9669B697</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{81, 6}, {162, 242}}</string>
		<key>drawScale</key>
		<real>0.5625</real>
		<key>textFrames</key>
		<dict/>
	</dict>
</dict>
</plist>
