<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.Picture_Book_Photos_OSX_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.Picture_Book_Photos_OSX_Preview</string>
	<key>catalogVersion</key>
	<integer>21</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:37:33Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>PictureBook2015Square_549582F8-801C-40D2-90DA-5798A220310A</string>
		<string>PictureBook2015Square_D955DCC9-116D-41C9-BD2E-24721669C574</string>
		<string>PictureBook2015_7510167D-1D88-4037-875A-473A8E2BEE98</string>
		<string>PictureBook2015_44CA32E7-E558-40F0-A7F1-285875D22A1B</string>
		<string>PictureBook2015_5C9A8CF5-E28C-4F5D-B5D1-32F4EAB34CF7</string>
		<string>PictureBook2015_CEA5FBB0-9774-4AA7-AF69-046F584F0071</string>
		<string>PictureBook2015Square_25C0C2DD-8BEC-495C-893C-978A518B9EFF</string>
		<string>PictureBook2015_5EDDE0A8-3594-4DF4-A3A5-995390DB43F5</string>
		<string>PictureBook2015_E4D82FE2-96BC-4A06-8F14-0128A536BC94</string>
		<string>PictureBook2015_B60FE35E-EC2F-4A96-9305-3C930F5AEDB8</string>
		<string>PictureBook2015_3DD363EC-7133-4BB3-A30B-4044D53F5144</string>
		<string>PictureBook2015_FA9709D3-F6E3-4DC5-BE63-E8DC4BF46282</string>
		<string>PictureBook2015Square_8C052307-D117-4282-90F3-92840BA3AAAB</string>
		<string>PictureBook2015Square_74B0BC4F-94A0-4BE8-B867-21A50BD67253</string>
		<string>PictureBook2015Square_F485C729-A014-4B24-BBCD-95AF98A3FB20</string>
		<string>PictureBook2015Square_97E3F074-FDCE-440C-B7E8-206A56E9FB64</string>
		<string>PictureBook2015Square_F17478AF-2C97-4941-A93F-AD4950B8C13D</string>
		<string>PictureBook2015Square_CD2D6865-C7C3-4458-AE6A-6B23779E363E</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
