<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CharacterPalette</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.CharacterPaletteIM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Emoji &amp; Symbols</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>351</string>
	<key>CVActiveCategories</key>
	<string>Category-Arrows|Category-Parentheses|Category-Punctuation|Category-CurrencySymbols|Category-Pictographs|Category-Bullets|Category-MathematicalSymbols|Category-LetterlikeSymbols|Category-Emoji|Category-Latin</string>
	<key>CVCategories</key>
	<dict>
		<key>*</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVCategoryViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>GenericCategoryView</string>
			</dict>
		</dict>
		<key>Category-BigFive</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVBigFiveViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVBigFiveDataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>zh-Hant</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-Dingbats</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVDingbatsViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDingbatsDataSource</string>
				<key>ViewName</key>
				<string>DingbatsCategoryView</string>
			</dict>
		</dict>
		<key>Category-Emoji</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVEmojiViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>EmojiCategoryView</string>
			</dict>
		</dict>
		<key>Category-Favorites</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVFavoritesViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>ViewName</key>
				<string>GenericCategoryView</string>
			</dict>
			<key>acceptDrop</key>
			<true/>
			<key>undraggable</key>
			<true/>
		</dict>
		<key>Category-GB18030</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVGB18030ViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVGB18030DataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>zh-Hans</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-GB2312</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVGB2312ViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVGB2312DataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>zh-Hans</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-HKSC</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVHKSCViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVHKSCDataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>zh-Hant</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-HanCharacters_all</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVRadicalViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>RadicalCategoryView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-HanCharacters</string>
		</dict>
		<key>Category-HanCharacters_ja</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVRadicalViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>RadicalCategoryView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-HanCharacters</string>
			<key>CVCategoryLanguage</key>
			<string>ja</string>
		</dict>
		<key>Category-HanCharacters_ko</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVRadicalViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>RadicalCategoryView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-HanCharacters</string>
			<key>CVCategoryLanguage</key>
			<string>ko</string>
		</dict>
		<key>Category-HanCharacters_zh_CN</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVRadicalViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>RadicalCategoryView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-HanCharacters</string>
			<key>CVCategoryLanguage</key>
			<string>zh-Hans</string>
		</dict>
		<key>Category-HanCharacters_zh_TW</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVRadicalViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>RadicalCategoryView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-HanCharacters</string>
			<key>CVCategoryLanguage</key>
			<string>zh-Hant</string>
		</dict>
		<key>Category-ISO8859_1</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVISO8859ViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVISO8859DataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>en</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-JISX0208</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVJISX0208ViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVJISX0208DataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>ja</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-JISX0213</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVJISX0213ViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVJISX0213DataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>ja</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-MacKorean</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVMacKoreanViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVMacKoreanDataSource</string>
				<key>ViewName</key>
				<string>GenericCodeTableView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>CVCategoryLanguage</key>
			<string>ko</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
		<key>Category-Recent</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVRecentViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVDataSourcePlist</string>
				<key>ViewName</key>
				<string>GenericCategoryView</string>
			</dict>
			<key>undraggable</key>
			<true/>
		</dict>
		<key>Category-Search</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVSearchViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>ViewName</key>
				<string>GenericCategoryView</string>
			</dict>
			<key>undraggable</key>
			<true/>
		</dict>
		<key>Category-Unicode</key>
		<dict>
			<key>CVCategoryControllerClass</key>
			<string>CVUnicodeViewController</string>
			<key>CVCategoryControllerInfo</key>
			<dict>
				<key>DataSourceClass</key>
				<string>CVUnicodeDataSource</string>
				<key>ViewName</key>
				<string>UnicodeCategoryView</string>
			</dict>
			<key>CVCategoryImageName</key>
			<string>CategoryImage-CodeTable</string>
			<key>inflexibleFormat</key>
			<true/>
		</dict>
	</dict>
	<key>CVDefaultSetting</key>
	<dict>
		<key>CVDingbatsFont</key>
		<string>Webdings</string>
		<key>CVFontSize</key>
		<integer>26</integer>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>InputMethodConnectionName</key>
	<string>com_apple_palette_character_connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>CVInputController</string>
	<key>InputMethodType</key>
	<string>palette</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.apple.CharacterPaletteIM</string>
	<key>tsInputMethodIconFileKey</key>
	<string>CVIconTemplate.pdf</string>
</dict>
</plist>
