<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Name</key>
        <string>ApplePMGR</string>
        <key>Children</key>
        <array>
            <dict>
                <key>Name</key>
                <string>kApplePMGRTracepointPerfLimitingDVDFactor1</string>
                <key>Children</key>
                <array>
                    <dict>
                        <key>Name</key>
                        <string>DVD Factor</string>
                        <key>Type</key>
                        <string>Level</string>
                        <key>LevelArg</key>
                        <string>Arg1</string>
                        <key>KTraceCode</key>
                        <string>0x2b660000</string>
                    </dict>
                    <dict>
                        <key>Name</key>
                        <string>Limiting Reason DVD Factor1</string>
                        <key>Type</key>
                        <string>Level</string>
                        <key>LevelArg</key>
                        <string>Arg2</string>
                        <key>KTraceCode</key>
                        <string>0x2b660000</string>
                    </dict>
                </array>
            </dict>     
                
            <dict>
                <key>Name</key>
                <string>kApplePMGRTracepointPerfLimitingNetLimit</string>
                <key>Children</key>
                <array>
                    <dict>
                        <key>Name</key>
                        <string>Perf Limiting Net Limit</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>ThermalUPO Perf Limiting Now</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660004</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Limiting Reason Overall</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660004</string>
                            </dict>
                        </array>
                    </dict>
                        
                    <dict>
                        <key>Name</key>
                        <string>kApplePMGRTracepointPerfLimitingBuckets</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Requested Perf</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660008</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Requested Bucket</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660008</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Delivered Perf</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660008</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Delivered Bucket</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg4</string>
                                <key>KTraceCode</key>
                                <string>0x2b660008</string>
                            </dict>
                        </array>
                    </dict>
                        
                    <dict>
                        <key>Name</key>
                        <string>kApplePMGRTracepointPerfLimitingContributingLimitsA</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 0</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x27b00000</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 1</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x27b00000</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 2</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x27b00000</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 3</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg4</string>
                                <key>KTraceCode</key>
                                <string>0x27b00000</string>
                            </dict>
                        </array>
                    </dict>
                        
                    <dict>
                        <key>Name</key>
                        <string>kApplePMGRTracepointPerfLimitingContributingLimitsB</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 4</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x27b00004</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 5</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x27b00004</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 6</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x27b00004</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>thermalUPOPerfLimiting 7</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg4</string>
                                <key>KTraceCode</key>
                                <string>0x27b00004</string>
                            </dict>
                        </array>
                    </dict>
                        
                    <dict>    
                        <key>Name</key>
                        <string>kApplePMGRTracepointPerfLimitingStates</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>RequestedState</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x27b00008</string>
                            </dict>
                            <dict>
                            <key>Name</key>
                                <string>RequestedStateTrue</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x27b00008</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>DVD Limit State</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x27b00008</string>
                            </dict>
                        </array>
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonDVDFactor1FastLoop</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b66000c</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b66000c</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b66000c</string>
                            </dict>    
                        </array>
                    </dict>
                    
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonDVDFactor1SlowLoop</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660010</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660010</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660010</string>
                            </dict>  
                        </array>
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonDVDFactor1HIP</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660014</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660014</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660014</string>
                            </dict>
                        </array>
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonDVDFactor1UPO</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660018</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660018</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660018</string>
                            </dict>
                        </array>
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonDVDFactor1LPM</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b66001c</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b66001c</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>kPerfLimitingReasonDVDFactor1Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b66001c</string>
                            </dict>
                        </array>       
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonCLPCDroop</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660020</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660020</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660020</string>
                            </dict>
                        </array>
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonCLPCDroop</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660020</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660020</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660020</string>
                            </dict>
                        </array>
                    </dict>
                                
                    <dict>
                        <key>Name</key>
                        <string>kPerfLimitingReasonCLPCAveragePower</string>
                        <key>Children</key>
                        <array>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Scenario</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg1</string>
                                <key>KTraceCode</key>
                                <string>0x2b660024</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>IOReport State IDX</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg2</string>
                                <key>KTraceCode</key>
                                <string>0x2b660024</string>
                            </dict>
                            <dict>
                                <key>Name</key>
                                <string>Perf Limiting Reporting Threshold Count</string>
                                <key>Type</key>
                                <string>Level</string>
                                <key>LevelArg</key>
                                <string>Arg3</string>
                                <key>KTraceCode</key>
                                <string>0x2b660024</string>
                            </dict>   
                        </array>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>

