<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleMultitouchDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2021 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMultitouchDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMultitouchDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5460.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5460.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleMultitouchHIDService (0x0D,0x04)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchDriver</string>
			<key>DefaultMultitouchProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
					<string>AppleMultitouchDriver.kext/Contents/PlugIns/MultitouchHID.plugin</string>
				</dict>
				<key>MT Built-In</key>
				<true/>
				<key>parser-options</key>
				<integer>16</integer>
				<key>parser-type</key>
				<integer>1</integer>
			</dict>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleMultitouchHIDService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>Manufacturer</key>
			<string>Apple</string>
		</dict>
		<key>MTUserDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchDriver</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>7</integer>
					<key>DeviceUsagePage</key>
					<integer>65376</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleMultitouchHIDService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>193.8</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleInputDeviceSupport</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
