<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBMassStorageInterfaceNub</string>
	<key>CFBundleGetInfoString</key>
	<string>533.120.2, Copyright Apple Inc. 2008-2016</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBMassStorageInterfaceNub</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>533.120.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>533.120.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1313</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1313</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>JMicron_1008_45376</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>45376</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>JMicron_10264_6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6</integer>
			<key>idVendor</key>
			<integer>10264</integer>
		</dict>
		<key>JMicron_1041_727</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>727</integer>
			<key>idVendor</key>
			<integer>1041</integer>
		</dict>
		<key>JMicron_1041_742</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>742</integer>
			<key>idVendor</key>
			<integer>1041</integer>
		</dict>
		<key>JMicron_1041_745</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>745</integer>
			<key>idVendor</key>
			<integer>1041</integer>
		</dict>
		<key>JMicron_1211_381</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>381</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>JMicron_1356_3313</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>3313</integer>
			<key>idVendor</key>
			<integer>1356</integer>
		</dict>
		<key>JMicron_1356_3461</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>3461</integer>
			<key>idVendor</key>
			<integer>1356</integer>
		</dict>
		<key>JMicron_1439_4301</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4301</integer>
			<key>idVendor</key>
			<integer>1439</integer>
		</dict>
		<key>JMicron_1439_4326</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4326</integer>
			<key>idVendor</key>
			<integer>1439</integer>
		</dict>
		<key>JMicron_1921_53198</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>53198</integer>
			<key>idVendor</key>
			<integer>1921</integer>
		</dict>
		<key>JMicron_4703_43338</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>43338</integer>
			<key>idVendor</key>
			<integer>4703</integer>
		</dict>
		<key>JMicron_4703_43370</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>43370</integer>
			<key>idVendor</key>
			<integer>4703</integer>
		</dict>
		<key>JMicron_5118_9584</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>9584</integer>
			<key>idVendor</key>
			<integer>5118</integer>
		</dict>
		<key>JMicron_5421_1378</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1378</integer>
			<key>idVendor</key>
			<integer>5421</integer>
		</dict>
		<key>JMicron_5421_1400</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1400</integer>
			<key>idVendor</key>
			<integer>5421</integer>
		</dict>
		<key>JMicron_5421_1408</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1408</integer>
			<key>idVendor</key>
			<integer>5421</integer>
		</dict>
		<key>JMicron_5421_1411</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1411</integer>
			<key>idVendor</key>
			<integer>5421</integer>
		</dict>
		<key>JMicron_5421_43386</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>43386</integer>
			<key>idVendor</key>
			<integer>5421</integer>
		</dict>
		<key>JMicron_7172_18</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>18</integer>
			<key>idVendor</key>
			<integer>7172</integer>
		</dict>
		<key>JMicron_8644_1743</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMassStorageInterfaceNub</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1743</integer>
			<key>idVendor</key>
			<integer>8644</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>2.5.0</string>
		<key>com.apple.iokit.IOSCSIBlockCommandsDevice</key>
		<string>2.5.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.5.6</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOUSBMassStorageDriver</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
