<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>401</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0</string>
	<key>CFBundleVersion</key>
	<string>55507.120.2</string>
	<key>ProjectName</key>
	<string>SecurityAgent</string>
	<key>SourceVersion</key>
	<string>55507120002000000</string>
</dict>
</plist>
