<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<installer-gui-script minSpecVersion="1">
    <options customize="never" hostArchitectures="i386,x86_64"/>
    <title>SU_TITLE</title>
    <script/>
    <volume-check script="VolumeCheck()"/>
    <!-- Apps that should be closed prior to installing -->
    <pkg-ref id="com.apple.pkg.MobileDeviceSU.1220A22" auth="root" installKBytes="117891" version="1.0.0.0.1.1558653107">
        <must-close>
            <app id="com.apple.iTunes"/>
            <app id="com.apple.configurator"/>
            <app id="com.apple.configurator.ui"/>
            <app id="com.apple.FinalCut"/>
            <app id="com.apple.dt.Xcode"/>
            <app id="com.apple.iMovieApp"/>
            <app id="com.apple.Image_Capture"/>
        </must-close>
    </pkg-ref>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="iTunes Device Support Update" start_selected="true" versStr="SU_VERS" description="SU_DESCRIPTION" title="SU_TITLE" visible="DoesntHaveNewerOrSameMobileDevice(my.target.mountpoint)">
        <pkg-ref id="com.apple.pkg.MobileDeviceSU.1220A22" auth="Root" packageIdentifier="com.apple.pkg.MobileDeviceSU.1220A22" onConclusion="RequireRestart">MobileDeviceSU.pkg</pkg-ref>
    </choice>
    <script>
function VolumeCheck(prefix) {
	var myTargetSystemVersion = (my.target.systemVersion || system.files.plistAtPath(my.target.mountpoint + "/System/Library/CoreServices/SystemVersion.plist"));
	if (!myTargetSystemVersion || system.compareVersions(myTargetSystemVersion.ProductVersion, '10.11.4') &lt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_B85E600482', '10.11.4');
		my.result.type = 'Fatal';
		return false;
	}
	if (!myTargetSystemVersion || system.compareVersions(myTargetSystemVersion.ProductVersion, '10.14.4') &gt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_25CBFE41C7', '10.14.4');
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function DoesntHaveNewerOrSameMobileDevice(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/PrivateFrameworks/MobileDevice.framework/Versions/A/Resources/Info.plist');
	if (!plist) {
		return true;
	}
	var plistKeyValue = plist['CFBundleVersion'];
	if (!plistKeyValue) {
		return true;
	}
	if (system.compareVersions(plistKeyValue, '988.250.11.100.2') &gt;= 0) {
		return false;
	}
	return true;
}
</script>
    <localization>
        <strings language="English">"SU_TITLE" = "iTunes Device Support Update";
"SU_VERS" = " ";
"SU_SERVERCOMMENT" = "For Desktop and Server systems";
"SU_DESCRIPTION" = '&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
        &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
        &lt;title&gt;&lt;/title&gt;
        &lt;style type="text/css"&gt;
            body {font: 13px -apple-system;}
            p {margin: 0.0px 0.0px 0.0px 0.0px;}
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;This update ensures proper updating and restoring for iOS devices using iTunes for Mac.&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
';
</strings>
    </localization>
</installer-gui-script>