<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.PhotoEssay-Large_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.PhotoEssay-Large_Preview</string>
	<key>catalogVersion</key>
	<integer>12</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:35:18Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>PhotoEssay-Large_923FAEA1-B2D2-49CD-8130-CE7E168AC98C</string>
		<string>PhotoEssay-Large_FEDE0D30-58F7-40F3-819D-050FC3985568</string>
		<string>PhotoEssay-Large_E13C7BFB-77AE-4AB7-B4D1-2693B2774D42</string>
		<string>PhotoEssay-Large_DA59CFC8-F875-4812-B3B8-DF3E8B400B50</string>
		<string>PhotoEssay-Large_650D37CE-1BEC-429D-88EE-87993BB66D35</string>
		<string>PhotoEssay-Large_64F7F0B6-AD5E-4132-98E2-94868780CDA7</string>
		<string>PhotoEssay-Large_BEF84621-F398-4C4D-8B3D-DB4F4FD45EBA</string>
		<string>PhotoEssay-Large_53450EEE-8976-4D9A-9888-9800E3775B5A</string>
		<string>PhotoEssay-Large_A1E68F59-20DE-46CE-A8F4-51E4897D073F</string>
		<string>PhotoEssay-Large_07597807-4BF2-4DB7-9915-F3AB02EC52C5</string>
		<string>PhotoEssay-Large_79EDF322-0AE6-4637-8EF0-0714B9BBBEB3</string>
		<string>PhotoEssay-Large_33F91BF1-F55B-426D-8D31-A0470C837E94</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
