<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Class</key>
		<string>IPMapElement</string>
		<key>InlandWaterStyle</key>
		<dict>
			<key>FillColor</key>
			<string>183,196,196,1</string>
			<key>StrokeWidth</key>
			<real>0.5</real>
			<key>StrokeColor</key>
			<string>183,196,196,1</string>
		</dict>
		<key>WaterStyle</key>
		<dict>
			<key>FillColor</key>
			<string>81,104,112,1</string>
			<key>StrokeColor</key>
			<string>141,158,163,1</string>
			<key>StrokeWidth</key>
			<real>0.5</real>
		</dict>
		<key>CompassElement</key>
		<dict>
			<key>Image</key>
			<string>Assets/Shared/Maps/Art/classic-big-compass.png</string>
			<key>Width</key>
			<real>59</real>
			<key>Height</key>
			<real>59</real>
			<key>Alpha</key>
			<real>0.75</real>
			<key>CompassAlignment</key>
			<string>Right</string>
		</dict>
		<key>LandStyle</key>
		<dict>
			<key>FillColor</key>
			<string>211,204,180,1</string>
			<key>StrokeColor</key>
			<string>173,164,142,1</string>
			<key>StrokeWidth</key>
			<real>0.75</real>
			<key>TextStyle</key>
			<string>HelveticaNeue810-CaptionText</string>
			<key>TextColor</key>
			<string>0,0,0,1</string>
		</dict>
		<key>VisitedLandStyle</key>
		<dict>
			<key>FillColor</key>
			<string>146,152,135,1</string>
			<key>StrokeColor</key>
			<string>110,114,98,1</string>
			<key>StrokeWidth</key>
			<real>0.75</real>
			<key>OuterStrokeColor</key>
			<string>255,255,255,0.5</string>
			<key>OuterStrokeWidth</key>
			<real>4.25</real>
			<key>TextStyle</key>
			<string>HelveticaNeue1417-Title</string>
			<key>TextColor</key>
			<string>0,0,0,1</string>
		</dict>
		<key>TitleStyle</key>
		<dict>
			<key>TextStyle</key>
			<string>DidotBold1419-MapTitle</string>
			<key>TextColor</key>
			<string>76,76,76,1</string>
			<key>TextBackgroundColor</key>
			<string>248,244,228,1</string>
			<key>TextBackgroundStrokeColor</key>
			<string>128,128,128,1</string>
			<key>TextBackgroundStrokeWidth</key>
			<real>0.5</real>
			<key>TextBackgroundPadding</key>
			<real>8</real>
		</dict>
		<key>MarkerStyle</key>
		<dict>
			<key>FillColor</key>
			<string>232,220,181,1</string>
			<key>StrokeColor</key>
			<string>185,53,41,1</string>
			<key>Radius</key>
			<real>2.5</real>
			<key>StrokeWidth</key>
			<string>1.5</string>
			<key>TextStyle</key>
			<string>HelveticaNeueBold911-PageNumber</string>
			<key>TextColor</key>
			<string>255,255,255,1</string>
		</dict>
		<key>MarkerConnectorStyle</key>
		<dict>
			<key>StrokeColor</key>
			<string>185,53,41,1</string>
			<key>StrokeWidth</key>
			<real>1.5</real>
			<key>ArrowheadImage</key>
			<string>Assets/Shared/Maps/Art/journal-map-arrowhead.png</string>
			<key>ArrowheadWidth</key>
			<integer>10</integer>
			<key>ArrowheadHeight</key>
			<integer>12</integer>
			<key>ArrowheadAnchor</key>
			<integer>5</integer>
		</dict>
	</dict>
</array>
</plist>
