<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addKeywordEight</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>8</real>
	</dict>
	<key>addKeywordFive</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>addKeywordFour</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>addKeywordOne</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>addKeywordSeven</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>7</real>
	</dict>
	<key>addKeywordSix</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>6</real>
	</dict>
	<key>addKeywordThree</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>addKeywordTwo</key>
	<dict>
		<key>downSelector</key>
		<string>a_addPreset:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>addMissingFace</key>
	<dict>
		<key>downSelector</key>
		<string>a_addMissingFace:</string>
	</dict>
	<key>addVault</key>
	<dict>
		<key>downSelector</key>
		<string>a_addVault:</string>
	</dict>
	<key>adjustVersionDateAndTime</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeImageDate:</string>
	</dict>
	<key>assignPlace</key>
	<dict>
		<key>downSelector</key>
		<string>a_assignPlaceToPhoto:</string>
	</dict>
	<key>attachAudioFile</key>
	<dict>
		<key>downSelector</key>
		<string>a_attachAudioFile:</string>
		<key>downTag</key>
		<string>42</string>
	</dict>
	<key>autoStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_autoStack:</string>
	</dict>
	<key>batchChange</key>
	<dict>
		<key>downSelector</key>
		<string>a_batchChangeSelection:</string>
	</dict>
	<key>browserAndViewer</key>
	<dict>
		<key>downSelector</key>
		<string>a_viewBrowserViewer:</string>
	</dict>
	<key>browserOnly</key>
	<dict>
		<key>downSelector</key>
		<string>a_viewBrowserOnly:</string>
	</dict>
	<key>cancel</key>
	<dict>
		<key>downSelector</key>
		<string>a_cancel:</string>
	</dict>
	<key>cancelImport</key>
	<dict>
		<key>downSelector</key>
		<string>a_cancelImport:</string>
	</dict>
	<key>changeBrowserMetadataSet</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotateViewInfo:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>changeViewerMetadataSet</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotateViewerInfo:</string>
	</dict>
	<key>checkSpelling</key>
	<dict>
		<key>downSelector</key>
		<string>checkSpelling:</string>
	</dict>
	<key>clearCompareItem</key>
	<dict>
		<key>downSelector</key>
		<string>a_deselectCompareItem:</string>
	</dict>
	<key>closeAllStacks</key>
	<dict>
		<key>downSelector</key>
		<string>a_closeAllStacks:</string>
	</dict>
	<key>closeTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_closeTab:</string>
	</dict>
	<key>colorLabelRed</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>1</integer>
	</dict>
	<key>colorLabelOrange</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>2</integer>
	</dict>
	<key>colorLabelYellow</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>3</integer>
	</dict>
	<key>colorLabelGreen</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>4</integer>
	</dict>
	<key>colorLabelBlue</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>5</integer>
	</dict>
	<key>colorLabelPurple</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>6</integer>
	</dict>
	<key>colorLabelGray</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>7</integer>
	</dict>
	<key>colorLabelNone</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelIndex:</string>
		<key>downTag</key>
		<integer>0</integer>
	</dict>
	<key>compareMode</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSelectMode:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>consolidateMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_consolidateOriginal:</string>
	</dict>
	<key>copy</key>
	<dict>
		<key>downSelector</key>
		<string>copy:</string>
	</dict>
	<key>createClosedStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_stack:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>customizeCommands</key>
	<dict>
		<key>downSelector</key>
		<string>orderFrontCommandCustomizationPanel:</string>
	</dict>
	<key>customizeMetadataViews</key>
	<dict>
		<key>downSelector</key>
		<string>a_editViewerInfo:</string>
	</dict>
	<key>customizeToolbar</key>
	<dict>
		<key>downSelector</key>
		<string>runToolbarCustomizationPalette:</string>
	</dict>
	<key>cut</key>
	<dict>
		<key>downSelector</key>
		<string>cut:</string>
	</dict>
	<key>decreaseLoupeDiameter</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustLoupeSize:</string>
		<key>downTag</key>
		<real>-20</real>
	</dict>
	<key>decreaseRating</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRating:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>decreaseRatingAndRemoveLastRating</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRatingAndRemoveLastRating:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>decreaseRatingAndRemoveLastRatingAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRatingAndRemoveLastRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>decreaseRatingAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>decreaseRatingOfCompareItem</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustCompareRating:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>decreaseThumbnailSize</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeIconSize:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>delete</key>
	<dict>
		<key>downSelector</key>
		<string>a_moveToTrash:</string>
	</dict>
	<key>deleteMasterImageAndAllVersions</key>
	<dict>
		<key>downSelector</key>
		<string>a_moveMastersToTrash:</string>
	</dict>
	<key>demote</key>
	<dict>
		<key>downSelector</key>
		<string>a_demoteStackItem:</string>
	</dict>
	<key>deselectAll</key>
	<dict>
		<key>downSelector</key>
		<string>a_deselectAll:</string>
	</dict>
	<key>detachLoupeFromCursor</key>
	<dict>
		<key>downSelector</key>
		<string>a_detachLoupe:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>detectMissingFaces</key>
	<dict>
		<key>downSelector</key>
		<string>a_detectMissingFaces:</string>
	</dict>
	<key>doubleClick</key>
	<dict>
		<key>downSelector</key>
		<string>a_handleDoubleClickOnImage:</string>
	</dict>
	<key>duplicate</key>
	<dict>
		<key>downSelector</key>
		<string>a_duplicate:</string>
	</dict>
	<key>duplicateAlbum</key>
	<dict>
		<key>downSelector</key>
		<string>a_duplicateAlbum:</string>
	</dict>
	<key>duplicateFolder</key>
	<dict>
		<key>downSelector</key>
		<string>a_duplicateFolder:</string>
	</dict>
	<key>duplicateVersion</key>
	<dict>
		<key>downSelector</key>
		<string>a_newVersion:</string>
	</dict>
	<key>duplicateVersionAndAddToSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newVersionAndShow:</string>
	</dict>
	<key>editAutoFillList</key>
	<dict>
		<key>downSelector</key>
		<string>a_editAutoFillList:</string>
	</dict>
	<key>email</key>
	<dict>
		<key>downSelector</key>
		<string>a_exportEmail:</string>
	</dict>
	<key>emptyTrash</key>
	<dict>
		<key>downSelector</key>
		<string>a_emptyTrash:</string>
	</dict>
	<key>end</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeSelection:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>exportMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_saveOriginal:</string>
	</dict>
	<key>exportMetadata</key>
	<dict>
		<key>downSelector</key>
		<string>a_exportMetadata:</string>
	</dict>
	<key>exportProject</key>
	<dict>
		<key>downSelector</key>
		<string>a_exportProject:</string>
	</dict>
	<key>exportVersion</key>
	<dict>
		<key>downSelector</key>
		<string>a_exportVersion:</string>
	</dict>
	<key>extractFromStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_extract:</string>
	</dict>
	<key>fastBrowse</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleFastBrowse:</string>
	</dict>
	<key>filmstrip</key>
	<dict>
		<key>downSelector</key>
		<string>a_switchTabs:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>fullScreenFilmstrip</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleFilmstripHiding:</string>
	</dict>
	<key>filterByFiveStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>filterByFourStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>filterByOneStar</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>filterByThreeStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>filterByTwoStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>filterByUnratedOrBetter</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
	</dict>
	<key>filterByNoColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>0</integer>
	</dict>
	<key>filterByRedColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>1</integer>
	</dict>
	<key>filterByOrangeColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>2</integer>
	</dict>
	<key>filterByYellowColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>3</integer>
	</dict>
	<key>filterByGreenColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>4</integer>
	</dict>
	<key>filterByBlueColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>5</integer>
	</dict>
	<key>filterByPurpleColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>6</integer>
	</dict>
	<key>filterByGrayColor</key>
	<dict>
		<key>downSelector</key>
		<string>a_setColorLabelFilter:</string>
		<key>downTag</key>
		<integer>7</integer>
	</dict>
	<key>filterByFlagged</key>
	<dict>
		<key>downSelector</key>
		<string>a_setFlaggedFilter:</string>
	</dict>
	<key>find</key>
	<dict>
		<key>downSelector</key>
		<string>a_showFilterQueryHUD:</string>
		<key>downTag</key>
		<real>10</real>
	</dict>
	<key>flag</key>
	<dict>
		<key>downSelector</key>
		<string>a_flagVersion:</string>
	</dict>
	<key>focusOnProjectPane</key>
	<dict>
		<key>downSelector</key>
		<string>a_focusOnProject:</string>
	</dict>
	<key>focusOnSearchField</key>
	<dict>
		<key>downSelector</key>
		<string>a_focusOnSearchField:</string>
	</dict>
	<key>focusPoints</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleShowFocusPoints:</string>
	</dict>
	<key>fullScreen</key>
	<dict>
		<key>downSelector</key>
		<string>a_presentFullScreen:</string>
	</dict>
	<key>generatePreviews</key>
	<dict>
		<key>downSelector</key>
		<string>a_regenerateJPEGs:</string>
	</dict>
	<key>generateThumbnails</key>
	<dict>
		<key>downSelector</key>
		<string>a_regenerateThumbnails:</string>
	</dict>
	<key>gridView</key>
	<dict>
		<key>downSelector</key>
		<string>a_switchTabs:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>gridViewMetadataOverlays</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleMetadataOverlays:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>hideAperture</key>
	<dict>
		<key>downSelector</key>
		<string>hide:</string>
	</dict>
	<key>hideOthers</key>
	<dict>
		<key>downSelector</key>
		<string>hideOtherApplications:</string>
	</dict>
	<key>highlightHotAndColdAreas</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleHotAndColdAreas:</string>
	</dict>
	<key>home</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeSelection:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>imageTooltips</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleMetadataOverlays:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>importFoldersAsProjects</key>
	<dict>
		<key>downSelector</key>
		<string>a_importFolders:</string>
	</dict>
	<key>importImages</key>
	<dict>
		<key>downSelector</key>
		<string>a_importImages:</string>
	</dict>
	<key>importProject</key>
	<dict>
		<key>downSelector</key>
		<string>a_importProject:</string>
	</dict>
	<key>increaseLoupeDiameter</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustLoupeSize:</string>
		<key>downTag</key>
		<real>20</real>
	</dict>
	<key>increaseRating</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRating:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>increaseRatingAndRemoveLastRating</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRatingAndRemoveLastRating:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>increaseRatingAndRemoveLastRatingAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRatingAndRemoveLastRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>increaseRatingAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>increaseRatingOfCompareItem</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustCompareRating:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>increaseThumbnailSize</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeIconSize:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>invertSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_invertSelection:</string>
	</dict>
	<key>lift</key>
	<dict>
		<key>downSelector</key>
		<string>a_liftSelection:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>liftAdjustments</key>
	<dict>
		<key>downSelector</key>
		<string>a_liftAdjustments:</string>
	</dict>
	<key>liftMetadata</key>
	<dict>
		<key>downSelector</key>
		<string>a_liftMetadata:</string>
	</dict>
	<key>lightTableMetadataOverlays</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleMetadataOverlays:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>lightTablePutBackSelected</key>
	<dict>
		<key>downSelector</key>
		<string>removeFromLightTable:</string>
	</dict>
	<key>lightTableScaleToFit</key>
	<dict>
		<key>downSelector</key>
		<string>scaleToFit:</string>
	</dict>
	<key>lightTableUncover</key>
	<dict>
		<key>downSelector</key>
		<string>uncoverPile:</string>
	</dict>
	<key>lightTableZoomNavigator</key>
	<dict>
		<key>downSelector</key>
		<string>navigate:</string>
	</dict>
	<key>listView</key>
	<dict>
		<key>downSelector</key>
		<string>a_switchTabs:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>makeKeyPhoto</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSelectionToPoster:</string>
	</dict>
	<key>managePlaces</key>
	<dict>
		<key>downSelector</key>
		<string>a_managePlaces:</string>
	</dict>
	<key>manageReferencedFiles</key>
	<dict>
		<key>downSelector</key>
		<string>a_showFileReferences:</string>
	</dict>
	<key>mergeProjects</key>
	<dict>
		<key>downSelector</key>
		<string>a_mergeProjects:</string>
	</dict>
	<key>migrate</key>
	<dict>
		<key>downSelector</key>
		<string>a_migrate:</string>
	</dict>
	<key>minimize</key>
	<dict>
		<key>downSelector</key>
		<string>performMiniaturize:</string>
	</dict>
	<key>moveCompareItemSelectionDown</key>
	<dict>
		<key>downSelector</key>
		<string>a_moveCompareItem:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>moveCompareItemSelectionLeft</key>
	<dict>
		<key>downSelector</key>
		<string>a_moveCompareItem:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>moveCompareItemSelectionRight</key>
	<dict>
		<key>downSelector</key>
		<string>a_moveCompareItem:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>moveCompareItemSelectionUp</key>
	<dict>
		<key>downSelector</key>
		<string>a_moveCompareItem:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>moveSelectionDown</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItem:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>moveSelectionLeft</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItem:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>moveSelectionRight</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItem:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>moveSelectionUp</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItem:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>multiMode</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSelectMode:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>nameFaces</key>
	<dict>
		<key>downSelector</key>
		<string>a_nameFaces:</string>
	</dict>
	<key>newAlbum</key>
	<dict>
		<key>downSelector</key>
		<string>a_newAlbum:</string>
		<key>downTag</key>
		<integer>1</integer>
	</dict>
	<key>newAlbumFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newAlbum:</string>
	</dict>
	<key>newBookFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newBook:</string>
	</dict>
	<key>newMobileMeAlbumFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newMobileMeAlbum:</string>
	</dict>
	<key>newFolder</key>
	<dict>
		<key>downSelector</key>
		<string>a_newFolder:</string>
	</dict>
	<key>newFacebookAlbumFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newFacebookAlbum:</string>
	</dict>
	<key>newFlickrAlbumFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newFlickrAlbum:</string>
	</dict>
	<key>newSmugMugAlbumFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newSmugMugAlbum:</string>
	</dict>
	<key>newJpegFromFrame</key>
	<dict>
		<key>downSelector</key>
		<string>a_newVersionFromMovieFrame:</string>
	</dict>
	<key>newKeyword</key>
	<dict>
		<key>downSelector</key>
		<string>a_startCustomKeywordEdit:</string>
	</dict>
	<key>newLightTableFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newLightTable:</string>
	</dict>
	<key>newSlideshowFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newSlideshow:</string>
	</dict>
	<key>newProject</key>
	<dict>
		<key>downSelector</key>
		<string>a_newProject:</string>
	</dict>
	<key>newSmartAlbum</key>
	<dict>
		<key>downSelector</key>
		<string>a_newSmartAlbum:</string>
	</dict>
	<key>newSmartWebPage</key>
	<dict>
		<key>downSelector</key>
		<string>a_newSmartWebPage:</string>
	</dict>
	<key>newVersionFromMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_newVersionFromOriginal:</string>
	</dict>
	<key>newVersionFromMasterAndAddToSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newVersionFromOriginalAndShow:</string>
	</dict>
	<key>newWebPageFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newWebPage:</string>
	</dict>
	<key>newWebJournalFromSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_newWebJournal:</string>
	</dict>
	<key>nextButtonSetGroup</key>
	<dict>
		<key>downSelector</key>
		<string>a_nextPresetGroup:</string>
	</dict>
	<key>nextInspectorTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_nextInspectorTab:</string>
	</dict>
	<key>nextItemInSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_nextInSelection:</string>
	</dict>
	<key>nextStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_nextStack:</string>
	</dict>
	<key>nextWorkspaceView</key>
	<dict>
		<key>downSelector</key>
		<string>a_nextWorkspaceView:</string>
	</dict>
	<key>onscreenProofing</key>
	<dict>
		<key>downSelector</key>
		<string>a_proofTo:</string>
	</dict>
	<key>openAllStacks</key>
	<dict>
		<key>downSelector</key>
		<string>a_openAllStacks:</string>
	</dict>
	<key>openCloseStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_openCloseStack:</string>
	</dict>
	<key>openWithExternalEditor</key>
	<dict>
		<key>downSelector</key>
		<string>a_editSelectionExternally:</string>
	</dict>
	<key>orderPrints</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderPrints:</string>
	</dict>
	<key>pageDown</key>
	<dict>
		<key>downSelector</key>
		<string>scrollPageDown:</string>
	</dict>
	<key>pageUp</key>
	<dict>
		<key>downSelector</key>
		<string>scrollPageUp:</string>
	</dict>
	<key>panViewer</key>
	<dict>
		<key>downSelector</key>
		<string>spaceBarDown:</string>
		<key>upSelector</key>
		<string>spaceBarUp:</string>
	</dict>
	<key>paste</key>
	<dict>
		<key>downSelector</key>
		<string>paste:</string>
	</dict>
	<key>pick</key>
	<dict>
		<key>downSelector</key>
		<string>a_pickStackItem:</string>
	</dict>
	<key>pickandSelectNext</key>
	<dict>
		<key>downSelector</key>
		<string>a_pickStackItem:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>preferences</key>
	<dict>
		<key>downSelector</key>
		<string>a_preferences:</string>
	</dict>
	<key>previousButtonSetGroup</key>
	<dict>
		<key>downSelector</key>
		<string>a_previousPresetGroup:</string>
	</dict>
	<key>previousItemInSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_previousInSelection:</string>
	</dict>
	<key>previousStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_previousStack:</string>
	</dict>
	<key>primaryMode</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSelectMode:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>primaryOnly</key>
	<dict>
		<key>downSelector</key>
		<string>a_togglePrimaryOnly:</string>
	</dict>
	<key>printImages</key>
	<dict>
		<key>downSelector</key>
		<string>a_printImages:</string>
	</dict>
	<key>promote</key>
	<dict>
		<key>downSelector</key>
		<string>a_promoteStackItem:</string>
	</dict>
	<key>quitAperture</key>
	<dict>
		<key>downSelector</key>
		<string>terminate:</string>
	</dict>
	<key>redo</key>
	<dict>
		<key>downSelector</key>
		<string>redo:</string>
	</dict>
	<key>reduceSelection</key>
	<dict>
		<key>downSelector</key>
		<string>a_reduceSelection:</string>
	</dict>
	<key>reject</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>rejectAndRemoveLastRating</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAndRemoveLastRating:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>rejectAndRemoveLastRatingAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAndRemoveLastRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>rejectAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>rejectCompareItem</key>
	<dict>
		<key>downSelector</key>
		<string>a_setCompareRating:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>reloadEXIF</key>
	<dict>
		<key>downSelector</key>
		<string>a_reloadExifFromMaster:</string>
	</dict>
	<key>relocateMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_relocateOriginal:</string>
	</dict>
	<key>removeAdjustments</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeAllAdjustmentsFromSelection:</string>
	</dict>
	<key>removeAllKeywords</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeAllKeywords:</string>
	</dict>
	<key>removeFromAlbum</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeFromAlbum:</string>
	</dict>
	<key>removeKeywordEight</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>8</real>
	</dict>
	<key>removeKeywordFive</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>removeKeywordFour</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>removeKeywordOne</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>removeKeywordSeven</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>7</real>
	</dict>
	<key>removeKeywordSix</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>6</real>
	</dict>
	<key>removeKeywordThree</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>removeKeywordTwo</key>
	<dict>
		<key>downSelector</key>
		<string>a_removePreset:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>removeLocations</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeLocations:</string>
	</dict>
	<key>removeMovieInOutPoints</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeMovieInOutPoints:</string>
	</dict>
	<key>removePreviews</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeFullSizePreviews:</string>
	</dict>
	<key>removeVault</key>
	<dict>
		<key>downSelector</key>
		<string>a_removeVault:</string>
	</dict>
	<key>restoreLibrary</key>
	<dict>
		<key>downSelector</key>
		<string>a_restoreLibrary:</string>
	</dict>
	<key>revealInProject</key>
	<dict>
		<key>downSelector</key>
		<string>a_revealInProject:</string>
	</dict>
	<key>rotateBrowserPosition</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotateWorkspace:</string>
	</dict>
	<key>rotateClockwise</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotate:</string>
		<key>downTag</key>
		<real>90</real>
	</dict>
	<key>rotateCompareItemClockwise</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotateCompareItem:</string>
		<key>downTag</key>
		<real>90</real>
	</dict>
	<key>rotateCompareItemCounterclockwise</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotateCompareItem:</string>
		<key>downTag</key>
		<real>-90</real>
	</dict>
	<key>rotateCounterclockwise</key>
	<dict>
		<key>downSelector</key>
		<string>a_rotate:</string>
		<key>downTag</key>
		<real>-90</real>
	</dict>
	<key>scrollPrimaryItemIntoView</key>
	<dict>
		<key>downSelector</key>
		<string>a_scrollPrimaryItemIntoView:</string>
	</dict>
	<key>secondaryAlternate</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSecondaryMode:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>secondaryBlank</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSecondaryMode:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>secondaryMirror</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSecondaryMode:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>secondaryOff</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSecondaryMode:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>secondarySpan</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSecondaryMode:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>select</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAsSelect:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>selectAll</key>
	<dict>
		<key>downSelector</key>
		<string>selectAll:</string>
	</dict>
	<key>selectAndMoveDown</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItemAndIncreaseSelection:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>selectAndMoveLeft</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItemAndIncreaseSelection:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>selectAndMoveRight</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItemAndIncreaseSelection:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>selectAndMoveToNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>selectAndRemoveLastRating</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAndRemoveLastRating:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>selectAndRemoveLastRatingAndSelectNextImage</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingAndRemoveLastRatingAndSelectNextImage:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>selectAndMoveUp</key>
	<dict>
		<key>downSelector</key>
		<string>a_movePrimaryItemAndIncreaseSelection:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>selectArrowTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>selectBurnTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>25</real>
	</dict>
	<key>selectCompareItem</key>
	<dict>
		<key>downSelector</key>
		<string>a_selectCompareItem:</string>
	</dict>
	<key>selectCropTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>selectDodgeTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>24</real>
	</dict>
	<key>selectFrontBrowser</key>
	<dict>
		<key>downSelector</key>
		<string>a_selectFrontBrowser:</string>
	</dict>
	<key>selectAllImagesInStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_selectParent:</string>
	</dict>
	<key>selectLiftTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>8</real>
	</dict>
	<key>selectRedEyeTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>17</real>
	</dict>
	<key>selectRetouchTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>23</real>
	</dict>
	<key>selectRotateTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRotateTool:</string>
	</dict>
	<key>selectSpotAndPatchTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>11</real>
	</dict>
	<key>selectStampTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>9</real>
	</dict>
	<key>selectStraightenTool</key>
	<dict>
		<key>downSelector</key>
		<string>a_setTool:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>selectToBeginning</key>
	<dict>
		<key>downSelector</key>
		<string>a_selectToBeginning:</string>
	</dict>
	<key>selectToEnd</key>
	<dict>
		<key>downSelector</key>
		<string>a_selectToEnd:</string>
	</dict>
	<key>setAlbumPick</key>
	<dict>
		<key>downSelector</key>
		<string>a_setAlbumPick:</string>
	</dict>
	<key>setCompareItem</key>
	<dict>
		<key>downSelector</key>
		<string>a_setCompareItem:</string>
	</dict>
	<key>setCompareItemAsSelect</key>
	<dict>
		<key>downSelector</key>
		<string>a_setCompareRating:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>setJpegAsMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleRawPlusJpeg:</string>
		<key>downTag</key>
		<integer>1</integer>
	</dict>
	<key>setMovieInPoint</key>
	<dict>
		<key>downSelector</key>
		<string>a_setMovieInPoint:</string>
	</dict>
	<key>setMovieOutPoint</key>
	<dict>
		<key>downSelector</key>
		<string>a_setMovieOutPoint:</string>
	</dict>
	<key>setRatingAsFiveStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>setRatingAsFourStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>setRatingAsOneStar</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>setRatingAsThreeStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>setRatingAsTwoStars</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>setRatingAsUnrated</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRating:</string>
	</dict>
	<key>setRawAsMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleRawPlusJpeg:</string>
		<key>downTag</key>
		<integer>0</integer>
	</dict>
	<key>showAll</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>6</real>
	</dict>
	<key>showAllApplications</key>
	<dict>
		<key>downSelector</key>
		<string>unhideAllApplications:</string>
	</dict>
	<key>showArchiveTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInfoTab:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>showEXIFTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInfoTab:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>showFileNamingPresets</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderFrontPresetEditor:</string>
		<key>downTag</key>
		<integer>2</integer>
	</dict>
	<key>showFolderNamingPresets</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderFrontPresetEditor:</string>
		<key>downTag</key>
		<integer>3</integer>
	</dict>
	<key>showFonts</key>
	<dict>
		<key>downSelector</key>
		<string>orderFrontFontPanel:</string>
	</dict>
	<key>showHideActivity</key>
	<dict>
		<key>downSelector</key>
		<string>a_showTaskList:</string>
	</dict>
	<key>showHideAdjustmentsInspector</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeInspectorMode:</string>
		<key>downTag</key>
		<real>2</real>
	</dict>
	<key>showHideTetherHUD</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleCaptureHUD:</string>
	</dict>
	<key>showHideControlBar</key>
	<dict>
		<key>downSelector</key>
		<string>a_showHideRatings:</string>
	</dict>
	<key>showHideHUD</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleAdjustmentHUD:</string>
	</dict>
	<key>showHideImportPanel</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleImportPanel:</string>
	</dict>
	<key>showHideInspector</key>
	<dict>
		<key>downSelector</key>
		<string>a_showHideInspector:</string>
	</dict>
	<key>showHideKeywordControls</key>
	<dict>
		<key>downSelector</key>
		<string>a_showHideKeywords:</string>
	</dict>
	<key>showHideKeywordsHUD</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleKeywordsHUD:</string>
	</dict>
	<key>showHideLiftStampHUD</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleLiftStampHUD:</string>
	</dict>
	<key>showHideLoupe</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleLoupe:</string>
	</dict>
	<key>showHideLoupeColorValue</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleLoupeColorValue:</string>
	</dict>
	<key>showHideMetadataInspector</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeInspectorMode:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>showPhotoInfo</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeInspectorMode:</string>
		<key>downTag</key>
		<integer>3</integer>
	</dict>
	<key>showHidePixelGridInLoupe</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleLoupePixelGrid:</string>
	</dict>
	<key>showHideProjectInspector</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeInspectorMode:</string>
	</dict>
	<key>showHideSortAndFilterControls</key>
	<dict>
		<key>downSelector</key>
		<string>a_showHideSortControls:</string>
	</dict>
	<key>showHideToolbar</key>
	<dict>
		<key>downSelector</key>
		<string>toggleToolbarShown:</string>
	</dict>
	<key>showHideVaults</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleVaultPanel:</string>
	</dict>
	<key>showInFinder</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInFinder:</string>
	</dict>
	<key>showImageExportPresets</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderFrontPresetEditor:</string>
		<key>downTag</key>
		<integer>0</integer>
	</dict>
	<key>showHideInfo</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInfo:</string>
	</dict>
	<key>showIPTCTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInfoTab:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>showKeywordsTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInfoTab:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>showMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleShowOriginal:</string>
	</dict>
	<key>showMetadataPresets</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderFrontPresetEditor:</string>
		<key>downTag</key>
		<integer>5</integer>
	</dict>
	<key>showOnMap</key>
	<dict>
		<key>downSelector</key>
		<string>a_showOnMap:</string>
	</dict>
	<key>showOtherTab</key>
	<dict>
		<key>downSelector</key>
		<string>a_showInfoTab:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>showRejected</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>8</real>
	</dict>
	<key>showSlideshowPresets</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderFrontPresetEditor:</string>
		<key>downTag</key>
		<integer>4</integer>
	</dict>
	<key>showUnrated</key>
	<dict>
		<key>downSelector</key>
		<string>a_setRatingFilter:</string>
		<key>downTag</key>
		<real>7</real>
	</dict>
	<key>showWebExportPresets</key>
	<dict>
		<key>downSelector</key>
		<string>a_orderFrontPresetEditor:</string>
		<key>downTag</key>
		<integer>1</integer>
	</dict>
	<key>shuttleLeft</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeShuttleSpeed:</string>
		<key>downTag</key>
		<real>-1</real>
	</dict>
	<key>shuttleRight</key>
	<dict>
		<key>downSelector</key>
		<string>a_changeShuttleSpeed:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>shuttleStop</key>
	<dict>
		<key>downSelector</key>
		<string>a_setShuttleSpeed:</string>
		<key>downTag</key>
		<real>0</real>
	</dict>
	<key>slideshow</key>
	<dict>
		<key>downSelector</key>
		<string>a_slideShow:</string>
	</dict>
	<key>showAllProjects</key>
	<dict>
		<key>downSelector</key>
		<string>a_showAllProjects:</string>
	</dict>
	<key>sortAllProjectsViewByAscendingDate</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSortingByAscendingDate:</string>
	</dict>
	<key>sortAllProjectsViewByDescendingDate</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSortingByDescendingDate:</string>
	</dict>
	<key>spelling</key>
	<dict>
		<key>downSelector</key>
		<string>showGuessPanel:</string>
	</dict>
	<key>splitStack</key>
	<dict>
		<key>downSelector</key>
		<string>a_splitStack:</string>
	</dict>
	<key>stack</key>
	<dict>
		<key>downSelector</key>
		<string>a_stack:</string>
	</dict>
	<key>stackMode</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSelectMode:</string>
		<key>downTag</key>
		<real>4</real>
	</dict>
	<key>stamp</key>
	<dict>
		<key>downSelector</key>
		<string>a_stampSelection:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>startTetherSession</key>
	<dict>
		<key>downSelector</key>
		<string>a_startCapture:</string>
	</dict>
	<key>stopTetherSession</key>
	<dict>
		<key>downSelector</key>
		<string>a_stopCapture:</string>
	</dict>
	<key>swapBrowserPosition</key>
	<dict>
		<key>downSelector</key>
		<string>a_swapWorkspace:</string>
	</dict>
	<key>swapInspectorPosition</key>
	<dict>
		<key>downSelector</key>
		<string>a_swapInspector:</string>
	</dict>
	<key>switchToOtherLibrary</key>
	<dict>
		<key>downSelector</key>
		<string>chooseOtherLibrary:</string>
	</dict>
	<key>switchToIPhoto</key>
	<dict>
		<key>downSelector</key>
		<string>switchToIPhoto:</string>
	</dict>
	<key>threeUpMode</key>
	<dict>
		<key>downSelector</key>
		<string>a_setSelectMode:</string>
		<key>downTag</key>
		<real>5</real>
	</dict>
	<key>undo</key>
	<dict>
		<key>downSelector</key>
		<string>undo:</string>
	</dict>
	<key>unstack</key>
	<dict>
		<key>downSelector</key>
		<string>a_unstack:</string>
	</dict>
	<key>updateAllVaults</key>
	<dict>
		<key>downSelector</key>
		<string>a_updateAllVaults:</string>
	</dict>
	<key>useCenteredLoupe</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleLoupeMode:</string>
	</dict>
	<key>viewerMetadataOverlays</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleMetadataOverlays:</string>
		<key>downTag</key>
		<real>3</real>
	</dict>
	<key>viewerOnly</key>
	<dict>
		<key>downSelector</key>
		<string>a_viewViewerOnly:</string>
	</dict>
	<key>viewFaces</key>
	<dict>
		<key>downSelector</key>
		<string>a_viewFaces:</string>
	</dict>
	<key>viewMap</key>
	<dict>
		<key>downSelector</key>
		<string>a_viewMap:</string>
	</dict>
	<key>writeIPTCToMaster</key>
	<dict>
		<key>downSelector</key>
		<string>a_writeIPTCMetadataToMaster:</string>
	</dict>
	<key>zoomInWithLoupe</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustLoupeMagnification:</string>
		<key>downTag</key>
		<real>1</real>
	</dict>
	<key>zoomOutWithLoupe</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustLoupeMagnification:</string>
	</dict>
	<key>zoomViewer</key>
	<dict>
		<key>downSelector</key>
		<string>a_toggleZoomMode:</string>
	</dict>
	<key>zoomInViewer</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustViewerMagnification:</string>
		<key>downTag</key>
		<integer>1</integer>
	</dict>
	<key>zoomOutViewer</key>
	<dict>
		<key>downSelector</key>
		<string>a_adjustViewerMagnification:</string>
		<key>downTag</key>
		<integer>-1</integer>
	</dict>
	<key>zoomWindow</key>
	<dict>
		<key>downSelector</key>
		<string>performZoom:</string>
	</dict>
</dict>
</plist>
