<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	M7qj3zOwNUgy4+yjMm1SVDJV9DExzQj/MWiJDDEpNCYxFg2xMQFB4jDXW1swvJ+rMKk/
	pTCbLx4wlwvvMJCVsTCFNIYwcVxFMGgi4DBdjjkwUVotMFQ/lzBB07EwRCcAMDtJ/jAu
	/kowLjqoMCT2bTAq+oMwJmUqMCRIwDAfdjUwGXcRMBgDmzATbSYwFLsUMA20YjARFHIw
	ERwXMAiNhjAHoccwCfD+MAPe8y//FtQwAgMrMAFI4DAAYOIwAwZFL/VmKC/rVj4v88kF
	L/j4KC/uXpYv64egL+ciHy/gCHsv33YOL+cBJC/lN6Yv03kpL+bi4C/pgJAv4sxiL+Gk
	1i/WkGsv0myAL85AxC/SfxUv1V+RL9IHwC/Q0hovzxeBL8zdYC/M5vUvzqkPL9GiiS/V
	qFUv1SuYL9exfS/GdHwvxqyfL8RPDS/MwfQv0DRvL8vkdy/Kaasvyc+5L8nGQy/LX6Av
	wxj7L8YlNS/GbzMvwauQL8LfEC++8bcvyZiLL8rDCi/BgOovw2LGL8T3aC+74dIvxFTj
	L7z5SC/AzoYvwvL/L76WnS+9JKYvwdUyL8I1qC/CC6cvwBb/L7pgDS+5WnYvvXNvL7sG
	nS+7wJEvtvirL7Pipi+5wjYvuqJ4L7aM8y+4+rAvuZYRL7VaFy+5/kUvvbvoL7dpbS+z
	C2Mvs5O0L7Y8QS+4bg8vvAd0L8F01S+/3gMvs5OvL7O7vS+siXwvtCFzL7ek7C+wXVgv
	vOYFL71A3y+6MzYvucYVL7aDBS+2VXkvuKbQL74PqS+46LMvuDCRL7ENfS+xRfAvtPCp
	L7KFAy+8ezkvuRRML7oSey+23vIvs3MsL74sHi/B9mcvvaywL7jG+S+0bvgvtBuIL7cP
	tC+y0B4vtdoVL7XhwS+7HzEvwzrXL76gWy++GjEvwzCdL7yuFi/A/fovvtGtL725NS/A
	7e4vvv5zL76nWS/BODAvusetL7pSSS++CtovuFGPL7k4ly/CBU8vvEADL75EOS+/558v
	uYMyL7jFxS+3FpkvtXzbL7qJXC/Ebvgvx7xBL8GFby+++MsvwhfQL8M7Qy+/WLsvwSB/
	L8KU5S+8/VkvvqGtL8KhjC+4e/8vuFR2L7/8Ry/ClBsvvEbAL7iUMS+3/yEvwU1DL8FU
	ki/HPlsvvyLML8HXFi/ARtgvvWySL79zey/IFQkvyPdsL8Wfqi/A1oIvwQkiL8krxy/B
	RyYvwQH7L7swYS+70gAvzCGeL9AjTC/NI+cvyOBdL8cAHC/GmqEvxol4L8LBmy/JioYv
	zmFBL8Nxoi/BuY0vw4r+L8VkDy/PtvUv0iCxL8qFpi/CBfEvzF+oL84yIS/TIAsvz79b
	L8v80i/SGfIvzKS+L8pW7y/LwqAvyLKsL8zEGC/TmW4vy88gL8z2Cy/MnbwvzzHDL9jI
	Ki/NrLUvzWiqL89V5C/SEy8v0oL+L9lwoy/YhYgv06srL8sdzS/Xm74v1B0ZL8Wz6y/T
	WCsv277TL9QDDS/LAqUvy/EaL8/w3y/J5nIvyWM/L8pmgS/U6Jkvz/uKL9Z1ti/XjP8v
	08/AL9K6VS/I4povzJzGL9GUeS/Qm+sv1aRdL9CXpi/fiVUv19ujL9bgFy/Zs38v0vAu
	L97rbS/mKQEv2O2dL9qkiy/XFvQv2VjcL9TPhS/XK0Qv4IeXL9/goS/Z/OUv4NSYL9ry
	eS/df0ov6stRL+xV8C/jXuYv6MrEL+U9oi/jiIsv3tFhL+oyGi/kQtQv4aANL+2hCi/s
	ciYv6SOXL+Qr4C/qS1cv8sA+L+xA8S/qPwAv7e+bL/UyPC/txi0v8Xg6L+qAHy/3FsEv
	9RR3L/YkGy/zk8Uv9aWjL/mHvi/1/acv9B4WL/oecy/6ei0v/2pxMALRJS/8+iEwAQzZ
	L/qF1TAB2sowAqQfMArMDTADa14wBAXBMANrRDAEIKowAKHhMAOfETAFNacwBPcGMAUg
	PjABvdowBE9lMAb+hTAFNFUwBpedMAokezAITFcwCVQZMAlOYDAGducwCn8KMAe13zAH
	AL4wBhWAMAJq9TAIUfgwD0jAMAn7FzAKlAowEZC1MBX2OTAW82swFDIWMBhM0zAYb2gw
	GF2dMBaNSDAZQcYwFYMHMBgg2TATdhIwEon3MBWJgDAWHxgwGFJSMBhxsjAb2AAwHOuR
	MCE9MjAjEA4wJIarMCaSmTAXXtwwHuC2MCcAAjAh+AowIyCdMCKKljAnKiswIf1IMCEY
	rzAgvIwwHLLLMCG2XjAmlQQwH/qnMCILszAilskwGvB3MB162jAfGnYwIrfOMCEpDjAi
	SSIwHSklMBxSbDAemnMwI586MBzW6DAc8kUwHs7OMB7VPTAeGKMwGHxkMBl8zTAftwYw
	Gz3kMB/dwDAZjFAwF8hQMBnnJjATzl4wFPZ0MBM5hzAOUhwwCIVhMAPIGDABgm4v571s
	L9LW3y/DUDAvvmhcL6TR2C+PABYvgAU/L1sxJy9DMHUvK79FLxEJNS7nEpsutZfnLpi/
	yC55u/4uPuIWLhQURi3oxgYtuGwiLYouOy1q+1wtS9mMLT6/xA==
	</data>
	<key>NoiseProfile1</key>
	<data>
	M6kQODOiRGEy3EsSMlRNWTJD118x41omMX44XTEqsmsxDToVMPAHGjDaoyowvwUhMLE2
	6DCjkEAwl6wWMI1b8zCCDsMwevRtMHOy6DBf8VEwWm4BMFREgjBIE3YwPb7LMEEm1jBB
	SDYwPOpgMDVBlTAqXJ8wKAYjMCV2DzAdE7wwF3VJMBts+DAZ6KIwF8zYMBT7zTARCOUw
	Ca3cMAfLDDADe0IwBcd/MAJNczADagkwAD1KL/6xfi/zTdwv9NDBL/E8zS/sazIv7dvj
	L+sWHS/sGIUv7l28L/Nqiy/kop4v6eQCL+EBSi/knV0v3/JBL+Pw1y/flFAv4HaLL9Xf
	LC/TtD4v2IigL9LlOi/ZN4wvy6plL8/mNi/V91Mv0oHgL8fRMC/JzhQv0QMtL9g/Ky/T
	1mkvySupL86lzi/YLUEv0q19L8WYsC/Olzgv0Di8L8iDki/HXF0vx3SBL8tk8i/BTFgv
	x4iTL8QZWi/HPCkvwOPzL8EPyi/Giz0vxyVeL79Umi/AvuEvvmLZL79/CS+5vRIvvKf+
	L7iq8C+8I2AvvgovL7ufsS+3FUwvs+0VL7HLMy+zhWYvvEr0L7fR6y+5lt4vuoqWL7ZX
	wC+6sZEvsxo8L7d7iS+2sGQvtcM5L7vu5S+9upMvutrNL7dKfy+7hY4vvzU/L7nQ+S+w
	Kaovub2bL7YEli+z1+ovuolcL7nzHi+3va8vvp8fL7U7xC+0OS8vtD4bL7T5XC+w/Tgv
	r4ZSL7I6fS+4b3EvuXIgL64QGS+vb54vqyZvL65TYy+u65Ivr7agL7CdsS+0NjYvucQ0
	L7K+WS+vapovuEokL75j0y+2cqgvr2YHL7mvly/BbksvuH4JL7bP3S+6mv8vuUJ5L7np
	bS+4BZwvvKLXL7v77S/BiA0vvpfvL71+vy+856YvtIS2L7VzTC+4U4IvuoBIL70QfS++
	vasvvt0wL8FaRi+8IY0vuALWL8BkSy+/vqEvxIp6L7ZNVC+5Uq8vvbgwL7eizC+4myEv
	uOogL8Jyoi+/dkYvwNPUL79uXi/BFfwvxYBCL8F7UC+/T8EvwqkXL8cLUi+9Q2Avv+C8
	L8Qpny/BGv0vvwbYL79W9S/EUt8vvZRAL7O7ri+85Zsvv0QoL8TDoy/BvfgvxyRzL85h
	hy/Ch38vyujVL8gC4S/MoMEvyoR+L8RI4C+/DRQvvaHFL8GKXi/H1NMvw24pL8YcGS/D
	dg8vxBQ8L8V3Mi/KFJcvyoZZL8m0vC/IksEvw3TdL8O2ey/DoxYvv4IoL8YXHy/Cbhcv
	z5yKL83f1S/ChyAvxruEL8oC8C/K340v1RR7L9M/dy/QSWkvyu8vL9PSDC/VOx8vx0hh
	L7+9Py+90a0vyAYrL9KzMi/MVrIv0rN0L9M5qy/QeA4vzsLuL9Q4DS/MlzUvzyOjL88u
	mi/Vq+Iv0b9SL8zXfi/TS0ovzNk6L9JP/S/UrXUv0shGL9fxjy/V+HMv2L/hL9omyy/f
	qykv0oIlL9pimS/c32Iv21kOL9a2zi/TEtgv0QBdL9H5BC/OYyYv05HRL9gk8S/dsEwv
	1sR7L+MP8y/Ya0Uv3HGuL994Iy/mvR0v3CYrL+RY2C/aa7Yv3nRJL9+EPS/gYdAv49+/
	L+Tsxi/nhQwv5bLdL+W/Li/gQIcv3RCCL+W7VS/f2e0v5D+JL/D+YS/sUaAv4iMML+MC
	di/n0e4v6e/jL/LQ/i/wMkQv9bbWL/KJby/q0y8v7TqgL+pc9S/ucuwv8uj1L/Ypsy//
	qgov/6pKL/YYpC/w2Agv+oJGL/qouTAApUov/SiCL/ix7S//p/cwAhU8MALl7i/2PnEv
	/ysWMASUWTAEbqYwBjBaMAYipzAESBswBmt5MAZpSzAL+00wDvJxMAp9pzAKjYUwDGdf
	MApKwDAKwfQwDtOjMAg66TAOrwcwD/KlMA9V0jAPnsQwDPjAMA0e6jAMZZUwERokMBWQ
	ejATtLcwGB/ZMBo+QjASabswEN6DMBVpCTAZPfEwGBuvMBXM7zAWrJcwEx9+MBR/GDAc
	jTIwGtt9MBpLTDAf0+QwIA/XMB8vIjAfofswJQiMMByfxTAd4+MwJDcOMCTv7TAnOJYw
	JrGFMCV1uzAgOhEwI+/cMCT5rDAjuLkwJP8gMCj86TAl+wswKNZzMCvXsDAq/mYwI/r2
	MCkq1TAmAnIwJIENMCa06DAsQpowLhxJMCpd5TAtM6gwMggCMDXUGDAwur0wNgItMC3G
	ZjAyBUwwNDEzMC36BDAryWYwJhWzMCfhvDAt1EMwLTjJMCzvuzAuzO4wNCcNMDCJxjAx
	jFAwMMqvMCsGYjAtggUwM7HFMDInpTAnGR8wLbUlMC17xzAwh0UwLzEWMCxO7zAoNRIw
	LNbqMCsAMDAvUpgwM+vKMCwZZjAjwVgwIaXPMCLoxjAjUtYwGftOMBfoJzAR4YEwDmRt
	MAVjWS/tcBMv3M5PL8AeFy+sF1cvnWngL4Z9Si9hIa0vSYf9LykOYS8HKY0u3F+aLqyt
	6y6KMYguVEHyLiM1HS397UEt3t7VLeC9tS3VML4tz0Q0Lc8akQ==
	</data>
	<key>NoiseProfile2</key>
	<data>
	M8er8DO4bZkzBHTZMw+v9DOQBmI0Htb3M/vVTTLBlOAyP39vMbURnzEToC4w6IpJMM/s
	LzCr8zkwmfa4MIydITCTQ3Iwnt2rMI5CSDByc64wWS5eMFiZXzBRSD4wS+08MExUazBN
	fUEwSlLAMEjM2DBxzlgwgVuLMGJEETA7U/MwJ17MMCs/3jBQf3EwknA4MKJwtjCE4hQw
	OYgSMCI8FjAToPgwEGl8MB9UhjAmLp4wFtkLMAqtwC/7blEv+Je1L/eRty/tkiUv7eLr
	L/BrUi/yf+Uv+SODL/ihFC//IHwv9vuYL/DfuC/n8FYv4R3RL9+nyS/YXkgv2a/yL9kr
	6i/RQ9ov0XJKL9QIBy/WZ2Uv2cv1L9m5OS/X7f8v1kGcL+BDcy/qWAQv2ehTL9nE4i/U
	Cu4v0E9fL9DUeS/TlNwv16P7L9XoWS/QxPgvz/utL8bnBy/IxFIvwHvnL7xTzi/AYfIv
	vc3xL8Nc/C++0kEvx6rzL88qoy/NVzIvwBEhL8cLhC/BOcIvwEeqL8LA5i/CnY0vuVgx
	L7ja1C+6SUsvur+mL7he/S+6fFAvuCA1L8Hony+8rjIvvj/UL71/zS+3t+gvs7dvL7UX
	gC+3L5Ivt/3ZL6+DcC+4+rovtwwwL7jpwS+4vh8vuahQL7X3ES+ycscvsWX9L7F1DC+z
	Iu4vtXNXL64b/S+1r58vsgF8L69DWy+uDMUvqfQnL7VZmC+3t04vtL7EL7gnRy/BKBUv
	tqmPL7NZEC+0XwIvuDiaL7S6Zy+xHjAvryOuL66ZyC+zD1EvvZrWL70C+y+1I2EvtGqR
	L6+UIC+0D4gvuMafL7Bvjy+xubQvt0WML7wHIC+0V7kvttN7L7ZPri+ykRsvs3cHL7Tx
	Ki+2WD8vt8QuL676GS+wJtcvtH2hL7Q0fy++1J4vuuVmL7c0Hi+4//YvvwNnL7Kpty+1
	eu4vvT7/L76WDi/AVXovvQhGL70M6C+5hzgvtbvpL7oe0C+8N40vs2Z7L7gC8i+3Uy4v
	vsdQL7v6TC+4u2EvuP96L76o7y+6Zv0vvfgnL7lWBy+29BQvwEjpL7sf3i+3G5AvwmGU
	L8MTfy/CZHgvxFCvL8IzjC+702kvuy3QL7rOby+4GhovvyWxL8piyy/bXuAv60aEMAEP
	dzACQ3kv8vyGL95TQy/XMPAvzWycL8VpIC/AQrUvvKh4L8Ib/i/C93gvucThL8DZJS/G
	0ycvyOtjL8PLHC+8884vvgU3L8ScXy/FwjMvyDx2L8LNLy/GeH4vyig9L8oGqC/L9wwv
	xIB6L8ZBoC/DKawvx54sL8keXS/Coi8vxhHVL8nqbS/NtG4vx2kCL8PLPi/ECgUvyvnW
	L9JF3C/TvH0v0g8xL8To1i/EQ+wvx1AfL81N1y/NwRwv1iEbL9IKYC/PV0cv1aZSL9cB
	Vi/eOlQv3tBcL9c+FC/bf8kv4IkkL941ky/jqEwv3aHHL9lR9S/W9Qkv3vd9L+H5SC/W
	hE0v14/ML9oK2y/bIs0v0ww0L9NY/y/UfY4v2uxYL9d3kC/QYN4v2l3kL9VfRy/RxU4v
	1dcyL9XNri/OE1Mvzz7eL8nvEi/OZT8vz5RhL9tXcS/SoIMv1LaHL9lZQS/Sxhcv0xDv
	L8u+qC/PDbMv148mL9SI+C/Pm6sv0GG2L9ogni/lgAov4sZiL9ptzC/iHNQv2aNBL9uC
	By/amW0v1YpBL95sxS/ohQAv0fxlL9cfDy/eaAIv236QL+DZOi/gU+4v4Wu/L90bUS/m
	mu8v8OGRL+vgfS/v6Fsv7qGgL+VQMS/n8hgv68NlL/CZKC/zRswv7cyzL+3Uai/lVq0v
	4rr6L/ES7y/yxZMv8M0bL/Ei7C/vG+ov6haJL+twei/rHf8v5tiCL+oowS/rsKIv7zhc
	L/jn/y/yYF8v9M+RL/ssxC/8H2Av+xVML/vuszAAllQv/wIcL/35SDAEzIYwBiYkMASU
	0jACo+YwBmd2MAhGpjAKnNswCEGFMAqlRTAMdD0wCcdWMA4K3jAHow0wDACcMAtZtDAI
	tvgwCN55MA4/ozAMxtUwCGSAMAVOqjAKBScwB022MAkpIjAOxJUwEXFSMBFkuTAbkQ0w
	GhLEMBdxbjAbmOkwF5R8MCOUhDAh+MwwIX5TMCTxSjAod8cwJ++6MDeN5TA2BZswNpyy
	MDFs4DArmGcwOJXFMDvNvDBLj48wUVwgMFn9KTBkBHkwYWysMGgWXDBrmI0wcRBkMGG9
	/jBpQoYwedXRMHsOrTB5dEAwdG95MHI6lTB23b8wdh44MGh4pTBb/QMwTr9mMDoJfjAv
	Qu0wIcL9MBfXYjAbkVQwHZV9MCI88jAkNY0wLLjgMDk/6TAzxkAwL3g2MCtmpjAj7Xgw
	JMAhMBzQWDAbTEowGQ01MBWLKTAVGoowEjQKMAvtsDAFa8Qv/0HkMALVSDABn6Uv80xJ
	L+nFRy/cTkIvxfClL7OAWy+g51QvjIukL3jlsy9UpvMvPuuCLyOmVy8BIV0u2TKYLqY2
	Uy6DSBQuSFy3LhOTEy3jZTQtpj/uLYl5By1pDbwtYMe1LWx/YQ==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
