<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>Electron Framework</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.Electron.framework</string>
    <key>CFBundleName</key>
    <string>Electron Framework</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleVersion</key>
    <string>42.2.0</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTSDKBuild</key>
    <string>24F74</string>
    <key>DTSDKName</key>
    <string>macosx15.5</string>
    <key>DTXcode</key>
    <string>1640</string>
    <key>DTXcodeBuild</key>
    <string>16F6</string>
    <key>LSEnvironment</key>
    <dict>
      <key>MallocNanoZone</key>
      <string>0</string>
    </dict>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>ElectronAsarIntegrity</key>
    <dict>
      <key>Resources/app-arm64.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>a5a9c898d048c9621144a0353935009cbbcb84a95cd0b322a0eb69d68eb9159a</string>
      </dict>
      <key>Resources/app-x64.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>5933659064b995974df6be96cac2cd3f9c252da88118c50e51a6abf4cf0dce55</string>
      </dict>
      <key>Resources/app.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>848d703b3d5a8129d9c7b8fa9249df60593fe9ff7ffef0617a61ec6aa9b9d47b</string>
      </dict>
    </dict>
  </dict>
</plist>