<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>StandardAdditions</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.osax.standardadditions</string>
	<key>CFBundleName</key>
	<string>Standard Additions</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>406.8</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>OSAScriptingDefinition</key>
	<string>StandardAdditions.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>DescCoercions</key>
		<dict>
			<key>TEXTurl </key>
			<string>CSDSTEXTurl_</string>
			<key>url TEXT</key>
			<string>CSDSurl_TEXT</string>
			<key>url utxt</key>
			<string>CSDSurl_TEXT</string>
			<key>utxturl </key>
			<string>CSDSTEXTurl_</string>
		</dict>
		<key>Events</key>
		<dict>
			<key>JonsgClp</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTJonsgClp</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>JonsiClp</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTJonsiClp</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>JonspClp</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTJonspClp</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>aevtmvol</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTaevtmvol</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>aevtstvl</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTsysostvl</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>earsffdr</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTearsffdr</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>earslfdr</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTearslfdr</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>earslvol</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTearslvol</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>fbcssumm</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTfbcssumm</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>fndrgstl</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTfndrgstl</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>gtqpchlt</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTgtqpchlt</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>misccurd</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTmisccurd</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>rdwrclos</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTrdwrclos</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>rdwrgeof</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTrdwrgeof</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>rdwropen</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTrdwropen</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>rdwrread</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTrdwrread</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>rdwrseof</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTrdwrseof</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>rdwrwrit</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTrdwrwrit</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysoGMT </key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTsysoGMT_</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysobeep</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTsysobeep</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysochcl</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysochcl</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysochra</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysochra</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysochur</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysochur</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysocpls</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysocpls</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysocton</key>
			<dict>
				<key>Context</key>
				<string>Any</string>
				<key>Handler</key>
				<string>AEVTsysocton</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysodisA</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysodisA</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysodlog</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysodlog</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysodsct</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysodsct</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysoexec</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysoexec</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysogtvl</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTsysogtvl</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysoload</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysoload</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysolocS</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysolocS</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysonfo4</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysonfo4</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysonotf</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysonotf</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysontoc</key>
			<dict>
				<key>Context</key>
				<string>Any</string>
				<key>Handler</key>
				<string>AEVTsysontoc</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysonwfl</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysonwfl</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysooffs</key>
			<dict>
				<key>Context</key>
				<string>Any</string>
				<key>Handler</key>
				<string>AEVTsysooffs</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysoppcb</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysoppcb</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysorand</key>
			<dict>
				<key>Context</key>
				<string>Any</string>
				<key>Handler</key>
				<string>AEVTsysorand</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysorond</key>
			<dict>
				<key>Context</key>
				<string>Any</string>
				<key>Handler</key>
				<string>AEVTsysorond</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysorpth</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysorpth</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysosigt</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTsysosigt</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>sysostdf</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysostdf</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysostfl</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>AEVTsysostfl</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysostor</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTsysostor</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>sysottos</key>
			<dict>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>AEVTsysottos</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
