<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	NIo9mzQwzrwzH1WfMmlURDHimBcxojkjMYNaDzFRQlExJCg3MSJOpzEZZaMxAC2WMMUh
	2jCYqY0whf+DMJj4tjBkglQwHN75MB3GDTAoRfcwKQb4MBcc7i/iVAov4WH1MCbLdzA7
	sU8wL6lPMBkF+i//QXAvyaRLL5pdUC+K4HcvelmbL025by82tfMvJm10LxZZDS8Q5nIv
	B8BCLv8LDi76UJ4vAWy9LwJHyy71+DMu5ikELtSThS7L/uUuyo30LsZNnS7EoaQuvazg
	Lrpoey64d8MutkJlLq3LYy6jnVQupuB6LqVFEy6iRyIuo5aALp40AS6WFPYukgVFLpKW
	UC6QkFsujRqXLoyg/i6KjR0uiHDBLoa9fi6FWpIugul+LoIDpy5/u9sugGbgLoME+C5/
	mEEud1EPLnf1Ki50UwsufU2SLoF9NC6AAvYuekheLndPgS57jBEufZELLoBVrS59w1su
	d8oDLns13y5yUXkubv2XLmkssi5l/5suZ7IWLm8oni5rKY8uaylFLmLJxC5ZdL0uXcn8
	LmSpuC5l0UwuYE1gLmDYEy5kjE8uZi84LmAVfi5h394uXnpwLlyqSS5lEuguasOwLmT8
	bi51DEgug2QhLmdhQC5qNyYubvJBLm3WhS5y4c0udpq+Lnvx1S6AwhcuizrzLp18LC6C
	x7Muei+qLnAECS5or4ouaB9CLmPkli5ldvYuYea+LmjHhy5oKgMucajtLnvjWS5/6Mcu
	grVDLoQAKC6DCqEudq3QLmsAwi5qT4AuYFQELlpIKy5Z4esuYLj4LmFesS5fBZguXrWj
	LlmLRC5Znd4uYyvILmFoTy5eACouXwEaLmT30y5oit8uZ6/kLmcC6y5qUIMuacdJLmMR
	FS5dZQguXVyQLl5dsC5csbUuXsbpLmC+2y5f834uYhMzLmPzby5hkQsuYabzLmCdUC5n
	SUQuaxyRLnWENi56W74udk5jLnWVtC5+/uwue66ELoKlVS6HoNoumsa/LrMCOS6tkAYu
	uQefLrz4Hy64BPgutb2FLriq8i656ZMuuZeALrljki7A7Rsu1AaDLvErCy8CZoUvBrnY
	LwKoCi7+Slwu+CgiLvHhCi7qQYsuzc84LrECgS6hA7Aump05LpX7xi6Va5AujYkdLogL
	Py6MYXwukJ4eLovxQC6Lk+guiSZZLoXhAi6FSL8ugWl2LoEUVi6FFsQuhoPtLoMzJC6F
	gMUujn54LwBwbi7ERzUuj/+8LpcTZy6bXR4uoGStLqLZEi6oqc4uqWNVLquBGC6vxrku
	q5WXLqj3Ry6mr40upKK/LqBaYS6dmX0umrgFLpSmKS6TJGcul1rnLpoglC6aUeoumWvP
	Lpxm8S6d1sgunX28LpyEAy6kOB0uopepLpp/rC6ZCb0unc+2Lpwuti6e2lwuodRlLqSZ
	Qi6l8QIuo+vCLq1qay6vt0MusLvaLrNbVi60AhouuShZLr0OhC644cwuswkPLq52ES6o
	kFcuqgq2Lq5rkC6tRsQurk77Lq4pEi6w2BEuuLf9Lr/L3i7G7OMuzVOiLskEQi7H7fku
	xcJPLsDS3i7CBwIuwNTuLrxS8C6/E2AuwKlOLsTCNy7GhbouwZJGLsRQOC7I/sYuyTAC
	Lsk7zy7NWJ0u1W/ILtenTy7bOrku1J2OLtgoMS7e5gIu5g7uLuKx0S7hZWku3wyHLt8S
	Vy7jKTgu4/j8Lubiki7oFLIu7RufLuwghS7wC/ku+KCtLvu8eS7+di0vAwnHLwhIEi8N
	A5YvDmd0LxPoei8VdRwvGUODLxuJfS8fWtgvIt0+Lyh66y8ncG4vJP+ULyKN+y8j9igv
	JkXTLyN5kS8ioqIvHJibLxm/5i8fIOEvHl64LxybZS8hil8vILyYLyLmKS8l5xEvLRRx
	LzH4Vi832sUvO9RBLz32cC9Fm0AvTDmbL1CinC9GhJQvQq10L0IlLi9LxSAvRvziL0hs
	by9H7XkvTQ3yL0pkPy9FUYQvREZyL0rYuy9LCx4vT47JL1FOgy9MZWwvSkPPL0vvTC9Q
	qBIvT7tDL09c1y9Yhn8vVdiVL1so9i9WB1cvUp2fL1KF9S9VTQcvVEKqL1d5hC9cdUQv
	XN80L1/hUi9ersEvZMmaL2Bg3S9jWv4vYzYUL2lApi9tlHcvbkaLL3Hu/C93O+IveR9H
	L3n2Ni95aQ8vgIgnL4VfFC+CVRkvgJekL4AvOy+Cx2AvgXEDL3h+XC90WU4vd0oHL2c0
	PS9lyBwvXEkqL07o2y88AY8vLY2pLx8U7i8VYtQvBHLoLuWPjy7GV4cury+iLpMm3i54
	XskuVFaxLjfj5C4OgzAt5Ff7LbYmti2ZIOItYPKmLTVe2C0BbSYsurcTLIssByxWsVYs
	H5iXK/uhtyvF5nYrodESK4n3fCt0BW4rX7L2K1SVuCtNqWorSZwWK0dAWCtFzWMrRVuQ
	K0XgpCtEY1crRAeRK0P2vCtD6bErQ9E3K0OoFitDlgsrQ5tgK0OiJitDfgcrQ2jvK0NR
	zStDVGsrQ21pK0NvJStDXdsrQz84K0MVqCtDGvorQzawK0NKGw==
	</data>
	<key>NoiseProfile1</key>
	<data>
	M+kr4TOfcAIyWDEZMc9rbjGaBsMxaSuuMW9eODFEId0xGXPrMRwa0zETGnww/OUIMMxN
	6DCab0Ywc12TMITD1jBEnfIwDWdSMBv29jAoltswI1JjMAeIRS+ky0YvmmW0MBsW9jA3
	spMwKFmkMBbmQS/waLMvs/qBL4MdMy9kqusvOt+ILxX5Gy8IezAu8y8MLs16NC7Ams4u
	teQvLqf1hi6nqAIuq5ZKLrJX5S6rRTQunUvuLo2Rqy6LYDYukAdPLo5msC6Qb9MujP/6
	LoVnnS6CgdougXLKLn64Xy51MnwudA37LmirnS5u1mcua8yVLmMhmS5gz/suYe2WLmlE
	Si5pgDYuZyxqLmiJ1C5hcDIuWx0pLlPXbC5ULCYuX5QLLl9iKy5e75EuWzXiLlZfWS5R
	Jh4uRhpKLk1j2S5Uuj0uWHWnLlh0hi5XhewuSyTkLkogIy5NNlUuSULdLkgXhy5EO4ku
	Rt5xLlOZ+S5QpIguT0umLk5h/C5U5VMuW6YjLnC3VS5hXdUuX0CtLlj4ai5L65ouTSZU
	Lk45lS5I0WAuS69HLkns6C5Mb6kuUzrILlFnny5aWtIuc9R7Ln6m8C595v0uf4WtLn+g
	eC6EEOAudXgMLmYZfi5sXTQubDoXLnN5QC53mpIuerl8LnIQBS5sBqwucbYVLoSRbC5l
	55EuXe9OLl0Jai5ZQOkuViJELlFxvi5VJfQuVf0ILlRU4i5YP/0uW/p5Llfysi5Y0fEu
	WqxwLlw09y5dXBMuYDy9LmEU8C5d2W0uX+gwLlsu5i5hOJYuW0sHLl3zES5cSVUuUoYm
	LlEqoC5WTH0uVl/iLl0qwC5cYdIuYKcnLmT8yy5rPo8uZRKiLmkE0S5niGcuY3svLmYQ
	wS5oJBQuZAiTLmWltC5jgnYuZcMzLnAudy51k2oueNO9Lm+Aqy5vDJAub2BuLm9AVi57
	DBMue+JOLoC9MC6Kf+Euj3UgLo82ZS6LbZAuiXjvLod4jS6Gr+EukedxLq1Pxy6Hs2Yu
	gN6gLoE23y57nHUufeJ0LokKni6WFakuoT91LqaBtS6zM4UuwYk+LtVCsC7Z75Eu0w2F
	LsVsui6yqwoupV26LqBHfC6cmQEujr7XLoUppC6AnbUuhFEJLoPi5i6CviguhoOuLoj/
	Ti6KZF8ulX7lLp74Si6fR7UunUCmLpa0li6TAZIukYvgLpMXai6RftQuj7NuLo4Jji6R
	BcwumuXxLuNAOy65jlQulQz7LpK+ni6TQW4ulK5vLpOEIS6YQKwump66LpgunS6Ulpku
	k+9QLpWaTi6Tlosuj/u1Lo4ohy6QRz8ukaIsLpAlLy6QRBQumDZMLqRAPy6VzXkull5+
	Lpdi7i6ZXecum04pLqDGWC6qRLsur2aaLrGMsi6ykGkuso9mLq+rUy6xdqEutpcvLrMs
	CC623UEut6JSLrtZdC7CtwMuxnHFLs5EIi7JUU8uwtshLsFeaC64bMUuuAavLrU69S6z
	xxgutt4cLrhbjS66Cy8uxPTkLsZCny7Phrku3Gq/Ltm+oS7WVSMu4cASLuclWy7vK8Uu
	9U05Lv9RFi8D9twvBKXGLwSJtS8HZEsvBj6iLwMpQi8FKR0u/eosLwAftC7/mssvA192
	Lwdxmi8MPHIvEaKtLxUgaC8ZitovG30TLxpbyi8VE/cvGL0GLxhLyi8LGL4vCilCLwQ0
	bS8E5sAvBlqDLwbe9S8K82IvCs+vLw04xi8SGWsvFTixLxrp2y8calUvJD6iLy0OpC8w
	SnkvM0feLzcv3y86f68vQU+PL1cJ/C92fWAvlafjL6D+zi+YkoIvjo28L4dVrC+DaPsv
	hT12L4XK2y+JpiMvj8A/L4yrvC+J2wsvhaKHL4xdLi+Loa8vi6qJL4ZnQC+FwZgvhD69
	L4MJAy+JFKMvlzrqL4qe8C+EVX4vg+VkL4i0ci9x+OcvbiY/L2tziS91CFwvbzNLL3QB
	5S9t/a8veyP5L3LByi9nwOIvbDbCL4CO0y+D7sYviFX8L4l30C+Evm4vfNi1L3wUai9y
	27AvcE9HL2X/Wi9wvUYvcEJcL3cjSy9q1dsvbVNQL2noiS9w0vAvdHhqL3qh4C+Enzgv
	hgTiL4XsMi+Efv4vhFJhL4LlQC+BDm0vgvFvL4DXvS+FCkkviF3mL4qbny+N+JovlXY0
	L5yTOS+l94Uvqj99L7WyCS+lTTAvm8icL5yqBS+cadovl6hIL5aGWC+RXEovj2sQL442
	YS+IZxgvhoBKL4OTWi9mz/8vT2SOL0KZsy85u2wvHnEJLw+rMC7y3yAuza+pLq3sWi6V
	Z/0ue8oqLmKnqC4dbQwt84oHLcRmvi2XdzMtbifpLTmnGSz86XssxAnhLH7dMSwsEiUr
	7lV3K8PR6itiPEUrIctQKsuOxSqn/IMqHyOVKaz35ClBOGoo6MjAKJH7RChPC/oobGnb
	KOzy3ig0pAUn54W3J93+kCfcY0Yn2UEUJ9hS4SfZYpIn3DwJJ9lQhCfV1ckn2YUsJ9xV
	4SfYDJon3Ga0J90IdifcG28n136bJ9l9ByfaZWgn2bhsJ9X9Ig==
	</data>
	<key>NoiseProfile2</key>
	<data>
	NUr6+jUdnLYzqtf0MpEj2DHcDU4xkO9TMV4aYTEoGxcxCWFxMO51lDC/uFEwl5XZMHBs
	YDBEUyIwS4ojMEdD0DAJnqUv63lVMAEYqTAEsaswAPjFL9021y+fkiMvt+aRMAon4DAM
	eWEwA11dL+zRGi/FydsvmhemL27Eci9Xb8svQtifLydNIi8arSQvC9SWLvW/oS7tRb0u
	56XtLt6bKy7fQRou3tNELtv0Yy7Tetouy3AuLsFS1S65Pmcutcl1LrBVPC6urzEupyz8
	LqESoi6drfwunA84LpkaAS6XPfwumpLZLpshqy6ZH0Quj5iGLowBNy6MCO4uke8QLp0G
	SS6dmrgumfscLpp7DS6UxTguknnILoqK+S6CYtsuhLXzLpMI1y6O9z4uirLQLoDjJS5z
	dbgubeYdLnlLyS5+0Nkuex/VLnU2Ly5rl+wua3k1Lm/+5i5rNZIuZffnLmsAwi5z7VQu
	bR7rLmco4y5kB5cuXLISLl9S1C5nKyoubgsULnIxmi5qfl0uYxBeLlt1zy5b+n8uVofZ
	LlV0WS5VynAuVTs7LlLlXi5ZSG0uWh5xLls0jS5YU0EuWJNcLleQwC5TJ1suUQzdLlHS
	SS5SmsQuU4QhLlLV0S5UO90uWB+lLlxtkS5aH4wuWxlXLlka/i5ewEoufkWXLqqDSy5y
	M0EuYoraLmNhyC5jAL8uYy2RLmLw0S5q1qAuZ/npLmaZCS5sCbUucLDiLnO7ui5t0Dgu
	b6r9Lmq5nC5kuCwuY3u2LlxcFS5bPAEuU7YXLlS2Oi5YiIIuWJtRLlVH0i5S9BUuU3Et
	LlHeRS5W8U0uWbHgLlzdXS5W0JcuVgcILl5DNi5cl+QuV4EhLlXUwy5YI/4uWmFcLlRu
	Ay5WaBouWfl2LltHNC5Vw6ouVNDILlSZfi5SFa8uVWL2LmBi4C5l+lEuaf12LmaEwi5u
	H08ucbP0Lnb8iS6DQjMuh28PLos5qi6J11sui19YLo2efi6Q2OcurNMgLuT5/y6oOvgu
	niF3LpmmSS6Pb9cuiUK8LoXNsC6GGe0uiCOELoqogC6RBk8umJOZLp4TjC6bmqIulamd
	LonCVy6FPtkugJhHLnva+C50OSIua1H2Lm2UMC5pF1YubpdwLnPMEy55G9Yud9ztLntV
	DS594vwugIcrLoH/JS6EBN4uidcTLof/OC6HmYcuhKASLomNkS6Hyd0uiddXLo4Jqy6P
	uVYulj7dLtYSWy6slbkuhxvjLogwHS6JHbYuiQ+YLonDmi6Pbzsukk8bLpG4Cy6PVC4u
	jjBALo55fC6RqVMukUCBLpGn9i6TR+kukxgWLpFhQC6PZvgulFaJLps7jS6VQTcumT9f
	Lp6t2i6iBpUuoII8LqGtBy6kkHouow4pLp+Fwy6jRLouox8WLqmYYy6rlAUuruEYLrAA
	Vy6vXn8usDvCLra0vy68mpAuv+afLsGiMC7HUzwuyUzxLshdji7G7gMuyjZ/Lss9hy7T
	vjou41iKLuPimC7eGFsu5MQqLufBvi7sS0Au8OtSLvPHcS7rk3Qu6gDyLujPIC7sawMu
	55V0Lu0kiC7xgcwu+NHYLv0R8C8AdegvAjNXLwR92S8EElovAm+1LwEOwi8DNqYvBEmv
	LwkcXi8J4pYvB+cVLwnt6y8J2qovBpgiLwRevy8DumMvC8wvLxRmhi8G6dUvB3kbLwsU
	My8JALkvDhF4LxHWUy8Q/egvFliqLxXBaC8VoMIvGNdlLxslJS8Z2ekvGHCaLx+YbS8i
	2I4vJ8AoLyxSTi8r74kvLyenLzIdyy8/LJUvSaIeL04w2y9HP1ovPai/L0CJmy89uqIv
	RCVFL0hw8C9LMzAvUEneL1J3si9XxXIvX9lsL2JB8i9fXzYvZEVDL2jC4C9yjkYvb8kb
	L2/YrS9xRPsvaq0rL2Z0iS9pObEvaUpML3BF3y9tnk4vbAmKL3E0Ji9wqbkva/PUL2Yn
	Li9r4QkvcvqtL3uL7y+A8UwvhGZiL4lU9y+L1owvjB83L4q6tC+GtxgvhX+0L4bC2C+F
	XKYvhLMNL4Ghci+Aml0vgNc+L4A6fy978s0vecvlL35FNi992YEvgDtmL4UKgy+CtPkv
	hGVOL4EtOy+DB9IvhOrXL4NY3y+B8Icvf732L3mwEy97ebMvf0t7L3vqJy+BDQ4vg/9A
	L4YUPS+F5hcvhT2zL4Ggui97hNove1b1L3WW2i93Wj8vbvFvL2jm3C9lFj4vXsj3L1o2
	wi9P3NQvQmc5Lzhvfi8muQUvFuxrLwoE2i75F5ou16z4LrycuS6hdRQuiQWILmP7Ty45
	pPouHFxNLgUUNi3VBhItp39CLYMBwi1Y8NgtIWC1LPOwViy11+0shY17LEbe/CwVOTcr
	5X/5K7y0kyuT46IrfGeeK13pOytLdRgrPeykKzWS4ysw8PcrLmF1KyzGQSsr4r0rK3RN
	KyvUoisrHdErKuLEKyrDqysqpXcrKoEhKypuBSsqb+YrKmFsKypQ0ysqR1YrKkFAKyo2
	2SsqKpIrKjDGKyowlysqI2orKhKfKyoH9ysqDCErKiEJKyomhQ==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
