<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAOPAudio</string>
	<key>CFBundleGetInfoString</key>
	<string>150.2, Copyright Apple Computer, Inc. 2015</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleAOPAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleAOPAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>150.2</string>
	<key>CFBundleSignature</key>
	<string>aapl</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>150.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleAOPAudioAmpManagerDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioAmpManagerDevice</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioAmpManagerDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-amp</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioButtonHapticDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioButtonHapticDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-bhap</string>
				<string>audio-bhap</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>AppleAOPButtonHapticsServiceUserClient</string>
		</dict>
		<key>AppleAOPAudioButtonOutput</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioButtonOutputDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-buttonout</string>
				<string>audio-buttonout</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioClientManager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioClientManager</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-hp</string>
				<string>audio-aop-ldcm</string>
				<string>audio-aop-hawking</string>
				<string>audio-leap-internal-loopback</string>
				<string>audio-leap-mca-loopback</string>
				<string>audio-aop-speaker-manager</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioController</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioController</string>
			<key>IONameMatch</key>
			<array>
				<string>aop-audio</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>AppleAOPAudioUserClient</string>
		</dict>
		<key>AppleAOPAudioDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioDevice</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-edt-config</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioDeviceProvider</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>aop-audio-control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
		</dict>
		<key>AppleAOPAudioFWdtAssetManagerDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioFWdtAssetManagerDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-fwdt-asset-mgr</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioHallDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioHallDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-hall</string>
				<string>audio-aop-hall</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioHapticControlDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>aop-audio-haptic</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
		</dict>
		<key>AppleAOPAudioHapticDebugControlDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>aop-audio-hpdbg</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
		</dict>
		<key>AppleAOPAudioHapticLEAP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioHapticLEAP</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-haptic-leap</string>
				<string>audio-haptic-leap</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioLEAP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioLEAP</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-leap</string>
				<string>audio-leap</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioLEAPClientManager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioLEAPClientManager</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-hapticmgr</string>
				<string>audio-hapticmgr</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioLPMicInDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioLPMicInDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-lp-mic-in</string>
				<string>audio-aop-lp-mic-in</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioMCA2Device </key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioMCA2Device</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioMCA2Device</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-mca0</string>
				<string>audio-mca1</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioPCMAssetManagerDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioPCMAssetManagerDevice</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-pcmaudiomgr</string>
				<string>audio-pcmaudiomgr</string>
				<string>audio-hw-pcm-audiomgr</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>AppleAOPAudioPCMAssetManagerUserClient</string>
		</dict>
		<key>AppleAOPAudioPDM2Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleAOPAudioPDM2Device</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-aop-pdm2</string>
				<string>audio-pdm2</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleAOPAudioSpeakerControlDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>aop-audio-speaker</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
		</dict>
		<key>AppleIPCAudioControlDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>ipc-audio-device</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
		</dict>
		<key>AppleIPCAudioController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAOPAudio</string>
			<key>IOClass</key>
			<string>AppleIPCAudioController</string>
			<key>IOMatchCategory</key>
			<string>AppleIPCAudioController</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>ipc-audio</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIPCAudioDebugControlDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleAOPAudioDeviceProvider</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>ipc-audio-debug</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
		</dict>
		<key>AppleIPCAudioDeviceProxy</key>
		<dict>
			<key>IOClass</key>
			<string>AppleIPCAudioDeviceProxy</string>
			<key>IOMatchCategory</key>
			<string>AppleIPCAudioDeviceProxy</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>compatible</key>
				<string>ipc-audio-proxy</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleAOPAudioDeviceNode</string>
			<key>IOUserClientClass</key>
			<string>AppleIPCAudioDeviceUserClient</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleEmbeddedAudioLibs</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleFirmwareKit</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleSPU</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
</dict>
</plist>
