<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxieds</key>
	<dict>
		<key>AuthenticationAuthority</key>
		<array>
			<string>;ShadowHash;HASHLIST:&lt;SALTED-SHA512-PBKDF2,SRP-RFC5054-4096-SHA512-PBKDF2&gt;</string>
			<string>;SecureToken;</string>
			<string>;Kerberosv5;;maxieds@LKDC:SHA1.1D2FBD3EF81A896B61E4D2C044351AEE2EDB6CD5;LKDC:SHA1.1D2FBD3EF81A896B61E4D2C044351AEE2EDB6CD5;</string>
		</array>
		<key>GeneratedUID</key>
		<string>E59C6CE1-EB59-49D0-9B0A-6996D6ED20A6</string>
		<key>RealName</key>
		<string>Dr. Maxie Dion Schmidt</string>
	</dict>
</dict>
</plist>
