<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>73729.196609</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandSearchRotorDown</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>73729.327681</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandSearchRotorUp</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>98305.327681</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandSearchRotorRight</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>69633.196609</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandSearchRotorLeft</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>196609</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandNextElement</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>327681</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandPreviousElement</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>69633</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandBraillePanRight</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>98305</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandBraillePanLeft</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>73729</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandSimpleTap</string>
	</dict>
	<dict>
		<key>SCRBrailleInputIdentifier</key>
		<string>81921</string>
		<key>SCRCommand</key>
		<string>VOTEventCommandHomeButtonPress</string>
	</dict>
</array>
</plist>
