<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ResourceAttributionBundleIdentifier</key>
	<dict>
		<key>default</key>
		<string>com.apple.Spotlight</string>
	</dict>
	<key>Factor Path</key>
	<string>/System/Library/PrivateFrameworks/SpotlightServices.framework/Versions/A/Resources/default_factors_332.pb</string>
	<key>Namespace Id</key>
	<integer>332</integer>
	<key>Namespace Compatibility Version</key>
	<integer>1</integer>
</dict>
</plist>
