<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Factor Path</key>
    <string>/System/Library/PrivateFrameworks/CoreSuggestionsInternals.framework/Resources/CoreSuggestions_Mail_Intelligence_Default_Factors_130.pb</string>
	<key>Namespace Id</key>
	<integer>130</integer>
	<key>Namespace Compatibility Version</key>
	<integer>2</integer>
	<key>ResourceAttributionBundleIdentifier</key>
	<dict>
		<key>default</key>
		<string>com.apple.CoreSuggestions</string>
	</dict>
</dict>
</plist>
