<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Factor Path</key>
	<string>/System/Library/PrivateFrameworks/DialogEngine.framework/Versions/A/Resources/default_factors_1000.pb</string>
	<key>Namespace Id</key>
	<integer>1000</integer>
	<key>Namespace Compatibility Version</key>
	<integer>600</integer>
</dict>
</plist>
