<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Factor Path</key>
	<string>/System/Library/PrivateFrameworks/CoreSuggestionsInternals.framework/CoreSuggestions_Structured_Events_Default_Factors_190.pb</string>
	<key>Namespace Id</key>
	<integer>190</integer>
	<key>ResourceAttributionBundleIdentifier</key>
	<dict>
		<key>default</key>
		<string>com.apple.CoreSuggestions</string>
	</dict>
	<key>Namespace Compatibility Version</key>
	<integer>1</integer>
</dict>
</plist>
