<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enable Fetch During Setup Assistant</key>
	<true/>
	<key>Factor Path</key>
	<string>/System/Library/PrivateFrameworks/CoreEmbeddedSpeechRecognition.framework/Resources/default_factors_401.pb</string>
	<key>Namespace Compatibility Version</key>
	<integer>400</integer>
	<key>Namespace Id</key>
	<integer>401</integer>
	<key>Namespace Upgrade Compatibility Versions</key>
	<array>
		<integer>13</integer>
		<integer>100</integer>
		<string>200</string>
	</array>
</dict>
</plist>
