<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.0</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>3B63A31A-BE5D-4022-9295-358109591A4B.ppb/Resources/Images/140614_FamilyMidEast-Provence_AT_00326.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.500000,0,0.500000,0</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>462</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>364</real>
					<key>x</key>
					<real>182</real>
					<key>y</key>
					<real>277</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>255.000000,255.000000,255.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>Cochin1923-Headline</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>Cochin1923-Headline</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>DefaultTitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>255.000000,255.000000,255.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>Happy Father’s Day</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasBoilerplateText</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>2</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>36</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>320</real>
					<key>x</key>
					<real>180</real>
					<key>y</key>
					<real>23</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<true/>
			<key>height</key>
			<real>504</real>
			<key>holeCount</key>
			<integer>1</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>Outside-1P-Text</string>
			<key>treatmentId</key>
			<string>55D7A278996D1DD3930B66990FAEEFA27B3D9E89</string>
			<key>treatmentIdentifier</key>
			<string>55D7A278996D1DD3930B66990FAEEFA27B3D9E89</string>
			<key>uuid</key>
			<string>6EC1D023-437F-423B-8F15-4FC7CC4206FB</string>
			<key>width</key>
			<real>360</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>FFDADD29-8574-4767-A915-36A440EB1A65</string>
			<key>cover</key>
			<string>0B39F2AB-5462-4A2C-AD97-733F92CD97B6</string>
			<key>inside</key>
			<string>76A000E6-D05E-463B-BDE1-A5E4C7E14227</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>28D586BA62C65B2E1F65C7CA0553A8568E534105</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Fathers Day</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Holiday Colors</string>
		<key>productCodes</key>
		<array>
			<string>VerticalFoldedCard</string>
		</array>
		<key>themeIdentifier</key>
		<string>HolidayColors-FoldedCard-V</string>
		<key>themePreviewIdentifier</key>
		<string>HolidayColors-FoldedCard-V_3B63A31A-BE5D-4022-9295-358109591A4B</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{72, 5}, {175, 245}}</string>
		<key>drawScale</key>
		<real>0.4861111111111111</real>
		<key>textFrames</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>255.000000,255.000000,255.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>Cochin1923-Headline</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>Cochin1923-Headline</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>DefaultTitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>255.000000,255.000000,255.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>Happy Father’s Day</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasBoilerplateText</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>2</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>36</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string></string>
				<key>treatmentId</key>
				<string>None</string>
				<key>treatmentIdentifier</key>
				<string>None</string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>320</real>
				<key>x</key>
				<real>180</real>
				<key>y</key>
				<real>23</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
