<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CTKillSwitch</key>
	<integer>0</integer>
	<key>CTKillSwitch_nonTLS</key>
	<integer>0</integer>
	<key>MobileAssetContentVersion</key>
	<integer>1012</integer>
	<key>MobileAssetLastCheckIn</key>
	<date>2026-07-06T03:29:17Z</date>
	<key>MobileAssetLastRequest-com.apple.MobileAsset.PKITrustSupplementals</key>
	<date>2001-01-01T00:00:00Z</date>
	<key>MobileAssetLastRequest-com.apple.MobileAsset.SecExperimentAssets</key>
	<date>2001-01-01T00:00:00Z</date>
</dict>
</plist>
