<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>keys</key>
	<dict>
		<key>before_typing</key>
		<dict>
			<key>&apos; &apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>　</string>
			</dict>
			<key>shift+&apos; &apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string> </string>
			</dict>
			<key>delete:</key>
			<dict>
				<key>command</key>
				<string>none</string>
			</dict>
		</dict>
		<key>typing</key>
		<dict>
			<key>option+&apos; &apos;</key>
			<dict>
				<key>character</key>
				<string>　</string>
			</dict>
			<key>deleteBackward:</key>
			<dict>
				<key>command</key>
				<string>delete_character</string>
			</dict>
			<key>insertNewline:</key>
			<dict>
				<key>command</key>
				<string>confirm</string>
			</dict>
			<key>cancelOperation:</key>
			<dict>
				<key>command</key>
				<string>delete_all</string>
			</dict>
			<key>keypad+&apos;0&apos;</key>
			<dict>
				<key>character</key>
				<string>0</string>
			</dict>
			<key>keypad+&apos;1&apos;</key>
			<dict>
				<key>character</key>
				<string>1</string>
			</dict>
			<key>keypad+&apos;2&apos;</key>
			<dict>
				<key>character</key>
				<string>2</string>
			</dict>
			<key>keypad+&apos;3&apos;</key>
			<dict>
				<key>character</key>
				<string>3</string>
			</dict>
			<key>keypad+&apos;4&apos;</key>
			<dict>
				<key>character</key>
				<string>4</string>
			</dict>
			<key>keypad+&apos;5&apos;</key>
			<dict>
				<key>character</key>
				<string>5</string>
			</dict>
			<key>keypad+&apos;6&apos;</key>
			<dict>
				<key>character</key>
				<string>6</string>
			</dict>
			<key>keypad+&apos;7&apos;</key>
			<dict>
				<key>character</key>
				<string>7</string>
			</dict>
			<key>keypad+&apos;8&apos;</key>
			<dict>
				<key>character</key>
				<string>8</string>
			</dict>
			<key>keypad+&apos;9&apos;</key>
			<dict>
				<key>character</key>
				<string>9</string>
			</dict>
			<key>keypad+&apos;+&apos;</key>
			<dict>
				<key>character</key>
				<string>+</string>
			</dict>
			<key>keypad+&apos;-&apos;</key>
			<dict>
				<key>character</key>
				<string>-</string>
			</dict>
			<key>keypad+&apos;*&apos;</key>
			<dict>
				<key>character</key>
				<string>*</string>
			</dict>
			<key>keypad+&apos;/&apos;</key>
			<dict>
				<key>character</key>
				<string>/</string>
			</dict>
			<key>keypad+&apos;=&apos;</key>
			<dict>
				<key>character</key>
				<string>=</string>
			</dict>
			<key>keypad+&apos;.&apos;</key>
			<dict>
				<key>character</key>
				<string>.</string>
			</dict>
			<key>keypad+&apos;,&apos;</key>
			<dict>
				<key>character</key>
				<string>,</string>
			</dict>
			<key>moveBackward:</key>
			<dict>
				<key>command</key>
				<string>backward_cursor</string>
			</dict>
			<key>moveForward:</key>
			<dict>
				<key>command</key>
				<string>forward_cursor</string>
			</dict>
			<key>moveLeft:</key>
			<dict>
				<key>command</key>
				<string>backward_cursor</string>
			</dict>
			<key>moveRight:</key>
			<dict>
				<key>command</key>
				<string>forward_cursor</string>
			</dict>
			<key>moveUp:</key>
			<dict>
				<key>command</key>
				<string>home_cursor</string>
			</dict>
			<key>moveDown:</key>
			<dict>
				<key>command</key>
				<string>end_cursor</string>
			</dict>
			<key>scrollToBeginningOfDocument:</key>
			<dict>
				<key>command</key>
				<string>home_cursor</string>
			</dict>
			<key>scrollToEndOfDocument:</key>
			<dict>
				<key>command</key>
				<string>end_cursor</string>
			</dict>
			<key>control+&apos;s&apos;</key>
			<dict>
				<key>selector</key>
				<string>moveLeft:</string>
			</dict>
			<key>control+&apos;d&apos;</key>
			<dict>
				<key>selector</key>
				<string>moveRight:</string>
			</dict>
			<key>control+&apos;e&apos;</key>
			<dict>
				<key>selector</key>
				<string>moveUp:</string>
			</dict>
			<key>control+&apos;x&apos;</key>
			<dict>
				<key>selector</key>
				<string>moveDown:</string>
			</dict>
			<key>control+&apos;p&apos;</key>
			<dict>
				<key>selector</key>
				<string>scrollToBeginningOfDocument:</string>
			</dict>
			<key>control+&apos;n&apos;</key>
			<dict>
				<key>selector</key>
				<string>scrollToEndOfDocument:</string>
			</dict>
		</dict>
		<key>*</key>
		<dict>
			<key>shift_tap</key>
			<dict>
				<key>command</key>
				<string>ignore</string>
			</dict>
			<key>control_tap</key>
			<dict>
				<key>command</key>
				<string>ignore</string>
			</dict>
			<key>option_tap</key>
			<dict>
				<key>command</key>
				<string>ignore</string>
			</dict>
			<key>command_tap</key>
			<dict>
				<key>command</key>
				<string>ignore</string>
			</dict>
			<key>delete:</key>
			<dict>
				<key>command</key>
				<string>delete_all</string>
			</dict>
			<key>&apos;.&apos;</key>
			<dict>
				<key>character</key>
				<string>。</string>
			</dict>
			<key>option+&apos;.&apos;</key>
			<dict>
				<key>character</key>
				<string>．</string>
			</dict>
			<key>&apos;,&apos;</key>
			<dict>
				<key>character</key>
				<string>、</string>
			</dict>
			<key>option+&apos;,&apos;</key>
			<dict>
				<key>character</key>
				<string>，</string>
			</dict>
			<key>&apos;-&apos;</key>
			<dict>
				<key>character</key>
				<string>ー</string>
			</dict>
			<key>&apos;[&apos;</key>
			<dict>
				<key>character</key>
				<string>「</string>
			</dict>
			<key>option+&apos;[&apos;</key>
			<dict>
				<key>character</key>
				<string>［</string>
			</dict>
			<key>shift+option+&apos;[&apos;</key>
			<dict>
				<key>character</key>
				<string>｛</string>
			</dict>
			<key>&apos;]&apos;</key>
			<dict>
				<key>character</key>
				<string>」</string>
			</dict>
			<key>option+&apos;]&apos;</key>
			<dict>
				<key>character</key>
				<string>］</string>
			</dict>
			<key>shift+option+&apos;]&apos;</key>
			<dict>
				<key>character</key>
				<string>｝</string>
			</dict>
			<key>&apos;|&apos;</key>
			<dict>
				<key>character</key>
				<string>｜</string>
			</dict>
			<key>&apos;!&apos;</key>
			<dict>
				<key>character</key>
				<string>！</string>
			</dict>
			<key>&apos;#&apos;</key>
			<dict>
				<key>character</key>
				<string>＃</string>
			</dict>
			<key>&apos;$&apos;</key>
			<dict>
				<key>character</key>
				<string>＄</string>
			</dict>
			<key>&apos;%&apos;</key>
			<dict>
				<key>character</key>
				<string>％</string>
			</dict>
			<key>&apos;&amp;&apos;</key>
			<dict>
				<key>character</key>
				<string>＆</string>
			</dict>
			<key>&apos;(&apos;</key>
			<dict>
				<key>character</key>
				<string>（</string>
			</dict>
			<key>&apos;)&apos;</key>
			<dict>
				<key>character</key>
				<string>）</string>
			</dict>
			<key>&apos;*&apos;</key>
			<dict>
				<key>character</key>
				<string>＊</string>
			</dict>
			<key>&apos;+&apos;</key>
			<dict>
				<key>character</key>
				<string>＋</string>
			</dict>
			<key>option+&apos;-&apos;</key>
			<dict>
				<key>character</key>
				<string>－</string>
			</dict>
			<key>&apos;:&apos;</key>
			<dict>
				<key>character</key>
				<string>：</string>
			</dict>
			<key>&apos;;&apos;</key>
			<dict>
				<key>character</key>
				<string>；</string>
			</dict>
			<key>&apos;&lt;&apos;</key>
			<dict>
				<key>character</key>
				<string>＜</string>
			</dict>
			<key>&apos;=&apos;</key>
			<dict>
				<key>character</key>
				<string>＝</string>
			</dict>
			<key>&apos;&gt;&apos;</key>
			<dict>
				<key>character</key>
				<string>＞</string>
			</dict>
			<key>&apos;?&apos;</key>
			<dict>
				<key>character</key>
				<string>？</string>
			</dict>
			<key>&apos;@&apos;</key>
			<dict>
				<key>character</key>
				<string>＠</string>
			</dict>
			<key>&apos;^&apos;</key>
			<dict>
				<key>character</key>
				<string>＾</string>
			</dict>
			<key>&apos;_&apos;</key>
			<dict>
				<key>character</key>
				<string>＿</string>
			</dict>
			<key>&apos;`&apos;</key>
			<dict>
				<key>character</key>
				<string>｀</string>
			</dict>
			<key>&apos;{&apos;</key>
			<dict>
				<key>character</key>
				<string>『</string>
			</dict>
			<key>shift+option+&apos;{&apos;</key>
			<dict>
				<key>character</key>
				<string>｛</string>
			</dict>
			<key>&apos;}&apos;</key>
			<dict>
				<key>character</key>
				<string>』</string>
			</dict>
			<key>shift+option+&apos;}&apos;</key>
			<dict>
				<key>character</key>
				<string>｝</string>
			</dict>
			<key>&apos;~&apos;</key>
			<dict>
				<key>character</key>
				<string>〜</string>
			</dict>
			<key>keypad+&apos;0&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>0</string>
			</dict>
			<key>keypad+&apos;1&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>1</string>
			</dict>
			<key>keypad+&apos;2&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>2</string>
			</dict>
			<key>keypad+&apos;3&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>3</string>
			</dict>
			<key>keypad+&apos;4&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>4</string>
			</dict>
			<key>keypad+&apos;5&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>5</string>
			</dict>
			<key>keypad+&apos;6&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>6</string>
			</dict>
			<key>keypad+&apos;7&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>7</string>
			</dict>
			<key>keypad+&apos;8&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>8</string>
			</dict>
			<key>keypad+&apos;9&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>9</string>
			</dict>
			<key>keypad+&apos;+&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>+</string>
			</dict>
			<key>keypad+&apos;-&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>-</string>
			</dict>
			<key>keypad+&apos;*&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>*</string>
			</dict>
			<key>keypad+&apos;/&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>/</string>
			</dict>
			<key>keypad+&apos;=&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>=</string>
			</dict>
			<key>keypad+&apos;.&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>.</string>
			</dict>
			<key>keypad+&apos;,&apos;</key>
			<dict>
				<key>command</key>
				<string>direct_input</string>
				<key>character</key>
				<string>,</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
