<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleConvergedIPCOLYBTControl</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleConvergedIPCOLYBTControl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleConvergedIPCOLYBTControl</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleConvergedIPCOLYBTControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleConvergedIPCOLYBTControl</string>
			<key>IOClass</key>
			<string>AppleConvergedIPCOLYBTControl</string>
			<key>IOMatchCategory</key>
			<string>AppleConvergedIPCOLYBTControl</string>
			<key>IOProviderClass</key>
			<string>AppleBluetoothModule</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOUserClientClass</key>
			<string>AppleConvergedIPCControlUserClient</string>
			<key>RTIDevice</key>
			<dict>
				<key>RTIPipe</key>
				<array>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>1</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>index</key>
						<integer>1</integer>
						<key>log_binary</key>
						<integer>8</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>hci</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<true/>
						<key>skywalkBufferSize</key>
						<integer>258</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>0</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>foot_size</key>
							<integer>66</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>1</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>2</integer>
						<key>direction</key>
						<integer>2</integer>
						<key>index</key>
						<integer>2</integer>
						<key>log_binary</key>
						<integer>8</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>hci</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<true/>
						<key>skywalkBufferSize</key>
						<integer>258</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>0</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>2</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
							<key>virtual</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>3</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>index</key>
						<integer>3</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>sco</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<true/>
						<key>skywalkBufferSize</key>
						<integer>258</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>1</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>foot_size</key>
							<integer>66</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>6</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>12000</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>4</integer>
						<key>direction</key>
						<integer>2</integer>
						<key>index</key>
						<integer>4</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>sco</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<true/>
						<key>skywalkBufferSize</key>
						<integer>258</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>1</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>6</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>12000</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
							<key>virtual</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>1</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>index</key>
						<integer>5</integer>
						<key>log_binary</key>
						<integer>8</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>acl</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<true/>
						<key>skywalkBufferSize</key>
						<integer>4096</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>0</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>foot_size</key>
							<integer>252</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>3</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>2</integer>
						<key>direction</key>
						<integer>2</integer>
						<key>index</key>
						<integer>6</integer>
						<key>log_binary</key>
						<integer>8</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>acl</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<true/>
						<key>skywalkBufferSize</key>
						<integer>4096</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>0</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>4</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>-1</integer>
						<key>cr_index</key>
						<integer>-1</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>index</key>
						<integer>-1</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>unused</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<false/>
						<key>skywalkBufferSize</key>
						<integer>4096</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>0</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>0</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>0</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>bootstage</key>
						<integer>2</integer>
						<key>cr_index</key>
						<integer>5</integer>
						<key>direction</key>
						<integer>2</integer>
						<key>index</key>
						<integer>8</integer>
						<key>msi</key>
						<integer>0</integer>
						<key>oc</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>debug</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>skywalkAllowed</key>
						<false/>
						<key>skywalkBufferSize</key>
						<integer>4096</integer>
						<key>skywalkChannelLength</key>
						<integer>16</integer>
						<key>sync</key>
						<integer>0</integer>
						<key>td_ring</key>
						<dict>
							<key>count</key>
							<integer>128</integer>
							<key>setting</key>
							<dict>
								<key>doorbell</key>
								<dict>
									<key>db_index</key>
									<integer>5</integer>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>0</integer>
								</dict>
								<key>int_mod</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>completion_ring</key>
				<array>
					<dict>
						<key>count</key>
						<integer>128</integer>
						<key>setting</key>
						<dict>
							<key>accum bytes</key>
							<integer>0</integer>
							<key>accum delay</key>
							<integer>0</integer>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod bytes</key>
							<integer>-1</integer>
							<key>intmod delay</key>
							<integer>0</integer>
							<key>msi</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>count</key>
						<integer>256</integer>
						<key>setting</key>
						<dict>
							<key>accum bytes</key>
							<integer>0</integer>
							<key>accum delay</key>
							<integer>0</integer>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod bytes</key>
							<integer>-1</integer>
							<key>intmod delay</key>
							<integer>1000</integer>
							<key>msi</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>count</key>
						<integer>256</integer>
						<key>foot_size</key>
						<integer>66</integer>
						<key>setting</key>
						<dict>
							<key>accum bytes</key>
							<integer>0</integer>
							<key>accum delay</key>
							<integer>0</integer>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod bytes</key>
							<integer>-1</integer>
							<key>intmod delay</key>
							<integer>1000</integer>
							<key>msi</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>count</key>
						<integer>128</integer>
						<key>setting</key>
						<dict>
							<key>accum bytes</key>
							<integer>0</integer>
							<key>accum delay</key>
							<integer>0</integer>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod bytes</key>
							<integer>-1</integer>
							<key>intmod delay</key>
							<integer>0</integer>
							<key>msi</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>count</key>
						<integer>128</integer>
						<key>foot_size</key>
						<integer>66</integer>
						<key>setting</key>
						<dict>
							<key>accum bytes</key>
							<integer>0</integer>
							<key>accum delay</key>
							<integer>0</integer>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod bytes</key>
							<integer>-1</integer>
							<key>intmod delay</key>
							<integer>0</integer>
							<key>msi</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>count</key>
						<integer>128</integer>
						<key>foot_size</key>
						<integer>66</integer>
						<key>setting</key>
						<dict>
							<key>accum bytes</key>
							<integer>0</integer>
							<key>accum delay</key>
							<integer>0</integer>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod bytes</key>
							<integer>-1</integer>
							<key>intmod delay</key>
							<integer>0</integer>
							<key>msi</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
				<key>di_msi</key>
				<integer>0</integer>
				<key>memory_pool</key>
				<array>
					<integer>512</integer>
					<integer>4096</integer>
					<integer>16384</integer>
				</array>
				<key>message_ring</key>
				<dict>
					<key>count</key>
					<integer>128</integer>
					<key>setting</key>
					<dict>
						<key>doorbell</key>
						<dict>
							<key>db_index</key>
							<integer>0</integer>
							<key>threshold</key>
							<integer>80</integer>
							<key>time</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>mr_msi</key>
				<integer>0</integer>
				<key>msi_range</key>
				<array>
					<dict>
						<key>high</key>
						<integer>5</integer>
						<key>low</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>num_CRs</key>
				<integer>6</integer>
				<key>num_msi</key>
				<integer>1</integer>
				<key>num_pipes</key>
				<integer>9</integer>
				<key>skywalkenabled_memory_pool</key>
				<array>
					<integer>4096</integer>
					<integer>16384</integer>
				</array>
			</dict>
			<key>logSnapshotBufferSize</key>
			<integer>65536</integer>
			<key>lowpower_support</key>
			<dict>
				<key>ios</key>
				<false/>
				<key>macos</key>
				<true/>
			</dict>
			<key>memory_alloc_limit</key>
			<integer>10485760</integer>
			<key>num_addr_bits</key>
			<dict>
				<key>ios</key>
				<integer>64</integer>
				<key>macos</key>
				<integer>32</integer>
			</dict>
			<key>read_otp</key>
			<dict>
				<key>ios</key>
				<false/>
				<key>macos</key>
				<true/>
			</dict>
		</dict>
		<key>AppleConvergedIPCOLYBTCoreDumpProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleConvergedIPCOLYBTControl</string>
			<key>IOClass</key>
			<string>AppleConvergedIPCOLYBTCoreDumpProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleConvergedIPCOLYBTCoreDumpProvider</string>
			<key>IOProviderClass</key>
			<string>AppleConvergedIPCOLYBTControl</string>
		</dict>
		<key>AppleConvergedIPCOLYBTLogProvider</key>
		<dict>
			<key>ACIPCInterfaceProtocol</key>
			<string>debug</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleConvergedIPCOLYBTControl</string>
			<key>IOClass</key>
			<string>AppleConvergedIPCOLYBTLogProvider</string>
			<key>IOMatchCategory</key>
			<string>AppleConvergedIPCOLYBTLogProvider</string>
			<key>IOProviderClass</key>
			<string>AppleConvergedIPCRTIInterface</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleBluetoothDebugService</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleConvergedPCI</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOSkywalkFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0d1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
