<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.digihub.blank.cd.appeared</key>
	<dict>
		<key>asktext</key>
		<string>BLANK_CD</string>
		<key>findername</key>
		<string>UNTITLED_CD</string>
		<key>icon</key>
		<integer>1668507757</integer>
		<key>menu</key>
		<array>
			<integer>100</integer>
			<string>OPEN_FINDER</string>
			<integer>101</integer>
			<string>OPEN_MUSIC</string>
			<integer>102</integer>
			<string>OPEN_DISK_UTILITY</string>
			<integer>0</integer>
			<integer>3</integer>
			<string>OPEN_OTHER</string>
			<integer>0</integer>
			<integer>4</integer>
			<string>RUN_SCRIPT</string>
		</array>
	</dict>
	<key>com.apple.digihub.blank.dvd.appeared</key>
	<dict>
		<key>asktext</key>
		<string>BLANK_DVD</string>
		<key>findername</key>
		<string>UNTITLED_DVD</string>
		<key>icon</key>
		<integer>1685480567</integer>
		<key>menu</key>
		<array>
			<integer>100</integer>
			<string>OPEN_FINDER</string>
			<integer>106</integer>
			<string>OPEN_IDVD</string>
			<integer>101</integer>
			<string>OPEN_MUSIC</string>
			<integer>102</integer>
			<string>OPEN_DISK_UTILITY</string>
			<integer>0</integer>
			<integer>3</integer>
			<string>OPEN_OTHER</string>
			<integer>0</integer>
			<integer>4</integer>
			<string>RUN_SCRIPT</string>
		</array>
	</dict>
	<key>com.apple.digihub.blank.bd.appeared</key>
	<dict>
		<key>asktext</key>
		<string>BLANK_BD</string>
		<key>findername</key>
		<string>UNTITLED_BD</string>
		<key>icon</key>
		<integer>1685480567</integer>
		<key>menu</key>
		<array>
			<integer>100</integer>
			<string>OPEN_FINDER</string>
			<integer>106</integer>
			<string>OPEN_IDVD</string>
			<integer>101</integer>
			<string>OPEN_MUSIC</string>
			<integer>102</integer>
			<string>OPEN_DISK_UTILITY</string>
			<integer>0</integer>
			<integer>3</integer>
			<string>OPEN_OTHER</string>
			<integer>0</integer>
			<integer>4</integer>
			<string>RUN_SCRIPT</string>
		</array>
	</dict>
	<key>com.apple.digihub.dvddvcamera.appeared</key>
	<dict>
		<key>asktext</key>
		<string>BLANK_MINI_DVD</string>
		<key>findername</key>
		<string>UNTITLED_DVD</string>
		<key>icon</key>
		<integer>1685480567</integer>
		<key>menu</key>
		<array>
			<integer>104</integer>
			<string>OPEN_IMOVIE</string>
			<integer>105</integer>
			<string>OPEN_DVD_PLAYER</string>
			<integer>0</integer>
			<integer>3</integer>
			<string>OPEN_OTHER</string>
			<integer>0</integer>
			<integer>4</integer>
			<string>RUN_SCRIPT</string>
		</array>
	</dict>
</dict>
</plist>
