<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleGVAHEVCEncoder</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleGVAHEVCEncoder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleGVAHEVCEncoder</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>86.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>86.1</string>
	<key>CMClassImplementations</key>
	<array>
		<dict>
			<key>CMClassID</key>
			<string>com.apple.videotoolbox.videoencoder</string>
			<key>CMClassImplementationID</key>
			<string>com.apple.videotoolbox.videoencoder.hevc.gva</string>
			<key>CMClassImplementationName</key>
			<string>HEVC HW Encoder</string>
			<key>CMClassImplementationVersion</key>
			<integer>1</integer>
			<key>CMCopyright</key>
			<string>Copyright (c) 2016-2017 Apple Inc. All rights reserved.</string>
			<key>CMDependencies</key>
			<dict>
				<key>IORegistryRequiredKey</key>
				<string>IOGVAHEVCEncode</string>
			</dict>
			<key>CMExecutableArchitectures</key>
			<array>
				<string>x86_64</string>
				<string>i386</string>
			</array>
			<key>CMFactoryFunction</key>
			<string>HEVCEncoder_CreateInstance</string>
			<key>CMManufacturer</key>
			<string>Apple</string>
			<key>CMMatchingInfo</key>
			<dict>
				<key>VTCodecType</key>
				<string>hvc1</string>
				<key>VTIORegistryCapabilitiesKey</key>
				<string>IOGVAHEVCEncodeCapabilities</string>
				<key>VTIsHardwareAccelerated</key>
				<true/>
			</dict>
			<key>VTCodecName</key>
			<string>HEVC</string>
			<key>VTEncoderName</key>
			<string>Apple HEVC (HW)</string>
		</dict>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016-2017 Apple. All rights reserved.</string>
	<key>System Support</key>
	<dict>
		<key>Mac-27AD2F918AE68F61</key>
		<dict>
			<key>vendor8bit</key>
			<integer>1</integer>
		</dict>
		<key>Mac-7BA5B2D9E42DDD94</key>
		<dict>
			<key>vendor8bit</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
