<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4d1ede05-38c7-4a6a-9cc6-4bcca8b38c14:IASCurrentInstallPhase</key>
	<string>Boot 1</string>
	<key>ALS_Data</key>
	<data>
	hs2JigAAAAA=
	</data>
	<key>BootCampProcessorPstates</key>
	<data>
	CwA=
	</data>
	<key>IONVRAM-SYNCNOW-PROPERTY</key>
	<data>
	SU9OVlJBTS1TWU5DTk9XLVBST1BFUlRZ
	</data>
	<key>OTA-sealvolume-metrics</key>
	<string>dev=/dev/disk1s5 vers=1934.141.2.701.1 result=0 num_src=2214041 num_dst=3825254 Inode:502390 Xattr:467350 SiblingLink:99404 DstreamID:124980 FileExtent:347705 DirRecord:572808 SiblingMap:99404 FileInfo:1958918 fl=0 time=2</string>
	<key>PSFU_STATUS</key>
	<data>
	Tk9VUEQ=
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>SystemAudioVolumeSaved</key>
	<data>
	Xw==
	</data>
	<key>auto-boot</key>
	<string>true</string>
	<key>backlight-level</key>
	<data>
	+gM=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	kIKsBQAAAAAwFJgBp69rFg==
	</data>
	<key>bluetoothExternalDongleFailed</key>
	<data>
	AA==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	kIKsBQAAMBSYAaevaxY=
	</data>
	<key>current-network</key>
	<data>
	AAAAAAAAAAAAAAAABwAAAENQTFdJRkkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjI5NDc1NEIwLTdD
	RUQtNEIzNy1BQkY4LTZBMjBENzNDRkVBODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlAxMjEuZmQ8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjM5RTM5MEY0LTky
	MDYtNDI1Mi1BMzIwLTQ0MUE0QUJGNzA1ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEIyODIxMTExLTI0
	MUMtMzFENC04NDAyLTBBMzYwRjE1MjdGRVxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4=
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAAAw
	Iy4dAAAAAG+1mCDiUFVIjoYGa7EvntkCAgQDJAD3/HS+fAvzSZFHAfQELmhC9JDjOQaS
	UkKjIEQaSr9wWAQEmgBcAEIAMgA4ADIAMQAxADEAMQAtADIANAAxAEMALQAzADEARAA0
	AC0AOAA0ADAAMgAtADAAQQAzADYAMABGADEANQAyADcARgBFAFwAUwB5AHMAdABlAG0A
	XABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0
	AC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-backup-boot-device-data-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAAAw
	IzIdAAAAAKRtCchMradLpZJi9yLkIbECAgQDJAD3/HS+fAvzSZFHAfQELmhCOaXxJd+P
	BkOquHacIfvB2wQEmgBcADkAOQA3ADcAMwAyADcAMQAtADYANABDADIALQAzAEEAQgBF
	AC0AOABCADEANAAtAEQAQwA2ADUAMgA2ADYAMgBEADQARQAwAFwAUwB5AHMAdABlAG0A
	XABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0
	AC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;39E390F4-9206-4252-A320-441A4ABF7058&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk1s2&lt;/string&gt;&lt;/dict&gt;&lt;dict&gt;&lt;key&gt;IOEFIDevicePathType&lt;/key&gt;&lt;string&gt;MediaFilePath&lt;/string&gt;&lt;key&gt;Path&lt;/key&gt;&lt;string&gt;\B2821111-241C-31D4-8402-0A360F1527FE\System\Library\CoreServices\boot.efi&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAAAw
	Iy4dAAAAAG+1mCDiUFVIjoYGa7EvntkCAgQDJAD3/HS+fAvzSZFHAfQELmhC9JDjOQaS
	UkKjIEQaSr9wWAQEmgBcAEIAMgA4ADIAMQAxADEAMQAtADIANAAxAEMALQAzADEARAA0
	AC0AOAA0ADAAMgAtADAAQQAzADYAMABGADEANQAyADcARgBFAFwAUwB5AHMAdABlAG0A
	XABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0
	AC4AZQBmAGkAAAB//wQA
	</data>
	<key>fm-activation-locked</key>
	<data>
	Tk8=
	</data>
	<key>fm-spstatus</key>
	<data>
	WUVT
	</data>
	<key>fmm-computer-name</key>
	<data>
	RHIu4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>multiupdater-retry-limits</key>
	<data>
	AQAAAAAAAAA=
	</data>
	<key>multiupdater-state</key>
	<data>
	AQAAAAAAAAAAAAAA
	</data>
	<key>ota-breadcrumbs</key>
	<string>2:</string>
	<key>ota-controllerVersion</key>
	<data>
	U1VNYWNDb250cm9sbGVyLTIuNAA=
	</data>
	<key>ota-initial-breadcrumbs</key>
	<string>2:</string>
	<key>ota-original-os-version</key>
	<data>
	MjFIMTEyMwA=
	</data>
	<key>ota-os-version</key>
	<data>
	MjFIMTMyMAA=
	</data>
	<key>ota-outcome</key>
	<string>success</string>
	<key>ota-result</key>
	<string>success</string>
	<key>ota-step-ids</key>
	<string>{}</string>
	<key>ota-step-monitor</key>
	<string>{0x11010207:"wifexited"}</string>
	<key>ota-step-names</key>
	<string>{}</string>
	<key>ota-step-uptime</key>
	<string>136</string>
	<key>ota-step-user-progress</key>
	<string>100</string>
	<key>ota-submission-url</key>
	<data>
	aHR0cHM6Ly94cC5hcHBsZS5jb20vcmVwb3J0AA==
	</data>
	<key>ota-updateType</key>
	<data>
	aW5jcmVtZW50YWwA
	</data>
	<key>ota-uuid</key>
	<data>
	NkNCREZBQUQtRkMzOC00QkZCLUIyNkEtMzA1MzVGNzFFMkU3AA==
	</data>
	<key>preferred-count</key>
	<data>
	AQAAAAAAAAA=
	</data>
	<key>preferred-networks</key>
	<data>
	AAAAAAAAAAAAAAAABwAAAENQTFdJRkkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
	<key>prev-lang-diags:kbd</key>
	<data>
	ZW4A
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>previous-system-uuid</key>
	<data>
	QjI4MjExMTEtMjQxQy0zMUQ0LTg0MDItMEEzNjBGMTUyN0ZF
	</data>
	<key>ramrod-file-only-vars</key>
	<dict>
		<key>4d1ede05-38c7-4a6a-9cc6-4bcca8b38c14:IASCurrentInstallPhase</key>
		<string>Boot 1</string>
		<key>OTA-sealvolume-metrics</key>
		<string>dev=/dev/disk1s5 vers=1934.141.2.701.1 result=0 num_src=2214041 num_dst=3825254 Inode:502390 Xattr:467350 SiblingLink:99404 DstreamID:124980 FileExtent:347705 DirRecord:572808 SiblingMap:99404 FileInfo:1958918 fl=0 time=2</string>
		<key>auto-boot</key>
		<string>true</string>
		<key>ota-breadcrumbs</key>
		<string>2:</string>
		<key>ota-initial-breadcrumbs</key>
		<string>2:</string>
		<key>ota-outcome</key>
		<string>success</string>
		<key>ota-result</key>
		<string>success</string>
		<key>ota-step-ids</key>
		<string>{}</string>
		<key>ota-step-monitor</key>
		<string>{0x11010207:"wifexited"}</string>
		<key>ota-step-names</key>
		<string>{}</string>
		<key>ota-step-uptime</key>
		<string>136</string>
		<key>ota-step-user-progress</key>
		<string>100</string>
		<key>ramrod-nvram-session</key>
		<string>1749844435</string>
		<key>ramrod-nvram-shadow-path</key>
		<string>/mnt2/nvram.plist</string>
	</dict>
	<key>ramrod-nvram-sequence</key>
	<data>
	MTc0
	</data>
	<key>ramrod-nvram-session</key>
	<string>1749844435</string>
	<key>ramrod-nvram-shadow-path</key>
	<string>/mnt2/nvram.plist</string>
	<key>ramrod-nvram-shadow-vars</key>
	<dict>
		<key>ALS_Data</key>
		<data>
		hs2JigAAAAA=
		</data>
		<key>BootCampProcessorPstates</key>
		<data>
		CwA=
		</data>
		<key>IONVRAM-SYNCNOW-PROPERTY</key>
		<data>
		SU9OVlJBTS1TWU5DTk9XLVBST1BFUlRZ
		</data>
		<key>OTA-sealvolume-metrics</key>
		<data>
		ZGV2PS9kZXYvZGlzazFzNSB2ZXJzPTE5MzQuMTQxLjIuNzAxLjEgcmVzdWx0
		PTAgbnVtX3NyYz0yMjE0MDQxIG51bV9kc3Q9MzgyNTI1NCBJbm9kZTo1MDIz
		OTAgWGF0dHI6NDY3MzUwIFNpYmxpbmdMaW5rOjk5NDA0IERzdHI=
		</data>
		<key>PSFU_STATUS</key>
		<data>
		Tk9VUEQ=
		</data>
		<key>SystemAudioVolume</key>
		<data>
		gA==
		</data>
		<key>SystemAudioVolumeDB</key>
		<data>
		8A==
		</data>
		<key>SystemAudioVolumeSaved</key>
		<data>
		Xw==
		</data>
		<key>auto-boot</key>
		<data>
		dHJ1ZQ==
		</data>
		<key>backlight-level</key>
		<data>
		+gM=
		</data>
		<key>bluetoothActiveControllerInfo</key>
		<data>
		kIKsBQAAAAAwFJgBp69rFg==
		</data>
		<key>bluetoothExternalDongleFailed</key>
		<data>
		AA==
		</data>
		<key>bluetoothInternalControllerInfo</key>
		<data>
		kIKsBQAAMBSYAaevaxY=
		</data>
		<key>current-network</key>
		<data>
		AAAAAAAAAAAAAAAABwAAAENQTFdJRkkAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAA
		</data>
		<key>efi-apple-recovery</key>
		<data>
		PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Q
		cm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtl
		eT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48
		c3RyaW5nPjI5NDc1NEIwLTdDRUQtNEIzNy1BQkY4LTZBMjBENzNDRkVBODwv
		c3RyaW5nPjwvZGljdD48L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+
		PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9F
		RklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0aDwv
		c3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxGSVJN
		V0FSRVxNQlAxMjEuZmQ8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
		</data>
		<key>efi-backup-boot-device</key>
		<data>
		PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Q
		cm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtl
		eT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48
		c3RyaW5nPjM5RTM5MEY0LTkyMDYtNDI1Mi1BMzIwLTQ0MUE0QUJGNzA1ODwv
		c3RyaW5nPjwvZGljdD48L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+
		PHN0cmluZz5kaXNrMXMyPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9F
		RklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0aDwv
		c3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEIyODIxMTExLTI0MUMt
		MzFENC04NDAyLTBBMzYwRjE1MjdGRVxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vy
		dmljZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4=
		</data>
		<key>efi-backup-boot-device-data</key>
		<data>
		AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgACAAAAKEAG
		AAAAAAAwIy4dAAAAAG+1mCDiUFVIjoYGa7EvntkCAgQDJAD3/HS+fAvzSZFH
		AfQELmhC9JDjOQaSUkKjIEQaSr9wWAQEmgBcAEIAMgA4ADIAMQAxADEAMQAt
		ADIANAAxAEMALQAzADEARAA0AC0AOAA0ADAAMgAtADAAQQAzADYAMABGADEA
		NQAyADcARgBFAFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBv
		AHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB//wQA
		</data>
		<key>efi-backup-boot-device-data-data</key>
		<data>
		AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgACAAAAKEAG
		AAAAAAAwIzIdAAAAAKRtCchMradLpZJi9yLkIbECAgQDJAD3/HS+fAvzSZFH
		AfQELmhCOaXxJd+PBkOquHacIfvB2wQEmgBcADkAOQA3ADcAMwAyADcAMQAt
		ADYANABDADIALQAzAEEAQgBFAC0AOABCADEANAAtAEQAQwA2ADUAMgA2ADYA
		MgBEADQARQAwAFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBv
		AHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB//wQA
		</data>
		<key>efi-boot-device</key>
		<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;39E390F4-9206-4252-A320-441A4ABF7058&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk1s2&lt;/string&gt;&lt;/dict&gt;&lt;dict&gt;&lt;key&gt;IOEFIDevicePathType&lt;/key&gt;&lt;string&gt;MediaFilePath&lt;/string&gt;&lt;key&gt;Path&lt;/key&gt;&lt;string&gt;\B2821111-241C-31D4-8402-0A360F1527FE\System\Library\CoreServices\boot.efi&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
		<key>efi-boot-device-data</key>
		<data>
		AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgACAAAAKEAG
		AAAAAAAwIy4dAAAAAG+1mCDiUFVIjoYGa7EvntkCAgQDJAD3/HS+fAvzSZFH
		AfQELmhC9JDjOQaSUkKjIEQaSr9wWAQEmgBcAEIAMgA4ADIAMQAxADEAMQAt
		ADIANAAxAEMALQAzADEARAA0AC0AOAA0ADAAMgAtADAAQQAzADYAMABGADEA
		NQAyADcARgBFAFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBv
		AHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB//wQA
		</data>
		<key>fm-activation-locked</key>
		<data>
		Tk8=
		</data>
		<key>fm-spstatus</key>
		<data>
		WUVT
		</data>
		<key>fmm-computer-name</key>
		<data>
		RHIu4oCZcyBNYWNCb29rIFBybw==
		</data>
		<key>multiupdater-retry-limits</key>
		<data>
		AQAAAAAAAAA=
		</data>
		<key>multiupdater-state</key>
		<data>
		AQAAAAAAAAAAAAAA
		</data>
		<key>ota-breadcrumbs</key>
		<data>
		Mjo=
		</data>
		<key>ota-controllerVersion</key>
		<data>
		U1VNYWNDb250cm9sbGVyLTIuNAA=
		</data>
		<key>ota-original-os-version</key>
		<data>
		MjFIMTEyMwA=
		</data>
		<key>ota-os-version</key>
		<data>
		MjFIMTMyMAA=
		</data>
		<key>ota-outcome</key>
		<data>
		c3VjY2Vzcw==
		</data>
		<key>ota-result</key>
		<data>
		c3VjY2Vzcw==
		</data>
		<key>ota-submission-url</key>
		<data>
		aHR0cHM6Ly94cC5hcHBsZS5jb20vcmVwb3J0AA==
		</data>
		<key>ota-updateType</key>
		<data>
		aW5jcmVtZW50YWwA
		</data>
		<key>ota-uuid</key>
		<data>
		NkNCREZBQUQtRkMzOC00QkZCLUIyNkEtMzA1MzVGNzFFMkU3AA==
		</data>
		<key>preferred-count</key>
		<data>
		AQAAAAAAAAA=
		</data>
		<key>preferred-networks</key>
		<data>
		AAAAAAAAAAAAAAAABwAAAENQTFdJRkkAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAA
		</data>
		<key>prev-lang-diags:kbd</key>
		<data>
		ZW4A
		</data>
		<key>prev-lang:kbd</key>
		<data>
		ZW46MA==
		</data>
		<key>previous-system-uuid</key>
		<data>
		QjI4MjExMTEtMjQxQy0zMUQ0LTg0MDItMEEzNjBGMTUyN0ZF
		</data>
		<key>ramrod-nvram-sequence</key>
		<data>
		MTc0
		</data>
		<key>ramrod-nvram-session</key>
		<data>
		MTc0OTg0NDQzNQ==
		</data>
		<key>ramrod-nvram-shadow-path</key>
		<data>
		L21udDIvbnZyYW0ucGxpc3Q=
		</data>
		<key>target-uuid</key>
		<data>
		NTZBRUFDRjUtNEM1QS00NzFELTg3OTktNDE2REU1OTA5NjVBAA==
		</data>
	</dict>
	<key>target-uuid</key>
	<data>
	NTZBRUFDRjUtNEM1QS00NzFELTg3OTktNDE2REU1OTA5NjVBAA==
	</data>
</dict>
</plist>
