<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>6AE058E4-4525-11ED-8FF0-ED3F4229A8B9</string>
	<key>ProductBuildVersion</key>
	<string>20K67</string>
	<key>ProductCopyright</key>
	<string>1983-2022 Apple Inc.</string>
	<key>ProductName</key>
	<string>Apple TVOS</string>
	<key>ProductVersion</key>
	<string>16.1</string>
</dict>
</plist>
