<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientIdentifier</key>
	<data>
	AZgBp69rFQ==
	</data>
	<key>IPAddress</key>
	<string>192.168.1.97</string>
	<key>LeaseLength</key>
	<integer>86400</integer>
	<key>LeaseStartDate</key>
	<date>2026-07-12T14:02:10Z</date>
	<key>PacketData</key>
	<data>
	AgEGAN6NznQAAgAAAAAAAMCoAWHAqAEBAAAAAJgBp69rFQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABjglNjNQEFNgTAqAEBMwQAAVGA
	OgQAAKjAOwQAASdQAQT///8AHATAqAH/Dw9hdHR3aWZpLm1hbmFnZXIGBMCoAQEDBMCo
	AQFkBjwtMDU+NX0dAAAN6RgEBkI0RUVCNAULVjFGM1EwMDE1NzQGATL/
	</data>
	<key>RouterHardwareAddress</key>
	<data>
	DjPtyx1V
	</data>
	<key>RouterIPAddress</key>
	<string>192.168.1.1</string>
	<key>SSID</key>
	<string>LaBoulangerie</string>
</dict>
</plist>
