<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.Portfolio_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.Portfolio_Preview</string>
	<key>catalogVersion</key>
	<integer>13</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:35:40Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>Portfolio_D4C2134E-5293-4129-A2DC-65D24EB466FF</string>
		<string>Portfolio_4B7A2616-8D28-4AFD-AD2D-D3C119A7AA2B</string>
		<string>PortfolioLandscape_CE4BA6CF-E039-406C-B2DA-2C74F3E26407</string>
		<string>Portfolio_553C74F7-A829-485F-B018-914AF70FC50B</string>
		<string>Portfolio_A4687729-6266-4C5C-8C81-B49A6EF345F1</string>
		<string>Portfolio_0CA651FB-51B5-4A92-8C8F-2DD96C4F1D92</string>
		<string>PortfolioLandscape_9DF2FDFA-3A7C-4122-B9D8-1DADA77BBFA1</string>
		<string>Portfolio_4CC152F1-18C6-4A02-88CB-9641F7EC7E2B</string>
		<string>Portfolio_7F1F536D-7273-4525-9BF4-E74070115DA1</string>
		<string>Portfolio_F8A737EB-B144-48BA-AF6B-AE7E1627EEC7</string>
		<string>PortfolioLandscape_4F7D51AF-4FDA-48C2-8D7E-33132031C44C</string>
		<string>Portfolio_A6319746-093E-41B0-A5C2-4FCED4928D41</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
