<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>__installState</key>
		<string>Installed</string>
		<key>__isSoftwareUpdate</key>
		<true/>
		<key>installDate</key>
		<date>2025-06-13T19:37:59Z</date>
		<key>productKey</key>
		<string>012-92431</string>
		<key>release-notes</key>
		<string></string>
		<key>title</key>
		<string>Command Line Tools for Xcode</string>
		<key>version</key>
		<string>14.2</string>
	</dict>
	<dict>
		<key>__installState</key>
		<string>Installed</string>
		<key>__isSoftwareUpdate</key>
		<true/>
		<key>installDate</key>
		<date>2025-06-13T19:53:15Z</date>
		<key>productKey</key>
		<string>062-47822</string>
		<key>release-notes</key>
		<string></string>
		<key>title</key>
		<string>Safari</string>
		<key>version</key>
		<string>17.6</string>
	</dict>
	<dict>
		<key>__isMobileSoftwareUpdate</key>
		<true/>
		<key>__isSoftwareUpdate</key>
		<true/>
		<key>installDate</key>
		<date>2025-06-13T19:53:37Z</date>
		<key>productKey</key>
		<string>MSU_UPDATE_21H1320_patch_12.7.6</string>
		<key>release-notes</key>
		<string></string>
		<key>title</key>
		<string>macOS Monterey 12.7.6</string>
		<key>version</key>
		<string>12.7.6</string>
	</dict>
</array>
</plist>
