<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cache</key>
	<array>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					ymEaEROGRd3L6f6LvzoqBbWvonJi/cVzUox0
					tXF6jYc=
					</data>
					<key>key</key>
					<data>
					xe7pfiLDhgvEU9RYA4joX5w5UVhO5Ir2Wjxr
					An4rqos=
					</data>
				</dict>
			</array>
			<key>servers</key>
			<array/>
			<key>validUntil</key>
			<date>2026-05-27T07:04:13Z</date>
		</dict>
	</array>
	<key>dnsResults</key>
	<array>
		<dict>
			<key>favoredServerRanges</key>
			<array/>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					NoHqP1w7r/yuLldSgwYV92mC4njeo7cZfLY1
					w9NAkl4=
					</data>
					<key>key</key>
					<data>
					gQh90Hwa7FI6e29h1WYmIVaI14Sb/NMgqiHP
					ZztfSy4=
					</data>
				</dict>
			</array>
			<key>publicAddressRanges</key>
			<array/>
			<key>validUntil</key>
			<date>2026-05-27T07:04:12Z</date>
		</dict>
	</array>
	<key>serversRecentlySeen</key>
	<array>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					bfga0pViz014PFI9AU7rZikF0WB3/2fmE9Km
					5TaADnY=
					</data>
					<key>key</key>
					<data>
					oKMNvxiPhuUsKrBI3mJdK66Ae2Z2bZCem7E2
					NLZTjRQ=
					</data>
				</dict>
				<dict>
					<key>digest</key>
					<data>
					wVl/bDJfGIeSGTwi3CD48OLaQTCdM9E1hQpO
					fFH9w9w=
					</data>
					<key>key</key>
					<data>
					Afe/lx4JMG0/tDK9zcJuw6qLNwKbr3NKAUjO
					39jWaKQ=
					</data>
				</dict>
				<dict>
					<key>digest</key>
					<data>
					xK28g5rm0Ji8UPqEmyCfAwEkeN/TTRCnFGQj
					FvjUcwQ=
					</data>
					<key>key</key>
					<data>
					U8UUC1GqwWySli09DfiE5/BP/A5b5BWX8OMp
					BBv5E9U=
					</data>
				</dict>
			</array>
			<key>recentlySeen</key>
			<false/>
			<key>validUntil</key>
			<date>2026-05-27T07:04:12Z</date>
		</dict>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					wv+rG34CTMOaRNX+bpT0IFyYiRpL+TCGQOYp
					1Bo0xG0=
					</data>
					<key>key</key>
					<data>
					bRXA5SJoTBjm4M3rXMF8Zh9E3yy6bTDs7l9L
					EIVnAVo=
					</data>
				</dict>
			</array>
			<key>recentlySeen</key>
			<false/>
			<key>validUntil</key>
			<date>2026-05-27T07:04:13Z</date>
		</dict>
	</array>
	<key>version</key>
	<integer>10</integer>
</dict>
</plist>
