<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActualMinimumSystemPartition</key>
	<integer>15278</integer>
	<key>AssetType</key>
	<string>com.apple.MobileAsset.MacSoftwareUpdate</string>
	<key>AutoUpdate</key>
	<true/>
	<key>BridgeVersionInfo</key>
	<dict>
		<key>BridgeBuildGroup</key>
		<string>0</string>
		<key>BridgeProductBuildVersion</key>
		<string>21P6074</string>
		<key>BridgeVersion</key>
		<string>21.16.6074.0.0</string>
		<key>IsSeed</key>
		<string>NO</string>
		<key>SEPEpoch</key>
		<dict>
			<key>Major</key>
			<integer>1</integer>
			<key>Minor</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Build</key>
	<string>21H1320</string>
	<key>DataTemplateSize</key>
	<integer>755581384</integer>
	<key>InstallationSize</key>
	<string>6174385924</string>
	<key>InstallationSize-Snapshot</key>
	<string>6174385924</string>
	<key>MinimumSystemPartition</key>
	<integer>0</integer>
	<key>OSVersion</key>
	<string>12.7.6</string>
	<key>PrerequisiteBuild</key>
	<string>21H1123</string>
	<key>PrerequisiteOSVersion</key>
	<string>12.7.4</string>
	<key>Ramp</key>
	<false/>
	<key>RescueMinimumSystemPartition</key>
	<integer>15262</integer>
	<key>RestoreVersion</key>
	<string>21.8.320.1.0,0</string>
	<key>RestoreVersionInfo</key>
	<dict>
		<key>RestoreBuildGroup</key>
		<string>0</string>
		<key>RestoreLongVersion</key>
		<string>21.8.320.1.0,0</string>
		<key>RestoreVersion</key>
		<string>21.8.320.1.0</string>
	</dict>
	<key>SUConvReqd</key>
	<true/>
	<key>SUDocumentationID</key>
	<string>macOS1276RC</string>
	<key>SUInstallTonightEnabled</key>
	<true/>
	<key>SUMultiPassEnabled</key>
	<true/>
	<key>SUProductSystemName</key>
	<string>macOS</string>
	<key>SUPublisher</key>
	<string>Apple Inc.</string>
	<key>SupportedDeviceModels</key>
	<array>
		<string>Mac-E43C1C25D4880AD6</string>
	</array>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>1024</key>
		<integer>1280</integer>
		<key>128</key>
		<integer>1280</integer>
		<key>16</key>
		<integer>160</integer>
		<key>256</key>
		<integer>1280</integer>
		<key>32</key>
		<integer>320</integer>
		<key>512</key>
		<integer>1280</integer>
		<key>64</key>
		<integer>640</integer>
		<key>768</key>
		<integer>1280</integer>
		<key>8</key>
		<integer>80</integer>
	</dict>
	<key>SystemVolumeSealingOverhead</key>
	<integer>255</integer>
	<key>TargetUpdateBridgeVersion</key>
	<string>21.16.6074.0.0,0</string>
	<key>UpdateUUID</key>
	<string>6CBDFAAD-FC38-4BFB-B26A-30535F71E2E7</string>
	<key>_CompressionAlgorithm</key>
	<string>zip</string>
	<key>_DownloadSize</key>
	<integer>1601776897</integer>
	<key>_EventRecordingServiceURL</key>
	<string>https://xp.apple.com/report</string>
	<key>_IsZipStreamable</key>
	<true/>
	<key>_Measurement</key>
	<data>
	/ESOb7wMBnpPGel04Yh9b8/99oQ=
	</data>
	<key>_MeasurementAlgorithm</key>
	<string>SHA-1</string>
	<key>_UnarchivedSize</key>
	<integer>2186663936</integer>
	<key>_UpdateType</key>
	<string>Minor</string>
	<key>__AssetDefaultGarbageCollectionBehavior</key>
	<string>NeverCollected</string>
	<key>__BaseURL</key>
	<string>https://updates.cdn-apple.com/2024SpringFCS/patches/062-03909/8A8F07D4-616A-4188-9F00-37FF7425F122/</string>
	<key>__CanUseLocalCacheServer</key>
	<true/>
	<key>__HideInstallAlert</key>
	<false/>
	<key>__RelativePath</key>
	<string>com_apple_MobileAsset_MacSoftwareUpdate/d39c4da336d64a4dafef98a1daf7f21a22875797.zip</string>
	<key>__msu_brain-location_key</key>
	<string>/System/Library/AssetsV2/com_apple_MobileAsset_MobileSoftwareUpdate_MacUpdateBrain/6a78780d0b1631664b522be67932802dcc734ea2.asset/AssetData</string>
</dict>
</plist>
