<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExtensionToUTI</key>
	<dict>
		<key>txt</key>
		<string>public.plain-text</string>
		<key>pages</key>
		<string>com.apple.iwork.pages.sffpages</string>
		<key>numbers</key>
		<string>com.apple.iwork.numbers.sffnumbers</string>
		<key>rtf</key>
		<string>public.rtf</string>
		<key>rtfd</key>
		<string>dyn.ah62d4rv4ge81e7dgqu</string>
		<key>pdf</key>
		<string>com.adobe.pdf</string>
		<key>jpg</key>
		<string>public.jpeg</string>
		<key>jpeg</key>
		<string>public.jpeg</string>
		<key>gif</key>
		<string>com.compuserve.gif</string>
		<key>giff</key>
		<string>dyn.ah62d4rv4ge80s4pgq2</string>
		<key>mov</key>
		<string>com.apple.quicktime-movie</string>
		<key>m4v</key>
		<string>com.apple.m4v-video</string>
		<key>mp3</key>
		<string>public.mp3</string>
		<key>m4a</key>
		<string>com.apple.m4a-audio</string>
		<key>png</key>
		<string>public.png</string>
		<key>heic</key>
		<string>public.heic</string>
		<key>nef</key>
		<string>com.nikon.raw-image</string>
		<key>tiff</key>
		<string>public.tiff</string>
		<key>dmg</key>
		<string>com.apple.disk-image-udif</string>
		<key>zip</key>
		<string>public.zip-archive</string>
		<key>html</key>
		<string>public.html</string>
		<key>pkg</key>
		<string>com.apple.installer-package-archive</string>
		<key>epub</key>
		<string>org.idpf.epub-container</string>
		<key>doc</key>
		<string>com.microsoft.word.doc</string>
		<key>xlsx</key>
		<string>org.openxmlformats.spreadsheetml.sheet</string>
	</dict>
    <key>UTIToAssetName</key>
    <dict>
        <key>public.plain-text</key>
        <string>public.plain-text</string>
        <key>com.apple.iwork.pages.sffpages</key>
        <string>com.apple.iwork.pages.sffpages</string>
        <key>com.apple.iwork.numbers.sffnumbers</key>
        <string>com.apple.iwork.numbers.sffnumbers</string>
        <key>public.rtf</key>
        <string>public.rtf</string>
        <key>dyn.ah62d4rv4ge81e7dgqu</key>
        <string>dyn.ah62d4rv4ge81e7dgqu</string>
        <key>com.adobe.pdf</key>
        <string>com.adobe.pdf</string>
        <key>public.jpeg</key>
        <string>public.jpeg</string>
        <key>public.jpeg</key>
        <string>public.jpeg</string>
        <key>com.compuserve.gif</key>
        <string>com.compuserve.gif</string>
        <key>dyn.ah62d4rv4ge80s4pgq2</key>
        <string>dyn.ah62d4rv4ge80s4pgq2</string>
        <key>com.apple.quicktime-movie</key>
        <string>com.apple.quicktime-movie</string>
        <key>com.apple.m4v-video</key>
        <string>com.apple.m4v-video</string>
        <key>public.mp3</key>
        <string>public.mp3</string>
        <key>com.apple.m4a-audio</key>
        <string>com.apple.m4a-audio</string>
        <key>public.png</key>
        <string>public.png</string>
        <key>public.heic</key>
        <string>public.heic</string>
        <key>com.nikon.raw-image</key>
        <string>com.nikon.raw-image</string>
        <key>public.tiff</key>
        <string>public.tiff</string>
        <key>com.apple.disk-image-udif</key>
        <string>com.apple.disk-image-udif</string>
        <key>public.zip-archive</key>
        <string>public.zip-archive</string>
        <key>public.html</key>
        <string>public.html</string>
        <key>com.apple.installer-package-archive</key>
        <string>com.apple.installer-package-archive</string>
        <key>org.idpf.epub-container</key>
        <string>org.idpf.epub-container</string>
        <key>com.microsoft.word.doc</key>
        <string>com.microsoft.word.doc</string>
        <key>org.openxmlformats.spreadsheetml.sheet</key>
        <string>org.openxmlformats.spreadsheetml.sheet</string>
    </dict>
</dict>
</plist>
