<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TCIM_Extension</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0, Copyright © 1997-2013 Apple Inc. All Rights Reserved</string>
	<key>CFBundleHelpBookFolder</key>
	<string>ChineseIM.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.ChineseIM.help</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.inputmethod.TCIM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>104</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>496</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.TCIM.Cangjie</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>倉頡</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.Cangjie</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>C</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>cangjie.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>cangjie.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.apple.inputmethod.TCIM.Jianyi</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>速成</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.Jianyi</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>S</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>sucheng.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>sucheng.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.apple.inputmethod.TCIM.Pinyin</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>拼音</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.Pinyin</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>P</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>pinyin.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>pinyin.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.apple.inputmethod.TCIM.Shuangpin</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>雙拼</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.Shuangpin</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>D</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>shuangpinTC.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>shuangpinTC.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.apple.inputmethod.TCIM.WBH</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>筆畫</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.WBH</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>H</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>strokeTC.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>strokeTC.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.apple.inputmethod.TCIM.Zhuyin</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>注音</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.Zhuyin</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>Z</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>zhuyin.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>zhuyin.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.apple.inputmethod.TCIM.ZhuyinEten</key>
			<dict>
				<key>CFAppleHelpAnchor</key>
				<string>cim21aa5fa50</string>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>注音</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.TCIM.ZhuyinEten</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>E</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>zhuyin.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>zhuyin.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.TCIM.Zhuyin</string>
			<string>com.apple.inputmethod.TCIM.Pinyin</string>
			<string>com.apple.inputmethod.TCIM.Shuangpin</string>
			<string>com.apple.inputmethod.TCIM.Cangjie</string>
			<string>com.apple.inputmethod.TCIM.Jianyi</string>
			<string>com.apple.inputmethod.TCIM.WBH</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>HPDHelpProjectIdentifier</key>
	<string>chinese-input-method</string>
	<key>IMKExtensionDelegateClass</key>
	<string>CIMExtensionDelegate</string>
	<key>InputMethodConnectionName</key>
	<string>TCIM_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>TCIMInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>TCIMInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.textinputmethod-services</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ©1997-2013, Apple Inc. All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SCIMHelpAppleTitle</key>
	<string>中文输入法帮助</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.apple.inputmethod.TCIM</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>TISParticipatesInTouchBar</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>TCIM.tiff</string>
</dict>
</plist>
