<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.theme.Portfolio</string>
	<key>CatalogVersion</key>
	<integer>13</integer>
	<key>CompileDate</key>
	<date>2016-12-08T19:13:00Z</date>
	<key>Portfolio.keywords</key>
	<array>
		<string></string>
	</array>
	<key>Portfolio.products</key>
	<array>
		<string>SquareHardcoverBook</string>
		<string>SquareMediumHardcoverBook</string>
		<string>SquareMediumSoftcoverBook</string>
	</array>
	<key>PortfolioLandscape.keywords</key>
	<array>
		<string></string>
	</array>
	<key>PortfolioLandscape.products</key>
	<array>
		<string>ExtraLargeHardcoverBook</string>
		<string>HardcoverBook</string>
		<string>MediumSoftcoverBook</string>
	</array>
	<key>ThemeIdentifiers</key>
	<array>
		<string>Portfolio</string>
		<string>PortfolioLandscape</string>
	</array>
</dict>
</plist>
