<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.YearInReview-FoldedCard_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.YearInReview-FoldedCard_Preview</string>
	<key>catalogVersion</key>
	<integer>8</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:42:49Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>YearInReview-FoldedCard-V_71A23760-213A-43D9-B1D8-DB393664E513</string>
		<string>YearInReview-FoldedCard_95F7F3D3-DBE7-437E-BD86-9FAB1C322456</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
