<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileDevices-0001</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MobileDevices-0001</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1497.1.14.101.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A6162i</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2411</string>
	<key>DTSDKName</key>
	<string>macosx11.0internal</string>
	<key>DTXcode</key>
	<string>1400</string>
	<key>DTXcodeBuild</key>
	<string>14A6162i</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Apple Inc. All rights reserved.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.homebuttonless-iphone</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeSymbolName</key>
				<string>d7x</string>
				<key>UTTypeSymbolVariantNames</key>
				<dict>
					<key>landscape</key>
					<string>d7x.landscape</string>
					<key>radio_leftright</key>
					<string>d7x.radiowaves.left.and.right</string>
					<key>slash</key>
					<string>d7x.slash</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.d7x-device</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-1.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D73AP</string>
					<string>iPhone15,2</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D73AP</string>
					<string>iPhone15,2</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-3.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D73AP</string>
					<string>iPhone15,2</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-17.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-17</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D73AP</string>
					<string>iPhone15,2</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro Max</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-1.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-max-1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D74AP</string>
					<string>iPhone15,3</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro Max</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-max-2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D74AP</string>
					<string>iPhone15,3</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro Max</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-3.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-max-3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D74AP</string>
					<string>iPhone15,3</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.d7x-device</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Pro Max</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-pro-17.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-pro-max-17</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D74AP</string>
					<string>iPhone15,3</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-1.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D27AP</string>
					<string>iPhone14,7</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D27AP</string>
					<string>iPhone14,7</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-6.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-6</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D27AP</string>
					<string>iPhone14,7</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-9.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-9</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D27AP</string>
					<string>iPhone14,7</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-17.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-17</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D27AP</string>
					<string>iPhone14,7</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Plus</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-1.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-plus-1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D28AP</string>
					<string>iPhone14,8</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Plus</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-plus-2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D28AP</string>
					<string>iPhone14,8</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Plus</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-6.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-plus-6</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D28AP</string>
					<string>iPhone14,8</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Plus</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-9.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-plus-9</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D28AP</string>
					<string>iPhone14,8</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.homebuttonless-iphone</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone 14 Plus</string>
			<key>UTTypeIconFile</key>
			<string>com.apple.iphone-14-17.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone-14-plus-17</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.device-model-code</key>
				<array>
					<string>D28AP</string>
					<string>iPhone14,8</string>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
