<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<installer-gui-script minSpecVersion="1">
    <options customize="never" hostArchitectures="i386,x86_64" type="config-data"/>
    <title>SU_TITLE</title>
    <script/>
    <volume-check script="VolumeCheck()"/>
    <installation-check script="InstallationCheck()"/>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="GatekeeperConfigData" start_selected="true" versStr="SU_VERS" description="SU_DESCRIPTION" title="Gatekeeper Configuration Data" visible="Script9(my.target.mountpoint)">
        <pkg-ref id="com.apple.pkg.GatekeeperConfigData.16U1471" auth="Root" packageIdentifier="com.apple.pkg.GatekeeperConfigData.16U1471">GatekeeperConfigData.pkg</pkg-ref>
    </choice>
    <script>
function InstallationCheck(prefix) {
	my.result.message = system.localizedString('ERROR_3491501876');
	if (!BundleCheck0("/")) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function BundleCheck0(prefix) {
	var bundle = system.files.bundleAtPath(prefix + '/private/var/db/gkopaque.bundle');
	if (!bundle) {
		return true;
	}
	var bundleKeyValue = bundle['CFBundleShortVersionString'];
	if (!bundleKeyValue) {
		return true;
	}
	if (system.compareVersions(bundleKeyValue, '140') &gt;= 0) {
		return false;
	}
	return true;
}
function VolumeCheck(prefix) {
	var myTargetSystemVersion = (my.target.systemVersion || system.files.plistAtPath(my.target.mountpoint + "/System/Library/CoreServices/SystemVersion.plist"));
	my.result.message = system.localizedString('ERROR_ABA5BBB51F');
	if (!LogicalOr1(my.target.mountpoint)) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function LogicalOr1(prefix) {
	if (PlistCheck2(prefix) || PlistCheck3(prefix) || PlistCheck4(prefix) || PlistCheck5(prefix) || PlistCheck6(prefix) || PlistCheck7(prefix) || PlistCheck8(prefix)) {
		return true;
	}
	return false;
}
function PlistCheck2(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.8.5') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.9') &gt;= 0) {
		return false;
	}
	return true;
}
function PlistCheck3(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.9.4') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.10') &gt;= 0) {
		return false;
	}
	return true;
}
function PlistCheck4(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.10') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.11') &gt;= 0) {
		return false;
	}
	return true;
}
function PlistCheck5(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.11') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.12') &gt;= 0) {
		return false;
	}
	return true;
}
function PlistCheck6(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.12') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.13') &gt;= 0) {
		return false;
	}
	return true;
}
function PlistCheck7(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.13') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.14') &gt;= 0) {
		return false;
	}
	return true;
}
function PlistCheck8(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.14') &lt; 0) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.15') &gt;= 0) {
		return false;
	}
	return true;
}
function Script9(prefix) {
	return !!(!my.target.receiptForIdentifier('com.apple.pkg.GatekeeperConfigData.16U1471'));
}
</script>
    <localization>
        <strings language="English">"SU_TITLE" = "Gatekeeper Configuration Data";
"SU_VERS" = "140";
"SU_SERVERCOMMENT" = "For Desktop and Server systems";
"SU_DESCRIPTION" = '&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;&lt;title&gt;&lt;/title&gt;&lt;/head&gt;
&lt;body&gt;&lt;/body&gt;
&lt;/html&gt;
';
</strings>
    </localization>
    <pkg-ref id="com.apple.pkg.GatekeeperConfigData.16U1471" installKBytes="6062" version="140.1.1527732447"/>
</installer-gui-script>