<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleEmbeddedUSBHost</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleEmbeddedUSBHost</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleEmbeddedUSBHost</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1313</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1313</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleEmbeddedUSBCardReader</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
			</dict>
			<key>idProduct</key>
			<integer>1826</integer>
			<key>idVendor</key>
			<integer>1507</integer>
		</dict>
		<key>AppleEmbeddedUSBCardReaderPrototype</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
			</dict>
			<key>idProduct</key>
			<integer>33795</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleEmbeddedUSBDeviceSupport</key>
		<dict>
			<key>IOClass</key>
			<string>AppleEmbeddedUSBDeviceSupport</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>USBSpeed</key>
			<integer>1</integer>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<string>*</string>
		</dict>
		<key>AppleUSB20AccessoryHub0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB20AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>AppleUSB20AccessoryHub1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB20AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>AppleUSB30AccessoryHub0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB30AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>AppleUSB30AccessoryHub1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB30AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>HU2340-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>65535</integer>
			<key>idProduct</key>
			<integer>0</integer>
			<key>idVendor</key>
			<integer>11292</integer>
		</dict>
		<key>HU2340-bench-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>65535</integer>
			<key>idProduct</key>
			<integer>0</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>HU2349_HU2408-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>434</integer>
			<key>idVendor</key>
			<integer>2276</integer>
		</dict>
		<key>HU2352-Merge </key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>784</integer>
			<key>idProduct</key>
			<integer>12816</integer>
			<key>idVendor</key>
			<integer>1242</integer>
		</dict>
		<key>HU2392-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>784</integer>
			<key>idProduct</key>
			<integer>553</integer>
			<key>idVendor</key>
			<integer>1288</integer>
		</dict>
		<key>HU2406-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>12816</integer>
			<key>idVendor</key>
			<integer>1242</integer>
		</dict>
		<key>HU2446_HU2320-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>257</integer>
			<key>idVendor</key>
			<integer>7531</integer>
		</dict>
		<key>HU2470-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>21</integer>
			<key>idVendor</key>
			<integer>8550</integer>
		</dict>
		<key>HUPPID-101061-0301</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>297</integer>
			<key>idProduct</key>
			<integer>17668</integer>
			<key>idVendor</key>
			<integer>1060</integer>
		</dict>
		<key>HUPPID-102003-0004-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbAllowSoftRetry</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>1025</integer>
			<key>idProduct</key>
			<integer>12816</integer>
			<key>idVendor</key>
			<integer>1242</integer>
		</dict>
		<key>ParrotUSBResetLockup</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleT8101USB20XHCILightningPort</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ParrotSoftResetDigitalIDArray</key>
				<array>
					<data>
					C/AAAAAA
					</data>
				</array>
			</dict>
		</dict>
		<key>iOSDFU0-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4646</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU0-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4646</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU0-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4646</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU1-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4647</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU1-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4647</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU1-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4647</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU2-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4648</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU2-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4648</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU2-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4648</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU3-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4649</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU3-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4649</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU3-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4649</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSRecovery-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
			</dict>
			<key>idProduct</key>
			<integer>4737</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleMobileFileIntegrity</key>
		<string>1.0.2</string>
		<key>com.apple.driver.AppleUSBHostMergeProperties</key>
		<string>1.2</string>
		<key>com.apple.driver.usb.AppleUSBCommon</key>
		<string>1.0</string>
		<key>com.apple.driver.usb.AppleUSBHostCompositeDevice</key>
		<string>1.2</string>
		<key>com.apple.driver.usb.AppleUSBHub</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.2</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.private</key>
		<string>16.5.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
