<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Uber-CUPS</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printer.uber.cups</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cups</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>17</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>594</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>KnownBackend</key>
	<array>
		<string>fax</string>
		<string>firewire</string>
		<string>http</string>
		<string>mdns</string>
		<string>smb</string>
		<string>usb</string>
		<string>bleutooth</string>
		<string>serial</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1995–2021, Apple Inc., All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>CUPSBrowser</string>
	<key>ionaTypes</key>
	<array>
		<string>_ipps._tcp.</string>
		<string>_printer._tcp.</string>
		<string>_ipp._tcp.</string>
		<string>_pdl-datastream._tcp.</string>
		<string>_riousbprint._tcp.</string>
		<string>_ipp-tls._tcp.</string>
	</array>
</dict>
</plist>
