<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.0</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>mirror</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/A883B36F-D86C-45F5-985C-3132E54E2A0B.ppb/Resources/Images/borski-re-edited-4.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.578852,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.373962</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>0</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>822.74691099999995</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>970.19596799999999</real>
					<key>x</key>
					<real>479.82091600000001</real>
					<key>y</key>
					<real>361.06200000000001</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>127.000000,124.000000,108.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>HoeflerTextRegular2834-CoverTitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>HoeflerTextRegular2834-CoverTitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>AlbumName</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>autoColor</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>127.000000,124.000000,108.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textUsageMask</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>Day at the Beach</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textUsageMask</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>63.716824000000003</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>A354E12B1BA1A585EEA39424C5C27F57A38F7B9E</string>
					<key>treatmentIdentifier</key>
					<string>A354E12B1BA1A585EEA39424C5C27F57A38F7B9E</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>561.48004000000003</real>
					<key>x</key>
					<real>464.38200000000001</real>
					<key>y</key>
					<real>112.46019099999999</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<true/>
			<key>height</key>
			<real>722.12400000000002</real>
			<key>holeCount</key>
			<integer>1</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>Cover-Fullbleed-Text</string>
			<key>treatmentId</key>
			<string>9D51DBB89398D4FF8C4456F11814B866D6C8500E</string>
			<key>treatmentIdentifier</key>
			<string>9D51DBB89398D4FF8C4456F11814B866D6C8500E</string>
			<key>uuid</key>
			<string>A41A5C7F-EDC4-4266-875C-D79EAF79EE15</string>
			<key>width</key>
			<real>928.76400000000001</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>42DEFDDA-D9B0-4F91-AD03-D5E27A969273</string>
			<key>cover</key>
			<string>4C4B522B-D977-49C5-93B6-734D8CFB11A8</string>
			<key>flap</key>
			<string>B569A9F5-E83A-445F-8E8C-0FA032FC80BB</string>
			<key>inside</key>
			<string>C291250C-625C-4DE7-9B71-0622D2B0AA29</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>20CD7FA74BFFD495D8173241CB0C2BB136497A0C</string>
			<string>EEE1F9A9F147F66F0F6F83FB7C50AB8276F0FAFE</string>
			<string>9D51DBB89398D4FF8C4456F11814B866D6C8500E</string>
			<string>686E736CEFAD16A4A72FF3F84E619B7E293FBE9B</string>
			<string>DFD725C0F9BD204D82F46599FE8029E59CDFB62A</string>
			<string>7D070357322D35DE691115AD6F462AA24A3CB6CE</string>
			<string>20CD7FA74BFFD495D8173241CB0C2BB136497A0C</string>
			<string>7D070357322D35DE691115AD6F462AA24A3CB6CE</string>
			<string>9D51DBB89398D4FF8C4456F11814B866D6C8500E</string>
			<string>EEE1F9A9F147F66F0F6F83FB7C50AB8276F0FAFE</string>
			<string>9D51DBB89398D4FF8C4456F11814B866D6C8500E</string>
			<string>686E736CEFAD16A4A72FF3F84E619B7E293FBE9B</string>
			<string>DFD725C0F9BD204D82F46599FE8029E59CDFB62A</string>
			<string>7D070357322D35DE691115AD6F462AA24A3CB6CE</string>
			<string>20CD7FA74BFFD495D8173241CB0C2BB136497A0C</string>
			<string>7D070357322D35DE691115AD6F462AA24A3CB6CE</string>
			<string>20CD7FA74BFFD495D8173241CB0C2BB136497A0C</string>
			<string>EEE1F9A9F147F66F0F6F83FB7C50AB8276F0FAFE</string>
			<string>9D51DBB89398D4FF8C4456F11814B866D6C8500E</string>
			<string>686E736CEFAD16A4A72FF3F84E619B7E293FBE9B</string>
			<string>DFD725C0F9BD204D82F46599FE8029E59CDFB62A</string>
			<string>7D070357322D35DE691115AD6F462AA24A3CB6CE</string>
			<string>20CD7FA74BFFD495D8173241CB0C2BB136497A0C</string>
			<string>7D070357322D35DE691115AD6F462AA24A3CB6CE</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Featured</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Journal</string>
		<key>productCodes</key>
		<array>
			<string>ExtraLargeHardcoverBook</string>
		</array>
		<key>themeIdentifier</key>
		<string>Journal-Large</string>
		<key>themePreviewIdentifier</key>
		<string>Journal-Large_A883B36F-D86C-45F5-985C-3132E54E2A0B</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{5, 6}, {313, 243}}</string>
		<key>drawScale</key>
		<real>0.33700703300300183</real>
		<key>textFrames</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>127.000000,124.000000,108.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>HoeflerTextRegular2834-CoverTitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>HoeflerTextRegular2834-CoverTitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>AlbumName</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>autoColor</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>127.000000,124.000000,108.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textUsageMask</string>
						<key>value</key>
						<string>4</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>Day at the Beach</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textUsageMask</string>
						<key>value</key>
						<string>4</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>1</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>63.716824000000003</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string></string>
				<key>treatmentId</key>
				<string>A354E12B1BA1A585EEA39424C5C27F57A38F7B9E</string>
				<key>treatmentIdentifier</key>
				<string>A354E12B1BA1A585EEA39424C5C27F57A38F7B9E</string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>561.48004000000003</real>
				<key>x</key>
				<real>464.38200000000001</real>
				<key>y</key>
				<real>112.46019099999999</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
