<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VIM_Extension</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.inputmethod.VietnameseIM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vietnamese</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>80</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.VietnameseSimpleTelex</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>. </string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>VI</string>
					<key>Secondary</key>
					<string>ST</string>
				</dict>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>VietnameseIM_ST.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>VietnameseIM_ST.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
			<key>com.apple.inputmethod.VietnameseTelex</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>. </string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>VI</string>
					<key>Secondary</key>
					<string>TX</string>
				</dict>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>VietnameseIM_TX.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>VietnameseIM_TX.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
			<key>com.apple.inputmethod.VietnameseVIQR</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>. </string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>VI</string>
					<key>Secondary</key>
					<string>QR</string>
				</dict>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>VietnameseIM_VQ.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>VietnameseIM_VQ.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
			<key>com.apple.inputmethod.VietnameseVNI</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>. </string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>VI</string>
					<key>Secondary</key>
					<string>VNI</string>
				</dict>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>VietnameseIM_VN.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>VietnameseIM_VN.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.VietnameseSimpleTelex</string>
			<string>com.apple.inputmethod.VietnameseTelex</string>
			<string>com.apple.inputmethod.VietnameseVNI</string>
			<string>com.apple.inputmethod.VietnameseVIQR</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>InputMethodConnectionName</key>
	<string>VietnameseIM_1_Connection</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.textinputmethod-services</string>
	</dict>
	<key>NSMainNibFile</key>
	<string>KeyboardService</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.apple.inputmethod.VietnameseIM</string>
	<key>TISIntendedLanguage</key>
	<string>vi</string>
	<key>tsInputMethodCharacterRepertoire</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>VietnameseIM.icns</string>
</dict>
</plist>
