<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheGraphPopUpState</key>
	<integer>1</integer>
	<key>ShowCategoryProcessesByGPU</key>
	<true/>
	<key>ShowCategoryAppsinLast12Hours</key>
	<true/>
	<key>UserColumnSortPerTab</key>
	<dict>
		<key>0</key>
		<dict>
			<key>sort</key>
			<string>CPUUsage</string>
			<key>direction</key>
			<false/>
		</dict>
		<key>1</key>
		<dict>
			<key>sort</key>
			<string>anonymousMemory</string>
			<key>direction</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>sort</key>
			<string>12HRPower</string>
			<key>direction</key>
			<integer>0</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>sort</key>
			<string>CPUUsage</string>
			<key>direction</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>sort</key>
			<string>txBytes</string>
			<key>direction</key>
			<integer>0</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>sort</key>
			<string>Name</string>
			<key>direction</key>
			<integer>0</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>sort</key>
			<string>GPUUsage</string>
			<key>direction</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>UserColumnsPerTab v6.0</key>
	<dict>
		<key>0</key>
		<array>
			<string>Command</string>
			<string>CPUUsage</string>
			<string>CPUTime</string>
			<string>Threads</string>
			<string>IdleWakeUps</string>
			<string>Architecture</string>
			<string>GPUUsage</string>
			<string>GPUTime</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>1</key>
		<array>
			<string>Command</string>
			<string>anonymousMemory</string>
			<string>Threads</string>
			<string>Ports</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>2</key>
		<array>
			<string>Command</string>
			<string>PowerScore</string>
			<string>12HRPower</string>
			<string>AppSleep</string>
			<string>graphicCard</string>
			<string>powerAssertion</string>
			<string>UID</string>
		</array>
		<key>3</key>
		<array>
			<string>Command</string>
			<string>bytesWritten</string>
			<string>bytesRead</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>4</key>
		<array>
			<string>Command</string>
			<string>txBytes</string>
			<string>rxBytes</string>
			<string>txPackets</string>
			<string>rxPackets</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>5</key>
		<array>
			<string>Name</string>
			<string>LastHour</string>
			<string>LastDay</string>
			<string>LastWeek</string>
			<string>LastMonth</string>
		</array>
		<key>6</key>
		<array>
			<string>Command</string>
			<string>GPUUsage</string>
			<string>GPUTime</string>
			<string>PID</string>
			<string>UID</string>
		</array>
	</dict>
</dict>
</plist>
