<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.5</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>7</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>7</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>art</string>
					<key>drawingOrder</key>
					<integer>0</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>14.960000000000001</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>3DE50462-35B2-4B5D-9DFE-D02B4077B316</string>
					<key>treatmentIdentifier</key>
					<string>3DE50462-35B2-4B5D-9DFE-D02B4077B316</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>478.39999999999998</real>
					<key>x</key>
					<real>288</real>
					<key>y</key>
					<real>49.600000000000001</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.552218,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/CCD295E5-78E9-410A-915A-325609CDB43A.ppb/Resources/Images/130625_KidsKR-GardenNYC_AS_04187.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>400.70400000000001</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_drop_zone_026C8DDB-3E59-B42B-19C0-6E03250A5813</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_drop_zone_026C8DDB-3E59-B42B-19C0-6E03250A5813</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>320</real>
					<key>x</key>
					<real>207.19999999999999</real>
					<key>y</key>
					<real>328.44799999999998</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.499515,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/CCD295E5-78E9-410A-915A-325609CDB43A.ppb/Resources/Images/130625_KidsKR-GardenNYC_AS_03804.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>2</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>239.19999999999999</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>2</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_drop_zone_026C8DDB-3E59-B42B-19C0-6E03250A5813</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_drop_zone_026C8DDB-3E59-B42B-19C0-6E03250A5813</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>158.40000000000001</real>
					<key>x</key>
					<real>453.80799999999999</real>
					<key>y</key>
					<real>251.59200000000001</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.333333,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>3</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>3</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/CCD295E5-78E9-410A-915A-325609CDB43A.ppb/Resources/Images/130625_KidsKR-GardenNYC_AS_02900.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>3</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>158.40000000000001</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>-2</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_drop_zone_026C8DDB-3E59-B42B-19C0-6E03250A5813</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_drop_zone_026C8DDB-3E59-B42B-19C0-6E03250A5813</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>158.40000000000001</real>
					<key>x</key>
					<real>449.80799999999999</real>
					<key>y</key>
					<real>441.60000000000002</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>5</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>5</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>art</string>
					<key>drawingOrder</key>
					<integer>4</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>76.799999999999997</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_note_paper_9519A8C6-4833-EFC4-0003-4B6AADC3BD05</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_note_paper_9519A8C6-4833-EFC4-0003-4B6AADC3BD05</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>481.15199999999999</real>
					<key>x</key>
					<real>288.33600000000001</real>
					<key>y</key>
					<real>86.024000000000001</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>199.000000,69.000000,69.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>ForgottenFuturist-Shadow4052</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>ForgottenFuturist-Shadow4052</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>7</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>ProjectName</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>199.000000,69.000000,69.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textUsageMask</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>Lauren’s Birthday</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>7</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.uppercase</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textUsageMask</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>5</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>40</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_inside_title_2D1E04E3-7EDE-4C5C-0B8C-96842855E069</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_inside_title_2D1E04E3-7EDE-4C5C-0B8C-96842855E069</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>478.39999999999998</real>
					<key>x</key>
					<real>288</real>
					<key>y</key>
					<real>99.200000000000003</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Subtitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>128.000000,130.000000,132.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>HelveticaNeue-CondensedBold1418</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>HelveticaNeue-CondensedBold1418</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>6</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>DefaultAuthorSubtitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>128.000000,130.000000,132.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textUsageMask</string>
							<key>value</key>
							<string>8</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>Five Years Old</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Subtitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>6</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.uppercase</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasBoilerplateText</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textUsageMask</string>
							<key>value</key>
							<string>8</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>6</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>18.399999999999999</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_inside_text_306054FB-8D75-9E75-6DCD-DD6813A5187F</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_inside_text_306054FB-8D75-9E75-6DCD-DD6813A5187F</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>472</real>
					<key>x</key>
					<real>288</real>
					<key>y</key>
					<real>61.600000000000001</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>prototype.originalDrawingOrder</string>
							<key>value</key>
							<string>8</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>originalDrawingOrder</string>
							<key>value</key>
							<string>8</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>art</string>
					<key>drawingOrder</key>
					<integer>7</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>5.2720000000000002</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>Travelogue_art_element_4F64386A-B0B6-EF65-14A1-3DF39F82FE80</string>
					<key>treatmentIdentifier</key>
					<string>Travelogue_art_element_4F64386A-B0B6-EF65-14A1-3DF39F82FE80</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>404</real>
					<key>x</key>
					<real>288</real>
					<key>y</key>
					<real>75.200000000000003</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<true/>
			<key>height</key>
			<real>576</real>
			<key>holeCount</key>
			<integer>3</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>Cover-3Up</string>
			<key>treatmentId</key>
			<string>Travelogue_background_yellow</string>
			<key>treatmentIdentifier</key>
			<string>Travelogue_background_yellow</string>
			<key>uuid</key>
			<string>34862D18-496E-432F-8125-4DDC685D92F8</string>
			<key>width</key>
			<real>576</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>57C874FD-F298-3B3C-4830-5569081E72C0</string>
			<key>cover</key>
			<string>5EA56687-1380-B7EE-59B4-6F2B2DE6F7CF</string>
			<key>inside</key>
			<string>3954D2BC-A6C7-2B3B-8448-6F3BF3826E1E</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>Travelogue_background_yellow</string>
			<string>Travelogue_background_creme</string>
			<string>Travelogue_background_red</string>
			<string>Travelogue_background_stripe</string>
			<string>Travelogue_background_navyblue</string>
			<string>Travelogue_background_creme</string>
			<string>Travelogue_background_green</string>
			<string>Travelogue_background_stripe</string>
			<string>Travelogue_background_pink</string>
			<string>Travelogue_background_creme</string>
			<string>Travelogue_background_yellow</string>
			<string>Travelogue_background_creme</string>
			<string>Travelogue_background_red</string>
			<string>Travelogue_background_stripe</string>
			<string>Travelogue_background_navyblue</string>
			<string>Travelogue_background_creme</string>
			<string>Travelogue_background_green</string>
			<string>Travelogue_background_stripe</string>
			<string>Travelogue_background_pink</string>
			<string>Travelogue_background_creme</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Featured</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Travelogue</string>
		<key>productCodes</key>
		<array>
			<string>SquareMediumSoftcoverBook</string>
		</array>
		<key>themeIdentifier</key>
		<string>Travelogue</string>
		<key>themePreviewIdentifier</key>
		<string>Travelogue_CCD295E5-78E9-410A-915A-325609CDB43A</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{41, 7}, {242, 241}}</string>
		<key>drawScale</key>
		<real>0.4201388888888889</real>
		<key>textFrames</key>
		<dict>
			<key>Subtitle</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Subtitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>128.000000,130.000000,132.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>HelveticaNeue-CondensedBold1418</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>HelveticaNeue-CondensedBold1418</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.originalDrawingOrder</string>
						<key>value</key>
						<string>6</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>DefaultAuthorSubtitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>128.000000,130.000000,132.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textUsageMask</string>
						<key>value</key>
						<string>8</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>Five Years Old</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Subtitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>originalDrawingOrder</string>
						<key>value</key>
						<string>6</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.uppercase</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasBoilerplateText</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textUsageMask</string>
						<key>value</key>
						<string>8</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>6</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>18.399999999999999</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string></string>
				<key>treatmentId</key>
				<string>Travelogue_inside_text_306054FB-8D75-9E75-6DCD-DD6813A5187F</string>
				<key>treatmentIdentifier</key>
				<string>Travelogue_inside_text_306054FB-8D75-9E75-6DCD-DD6813A5187F</string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>472</real>
				<key>x</key>
				<real>288</real>
				<key>y</key>
				<real>61.600000000000001</real>
			</dict>
			<key>Title</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>199.000000,69.000000,69.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>ForgottenFuturist-Shadow4052</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>ForgottenFuturist-Shadow4052</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.originalDrawingOrder</string>
						<key>value</key>
						<string>7</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>ProjectName</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>199.000000,69.000000,69.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textUsageMask</string>
						<key>value</key>
						<string>4</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>Lauren’s Birthday</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>originalDrawingOrder</string>
						<key>value</key>
						<string>7</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.uppercase</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textUsageMask</string>
						<key>value</key>
						<string>4</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>5</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>40</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string></string>
				<key>treatmentId</key>
				<string>Travelogue_inside_title_2D1E04E3-7EDE-4C5C-0B8C-96842855E069</string>
				<key>treatmentIdentifier</key>
				<string>Travelogue_inside_title_2D1E04E3-7EDE-4C5C-0B8C-96842855E069</string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>478.39999999999998</real>
				<key>x</key>
				<real>288</real>
				<key>y</key>
				<real>99.200000000000003</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
