<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleSPU</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleSPU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleSPU</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleAOPSMCDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleAOPSMCDriver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOMatchCategory</key>
			<string>AppleAOPSMCDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>smc-control</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
		</dict>
		<key>AppleLVBOOST</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleLVBOOST</string>
			<key>IOMatchCategory</key>
			<string>AppleLVBOOST</string>
			<key>IONameMatch</key>
			<array>
				<string>iop-spu-nub</string>
				<string>iop-aop-nub</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleA7IOPNub</string>
		</dict>
		<key>AppleSPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPU</string>
			<key>IONameMatch</key>
			<array>
				<string>AOPEndpoint1</string>
				<string>AOPEndpoint2</string>
				<string>AOPEndpoint3</string>
				<string>AOPEndpoint4</string>
				<string>AOPEndpoint5</string>
				<string>AOPEndpoint6</string>
				<string>AOPEndpoint7</string>
				<string>AOPEndpoint8</string>
				<string>AOPEndpoint9</string>
				<string>AOPEndpoint10</string>
				<string>AOPEndpoint11</string>
				<string>AOPEndpoint12</string>
				<string>AOPEndpoint13</string>
				<string>AOPEndpoint14</string>
				<string>AOPEndpoint15</string>
				<string>AOPEndpoint16</string>
				<string>AOPEndpoint17</string>
				<string>AOPEndpoint18</string>
				<string>AOPEndpoint19</string>
				<string>AOPEndpoint20</string>
				<string>AOPEndpoint21</string>
				<string>AOPEndpoint22</string>
				<string>AOPEndpoint23</string>
				<string>AOPEndpoint24</string>
				<string>AOPEndpoint25</string>
				<string>AOPEndpoint26</string>
				<string>AOPEndpoint27</string>
				<string>SPUEndpoint1</string>
				<string>SPUEndpoint2</string>
				<string>SPUEndpoint3</string>
				<string>SPUEndpoint4</string>
				<string>SPUEndpoint5</string>
				<string>SPUEndpoint6</string>
				<string>SPUEndpoint7</string>
				<string>SPUEndpoint8</string>
				<string>SPUEndpoint9</string>
				<string>SPUEndpoint10</string>
				<string>SPUEndpoint11</string>
				<string>SPUEndpoint12</string>
				<string>SPUEndpoint13</string>
				<string>SPUEndpoint14</string>
				<string>SPUEndpoint15</string>
				<string>SPUEndpoint16</string>
				<string>SPU2Endpoint1</string>
				<string>SPU2Endpoint2</string>
				<string>SPU2Endpoint3</string>
				<string>SPU2Endpoint4</string>
				<string>SPU2Endpoint5</string>
				<string>SPU2Endpoint6</string>
				<string>SPU2Endpoint7</string>
				<string>SPU2Endpoint8</string>
				<string>SPU2Endpoint9</string>
				<string>SPU2Endpoint10</string>
				<string>SPU2Endpoint11</string>
				<string>SPU2Endpoint12</string>
				<string>SPU2Endpoint13</string>
				<string>SPU2Endpoint14</string>
				<string>SPU2Endpoint15</string>
				<string>SPU2Endpoint16</string>
			</array>
			<key>IOProviderClass</key>
			<string>RTBuddyEndpointService</string>
			<key>allowed-action-list</key>
			<dict>
				<key>AOP_log</key>
				<dict>
					<key>get-property</key>
					<dict>
						<key>208</key>
						<true/>
					</dict>
					<key>perform-command</key>
					<dict>
						<key>35</key>
						<true/>
						<key>36</key>
						<true/>
						<key>37</key>
						<true/>
						<key>38</key>
						<true/>
					</dict>
					<key>set-property</key>
					<dict>
						<key>208</key>
						<true/>
					</dict>
				</dict>
				<key>AOP_profile</key>
				<dict>
					<key>get-property</key>
					<dict>
						<key>208</key>
						<true/>
						<key>209</key>
						<true/>
						<key>210</key>
						<true/>
						<key>211</key>
						<true/>
						<key>212</key>
						<true/>
						<key>213</key>
						<true/>
						<key>214</key>
						<true/>
					</dict>
					<key>perform-command</key>
					<dict>
						<key>32</key>
						<true/>
						<key>33</key>
						<true/>
						<key>34</key>
						<string></string>
						<key>35</key>
						<true/>
						<key>36</key>
						<true/>
						<key>37</key>
						<true/>
						<key>38</key>
						<true/>
					</dict>
					<key>set-property</key>
					<dict>
						<key>210</key>
						<true/>
						<key>213</key>
						<true/>
					</dict>
				</dict>
				<key>rose</key>
				<dict>
					<key>get-property</key>
					<dict/>
					<key>perform-command</key>
					<dict/>
					<key>set-property</key>
					<dict/>
				</dict>
			</dict>
		</dict>
		<key>AppleSPUALSSealionAccessoryDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>65280</integer>
				</dict>
			</array>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUALSSealionAccessoryDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>QueueSize</key>
			<integer>16384</integer>
			<key>Transport</key>
			<string>SPU</string>
			<key>manufacturer</key>
			<string>Sealion-Accessory</string>
		</dict>
		<key>AppleSPUALSSealionDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>65280</integer>
				</dict>
			</array>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUALSSealionDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>QueueSize</key>
			<integer>16384</integer>
			<key>Transport</key>
			<string>SPU</string>
			<key>manufacturer</key>
			<string>Sealion</string>
		</dict>
		<key>AppleSPUALSSunfishDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>65280</integer>
				</dict>
			</array>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUALSSunfishDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>QueueSize</key>
			<integer>16384</integer>
			<key>Transport</key>
			<string>SPU</string>
			<key>manufacturer</key>
			<string>Sunfish</string>
		</dict>
		<key>AppleSPUAppDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUAppDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>SPUApp</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
			<key>IOUserClientClass</key>
			<string>AppleSPUAppDriverUserClient</string>
		</dict>
		<key>AppleSPUBattChannelDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUBattChannelDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>batt-adc</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
			<key>IOUserClientClass</key>
			<string>AppleSPUBattChannelUserClient</string>
		</dict>
		<key>AppleSPUButtonDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>1</integer>
					<key>DeviceUsagePage</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>1</integer>
					<key>DeviceUsagePage</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUButtonDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>Transport</key>
			<string>SPU</string>
		</dict>
		<key>AppleSPUControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUControl</string>
			<key>IOMatchCategory</key>
			<string>AppleSPUControl</string>
			<key>IONameMatch</key>
			<array>
				<string>multi-touch</string>
				<string>opal</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleSPUDCPDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUDCPDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>dcp-control</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
		</dict>
		<key>AppleSPUDispADCDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUDispADCDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>disp-adc</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
			<key>IOUserClientClass</key>
			<string>AppleSPUDispADCUserClient</string>
		</dict>
		<key>AppleSPUFirmwareService-AOP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUFirmwareService</string>
			<key>IOMatchCategory</key>
			<string>RTBuddyFirmwareService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>AOP</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
		<key>AppleSPUFirmwareService-SPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUFirmwareService</string>
			<key>IOMatchCategory</key>
			<string>RTBuddyFirmwareService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>SPU</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
		<key>AppleSPUFirmwareService-SPU2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUFirmwareService</string>
			<key>IOMatchCategory</key>
			<string>RTBuddyFirmwareService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>SPU2</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
		<key>AppleSPUGestureDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>3</integer>
					<key>DeviceUsagePage</key>
					<integer>65292</integer>
				</dict>
			</array>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0B842ADD-C395-4352-95F6-6585EB515623</key>
				<string>IOHIDFamily.kext/PlugIns/IOHIDLib.plugin</string>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUGestureDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>QueueSize</key>
			<integer>16384</integer>
			<key>Transport</key>
			<string>SPU</string>
		</dict>
		<key>AppleSPUGpioUnplugDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUGpioUnplugDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>romeo</string>
				<string>juliet</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUInterface</string>
		</dict>
		<key>AppleSPUHIDDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>7ACF5332-1A35-4893-87CB-BA64E1887FAE</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUHIDDevice</string>
			<key>IOProviderClass</key>
			<string>AppleSPUHIDInterface</string>
		</dict>
		<key>AppleSPUHIDDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0B842ADD-C395-4352-95F6-6585EB515623</key>
				<string>IOHIDFamily.kext/PlugIns/IOHIDLib.plugin</string>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>QueueSize</key>
			<integer>16384</integer>
			<key>Transport</key>
			<string>SPU</string>
		</dict>
		<key>AppleSPUHapticsAudioDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUHapticsAudioDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>aop-haptics-audio</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUInterface</string>
			<key>IOUserClientClass</key>
			<string>AppleSPUHapticsAudioUC</string>
		</dict>
		<key>AppleSPUHapticsManagerDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUHapticsManagerDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>aop-haptics-manager</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUInterface</string>
			<key>IOUserClientClass</key>
			<string>AppleSPUHapticsManagerUserClient</string>
		</dict>
		<key>AppleSPULogDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPULogDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleSPULogDriver</string>
			<key>IOProviderClass</key>
			<string>AppleSPUAppDriver</string>
			<key>IOUserClientClass</key>
			<string>AppleSPULogDriverUserClient</string>
		</dict>
		<key>AppleSPULogFirmwareDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPULogFirmwareDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleSPULogFirmwareDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>AOP_log</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUInterface</string>
		</dict>
		<key>AppleSPUMarconiControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUMarconiControl</string>
			<key>IOMatchCategory</key>
			<string>AppleSPUMarconiControl</string>
			<key>IONameMatch</key>
			<array>
				<string>aop-marconi-bt-control</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUAppInterface</string>
		</dict>
		<key>AppleSPUMesaDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>19</integer>
					<key>DeviceUsagePage</key>
					<integer>32</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleSPUMesaDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>Transport</key>
			<string>SPU</string>
		</dict>
		<key>AppleSPUPDMCLKDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUPDMCLKDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>pdmclk</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUInterface</string>
		</dict>
		<key>AppleSPUProfileDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUProfileDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleSPUProfileDriver</string>
			<key>IOProviderClass</key>
			<string>AppleSPUAppDriver</string>
			<key>IOUserClientClass</key>
			<string>AppleSPUProfileDriverUserClient</string>
		</dict>
		<key>AppleSPUProfileFirmwareDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUProfileFirmwareDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleSPUProfileFirmwareDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>AOP_profile</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSPUInterface</string>
		</dict>
		<key>AppleSPUSmartCoverDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>41</integer>
					<key>DeviceUsagePage</key>
					<integer>65280</integer>
				</dict>
			</array>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>3BC5CC87-845E-48AB-A9C2-9436001BA68A</key>
				<string>AppleSPU.kext/Contents/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUSmartCoverDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>Transport</key>
			<string>SPU</string>
		</dict>
		<key>AppleSPUTimesyncV1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUTimesyncV1</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOMatchCategory</key>
			<string>AppleSPUTimesync</string>
			<key>IONameMatch</key>
			<string>iop-spu-nub</string>
			<key>IOProviderClass</key>
			<string>AppleA7IOPNub</string>
		</dict>
		<key>AppleSPUTimesyncV2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSPU</string>
			<key>IOClass</key>
			<string>AppleSPUTimesyncV2</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOMatchCategory</key>
			<string>AppleSPUTimesync</string>
			<key>IONameMatch</key>
			<array>
				<string>iop-aop-nub</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleA7IOPNub</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleA7IOP</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleFirmwareUpdateKext</key>
		<string>1.0.0</string>
		<key>com.apple.driver.IOSlaveProcessor</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>14.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
