<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrivateKey</key>
	<data>
	MIICWwIBAAKBgQCn1toQMK9kNliO1Mqj3x7FnH+nNrLtaDhyPPQZ8s8NuffKSuHDzmgs
	3JoNUYEgdaDO0P/sTrZjworBXZg3dOwGdRLJAGvwuXNv/EEzHW8Dtid/uf6Q2PQCiNJu
	hQpO5igafU19PYpmEX/vcU7oVaFIdqkpfd+RWomWhVehgCQZ6QIDAQABAoGAEYjB90xe
	xnAMXb+f+/FksZhhQwLVO+Ares52DKVFOas4ATZEJ8SkitXxHNBrAQ0eOP0J/5H+6U/Q
	VysuqnyDO8M8AHCR8LbcEZy/7I1DPNL19glPGrOu60IbFjN5M9RTPmmiqioLPehE0xiR
	85tRuTrc2WPTpRPGsNi0Ib4/vpECQQDm/8Xj+UTyuvy6uwZIzklGLNc4O6/jlWL5fKYg
	fkqmElVruoi8T4u4fclaeuJvOd/CUNt6pcpFj21CsX/QxeynAkEAugEgdCbYUNYlQPfX
	4ouDHfcIDehrGWc83FJU1dZf+W1CxHWmAhmAoP67jItHj1vsDDWllKkq3IBYPtLPFnXG
	7wJAA2I7w9si52tVyGZ08RwUdrKxdGFrcin+CSmKRW+UKFqcZbeVySxhH5K4IFssdfSj
	EnWcwW8sR1iSgSeYd7ZugQJALTBs5Asz7p+4OUp9Zoqidjs397kJnAha3uQZvEHy2zRS
	TkyO4l+zwmlgw0prPkcE2AqIic93nE6KIekxarF+fQJAEkfOWv1zPGOyOCk2vqWDv6I0
	RPBGj1zczzvCCPvItVYkHdJqg2e2OC/GRFucGBmIbHfq0lZSPTgYPOYtlwNEiA==
	</data>
	<key>PublicKey</key>
	<data>
	MIGJAoGBAKfW2hAwr2Q2WI7UyqPfHsWcf6c2su1oOHI89Bnyzw2598pK4cPOaCzcmg1R
	gSB1oM7Q/+xOtmPCisFdmDd07AZ1EskAa/C5c2/8QTMdbwO2J3+5/pDY9AKI0m6FCk7m
	KBp9TX09imYRf+9xTuhVoUh2qSl935FaiZaFV6GAJBnpAgMBAAE=
	</data>
</dict>
</plist>
