<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOBluetoothFamily</string>
	<key>CFBundleGetInfoString</key>
	<string>9.0.0, Copyright © 2002-2021 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOBluetoothFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOBluetoothFamily</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>9.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Bluetooth Entitlement</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbUserClientEntitlementRequired</key>
				<string>com.apple.bluetooth.control</string>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>33292</integer>
				<integer>33293</integer>
				<integer>33294</integer>
				<integer>33295</integer>
				<integer>33296</integer>
				<integer>33299</integer>
				<integer>33300</integer>
				<integer>33301</integer>
				<integer>33302</integer>
				<integer>33303</integer>
				<integer>33304</integer>
				<integer>33306</integer>
				<integer>33307</integer>
				<integer>33308</integer>
				<integer>33309</integer>
				<integer>33310</integer>
				<integer>33311</integer>
				<integer>33408</integer>
				<integer>33409</integer>
				<integer>33414</integer>
				<integer>33415</integer>
				<integer>33416</integer>
				<integer>33417</integer>
				<integer>33418</integer>
				<integer>33419</integer>
				<integer>33420</integer>
				<integer>33421</integer>
				<integer>33422</integer>
				<integer>33423</integer>
				<integer>33424</integer>
				<integer>33425</integer>
				<integer>33426</integer>
				<integer>33428</integer>
				<integer>33429</integer>
				<integer>33430</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>IOBluetoothHCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothFamily</string>
			<key>IOClass</key>
			<string>IOBluetoothHCIController</string>
			<key>IOMatchCategory</key>
			<string>IOBluetoothHCIController</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>MacPro6_1 BRCM20702B0 Hub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbUserClientEntitlementRequired</key>
				<string>com.apple.bluetooth.control</string>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQIZAAEBAOAvCQQAAAEJAAAABwWBAwEA/w==
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>17664</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2021 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.2b9</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
