<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> </key>
	<string></string>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleEmbeddedAudio</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleEmbeddedAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleEmbeddedAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>550.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>550.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleActuatorAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleActuatorSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,actuator</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Actuator</string>
			<key>device name</key>
			<string>Actuator</string>
		</dict>
		<key>AppleBasebandAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleBasebandAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,baseband</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Baseband</string>
			<key>device name</key>
			<string>Baseband</string>
		</dict>
		<key>AppleBasebandVoice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleBasebandVoiceAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,baseband-voice</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Baseband Voice</string>
			<key>device name</key>
			<string>Baseband Voice</string>
		</dict>
		<key>AppleBluetoothVoice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleBluetoothVoiceAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,bluetooth-voice</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Bluetooth Voice</string>
			<key>device name</key>
			<string>Bluetooth Voice</string>
		</dict>
		<key>AppleCS42L83InputAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,cs42l83-input</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Codec Input</string>
			<key>device name</key>
			<string>CS42L83 Input</string>
		</dict>
		<key>AppleCS42L84InputAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,cs42l84-input</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Codec Input</string>
			<key>device name</key>
			<string>CS42L84 Input</string>
		</dict>
		<key>AppleD2481Haptic</key>
		<dict>
			<key>IOClass</key>
			<string>AppleD2481SecondaryDevice</string>
			<key>IOMatchCategory</key>
			<string>AppleD2481SecondaryDevice</string>
			<key>IONameMatch</key>
			<string>audio-data,d2481hap</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Actuator</string>
			<key>device name</key>
			<string>Actuator</string>
		</dict>
		<key>AppleDSPDebug1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,dsp-debug1</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>DSP Debug1</string>
			<key>device name</key>
			<string>DSP Debug1</string>
		</dict>
		<key>AppleDSPDebug2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,dsp-debug2</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>DSP Debug2</string>
			<key>device name</key>
			<string>DSP Debug2</string>
		</dict>
		<key>AppleExtendedHapticDebug</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,ext-haptic-debug</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Extended Haptic Debug</string>
			<key>device name</key>
			<string>Extended Haptic Debug</string>
		</dict>
		<key>AppleExternalAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleExternalSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,external</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
		</dict>
		<key>AppleHalogen</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,halogen</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Halogen</string>
			<key>device name</key>
			<string>Halogen</string>
		</dict>
		<key>AppleHapticDebug</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,haptic-debug</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Haptic Debug</string>
			<key>device name</key>
			<string>Haptic Debug</string>
		</dict>
		<key>AppleHapticsExternalAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleHapticsExternalSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,haptics-external</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
		</dict>
		<key>AppleHawkingAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,hawking</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Hawking</string>
			<key>device name</key>
			<string>Hawking</string>
		</dict>
		<key>AppleLoopbackAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,audio-loopback</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Loopback</string>
			<key>device name</key>
			<string>Loopback</string>
		</dict>
		<key>AppleMCKAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleMCKAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,mck-only</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
		</dict>
		<key>AppleMaggieDebugAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,maggie-debug</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>MaggieDebug</string>
			<key>device name</key>
			<string>MaggieDebug</string>
		</dict>
		<key>AppleMikeyBusSecondaryAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,mikeybus-secondary</string>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Mikeybus Secondary</string>
			<key>device name</key>
			<string>Mikeybus Secondary</string>
		</dict>
		<key>ApplePCA9539ADevice</key>
		<dict>
			<key>IOClass</key>
			<string>ApplePCA9539ADevice</string>
			<key>IONameMatch</key>
			<array>
				<string>gpio-expander,pca9539a</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
		</dict>
		<key>AppleReferenceAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,reference</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Reference</string>
			<key>device name</key>
			<string>Reference</string>
		</dict>
		<key>AppleTapAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,audio-tap</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Tap</string>
			<key>device name</key>
			<string>Tap</string>
		</dict>
		<key>AppleVirtualSecondary</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,virtual-secondary</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Virtual Secondary Device</string>
			<key>device name</key>
			<string>Virtual Secondary</string>
		</dict>
		<key>AppleVoiceAudio</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSecondaryAudio</string>
			<key>IOMatchCategory</key>
			<string>AppleSecondaryAudio</string>
			<key>IONameMatch</key>
			<string>audio-data,voice</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIISDevice</string>
			<key>device UID</key>
			<string>Voice</string>
			<key>device name</key>
			<string>Voice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleEmbeddedAudioLibs</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleIISController</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.AppleARMIISAudio</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
