<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<array>
			<string>fi fl ff ffi ffl</string>
		</array>
		<key>1</key>
		<array>
			<string>fi fl ff ffi ffl</string>
		</array>
		<key>10</key>
		<array>
			<string>ae</string>
		</array>
		<key>11</key>
		<array>
			<string>ae</string>
		</array>
		<key>12</key>
		<array>
			<string>アパート</string>
			<string>キロワット</string>
		</array>
		<key>13</key>
		<array>
			<string>アパート</string>
			<string>キロワット</string>
		</array>
		<key>14</key>
		<array>
			<string>mg kg log</string>
		</array>
		<key>15</key>
		<array>
			<string></string>
		</array>
		<key>16</key>
		<array>
			<string></string>
		</array>
		<key>17</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string>fi</string>
		</array>
		<key>3</key>
		<array>
			<string>fi</string>
		</array>
		<key>4</key>
		<array>
			<string>st</string>
			<string>ct</string>
			<string>क्क</string>
			<string>સ્ત્ર</string>
		</array>
		<key>5</key>
		<array>
			<string>st</string>
			<string>ct</string>
		</array>
		<key>6</key>
		<array>
			<string>Apple</string>
		</array>
		<key>7</key>
		<array>
			<string>Apple</string>
		</array>
		<key>8</key>
		<array>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>0</key>
		<array>
			<string>\xyao 1st</string>
			<string>\abc012</string>
		</array>
		<key>1</key>
		<array>
			<string>xyao 1st</string>
			<string>abc012</string>
		</array>
		<key>2</key>
		<array>
			<string>xyao 1st</string>
			<string>abc012</string>
			<string>012345</string>
		</array>
		<key>3</key>
		<array>
			<string>xyao 1st</string>
		</array>
	</dict>
	<key>103</key>
	<dict>
		<key>0</key>
		<array>
			<string>\ABCDEFG abcdefg</string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string>ABCDEFG abcdefg</string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>11</key>
	<dict>
		<key>0</key>
		<array>
			<string>\1⁄2</string>
		</array>
		<key>1</key>
		<array>
			<string>1⁄2</string>
		</array>
		<key>2</key>
		<array>
			<string>1⁄2</string>
		</array>
	</dict>
	<key>128</key>
	<dict>
		<key>2</key>
		<array>
			<string>db</string>
		</array>
	</dict>
	<key>13</key>
	<dict>
		<key>0</key>
		<array>
			<string>Ly</string>
		</array>
		<key>1</key>
		<array>
			<string>Ly</string>
		</array>
	</dict>
	<key>14</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>10</key>
		<array>
			<string></string>
		</array>
		<key>11</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
		<key>6</key>
		<array>
			<string></string>
		</array>
		<key>7</key>
		<array>
			<string></string>
		</array>
		<key>8</key>
		<array>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>15</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
		<key>6</key>
		<array>
			<string></string>
		</array>
		<key>7</key>
		<array>
			<string></string>
		</array>
		<key>8</key>
		<array>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>16</key>
	<dict>
		<key>0</key>
		<array>
			<string>\012345ABCDE</string>
		</array>
		<key>1</key>
		<array>
			<string>012345ABCDE</string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
		<key>6</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>17</key>
	<dict>
		<key>0</key>
		<array>
			<string>\ऽक्रलण</string>
			<string>\ત્રદ્રદ્દ</string>
			<string>\ẤấẦầẨẩ</string>
			<string>\BCDEF</string>
			<string>\AKMNUV</string>
		</array>
		<key>1</key>
		<array>
			<string>ẤấẦầẨẩ</string>
			<string>BCDEF</string>
			<string>AKMUV</string>
		</array>
		<key>10</key>
		<array>
			<string>धभ</string>
		</array>
		<key>12</key>
		<array>
			<string>ऽ</string>
		</array>
		<key>2</key>
		<array>
			<string>ẤấẦầẨẩ</string>
			<string>EKPQRZ</string>
		</array>
	</dict>
	<key>18</key>
	<dict>
		<key>0</key>
		<array>
			<string>\kebhy</string>
			<string>\ABC efg</string>
		</array>
		<key>1</key>
		<array>
			<string>kebhy</string>
			<string>ABC efg</string>
		</array>
		<key>2</key>
		<array>
			<string>kebhy</string>
			<string>ABC efg</string>
		</array>
		<key>3</key>
		<array>
			<string>kebhy</string>
			<string>ABefg</string>
		</array>
		<key>4</key>
		<array>
			<string>ABefg</string>
		</array>
		<key>5</key>
		<array>
			<string>ABefg</string>
		</array>
		<key>6</key>
		<array>
			<string>ABefg</string>
		</array>
		<key>7</key>
		<array>
			<string>ABefg</string>
		</array>
		<key>8</key>
		<array>
			<string>FGabc</string>
		</array>
	</dict>
	<key>19</key>
	<dict>
		<key>0</key>
		<array>
			<string>ABcd</string>
		</array>
		<key>1</key>
		<array>
			<string>ABcd</string>
		</array>
		<key>2</key>
		<array>
			<string>ABcd</string>
		</array>
		<key>3</key>
		<array>
			<string>ABcd</string>
		</array>
		<key>4</key>
		<array>
			<string>ABcd</string>
		</array>
		<key>5</key>
		<array>
			<string>ABcd</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>20</key>
	<dict>
		<key>0</key>
		<array>
			<string>国</string>
		</array>
		<key>1</key>
		<array>
			<string>国</string>
		</array>
		<key>10</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
		<key>6</key>
		<array>
			<string></string>
		</array>
		<key>7</key>
		<array>
			<string></string>
		</array>
		<key>8</key>
		<array>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>21</key>
	<dict>
		<key>0</key>
		<array>
			<string>\0123456789</string>
			<string>\०१२३४५६७८९</string>
		</array>
		<key>1</key>
		<array>
			<string>0123456789</string>
		</array>
		<key>2</key>
		<array>
			<string>०१२३४५६७८९</string>
		</array>
		<key>3</key>
		<array>
			<string>९</string>
		</array>
	</dict>
	<key>22</key>
	<dict>
		<key>0</key>
		<array>
			<string>\abc</string>
			<string>\カナ</string>
		</array>
		<key>1</key>
		<array>
			<string>abc</string>
			<string>カナ</string>
		</array>
		<key>2</key>
		<array>
			<string>abc</string>
			<string>カナ</string>
		</array>
	</dict>
	<key>23</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
		<key>6</key>
		<array>
			<string></string>
		</array>
		<key>7</key>
		<array>
			<string></string>
		</array>
		<key>8</key>
		<array>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>24</key>
	<dict>
		<key>0</key>
		<array>
			<string>\2</string>
			<string>正</string>
		</array>
		<key>1</key>
		<array>
			<string>2</string>
		</array>
		<key>10</key>
		<array>
			<string>2</string>
		</array>
		<key>2</key>
		<array>
			<string>2</string>
		</array>
		<key>3</key>
		<array>
			<string>2</string>
			<string>正10</string>
		</array>
		<key>4</key>
		<array>
			<string>2</string>
		</array>
		<key>5</key>
		<array>
			<string>2</string>
			<string>10</string>
		</array>
		<key>6</key>
		<array>
			<string>2</string>
			<string>10</string>
		</array>
		<key>7</key>
		<array>
			<string>2</string>
		</array>
		<key>8</key>
		<array>
			<string>2</string>
		</array>
		<key>9</key>
		<array>
			<string>2</string>
		</array>
	</dict>
	<key>25</key>
	<dict>
		<key>0</key>
		<array>
			<string>\かな</string>
		</array>
		<key>1</key>
		<array>
			<string>かな</string>
		</array>
	</dict>
	<key>26</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>27</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>28</key>
	<dict>
		<key>0</key>
		<array>
			<string>かな</string>
		</array>
		<key>1</key>
		<array>
			<string>かな</string>
		</array>
	</dict>
	<key>29</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>0</key>
		<array>
			<string>\abCD</string>
		</array>
		<key>1</key>
		<array>
			<string>abCD</string>
		</array>
		<key>2</key>
		<array>
			<string>abCD</string>
		</array>
		<key>3</key>
		<array>
			<string>abCD</string>
		</array>
		<key>4</key>
		<array>
			<string>abCD</string>
		</array>
		<key>5</key>
		<array>
			<string>abCD</string>
		</array>
	</dict>
	<key>30</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>31</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>32</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>0</key>
		<array>
			<string>『』</string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>0</key>
		<array>
			<string>\0123456789</string>
		</array>
		<key>1</key>
		<array>
			<string>0123456789</string>
		</array>
		<key>2</key>
		<array>
			<string>\0123456789</string>
		</array>
		<key>3</key>
		<array>
			<string>\0123456789</string>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>0</key>
		<array>
			<string>uuozz Qsyoe</string>
		</array>
		<key>1</key>
		<array>
			<string>\uyozz Qsyoe</string>
		</array>
		<key>2</key>
		<array>
			<string>uyozz ssyoe</string>
		</array>
		<key>3</key>
		<array>
			<string>uyozz ssyoe</string>
		</array>
		<key>4</key>
		<array>
			<string>Qyozz ssyoe</string>
		</array>
		<key>5</key>
		<array>
			<string>Qyozz ssyoe</string>
		</array>
		<key>6</key>
		<array>
			<string>uyozz ssyoe</string>
		</array>
		<key>7</key>
		<array>
			<string>uyozz ssyoe</string>
		</array>
		<key>8</key>
		<array>
			<string>uyozz ssyoe</string>
		</array>
		<key>9</key>
		<array>
			<string>uyozz ssyoe</string>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>0</key>
		<array>
			<string>áèñîü</string>
			<string>בֶּת</string>
		</array>
		<key>1</key>
		<array>
			<string>áèñîü</string>
			<string>בֶּת</string>
		</array>
		<key>2</key>
		<array>
			<string>áèñîü</string>
		</array>
	</dict>
</dict>
</plist>
