<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOAccessoryManager</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOAccessoryManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOAccessoryManager</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Bulk Data</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryPowerMode</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusBulkData</string>
			<key>IOMatchCategory</key>
			<string>BD</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryManagerAID</string>
		</dict>
		<key>Bulk Data EA</key>
		<dict>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusEA</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryBulkDataEndpoint</string>
		</dict>
		<key>Bulk Data HID</key>
		<dict>
			<key>Authenticated</key>
			<true/>
			<key>ExtendedData</key>
			<array>
				<integer>61865984</integer>
				<integer>61931520</integer>
				<integer>61997056</integer>
				<integer>62062592</integer>
				<integer>62259200</integer>
			</array>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusHIDDevice</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryBulkDataEndpoint</string>
		</dict>
		<key>Bulk Data HID Input</key>
		<dict>
			<key>Authenticated</key>
			<true/>
			<key>ExtendedData</key>
			<array>
				<integer>61865984</integer>
				<integer>61931520</integer>
				<integer>61997056</integer>
				<integer>62062592</integer>
				<integer>62259200</integer>
			</array>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>8</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusHIDDevice</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryBulkDataEndpoint</string>
		</dict>
		<key>Bulk Data PD</key>
		<dict>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>5</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusPD</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryBulkDataEndpoint</string>
		</dict>
		<key>Bulk Data Proxy PD</key>
		<dict>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>6</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusProxyPD</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryBulkDataEndpoint</string>
		</dict>
		<key>Dock 0-pin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryDock0PinBuiltin</string>
			<key>IONameMatch</key>
			<array>
				<string>dock,0pin</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>Dock 30-pin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryDock30PinBuiltIn</string>
			<key>IONameMatch</key>
			<array>
				<string>dock,30pin</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>Dock USB UFP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryDockUSB_UFP</string>
			<key>IONameMatch</key>
			<array>
				<string>dock,usb-ufp</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>HSAID Bulk Data</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryPowerMode</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>IOAccessoryHSAIDBulkData</string>
			<key>IOMatchCategory</key>
			<string>BD</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryManagerHSAID</string>
		</dict>
		<key>IAP ID Bus</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryDeviceDynamicPort</key>
			<true/>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>4</integer>
			<key>IOClass</key>
			<string>IOAccessoryPortIDBus</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryBulkDataEndpoint</string>
		</dict>
		<key>IAP Serial Port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryDevicePort</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>IOAccessoryPortSerialSync</string>
			<key>IOMatchCategory</key>
			<string>IOAccessoryPort</string>
			<key>IONameMatch</key>
			<string>iap,uart</string>
			<key>IOProviderClass</key>
			<string>AppleOnboardSerialSync</string>
		</dict>
		<key>IOPort Auto Match</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOPort</string>
			<key>IONameMatch</key>
			<array>
				<string>port</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>KeyboardA Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>ProductID</key>
				<integer>53521</integer>
				<key>VendorID</key>
				<integer>1133</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>RequiresCompassResetOnConnect</key>
				<true/>
			</dict>
		</dict>
		<key>KeyboardB Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>ProductID</key>
				<integer>53520</integer>
				<key>VendorID</key>
				<integer>1133</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>RequiresCompassResetOnConnect</key>
				<true/>
			</dict>
		</dict>
		<key>Power Source Detect</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryUSBPowerSourceDetect</string>
			<key>IOMatchCategory</key>
			<string>IOAccessoryUSBPowerSourceDetect</string>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>IOAccessoryUSBModeType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>IOAccessoryUSBModeType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOAccessoryManager</string>
		</dict>
		<key>Transport Restricted Mode</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryTRM</string>
			<key>IOMatchCategory</key>
			<string>IOAccessoryTRM</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryManager</string>
		</dict>
		<key>USB Connect Shim</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryUSBConnectShim</string>
			<key>IOMatchCategory</key>
			<string>IOAccessoryUSBConnectShim</string>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>IOAccessoryPrimaryDevicePort</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOAccessoryManager</string>
		</dict>
		<key>VADResourceArbiter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>VADResourceArbiter</string>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>RequiresEisAfeArbiter</key>
					<true/>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOAccessoryManager</string>
			<key>IOUserClientClass</key>
			<string>VADResourceArbiterUserClient</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleOnboardSerial</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
