<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>DART</string>
	<key>Children</key>
	<array>
		<dict>
			<key>Name</key>
			<string>MAPPER</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Name</key>
					<string>DART_DBG_MAPPER_INIT</string>
					<key>Type</key>
					<string>Impulse</string>
					<key>KTraceCode</key>
					<string>0x05424000</string>
					<key>EventsMatchedBy</key>
					<string>Arg2</string>
					<key>ArgNames</key>
					<dict>
						<key>Arg1</key>
						<string>mapper_name_str_id</string>
						<key>Arg2</key>
						<string>DART</string>
						<key>Arg3</key>
						<string>Mapper</string>
						<key>Arg4</key>
						<string>SID</string>
					</dict>
					<key>ArgValueTypes</key>
					<dict>
						<key>Arg1</key>
						<string>Hex</string>
						<key>Arg2</key>
						<string>Hex</string>
						<key>Arg3</key>
						<string>Hex</string>
						<key>Arg4</key>
						<string>Hex</string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>DART_DBG_MAPPER_FREE</string>
					<key>Type</key>
					<string>Impulse</string>
					<key>KTraceCode</key>
					<string>0x05424004</string>
					<key>EventsMatchedBy</key>
					<string>Arg2</string>
					<key>ArgNames</key>
					<dict>
						<key>Arg1</key>
						<string>0</string>
						<key>Arg2</key>
						<string>DART</string>
						<key>Arg3</key>
						<string>Mapper</string>
						<key>Arg4</key>
						<string>SID</string>
					</dict>
					<key>ArgValueTypes</key>
					<dict>
						<key>Arg1</key>
						<string>Hex</string>
						<key>Arg2</key>
						<string>Hex</string>
						<key>Arg3</key>
						<string>Hex</string>
						<key>Arg4</key>
						<string>Hex</string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>DART_DBG_MAPPER_UNMAP</string>
					<key>Type</key>
					<string>Interval</string>
					<key>KTraceCodeBegin</key>
					<string>0x05424009</string>
					<key>KTraceCodeEnd</key>
					<string>0x0542400e</string>
					<key>EventsMatchedBy</key>
					<string>Arg1</string>
					<key>ArgNames</key>
					<dict>
						<key>Arg1</key>
						<string>mapper</string>
						<key>Arg2</key>
						<string>iomd</string>
						<key>Arg3</key>
						<string>mapAddress</string>
						<key>Arg4</key>
						<string>ret</string>
					</dict>
					<key>ArgValueTypes</key>
					<dict>
						<key>Arg1</key>
						<string>Hex</string>
						<key>Arg2</key>
						<string>Hex</string>
						<key>Arg3</key>
						<string>Hex</string>
						<key>Arg4</key>
						<string>Hex</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>DVA</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Name</key>
					<string>DART_DBG_DVA_SET_TRANSLATION_INVALID</string>
					<key>Type</key>
					<string>Impulse</string>
					<key>KTraceCode</key>
					<string>0x05428000</string>
					<key>EventsMatchedBy</key>
					<string>Arg1</string>
					<key>ArgNames</key>
					<dict>
						<key>Arg1</key>
						<string>Mapper</string>
						<key>Arg2</key>
						<string>Virtual Address</string>
						<key>Arg3</key>
						<string>Physical Address</string>
						<key>Arg4</key>
						<string>Size</string>
					</dict>
					<key>ArgValueTypes</key>
					<dict>
						<key>Arg1</key>
						<string>Hex</string>
						<key>Arg2</key>
						<string>Hex</string>
						<key>Arg3</key>
						<string>Hex</string>
						<key>Arg4</key>
						<string>Hex</string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>DART_DBG_DVA_SET_TRANSLATION_VALID</string>
					<key>Type</key>
					<string>Impulse</string>
					<key>KTraceCode</key>
					<string>0x05428004</string>
					<key>EventsMatchedBy</key>
					<string>Arg1</string>
					<key>ArgNames</key>
					<dict>
						<key>Arg1</key>
						<string>Mapper</string>
						<key>Arg2</key>
						<string>Virtual Address</string>
						<key>Arg3</key>
						<string>Physical Address</string>
						<key>Arg4</key>
						<string>Size</string>
					</dict>
					<key>ArgValueTypes</key>
					<dict>
						<key>Arg1</key>
						<string>Hex</string>
						<key>Arg2</key>
						<string>Hex</string>
						<key>Arg3</key>
						<string>Hex</string>
						<key>Arg4</key>
						<string>Hex</string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>DART_DBG_DVA_SET_TRANSLATION_PIO</string>
					<key>Type</key>
					<string>Impulse</string>
					<key>KTraceCode</key>
					<string>0x05428008</string>
					<key>EventsMatchedBy</key>
					<string>Arg1</string>
					<key>ArgNames</key>
					<dict>
						<key>Arg1</key>
						<string>Mapper</string>
						<key>Arg2</key>
						<string>Virtual Address</string>
						<key>Arg3</key>
						<string>Physical Address</string>
						<key>Arg4</key>
						<string>Size</string>
					</dict>
					<key>ArgValueTypes</key>
					<dict>
						<key>Arg1</key>
						<string>Hex</string>
						<key>Arg2</key>
						<string>Hex</string>
						<key>Arg3</key>
						<string>Hex</string>
						<key>Arg4</key>
						<string>Hex</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
