<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2021-03-22</string>
	<key>OpenSourceLicense</key>
	<string>LGPL 2.1</string>
	<key>OpenSourceLicenseFile</key>
	<string>LiblouisBrailleTables.txt</string>
	<key>OpenSourceModifications</key>
	<string></string>
	<key>OpenSourceProject</key>
	<string>liblouis</string>
	<key>OpenSourceSHA1</key>
	<string>47e345e344312d51da1275e7c9a7449a</string>
	<key>OpenSourceURL</key>
	<string>https://github.com/liblouis/liblouis/tree/v3.17.0</string>
	<key>OpenSourceVersion</key>
	<string>3.17.0</string>
	<key>OpenSourceWebsiteURL</key>
	<string>https://github.com/liblouis/liblouis</string>
</dict>
</plist>
