<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.ModernLines-Large_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.ModernLines-Large_Preview</string>
	<key>catalogVersion</key>
	<integer>6</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:38:06Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>ModernLines-Large_598E1B7E-4E3F-4A58-BAC6-8180850CD46F</string>
		<string>ModernLines-Large_2E47CB5B-87EF-46CB-92C0-51E689460F7A</string>
		<string>ModernLines-Large_D194EC26-9F33-4881-9017-A2CDFB63AA13</string>
		<string>ModernLines-Large_C9821D10-FEA4-4BED-B295-076B0506749A</string>
		<string>ModernLines-Large_C96873B3-74CA-4932-89E4-54CB2F002D41</string>
		<string>ModernLines-Large_DC89FEB2-D97B-45C0-BDB7-9B5213256DFF</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
