<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.HolidayColors-Postcard_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.HolidayColors-Postcard_Preview</string>
	<key>catalogVersion</key>
	<integer>27</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:35:11Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>HolidayColors-Postcard_BC6DC90A-E374-45FB-80C6-1AA9C127168B</string>
		<string>HolidayColors-Postcard_A53C677C-EE43-443B-82B2-A538FEA173A9</string>
		<string>HolidayColors-Postcard-V_41FF3543-4530-4B4C-9172-2836FF2B4033</string>
		<string>HolidayColors-Postcard-V_086447C7-2CF2-422D-965E-017F732117EF</string>
		<string>HolidayColors-Postcard-V_9C57942D-C099-4ACB-910F-4677AF12CEE3</string>
		<string>HolidayColors-Postcard-V_BCD55EF7-2CDD-4C42-86A9-762EDE06694C</string>
		<string>HolidayColors-Postcard_A8CA7017-8FA1-423F-BB7D-86D14C42F42C</string>
		<string>HolidayColors-Postcard-V_6BFA0425-A839-4BD8-8296-0F7BBB7D32C6</string>
		<string>HolidayColors-Postcard_BFB80907-F833-4617-AB20-FE0674B837B7</string>
		<string>HolidayColors-Postcard-V_26DE39F2-FA99-4B69-9BC7-62C50875E2C9</string>
		<string>HolidayColors-Postcard_C6E99A48-144E-4928-90DA-7A1D89E6CC8E</string>
		<string>HolidayColors-Postcard_D74BC105-CD85-4AC5-B215-78AF931E7617</string>
		<string>HolidayColors-Postcard-V_6E396DD6-4F0D-4D32-BA82-8B3623955638</string>
		<string>HolidayColors-Postcard_3317A1D7-8C70-424F-9064-AAE9FED68504</string>
		<string>HolidayColors-Postcard-V_9B3CDF3D-4623-48A6-84DE-0D3C487C6CEC</string>
		<string>HolidayColors-Postcard-V_DFE40310-EA07-45DB-BD38-ABA3F8542732</string>
		<string>HolidayColors-Postcard_AB779F11-5597-490B-ABB5-E228BD3743AC</string>
		<string>HolidayColors-Postcard-V_5B0A077D-C66F-47C7-A80F-60C7266CED21</string>
		<string>HolidayColors-Postcard_28A3A5A5-A66D-4F56-9F90-923799030985</string>
		<string>HolidayColors-Postcard-V_09888408-F94A-41F1-94B5-D6ECC7EBDD5E</string>
		<string>HolidayColors-Postcard_1B4FD660-D36E-41C6-9548-57A208A9FA0B</string>
		<string>HolidayColors-Postcard_0606E128-B7D9-49CD-A4F0-3DB8D6949B27</string>
		<string>HolidayColors-Postcard_E2F43BE2-CFA6-407A-B198-5A3B8D0ABE9C</string>
		<string>HolidayColors-Postcard-V_3C3991FB-C0A5-4DF6-A45B-ED6113502DDA</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
