<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SignedKernelExtensions</key>
	<dict>
		<key>DX6G69M9N2</key>
		<array>
			<array>
				<string>com.highpoint-tech.kext.HighPointIOP</string>
				<string>HighPoint Technologies, Inc</string>
			</array>
			<array>
				<string>com.highpoint-tech.kext.HighPointRR</string>
				<string>HighPoint Technologies, Inc</string>
			</array>
		</array>
		<key>Q9P8K45M5C</key>
		<array>
			<array>
				<string>com.softraid.driver.SoftRAID</string>
				<string>Other World Computing</string>
			</array>
		</array>
	</dict>
	<key>UnsignedKernelExtensions</key>
	<array/>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
