<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChannelData</key>
	<array>
		<dict>
			<key>AnalogGain</key>
			<real>11.885022299999999</real>
			<key>PressureResponse</key>
			<data>
			ykflPsCuKz+JM0C+SRzrvL/Dqj5NQCq/qx9CvgYtID4RNgu/ZPsf
			PZHgwj0qbwO+DNmGPiLzIj5K2qs9dwFRPATt4D0q5rg9V/aCvo4T
			aj1stow7QZ56vvZr4z3y3pw6rhkyvhKC47rh4YU957pYPT+hTDuK
			sew9oSUFPpxGnruxl2s9msrKunmDLL1W2SI9GJTqOa4ek7w3thU9
			VljQPTgpNz2bn6c89ZzcPfdvUj10WSs5gdyfPASxEryamPE7NrEC
			vQYUhbx5NRQ9XmOIvMljHz0dZu08yT1NvYGjVj1XRr494c0DPSOC
			jD0fNj09IE2tvOtRNLz4CXi8/3m4vENvu7ryWt+8N5PovFg4eTy8
			HEO8B0AlO1YYCD3IC8M8l4tQPQsKQD18eNc8lP+tPF8RB7z1NLs8
			PAskPcJrLbsVhQM92vzYPHKEmTx01oA9ZeGsPEeZUDxiYys9Ki40
			u03miDycbiA9Gz5ZPDPGHz39i4I8RABFO+Fm0Dw0bdo7tTy8PKvD
			Gj0lkp88toAFPR4zEDzxroS883oyPH0jYDsszzg7bDHWPNN6Izxw
			YoM7bCYPPTxizzyCU0U8B3NsPEu4NDsQmDs6kSnvu1M65zqrHGY8
			g1cNvOKYFDzsUfs8Fw6zPJY7TT1wGxQ9kTKqO039ijx+YP877iYc
			PJC1+jwlJhk9Dqc9PbrxGT3Pyqk830GVPF3CjTxqUwM9ID0GPa2A
			jTx54L48dDCfPF8xITy5SdI8EX3XPM1sTzxaMT08Qe0pO4ZLmbi6
			fUI8vW5mPDjtkTwkFtk8Chi8PNbrqzyUorI8msatPJ0WoDyWYh88
			KH8mO66PbLrpwCS7yFwHPJODfTwWWA88dPDMOyBUHzwsbpk8XAwH
			PSaXKj2q2h09MeIDPcmu6jy/Tsg8r7quPFonojxnR148qiKsOzDc
			Uzu5jZY7btUbPP1Kojyw++g8w4DuPPnL2jz2BsQ8cGW3PJihtzxr
			faQ8nnFXPPTR+zsI8Qs8VOErPFIQZDwrVJY8stuZPOtYiTwrb3I8
			0og8PE+8MDzlxEw8IptoPPLZcjwcd3A8ISeKPKyUtjz5rOA8CW3y
			PHyH2jxM/5s8JTQ7PKNa2DumpAU84TZ2PKASrjw/0sY8cGLNPJEL
			wjyMlLU8PEyiPE7MkDyusYI8WrZVPNWUMjyQoTM84ld6PC+0sjxq
			Hc08yEa/PMoPkzx5XlA8oyY/PK7xJTwFxh88NWgrPN/cJzzvtWo8
			zuqePNocxTyksuk8HEjdPO5OuTwrPpc8erliPJbPXDz4xmg8xoh2
			PEOCkDwo0Z08xMOqPHqiwTymh8080HDOPANLwjzeK5M8ZEdtPCLS
			YDx5qGg8P5+PPDI+kjwJQ4E862GFPDHxgTzm2ZE8sDGyPLH9qjzN
			saU845WSPMnXZjywkHQ8pDN2PJ+HWzz+r1U8VSAQPLrq8DtvKC88
			vV9QPAh3kzxP2as8QReXPMNhmjyfSJU8HAeNPK0vqTyKBqA8R1CT
			PLsOkTyYynk8vaeMPEFFoDzKV6U8QkOyPLW+njzSo5I8ghGdPFaf
			lTzzs6U8Rz6oPKvniTyry4Y85mKAPPLhdDwfQJQ8MGCTPEXIiTxB
			wIs8/8KFPJQFlTzLi6E8j1+jPKZSpTz+zIY8e21kPEmTaDy/iEk8
			DnddPKoWcDxk2Us8RUhjPEhGejxhnoI89pqnPFAjtzwG67U8K+C9
			PDSNrTxcvZ08Mo6TPNEzdTy+mUw8SGwtPNUnIjyEXkY8e7F0PM54
			mDykArU8kCW2PJ6UtjwsyrY8ytWjPJ6anDzY+JU8Ynl6PM9dbTzC
			tGk8mktmPOEbhTyn9pI8lfmWPBJtljwt64882QKLPBmxgzxPG4E8
			kNGFPJN/gTyiC4Q8GyKLPFTviDzNtZA8bW+aPO5fkjwCtpE8FJOZ
			PE/ikjw75os8lg2NPHv8fDyVaVU82nlPPE+cSDzi80k8mFduPJUA
			iTys75A8hYSdPEbApjwCKqU8VnyjPMYPoTxY2Zc8Z5+PPBpLjDxU
			fok8jwKHPM0xizyOqI08iKSJPFtdjTx0JI48fgqLPNe7ijzNJ4g8
			hHqEPMIThDw58YM8XgmFPCuYhzwjsIk8pMSJPMAriDwc+Yg8YQWJ
			PM/EhjyWFYU8jACEPPbUfTzyN3k86gl3PKjXcjz0nXM8rQR3PCWb
			gDzbbIc8QAKNPP9OkDzC+5M8RruVPGz4kTyy9Y08EUyOPBK7ijx0
			n4U82+eFPCVahzxc64o83pKPPO0/lTypBJs80zWZPBEnmDxIWJw8
			pKOWPKR+kzwc5ZE8yBSMPK9wizwdbIM8F42CPHp+ijxUp4M8K4uB
			PAk8hDz0+oA8uJ2GPLZThTyDd4U88DqOPB1AiTyLPIY8UaWLPFft
			iTztRYs8y06LPCFXhTwqn4c8OaiFPKBpgTzJnoY8hxSGPHJOhTwt
			/4c89U6EPPOMijweO448fFKLPEPAkDylfI48ch6MPNX8jjzjgIo8
			cfOMPD3DjjyYCYg8DoqJPNH5hzypdoY8ztWMPKLMijyowog88JOK
			PLZ/hTwtLog8CriKPK8ihjxaDoo8CeGJPHpphjxwuIk8MwyHPO8n
			hjxXVIo8L3uFPGQ2hDxeXIc8+eOEPDa/iDxCcIw8B0aIPKx1iTxH
			GYg8D7SEPM8+iTxkBYg8vLaGPMixiDwhF4Y88+2JPJeFjDzrgYs8
			7z+QPPtijjwk44w86dqPPG+9jDwXg448fW2OPIJdhzwJM4Y8l6qC
			POB+fDzUIH48+Kh0PJbYcjw55nk8Iop3PKzIgDwGT4U8Ie+FPJSw
			jDzpZIw8euSHPOxRijyQwYc8NXqFPIV9hjwynoI85wiAPMHsgzwW
			moc8SXaJPEIgjDzgAI48Z/iMPCbgjTyGAJE8cImOPP+Uizxwpos8
			EbWHPISahDwTYog8sJuHPPochjwyIIk8jRKIPD7uhTzra4k8FAeL
			PKHqhzxFpIY8wa+EPJGVfzzL3n48oe2BPNk2fzzpnX48Swx+PO18
			ejyfJXw8pyWAPF2rgTxpJIA8hV99PKkmfDwOxXo8SHiBPJeihjxX
			0Ic8Z+GIPGBSizw75Iw8gEyPPGhKlDxDIZM8k0uPPNPejTw+kok8
			Dj6IPAFaiTzwmog8LuCGPAghhTxtp4U8df+FPFnOiDxoC448+0GN
			PG6yijzrXok88E2GPMayhTzid4Y88WCEPNlcgDwbBns8Qi14PNTr
			ejybZII8tzqFPOiihDz/ToU8vLyEPH1ghDzQCog8yfuIPInxhTyv
			KIM899mAPJFdfzydOoE8WbOEPI8lhzzKboU8kgKFPMBmhzxao4g8
			3PCLPEEwjzxwJow8h7uJPGnPiDyAX4Y8rmWJPMdzizxGwYk8zLKJ
			PPl7hjyMRYY8DvOJPHsRiTylLow82sOKPAGVgzy0dIQ8J/KCPDf3
			gjw9TYc8ETmDPLz4gTwqjYE8+jR9PFglhTybW4c8jCyGPFAMiDw5
			A4M8veuCPCz7hjwAF4Y8B9eJPNSAiTznJ4U8IwmHPBAKhzy5jIk8
			9N+OPDWAjDxyFYs8N+aKPB6thzw8b4o8mKaLPLE6iTyx1ok8peGD
			POOHgDyPoYU8wk6EPNXChTyT+4c8KDiCPGs8gzw8k4Q8cQGEPL0j
			ijzc94g8XbyEPFLhhTzlYoM84yKFPGjHiTzCJog8L1KIPCy6hjyr
			coM8ccOGPPNmiTwByYk8uImKPADuhjzCC4U8i5GGPKdthzx4tYo8
			1CSLPBvihzyoE4c8JFyGPBQbiDwZA4w8KUuLPNCTijyKAYg8XKaE
			PHdRhjzGcIc8U/6HPP1HiDyAioQ8NF6DPIa1hDzquoQ8CkuIPJpD
			iTx+94U8MtSFPFyVhTztmoU8j1OJPP1oiTz3GYc8n0OGPE7KhDx4
			zIQ8hWuHPCIdiTwGeIg8EdCGPFmYhTxXMIY8WR2IPHSyijyx44o8
			oj+JPLI8iDze74c8JzKJPHQyizy3Oow8sxyLPMXziDwIOYg8Wd2H
			PI7hiDwnYIo82a2IPD92hjzldYU8n/aEPJm2hTwBU4c85H+HPCHD
			hTxazIQ8xD6FPJIshjwgD4g8AliJPCZeiDyAOYc8WUSHPGMlhzxd
			aoc8gmqJPLQ6iTyCa4Y8yx+GPNUWhjyXmYU8VF6HPCxDhzwzx4U8
			okeGPMthhjwwxIY8dSWIPGuwiTzwWYk8Ky+IPE04iTy3U4k8Ys6J
			PNqZizxXNYo8ZsqIPG8TiTz5Q4g8OfeHPJ0MiTxI5Ik8ggCIPINW
			hzz8Jog8NaeGPM+ahzyKHYk86e2GPFbbhjwIfYc8yWmGPFhZhjxv
			qIY8xiiHPMkahjwwpoU8G/uGPERlhjxeuIY8HnGIPO4uhzx384Y8
			PsWIPAyQiDxAU4g8MLyJPNaLiTxjVok8di+KPHgDijw0D4s8AD+L
			PJ2nijzvwos8ZM2KPADkijyANow87veJPNKFijwByIo8OdOIPDFf
			ijxFTYk8kyCIPKKHiTx2bIc8j/6HPCEmiTzPQoc8/QaJPMYHiDyt
			O4Y8hJCIPCEvhzy6/IY8YL+IPJlqhjxbB4c8/j2IPGXYhjy0cYg8
			TwSIPJ7Lhjz5Sog87VWHPDT8hzxhEYo8fuCIPNm+iTyea4o8Cb2I
			PIyPijxQOYs8O3uKPDMkjDxXEos8YCaKPKOdizzK2Yo8h7iLPHIK
			jDxW74k8acuKPPBFijzKb4k8/PqKPIq8iTzcT4k8PWSKPAOziDxF
			v4k8to+KPL3UiDzO5Ik8wkSJPHsOiDyECYo8XnSJPCu3iTy034s8
			3yKKPO2ciTyUaIo8DBWKPOt/izwIw4s8RLWKPJIRizy9TIo8uj6K
			PC44izy1joo8+9eJPJk4iTyxfIg8xIeIPBBQiDyQPYg8YhSIPBFJ
			hzxwYYc8w32HPKXghzyxyIg85yuJPMs8iTzxCYk8/bWIPJhEiTwy
			QYo8P6SKPPHZijxitoo8qyKKPGFpijwCx4o8s8qKPBEiizz8g4o8
			zTqKPFwJizyJLYs8d26LPGgUjDx+/4s8PHCLPNmGizx/2Ys8np+L
			PIcfjDxWEow8Xb6KPIqPijy8Zoo8IiCKPPCzijzThoo8QHKJPHaq
			iDx4EIk84D2JPF5uiTyyNoo8tLKJPE75iDwzsYk8JEmKPJdSijzt
			CIs8XDiLPI8kijw5/4o8LsGLPMYHizyZTYw80QqMPHd+ijxWKos8
			L4qLPOByizzl7Is8wzuMPLrOizxa1Yo8r7iLPDvjizyGIYs8qt+L
			PP45izwag4o8kxGLPNVvizxTtos8cEmLPOxLizzitoo8W4eJPFhl
			izzdbIs88kmKPFSVizxDmoo8rryJPJnyijwG84o8Uj6LPPXvijxT
			YYo84YmKPAEXijzNlIs89wqMPBq6ijzeSIs8RrqKPMksijyVMow8
			BluMPBLQizwAaow8cWiLPNTwijyqSIw8PUeMPE/eizwr3Is8WIeK
			PA==
			</data>
			<key>ThieleSmall</key>
			<dict>
				<key>Bl</key>
				<real>0.82299999999999995</real>
				<key>Kms</key>
				<real>7902.6877299999996</real>
				<key>KmsFrontPort</key>
				<real>87000</real>
				<key>Mms</key>
				<real>0.00074824801600000001</real>
				<key>MmsFrontPort</key>
				<real>0.00075000000000000002</real>
				<key>Reb</key>
				<real>4.0461181100000001</real>
				<key>Rms</key>
				<real>0.90137399500000004</real>
				<key>RmsFrontPort</key>
				<real>3.5</real>
			</dict>
			<key>TweeterGain</key>
			<real>11.885022299999999</real>
			<key>TweeterResponse</key>
			<data>
			+oeEO1UvSzyv5OA74e85vOBqQrymhhW7akzCunvhhjpLVCk6wHtA
			uzQws7pNi3K7JvNxu/CsFTufw1g7jsqCOxV/sTtMQHM7Qg8JO7/o
			Hzo4qRI5Co74OWWxMLqmAQC7P9cYu69zBrvltgS7DfERu8H9qrog
			Nsq5v/ocupxY/Ll8pZg6J2oRO2+Aezohtdc5kJ3ROo91/zqYh7E6
			AChIOqq2G7gIn2e6VdlOutTGNbnY7kK6i4XcuhLJzrrooie6qvQj
			OvspUDr1nee4hlr5uf50ZLm7TmE5vgYGOkARIjqOok06Cr8lOrc9
			+DkRERs6e/hYOeq+1bmhsDC6AK4euncwabl2KSi5UILkuQZ1n7n1
			NJy4Mje7uOQQOrly/ou5np87uWXQLrZU2/k4iPwqOcUTAzm1DxY5
			H8GBOcEGvDmYicI5lsqzOUH05zl9D/I5uGafOTPf9Dg4oOy4HhKX
			ufn79LmY5ya6v9UFunPvj7lFo0W5MJ9kt0AlfTnTspM59xU2OcTg
			pDj3MaO3c4hsuNKdyLe11Ue4GNJHtpENgjgrDeS3LbVotlMy9Ti0
			h8+37KynuZKJ4bl/8225rsgPOf0e2znJGPY5HB6qOS/+hTmeqo05
			SgtuOb6+AzkNOg25Ba/GuZm8xbmQ6qW5GiOguXx7mrnq0n+5vbMO
			uYnVZLetiTQ5V4WqOULpoDn794E5Z4pWOfagHDlCoAE5zhmbOBdY
			UbeVVQa4lfHPN29viThhllk4/6ITtxAzArnPS2u5Gmx6ubI4VrkA
			OhK5XD46uNAqDDgMhaU4LLX9OJ9WKzk9rTU53dUPOXSFdjgRH3y4
			RmIXuWxiHrmnJx+53QsXuSmxqrh5zV63aEIdOPEosjjLH7449595
			OMxldThIGMU4Z333OIVb3DiJQXk4ZlVyNzToFLbmkqA2Cv4BOIl6
			ojha7tk4PDeAOKTRjbdk/qG4AUkkuR8ilLkhWrq5QG6PuXiYw7gv
			LjI4JkaiOKD7izgaRKA4kebrON/NHzkRX0Y5elhhOQuwTTlucvQ4
			EaaON5/WMrg+Ria4W/RSt5OAtrcnrba4xAsuubN8SrmqyCC5cRPM
			uLQHprjfBae43lAKuC+2djiEgQg5UVocOdQxHDmdHyU5+XUaOb9P
			ujhdAb802emMuLcVorhUahu4N54SNlte5LaKoG+4M4rBuN/ngrjU
			zGE3H/CXOFaTnDjNoWo3dfSluLLdILku5SW5NfKSuMXHVTgD0eE4
			8QuNOKbcVLe8zhi48NrWN7W73jhTQQ05TrDGOHb52TeN5HK3yDaP
			t+RMGLXdhDA3NaC8tg+2JbiD5oy4rVuOuHUPN7g9Utm31y/st48g
			IbgsqxC4hhUNt59krzc8IRg4cjT6N+jvfjfBn8Q2tgqnNLcZnTUN
			rts1PaOmtaBuqrVrFyw2mS2AN/ju7jf7hQY4nrbIN7pXGjVu0bS3
			7xcluI0MWrjT0Ue4AvAwuOkuEri0kpy3n/PutnaOHjeZfdQ3JpLK
			NyXCaDc8AH+2qpZxt9mOgrZtqJA3G7YdOJ6nTDis9U44X3lEOBjG
			RzjkHVk4nktUOFJ7BDi7hmC2kFouuCNHprgcjda4el3SuN37tLjU
			l4O4bMcHuBuvf7YE3Kc3O14POPLAIDjgQgk46Bq+NzcDnjfQr643
			3ZTRN0oAzDe4Uh03osJbt4GR1re6YbW3bAhOtiE6/DfXqG84tz9l
			OKfaAzjOPMC2b1dfuMGrsLgwE7W4NPSUuLk7ObjQv3m3w43TNedc
			4zZiXGY3EALcN7k5NzhY84M4pR2bOK+6jDiGAyw4nezrNpFsyLf5
			lkq4IYh6uE1aa7gSfj64cn8EuA4oj7ft2Qm3j6QmtkzOmzYGq/E2
			9ikQNws+hjfZ1J835l9YN2Ew7zblV/Q2j2lmNweVvzc4ePA3lnPn
			N5p4Zzd2xpG3l+pouAeVqbh7irm4rNituDK2gbgwvvC3e62pNmXg
			EDhoVG84K0OOOGpjlThB+Jc471WJOJzRVziZSSI4p4fANz0qmDWE
			EK23DYkfuPzGVrhwXXa4XLd5uEzIa7hAMk+4+yEyuDoyILgVHQW4
			2EW9ty0NVbeVas40ZfeWN3XmFTjH7UU43rNfOB+cXziC/j44SAQM
			OJvGmjfPOXg2v/kit6Gjr7eHYe637G0LuDtFD7hjnQS4EhTltz9n
			s7fi2nu3xF0Ot2RKm7aCfDW2o85ytMCUbTWwAAg1k377NFRUWzZ5
			WtU2WLANN+AyOzcF7So3BD7TNnSYMDYRZ5m1nCo/tqweDbbxrKs1
			rjORNrcdcDZRj0c28MCMNfr9sLYn2Ea3MnF4tw2zXrfNhj63ghJZ
			t83DaLfaO0K3mfQ0tyjMWLeq0X63YNBkt/Uf0bYRXaE0FOyENrzS
			IDfiKXc3XiqeN4ZDozfTwn03WENoN0BXYjc9HjU3K1bZNlGJD7ZR
			zQy3yTxJt9y3mbcC4Lu3olfIt5klt7dGvYO3VS02t/6knLYQ/0c2
			4bsMN1G7WTexQnY3VDF/N9KIhjeaI0c3a0DVNqV0IzY0zOO1nSl6
			tuZY8LYF5ka3NBNTtz6XZ7fRf4K3ZiGAt1Mmg7dMPVm3GAj6tla5
			krZN2Cu0OP+mNm391TYXstk2Fqm8Nt8/UTbF0Rw2noABNoXRETU2
			YqM1B845Nk9ZZzYCwYk2ux6UNrYlnTaRhVs2SWyDtErFBbbdxS+2
			GjJUtuyyWLYU6Ki2lsnGtpOzmbbRkKm2f8rttgPgHbfqXkW3Rmla
			t+uDWLcZvTe33EUQt19ntrYM3rg07cWuNnq4HDd5P3U3GmyPN8Ab
			jzcQHoY3ykxFN8fQ3Ta09C82Pqcltm+vCLe8X0W3ElhYt3h+P7dl
			lgO3Mb+DtoHh6LMaDGc2MajXNtdhCTfzBQ83ytEENwTXtTb1sUQ1
			H++CtkX75LaqQBG3iUcktzu3MrcApz+35F8qt9eY5rYxG4u2DRYc
			tmERzLXjgsC1CSpHtZCwzDRfxEk1/nymNRnjSDbvOIc2SaefNvz5
			zDY508o2VXq5NhUeuzbPP2E2eW9NtZWPbbbiNrW2+Mbltmq31LY6
			/b+28m++tpMAZbZKvYY1elSyNuY2CTfKoiY3urUrNyHTGTfiwAo3
			lcjPNrMWGzYtKW21zVFvtj6+zrao8fG2977otmzVu7ZXNEi2EXgV
			tFhotzUyOOw1h8RGNr6ZezZ7lWg29mhoNiDU8DVVO120RllbtPht
			CrRc4IOy5ZUENV6TjjUUJW01OuFBNBnRGDUMBQ60bH6+tacn37UK
			NV+2EBehtojco7YBj4q2ItnutWwmsTMxZvA18kxpNopSiTZYRcs2
			mLEIN5oaFDct2wM3SLGONn6YrTUDtJW1/YZwtvJsZbZgeGu2+5Co
			tjg30bYioM+236FdtpRRibO3IzE2XA2gNmaKcjZZjMM1VxHlNJq7
			0TTay4c1SBAntGo3MbawxZu2ev6/tiJAq7bJfTm2vuz0M6EqvTWV
			Cq01JHzZNTn4SDYviKw2NZnZNr298DY2c+w2Rr+oNi56gja/po42
			2RqQNkJkhDbQ7DM2Ze/JNc0IjzSg97W15maGtdUCOLVVZBe2wrhh
			toOwcraYhku2rwMStumoA7Y3VHi1DzChsoWqnbSpMTU1wStHNiHV
			pTY31c42WgDVNu6j2jYf/Oc2zjDZNokM0zbPUtk2PdSnNm+bIDbA
			6dk0CJVktcGt9rV6F0q27SuDtsdXl7ZiQb22MXrItl03krbHqum1
			sa/dNECLlDWzgtM15DNKNu9zmjZvJcs2YXvpNiFJ2DZy/pw2Dn8L
			NocsdjSAhkE0f0gONVXLLDVpW+8z13e/tUp4B7Zdrq21ArT0tLOx
			dzVsNAU2KqP+Nf/O7DWOz901MSLANbbr1zWv2AE2b+8VNg4WDTZD
			NP81yNIhNr36TDarD3s2rEl+NosTNzYaxkE2N6CMNkjVhzbFDGY2
			3YtpNo1lSDaCTS82kiBENpw1PTYoWmg2BOaYNv03aTahLeY1fCja
			NRzpBDbzuA82vGQpNmIa9DWEXzczdOhktWItsLXJeOS1bOs4tftw
			BjVL50I1/n+gNV0c7DWKRBI21zV9Nq7zwDZC3dQ2zOzXNrbj3jbT
			WsM2pH2aNmt6hDY/7DQ2THaPNV01rzS2szW1/T4rtsbra7abx3a2
			IWiNtsn2YbaPjpK1R+AANIFDsjWtP1U2YbGANkFnlDZ6CtM27I4B
			N9UoBjeQ6As3wOoDNzN4xDZCA582Aa+RNqIeWjb5okY2FRo6Ngsa
			fjXJWR61hW4/tfN2jbXDFrq1Zmo9tT1Bc7THRbu07noLNEnwdzV/
			gZM1jrPLNSFzJjYUzy42D60uNqmhaDbnYYk2pNiPNk3DjDY25XY2
			6IVSNnDrPzZa3WA2TnWBNoD3dTZyWG02yEZjNgkIYTbLH282cz5+
			NtsslzalS6g2MEOkNuholTbtNFo2iDkNNp7x2DWOeKg1kpR2NV9/
			6TRkqyqzFIS4tO4HKrWxkgG1PomYsZl+RzUhqf01IskvNrTgSTa+
			AF42FD1ONqj6MjZf6iY2Sm8hNixaCzaNp7s1/N+XNYhXjTXDBTs1
			BfgXNcmCyDNaewu10vEbtENxMDUPMsY1mcAJNqjMEDY+7Sw2Ru46
			Ni4CFTYtaeU13gOjNYJ2UDWth2M1r2CKNXFkizXannM1taBGNXYV
			KDVQgyc1Lo1TNdvSszVCvCA2SNlnNu9OkzaRJKs2evaqNu/QnDaE
			do42atuCNr3fgzZc5Ys2ntuBNpQTXTbip0c2D4ovNoALKzYs+C42
			se0mNihVNzY/qVM26DuANpX7nTZne6s2h4WrNvkWpjYv/pg2ZKuA
			NjFvUzaz6io2dKO3NU7qarN/zqq1GwgYtrY4S7ZlyHO2DNN2tiq0
			VLYvkSW2hBG/tTw7IrS73Yw12LkdNqRIgjbJRKw2x9nHNvek4TZr
			wPU23871Nmg04DZ0AL425EqRNtyoRzYHIAE2WUpmNZo2dLQrf5u1
			W9cFtosPFLaFwNS1sb94tYyjxrQDlTs1ymLwNXe/LDZ5vGw2nuaP
			NnlfnDZwiqE2+E+bNqn7jDZbE3c2v1FHNlMnzDXKHZA0wSTqswDp
			mrWUWAK2z//WteyM2LX9Ide1OFi0tdIKirWUwpa0basLNZFvtjV9
			CA82JahGNo9cZzZOSVE2dS1UNr0bUDaGQSA2MaoBNgxMwDVgcnc1
			Vc8MNZokwTSReds0Vk3OM0OnfjOsnNQzDqaRst4/0zQav2c1ZAvJ
			NQqqBjYxQQA2lML5Nb9U7jUiYAc2npgSNjXy8TUCQ/41g1HXNffc
			eTV8T5M1azuVNTEBLTXKv1gysYYItSbrorRCCaQ0aFSYNVrv3jWw
			7t01xSnyNZGZ2TWQPbU1DP/uNdAoBzbrgwE2U4wPNjTBJjZ40jU2
			XYE7Ni2dOzZ8OR42KT/RNVeehjWMqhQ1/R/WNCcuZDWQCpU1WRhx
			NQ==
			</data>
		</dict>
		<dict>
			<key>AnalogGain</key>
			<real>11.885022299999999</real>
			<key>PressureResponse</key>
			<data>
			1EHOPu/KED8Bbna+dkIbvRUm4D4v1Ma+xDpPvitprDwOV8m+C2lB
			vQM6czt6+4Q9paj4PUECIz0QsH0+jennvY7ZUL2mS3s+GQYmvnLc
			uL05QgS8LdqwvUBIjD0eSW69OTmpvUwHDD3NjxQ9DwSwvFoBIL17
			fPc9s2aPPatfxbzXv/c9L4mSPSDR8DwnlzE9jup8vWAmt7whqr89
			hF62PYCDCbsJsG88a7uoPYPsCjxZsJM8yVTUPYw6ojx8ANS8Fo3C
			O0+d4juEnhE8A3blPGb8Fz0vLyu91Qt7vfhnMD20qV09OeLJvAo2
			jbyw0eu7fH0HvejDqLlBFCU9EYrrPDn8RTxpHN07wavlO2OcnTzl
			Hjw8dVsKPAt/gTwK6zw8GOjtu1PemjwpPZI9Su1ZPQPDND0BWqg9
			EN9dPYFnVzwXm4A85HeLvG8VQ7za4CE9tFcjPYYpJDzyaac8hqsq
			PcKOBD1HQhM9Wwg+PTDnojxZ4ZS6dEFnPAyfpTsX4sk7pAehPFI1
			NLxpwQi9DVwrvFd0Ijofolk8rKM8PUHTHj3RVCw8Aq0oPDHyhDxW
			Swo8WcuLPJRCszxX6he8bKrfvGYCaztGwj88AV5WPMIvMj1QFgE9
			TyhRPAjNzTyeduQ8JgLiPMKQBD0tPf08qMKIPGC36ztNsM48VYf6
			PPw9CT1KQzw9wG7YPLUMPDxmcrA8tFGwPLCZrTypo+M8d+mDPLaV
			lLt4sRa7fvsuPDd8Rzwd4Mk8oVkFPUj/XTwbPfk775mCPGNShDw3
			kck8s4UFPUhDkzzOYA25LpUUu3WB/TooagI8GAiVPE4XZTwJXhs6
			pQnVO+JnvTwpdRM9/vQ8PX0BJT1nEIs8pV2COiEa7Lnwi447NUph
			PDHerzy2MIE8aLv0O2rjYTyJhNc8BTkSPQeZKz35BxI9agaUPMl2
			4zv6pAA8o/yDPOy6wDzRSas8aRMbPBjIeDsmofA7yUxtPP2/xTw8
			bPg8kw3aPGv6njxcApM8R8qvPIP21TwVWeU8cnarPJTq5zse1zm6
			qaXBOg//IjwS+5c8yTK2PF2GkjzwQRk850vkO+utdTzO4Ns8yeH+
			PEEDxTxbhGc8IfYdPJApWTzetao8hV7EPLNIojz8ADA8L2qsO7uK
			6DveUXo8QHXBPCfazDzG86s8BlyGPDkogjxIP7A8pK7dPPdK3jx1
			Xqw8wtpGPCsR5jtolAM8lWl6PEf2qzxSoqc8EQCBPN+VMjxl7lA8
			EyKrPK2F6jwxn/I8ZBi+PLCngDyC3D08LchnPLrfqTyTbrc8CwSc
			PBLAUDxmIhA86bJUPEXvrjwY4+Q8dAHkPO7ltzza9Ig81rtpPChe
			izyd/qI8lE+UPI2qUjysb647+vM1OzGTATz0q3Y8fnquPPbArjyM
			los8yoJpPGVveDwWYaE8hMG6PDg+szwtTJA8TiRBPLk6Sjw8Yow8
			eTatPJSWxDwFWKg8B+poPFhtVDxqT4k8ZOqtPCMryTx/yrc87T18
			PFXrQDzI+V48uGWWPOXrwDxNf8c8XGqsPJ3NhDxnZXI8xFSVPH5p
			oDx/Y6Q8MeqQPBjhKjyoPBE83DVOPGxMhjynY7I8zJ24PLmrlzws
			H3k85i9zPLONkjzzQ6I818igPKsoiTxLODU8pIYqPIpgaTwHaY08
			GYmmPKD6pDxZyYQ81HNwPAeZjDz01aM82nCxPFBYrzwWxIw8fW1Y
			PLwybTy8cYw8I7qhPLHWtTzvCKE80f93PDfzcTxvI4Y8a0aUPKD0
			qDzJw6o8rr+NPDUgejxdFIw8a7GXPFzzmzwzhaA8G4GFPLO5QjyZ
			VEk8kzRkPJ95cTyIsIo8a4iGPG1OWjzHvG08Of+QPJ9hnTyjh7A8
			gy22PK0GlTzRVXo8jM+DPFh/hTx+RYc8lgWTPMVnijxXs3Q8pYeF
			PDc4mjxiIaM8yYipPNf5ojwRSog8BmB3PPragjyYV4k8RgaSPMEP
			lzxEKYk8Bih/PMu2hzwyG488MEyUPFnInTzX4JY80ECHPLNsizxY
			uZY8bMqaPLzinjz0zps81luJPFQ7fDwkgH88MleAPLregzxwl4o8
			RSOFPINkgDxaeok8nHKSPJx3kzzfeJM8PuqNPL/4gDyBAXg8kPN+
			PJcxhDxCvoo8ASSOPEVUijzllIo8cUGPPMSmkDyxXpE8KLeRPJg0
			jDy0SoU8XKiEPEWHiTyqMI08jbGPPNBYkTyE5I88v0eSPBYPkzzd
			4pA8sFWTPOqVkzymQJM8ZEWRPOBTkDwpfJQ8WKaSPKNqjjysGY08
			Rs2LPAWHijyc2oY8Mu2EPNREhjwBMIY8bAOIPKnRijzRI4w8KpOM
			PN1yjTworI08oSGQPEsskzxFPpM8YhuSPKa+kDzzuY880QGQPJLN
			lDyB5pU8jeSQPF6IkTx2DY88rrmLPAk1kTzMAJA8WaCNPEGuiTy3
			o4I8/mWDPCILhTwx/og8T/mKPPyHhzxzpIg8/ouFPMK3hzwPFJA8
			x+SOPGvwjTyetog8M3ODPAeOhjx2nIg8khOMPNq0jDyum4k8GKqI
			PAujhzwrSY48DD2UPK7NlTz5G5Y8wRmOPDQrjDw3K5A8qieRPAxR
			ljynwZQ8JJmOPFyEjjw/JI88l9GUPDi/mjzPf5o8mlKXPL5OkTzz
			cI886VCSPN3GkzymspM8r9WNPCV1hTwG/H88jzl+PDdkgjx++YM8
			MCaEPEkZgjwxw3w8JcGCPNNKijyHI4482DyRPCEbjjzjyoU8/VyD
			PJuFhjxESYg8Wn2JPDG0iTzQv4Q8kwaDPDJNijwL0448zg+RPGR/
			lDynYJA8XOGJPDjkizwW2Y48bZWOPGPpjzyoCo88fy6IPGzVhzwg
			1Y48H+SOPFIzkDyo85Q8Y/ONPFNJiDzuGI48Vp2MPBIOijykfo48
			99CIPDz5fzxy94Q8HuOHPKgyhjx+qYs8vPmLPFAxhDz7roU8BHGL
			POxsiTxlR4o85tqMPLbghjxr1IQ8N2SLPLwOjDyYqos8y/SPPG2M
			jjx+FYo8nbCNPNmLkDxcLY08JwiOPA5rjjwqBIg8p3iHPKsVizyM
			3og8FXCHPCisiTzTt4c8Fo6FPKKFizzRGo48gGKLPL6ujTzsB448
			h7iKPO7hjDxFpo88CDuMPC1piTxIDYs8U9yJPK1TijySDo88z9iO
			PB1AjDwzN408uNWNPP9bjTxBeI88ED+PPMFAijxf2og8MA+JPGGP
			hzzavok88XmLPN1TiTz8DIg8UROJPErQiTw77os85smOPMQAjjxD
			1oo8zqGJPBA9iTy1uYk8ajSNPA7SjTwLtok8eLGIPJD0iDxS/ok8
			nJSOPBUMkDzr7Y082sSKPLRxiTz8dIs8pCqNPH/WjzxEio88E2+K
			PAvwiDw/Mok8+YKMPBP+kDyuf488wOyMPJaeiTyHIIc8DcGKPIRu
			jjyiHY88zMuLPKbBhjwFbYY82xqIPIVZjDwLhpA8s6aOPIyqijx4
			rYc8Bo+IPBCQjTxvy488GLiOPHiDijxnlIU8kq2EPL17hzyAKow8
			FoqNPMdDijw/54Y8GtaEPA43iDxlAI88xvuQPGVijzwVsIs8J5GH
			PCTrhzzq/Iw8lGWRPFdJkDwv1Ys84g6IPFiahjylbIs8HyuRPLY/
			kjzSe5A8tjOLPCYDiDz32os87lmRPN8vlDywVZI8G6qNPI/xiTz4
			2ok8gLyOPFHtkjwtNZI8TjaNPBgfhzyfy4U8mJKJPMFMjTy4q448
			aDOLPAUQhTyUx4I8ioSFPGKbijz4Zo48AqeMPGfShzzh+IM8VU+E
			PFLpiTwJZY48EEiOPEObijx3WoU82bWEPIYWijzIMI88VtWRPGBP
			kDyzq4o8TbWHPJBgizyGpJA8gQWUPAG5kzysco48aSyJPOKTijxy
			Qo88ElKSPBjekzw/KZA8cYSJPHRmiDyJSIw8lMGPPAj9kTwa2o88
			jL+IPDTUhTx+WYk8bHeMPEQHjzxFko88XpuKPBMZhTy7eYY8286K
			PMY/jTxpPY88CXyLPDKhhDwO7IQ8UIKIPCIhizy1II48O42NPO9s
			hzxNToQ8LbCIPCCCjDycmY8850SRPBpxjDzKZIg8H5WKPKgQjjy4
			uZA8Rk+TPDRGkTz+roo8KqyJPP1jjTx+7Y88IvSRPBXhkDzNnYs8
			gFWIPC4JizzN7I0860qPPNUWkTzWQY08XdiHPMUpiTxLJYw8Q3SO
			PEnYjzzB8I087E6JPJ6zhzw4P4s8+AaNPJksjjxxlY88t9mKPMB5
			hzwRQIo8jqKMPNlDjjyt2o48DeGLPBL0hzwoZIg8mFeLPGOnjDwa
			7o088XeNPJo4iTzA7Ic8JW+KPEcTjDw52Y08N9qOPIxrizzxzYg8
			RtKKPMXAjDxS9Y08ApqPPI8wjjzrI4s8JQeMPERyjjzGUo88V72Q
			PAjdkDy7O448kySNPOWsjjzZk5A8/a2QPLNZkDxxKI88pIaMPNAi
			jTz2/Y48MfSOPA6OjzwCxo08cp+LPNJ2jDzYH4w8OLeMPFDOjTxq
			A4w80pSKPAitiTwkhok8PhWLPP7iijwmqYo8m2eKPLm2iDxnmok8
			C0yLPFA5izwW3Is8CsCLPOW7izxj9Iw8Xw6NPEiHjTxtp448rlmO
			PK1MjjzR7o48QfyOPH1Zjzx6s488c1yPPJPqjjxvBI88plyPPDh9
			jzzRjo88fBaPPFjIjTzoUo48LeGOPLu8jTwxi408LlyNPKJEjDxz
			xIw8Qk+NPEZZjDy014s8ONSKPEhBijwFSYs8/sWLPNcijDzwXIw8
			93GLPEgEizzRLos8kS6MPHVpjTw4vY08+2GNPDARjTw3y4w8/HON
			PFj1jjyrC488XUmOPDx9jTztpIw8tRqNPGtwjjwQ6o48is2NPL9B
			jDxwZYs8zBeLPIVqjDwupI08QVaNPKIbjDzPlYo8+GqKPMmgizyl
			c4w8OsKMPItJjDyeqIo8zqSJPBOxijwCTYw8veaMPDGKjDzlL4s8
			4J+JPOnEiTz+fIs8c+GMPM+FjTzMh4w89cOKPMniijzZZYw8Z7KN
			PCWWjjx99Y08yB+MPGJtizwj7ow8fbKOPGaTjzxLtY88FOCNPEi3
			izyoWIw8r+mNPPv5jjxJhI88h1KOPCJajDx0oIs8jhKNPC8fjjyp
			JY48XhOOPKPWizwtaIo8aB6MPEw1jTym9Y08i76NPBewizx734k8
			UEuKPMlujDwN3ow8FTONPAFljTzIe4o85/+JPEUsjDzVgYw8VEyN
			PMJyjTzpvIs8T8eKPFwfjDx5ro08RL6NPMo8jjxXg408kf6KPJgh
			jDz/Fo48ReKNPOSfjjw+VI48R/qLPKOCizzsLo08PqWNPKh9jTx6
			2408cFaMPGmPijxG8os8qN2MPMSHjDxUKo08ClKMPPB8ijwuO4s8
			X7aMPLLyjDzSOI08NSaNPC6tizz7R4s8MOqMPN+HjTxeNI08pWGN
			PA==
			</data>
			<key>ThieleSmall</key>
			<dict>
				<key>Bl</key>
				<real>0.82299999999999995</real>
				<key>Kms</key>
				<real>7735.2159300000003</real>
				<key>KmsFrontPort</key>
				<real>87000</real>
				<key>Mms</key>
				<real>0.00068959742199999996</real>
				<key>MmsFrontPort</key>
				<real>0.00075000000000000002</real>
				<key>Reb</key>
				<real>3.99945774</real>
				<key>Rms</key>
				<real>0.93254636800000001</real>
				<key>RmsFrontPort</key>
				<real>3.5</real>
			</dict>
			<key>TweeterGain</key>
			<real>11.885022299999999</real>
			<key>TweeterResponse</key>
			<data>
			yxuIO9jZTzxrCs47TixfvMhJVLyKq5O1Mi9qOYwVhbmqEEq5ie3C
			un2yPzpZCTO7ZhaRuz6oBDuoVK47LLCQO3dgiDrjkKe5lNNdOz5g
			djsB2UY6EstCui+2/LonBA677eyWupqEhLrgCge742A7u/p3F7vs
			x0y66bYIOp+7uDqUoQA7JdGZOlPXfznzuHg6SQ0JO280Ljt+m8U6
			WhyDuiBsz7qlzPi5MqyUuXQ/e7rv7cG60GCvujkRMrow3Hy48JxL
			OVJ9ljn0kBg6dinpOXBrvbgaXiM5M6xyOlM3eDq98aK4w/5tuhtA
			ubnSSQM60m7IOZFQjjgicKY3+JyvuNViSLkF55+5COMPuXpbnTnV
			D2g5Nzp5uQH81Ln7T2m5lUpiuBYZarnl9fi4HN/ROfZkFjq6qNo5
			HPGrODv8frl8Gw+5WB/Mtzo5AblgfBW3+wbzOKILTDhwax45a4bV
			OcB8vTmP+gw5hi3bOC2hxThELjS5M1IOuv7OSroXIE666rgIupmc
			+bhuYiI5M9CGOeSXbjnA5Gs5BKnoOVLHKTpgXyg6pNAKOnXm0DmO
			04o5CU2ZuGMSC7qzlza6JZwjuhqq+Lnoe4i5C7ZxufLPw7kT4Li5
			sGKCuEmoqznfyQw6sOADOqerATqdfA06AeXUOXk9TzkLnIw4FfVI
			uE0gHLnvLUO5c6MhuYCaKrmMU5K5n9K4uazvn7khSjm5qHRfttTE
			GzkM/IQ5fmGYOWQkgjkKD0k50dspOWGMkjgJz/C413JXuUio+bgh
			5Nu2sAezN0QhQ7jSJQW546nouOcAcLirkZi4J7zquDqrtbinAwq3
			pUiwOIqrNzlocWs5v6tNOd2v4TgNQJQ27ZMyuIr2hjWcVng4GAFq
			ODm3ozfEHDM3+b8BOFV/XDi+82o4nLqFN29StLgmB2y5RzKsuYb1
			nbnIxwW5/q2rOIuEWjntmWg5Y84hObs0mTh3IGM47lfWOEJSGTkZ
			1Qg5gwNtOPifKrhmZ+24uP0GuekQwbhyriG4WNd5tvV5tDZtaf82
			b5GFN92+4zeychA4sM8KNylIn7j4FTC5i5UzubCudbiMOrI4+hMc
			OVsG2zgjTpM32Jp6t/ukOzhcQBs521xfOcLBOzkd/204namouPya
			KbnwmiS5Y9m7uJb1XLdTytg33CMBN2KUH7iIMoW4zCs/uNgrqTaR
			OIM4+ILTODddsTiGIZk1EHjBuLwizrgqT/U2GZ4COX61EDk6t0s4
			NfsbuB5dP7gipUS3hNPWNsYtS7Y22zW3RUVWNiPKeDeCQBU3idWt
			tttRsbemRAi4NmEEuJTMX7fwcpE3gZsXONEhwTf6sRy3nfbVt3rU
			Nree8Y43cLcHOBy7vzcXA0s2nWVBt00bGLfk/w43Ey+uN3f/sDf7
			ix43dQ9PtzY6/rcvYCy4OxhQuNmSVLirSxW4AOoEtzP+1DdjZX84
			VyyrOCeeuDgw/q84+zN2OIxO4jev4wq1qHDEt8EvEbg78jC4gcFR
			uN35criH+Ye4ncB4uM/6RbjMPwG4DUGatjl5xDc1D1I4LAaWOOMD
			nDjA7Gk4DjHlN+oBQTMvPYO37D9St14sY7bLXHG2q6g6t3CirbfG
			2/C35S3mt0AIV7dhj5015tAON6G2hTehCU83YvBmtQU07Lbuqx23
			obAlt5891baP7ZO20abMtqXJMLf/j0237Aogt1RVmradPKQ2yP13
			N00QtTfxK9M3JcmZN52b1jZ993a1NlE3t/L6qrd9eZi3KIVWtzWe
			FLc6GoY2dcCsN30Y5jf1/ek317L3N7ZuBDiTlvE3HAphN8wbfrcF
			ZFu48nLFuBPyALmqg/24xZC+uLTQRLjBEQi2hpUkOIiNmTh3msE4
			xAbUOKfp2Dhdrr84GriQOD9NODgOCk838OWqtzYcObgwS4m44By0
			uMwZwrh1Aa+4YrqJuMQ3MLim5IK3r7RCN90JFjhEOj84lmIzOJ+M
			MDj4ah84MhCsN74hsDYo+QM2Lb3wtQ6JE7dvIi+3fh8dt4v5CreA
			s5e2HtwTtqFKhrbq+QC3VV9/t1N11besiv+3qwTqt/dzsbfTwie3
			f3VzNgW5YTeiwp43WdqcN2l7RDfDB4w2uP/9te2MSLdqr7e3v72z
			t6AehLfuHGm3TNA+t6cZhLZX34Q2IysPN7L8RzfsxIk3cUqoN/Iw
			sTc3iJU3TxpON1Vi/Tbdn6M1gH7gth/bdLdTCrK3g1rPt5MC1beK
			18+3SYu+t28VkrfZ+SS3KO4rthydgzbLyxY3pyZZN4VYhjc99ZY3
			k6SSN4iEQzcoaJk2ly2VtVcPBrfDAIi36eLWt1VTBLi1NgS4+msA
			uKoI2re4vYS35iuPttGrITcfxLk3UPD+N41JETgSdQQ4uhvQN6vK
			hjetCk02LAIlt0FisLcdYf+3DwgbuA3CKbj5JyS4ZPoPuNON7Lcd
			say3EVAetwbPozZO2YI3twizN57P2Dcf8+4347zjN3fxoTeT3QI3
			Mk2OtZh6ALfITG+3u8qgty35qrcVy523QWuNt+i9gbfhAlK3oO4F
			t6XycrbTUL81fpm2Nq4g8DZtQgY3NcPVNmAFYTbV81k0El6CtuXv
			ubbUxTa29CsuNoRx0TbUSd82sRPQNlh9nzYC6h42knS/tZMSALd6
			yUq3z69ot24vh7dy46C3YEm6t0I6xbeposS3CuO7t2cfn7dax2i3
			ZiDdtsh5SDZVrzM3s/t/NwJvmDe4vpQ3+hVuN2s5PDcnTvI2fVsp
			NcITmLaNcQq3U6lKty+EXbdctlq3HI5yt4bpbbcox0u3SQk4t2rm
			E7dzLc22MQ+ktngTWLZeJ7O0gQu/NSTCyjXFGCQ2ciKlNtSJ1TZX
			N9I2EICXNtkzBDUS4ge2t3Eitsdo0rZV2kS3s+Jxt8Nphbfsq323
			E8BPt0zcTrekLFW3Sxkjt23R1rZy1oS2tvqztY6UIrV2UNW1rs8V
			tTRMQTXTh1S16zMKtop8Fraj5HC2dPyQtuNkgraoXbG2NaXWtv59
			oLaHPIm2moevthFRsrZ3Q7u24KnUttTNo7ZC4oK2u2XMti7v/bbO
			tPa20XILt2FXD7d8Oe+2JA/5tjYOArfHvb62PGCatp2wjrbXugO2
			WLeXtIsGo7X0Xgu2dMI9tv2dsrb9jsG29zibtptI1LaaDgG3CjL1
			tslT9raAHtS2e2GOtql7grZsHb62vO/WtrHS0bY8uPK2XJLptj66
			zLblqe2280b8tglm2baW6q62Vno3tk3f0zT5AP01cTT/NbZk1DUe
			JdE1p+3qNd4h6jXaeHk1+TTmtdRooLaGD+22VKYNt65O+7YTDtC2
			V7nMthlMwLZuH7O2uY6gtpz2d7YQDQi25nAitZoMqrVJHiW2hZJM
			tkglhba8hJu2uFqutiuAr7ZBpae2ho/MtpI08bZOpvS2bMr5tjb+
			9rY1ftW2rqesthigp7Y6Z7a2Avittizfirbxmky29SwptsiHBbZD
			6Ou1VmQGthfKtLUx7qK09OjGtOovtLWJ8Ba2BDklttk3K7Yq8FG2
			NYmFtmXVr7by9ti2xSbPtoqXpLZX4462rDeUtkb1vbYSCeS287fa
			ttDltbbS7IK23xaBtkp5uLYiOdi238Xrto4M6bZw3MG2FOistgIT
			pbbFg7W2Q+7Gtvesl7bIS1C2FuUitqYc1LUFrAK2VFpWttX9jba6
			GqW2hzC0tm8u2bZI2AS3IbsZt1MFL7fL4jm3l7svt2wVGLdBegK3
			KYrythfu3LbXBa62Cqdrtuvg3bV5zK+09xZvszC6z7QoIca1ijAv
			tneHOLbuUTG2jlQ6ttDgUrawG4C2PomPtlX2hrZNT3K2bQxjtnda
			M7bDOfe1NqoBtjmpLLZUije21lpTtrdQhrZoNom2J6iEtlfjgLa/
			OnG2pmiVtsNEsbZIqJW2wm10toPmfrZL6mC2mmQ0tlFpf7bMgqu2
			FbettpOGprZN4XW23V4XtqdDTLbZsWO2wgIItvgBDLZpgjO2wlTJ
			tY5UDLWSUpi0nKU0NIqwQ7W2gBq2dk4TtiLvFrb35322Xs+Kttvk
			YLb/Mmm2hH1uti0gYba9oYC2Ed5XtswmoLUuQRS1J/8ZtaxjMjU0
			g281T/VFtCqHzrSAc1O13J7OtUP00bW7wyS2+zqatmBmv7Y0DLK2
			mNumtgGtiLYzUiG2Z3wGtgY+9rXkB4C1isxZtUUNaLQ/9Ms1YGAd
			Nhen9jXvEqQ1aQAPNPEi6bWXRSm2OxMntiE8T7bfP0q2jo8otgKC
			UrZq23K2kOZitt8VfLYHC4u2VUJPtvVJAbYRyfa1nCzIteFPnbWO
			1OC15Nv9tQzvBrYrdx22R/72tZoGZrW4E0O1PJPQtV1HF7YRjDO2
			qfxKth9hL7Z5cwq2+hjetYeZKLVFuGC0ICYJtSyWXrQvCQ01Im7N
			NbwNJTZDVj82yjkrNmUA4zVpKX41s1z9szM4mbVkopy1jTPHta4j
			Draubii2RP1dttujeLa2wVu2GZAptp3hw7UFLf+0Us2MNMNnSTUM
			3o01ONrdNdaZCjak3w4215ITNr2GBDYLVuA15MTVNbFPwTUacsU1
			SIv1NXk9ADaHj+Q1A//cNXVEDTa1Zks2XUiBNin4mDZgaKs2LFGw
			NlAiqzYj0JE2ekJhNo6JMTaxqBE20/UYNvi7DjZLt6s1OqEpNVZo
			trTO0Mi1LNDZtecQnbUDYOG0hOoyNRikxDU5aRU2o7U+NhpqQzbZ
			k0c2e/lPNuKPVzbQeHE2a/uDNueGhzZL+YQ2Q2drNrswVzbLUU82
			TCMeNtgr8zVQYhg2/9RENkgaYDbpnmY2RPFUNi2WPDa1ly02FpUj
			NhBMHDY6GAo2I0WtNR38MzX0XyE10sFuNCQWALVH+w61qsDSs/cY
			wjQiGIg1u/jTNU/OEza+pEY2ubxlNm35kTaudq02sROpNlATuDaQ
			mM82khW+Ni8PnDbxEno2Dx8+NulfGjY3VO41V3B4NbC1rzTKUwu0
			PLAJtWV7TbOSej01nTSjNYKKBTZXt0Y2Xb2CNr0GmTbpla02KlTI
			NqWB1jYCRdo26hraNoXCzzZfEMI2auK1NgZhnzbCYXU230dBNj3P
			HTZNXgM2o4QhNgRfQTaqBEg2BmxsNjUeizaLpZg26TiuNo0oxjal
			VM42JRrZNt0/6zYLauQ2t0jWNmSFzja7T7c2KuKZNl7sdDbfSjQ2
			uuoQNhp6GzZfqDA2w2MbNnUZFTZU9ys24GgfNrvJNTbZA4A2fLiT
			NtE5pTbA9MM2XmbYNjok5TbAKfY2KMb6NtQN7zZas+g2gmHgNq6c
			yDbVO8I2JlvINpbnsDYqOJY2eAiGNqs3SzbKDSs2yIQ7NvEsNDYZ
			gys2howyNimTNza7o0w2ke50NqvIhDb3dYQ2SfiTNjy1ojahNaA2
			5Le0NgT3yDbSKbk2UeCsNhp2pTYs3ZE2/k2DNoxQfjbEVm82ljJS
			Ng==
			</data>
		</dict>
	</array>
	<key>Name</key>
	<string>Acoustic ID: 13</string>
</dict>
</plist>
