<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	MytVtzM8KFoyiwusMgcuHDGokxgxcWvTMTiwpzEXUNgw+8gIMNvinTC9wTYwp1DgMJjw
	SjCO+9YwgMQkMG9d+TBidDUwUt4jMEazETA5dBYwL67OMC2tzjAjadowGQ1cMBLTtTAM
	na8wCG6rMARe8TAAT+kv+nyRL/P6JC/smaUv5zX7L990Wi/Zkqwv1Z9eL9SbQy/NpY4v
	yaxhL8VU8i/FxM4vx9hdL8Ct0i/CtkQvvvygL7pzkC+5wlMvt7YZL7SsSC+0CPkvsANn
	L641qC+wCMYvqmScL6baty+o5xIvo3bHL6YZ2y+nG48vpRyjL6FcNy+eJhovnapsL5tx
	US+bA3ovnEKyL51tYi+bBngvmbPpL5pDcy+XlcEvl+r6L5nhiS+ar5svmVa5L5dUjS+Y
	HgMvmAAKL5ZZ2y+XQIsvl0yWL5ZczS+ZCDAvmbo0L5aqsS+VCd4vlekFL5Pgny+WFxMv
	k4fnL5hdEi+Us1Yvl5mZL5aUDS+UktsvmLe9L5qq8y+ZUj4vl5lhL5sldS+aKpUvmWWS
	L51mly+YE2kvmjkeL5oqAy+c1+svmrnfL5n63S+ZLwcvnOwfL5xJoi+e6pMvn7mXL5+o
	Xy+hKAsvpRL6L6Q8jy+p6iEvq6zwL6im+S+pa1YvrSwAL7CeYC+zniovskvoL7XB4S+2
	RvEvuWMmL7lbyC+5Z5QvtEr+L7e4WC+5bGsvuw3lL7vrBS+7y4AvvsrtL72yoC/DQDQv
	w6lGL8lZVC/J1Z8vzEy+L9KEhC/WEpEv3Xf7L+GLVC/ihc0v6I84L/EGsi/wiE0v967T
	L/23PDABDsowAG0KMAE1pDAC/BowBWG3MAhVZTAPylQwFbhsMBZk/DAagRowH7qMMCO2
	tjAo2towMFeAMDVNzzA3fu0wOd8YMEEpyDBDspgwRR72MEbeHTBJrZUwVHxwMFliODBk
	3SEwattMMHPunDB1MJowgFPtMIgnlTCNHwQwkyNdMJM6wDCXm88wnN9kMJomDDCWrGsw
	lSyFMJEB+jCPBq0wjnW2MI2UczCMloUwjyUFMIxp+TCPGTQwjxyuMIvLqTCMi7Ywi8FW
	MItRajCMxiIwh1vbMIPAUzCKNdEwja0kMIQNUTCC9GQwg4dWMIEqAzCAqzYwgW0IMGPt
	bjBf4YQwTy1TMFFOSzBHQ4kwKsSuMChsVTAgHPkwFOlHMA8T9TAM9pYwCJT+MAZ/kTAI
	+pIwBa5gMAr5QzAO1NwwDTSYMAos8TALxjwwBFvvMAZqdzAEYWgv/p/tL/4yXi/337kv
	86L4L+/tCC/mUXIv4LelL9280i/ZK7Iv1oqoL9QLbC/OnlIvywBvL9F72C/St4Ev0BjV
	L85I4S/M1FQv0namL9v4bi/sMbcwDIT4MHfhLjDXrtMxBIu7MBn+8i/Vxg8vw9ZaL7nO
	pC+7wa8vvhYOL7vT/i+8MTcvuZeYL7mVXS+8iCcvs/x7L7FIKi+yfIAvrLtIL6r20y+s
	PcQvrPI4L6xk1i+r5FQvpChmL6S1UC+lLtMvofFaL6HLcy+i3IcvoU3JL6DEAi+ftRMv
	nDXqL5rRKi+ajf0vmglRL6MJXi+jX0gvoe5RL6Jo5C+k8WUvoo62L6hhXi+mCvQvpwSS
	L6mYYS+pM4cvqCI5L6aVDC+nJHAvpqdXL6gSKi+jL6gvo+itL6SPhy+jy98vpqKlL6d5
	kS+lSUAvqglWL6oqYi+nE9cvqPQPL6hpoy+qUgIvrUrQL6nr0C+oLNwvq6O/L6pO4S+p
	mSIvqq/CL6tBDy+oIYQvqI2AL6nDyy+pvKovp/AIL6V9uC+qLj0vrFLpL63Kcy+qpmMv
	rETuL6wHdi+qJLwvqHRxL6vGOi+r2xEvr1GhL7GGoS+vrhwvrhDOL60r4S+uYUovsSCA
	L7D0By+xodcvsjq8L7BstS+vm+gvsVGRL7bkRS+2c7IvtGnwL7h1xS+3g74vudKlL7lx
	Jy+5ktAvuCPbL7vpMS++y/8vvuumL77RDi/BtEwvwJ6HL7/VWS+8ZPQvvSsTL8Od1C/E
	UeovyAXNL8l3Gy/IJCcvwNXjL8Udvy/JQVgvzA++L84N6S/MwqAvybY7L828wS/MRrEv
	yujOL9GJXi/TiLQvzhzgL9Grdy/UQD4v1FHOL9fAkS/Wqfcv3IuJL9qPfy/ddogv3vg8
	L+MLpy/ilmgv4oOUL+J3bC/oLUMv5m4JL+Q7PS/k8FMv6gbtL+wmjC/nPMIv5fY1L+d4
	di/oxbUv6zd0L+4ejC/ve/Mv8tkfL/FuvC/xEI4v82VqL/dXfy/6Zigv/HSJL/sjeS/5
	k9gwADJqMAC3fy/+m4cwAuRZMAbOrDAD6O0wBGUDMAls2zAJXDIwCD3OMAkufjAJwsow
	CirMMAiRnzALMdIwDYMAMAyMXjAKlK8wDZQvMBIaojAS/mMwEnrzL/2MNC+l5xYvFFKJ
	Lkfmzi166pMsmQdqK8G2ESr+oQUqMw0pKX4QgCi9kCIoCArrJ090MiaitScmCP9aJXJi
	GSUDAFYksuZQJJJbqSSHV0AkgLf8JHwyNCR6ELskdB09JHZsmw==
	</data>
	<key>NoiseProfile1</key>
	<data>
	MzUTcjNEYLQyk1CPMhQdujGx08oxgaDWMUubeTEjgLQxDRb8MO6PFTDQqGQwuZlbMKX1
	ujCVuIgwjbxOMILV2zBwTOEwYAYAMFCVUDBEp/cwPGiBMDJkfjAr7wwwJnYuMB+uZTAZ
	bNgwFO3mMA+JejAJiKQwBlxxMALimi/+/v8v/bwoL/TSaS/t9sgv6SXrL+dkEC/d5Gkv
	2msQL9wEAi/YR+sv2SpRL9MFcC/NCYYvzt1OL8vbVC/HHagvxM03L8GV7S+/VZovurgt
	L7lvNS+9DeYvvWb+L7oi2S+6cxIvtKVdL7KjVC+x6esvr4zfL64bmS+voyIvqwRLL6kP
	Ry+s0/AvrCDpL6y49C+sEGMvqGx1L6Y1yi+nipMvp4tEL6Sh6y+kicsvpUAqL6S4UC+n
	OJEvpopnL6aGui+gWIAvpWYTL6PgGy+jSAovpDlaL6Pf6C+jVjgvocvmL6MrwS+oppUv
	pQyHL6PyNC+jr0IvoYnlL6DAdy+hsrMvpMYaL6NqOC+hlGkvpJYoL6TeMC+k2vAvpkES
	L6Rb5S+krq8vpTJ9L6cKwC+sOkUvrazqL7Bhhy+zvIYvsfMsL6+mWi+yH4ovr1kXL7BW
	fy+tJy8vroAPL6q6FS+srrgvrK6fL60uAS+rhbYvsDCWL63DUS+zGlIvuMbyL7vS5i+9
	IGwvu1OcL75foy/InU4vyJJEL8hCKS/MA6Ivzkm2L86P9S/SaI4v16lcL9YkLC/U474v
	1rZTL9X41i/S/L0v1SYqL9fjzi/dgrwv4iSRL+gNhC/o28Ev7/bfL/6dvzAJowEwEEgt
	MBJM0DAVmIYwHPxAMCKi4DAiAlYwJdOXMCj9YDAzgpUwMP9/MDRebTA9KdswQhgEME6E
	kjBTLTYwXmOfMF7r5zBlaOcwac+rMG8O4jB1F7MwcGU5MHBSoTBywD0weAOJMICPsjCF
	LMgwiMc8MI4/vTCN08YwjyU1MJIBxDCVhH4wlJNLMJ5lmTChsfowpxboMKumQTC1fJQw
	vVxGMMM3gzDLC38w1JmKMNgbvzDYuEow2vznMN/iSjDe6Igw28pDMN/fNjDchdYw1nHG
	MNlMDjDfh7Mw3CFYMNcu6DDZn2kw2utmMNOtDTDVShww1SK7MMtvOTDAy5cws1OHMKtz
	HTCj9aAwmqc2MJDUkjCOJMowhuMqMIeSkjCISnswgsYaMH0jGTBvFPcwaaxXMF4FZjBZ
	5j4wT8FQMEtmBTBBiiMwNREZMCssxjAmbHwwGwN/MBR7BjAP1TwwCinNMAVGAi/8JAkv
	9CEqL/G0gC/2oicv71YDL+4UXC/yhowv9zvKL/JfvC/ybEcv93htL/pygS//dvgv/bYg
	L/0bvi/7GeQv+WZgL/lWPC/41yIv8/a5L/p2CjAcYEowPDINL+sZDi/SY/4vzDZUL8zu
	zC/LvKsvzFGQL8qfkC/Ikdsvysx8L8sfGi/JCEwvxTLTL8b4Qi/QMa8v2WQJL9THhy/M
	v0Yv0C4UL8Zqzy/BjCkvvfikL7p9jS+1Q8QvsEuaL63WIy+trB0vqIN/L6accS+o+aYv
	p3BJL6EoxC+eTPEvoG7+L50/+S+aCj0vl6QdL5gfhy+Zu6wvmtWxL5jtfS+WzZcvlv2Q
	L5XXkS+U5nIvldk4L5drXy+VYu4vllOHL5gdqy+UzBYvlycrL5XyCC+VqmQvlUKHL5Pp
	NC+UhUwvl3sOL5lW8i+ZvyIvmj4mL5r0Ti+Z90gvl2ChL5fYNy+at6wvmsD8L5sOpy+f
	2rwvnDPtL5k2yC+b7F4vnPqhL52HZC+f8hQvqWkyL7to4S/EPvcvuh0OL7A8ti+l4/wv
	pXusL6iefi+quvcvqvYYL66/sC+uX+svrs1cL67kQy+ujL4vrTmXL7Epxi+0q10vsCiw
	L67HYi+u+s8vsEFIL7MsvS+0pDwvt6FyL7WTNS+vHm4vtTsWL7fqpi+0sO0vtwRkL7Xv
	BS+1bNUvtd1ZL7hs+y+8gs8vu52eL7h6XC+2hFwvudyeL7uw4S+7e4AvvFSsL7+c+C+/
	4KEvvWwhL7+mZy/DD9gvxYObL8UBXC/BiK4vx4FvL8zB3C/KjyovzcYXL9Ko8i/QmSUv
	08z0L9iZWy/XyHkv2AYdL9lRzC/hmvcv4lsrL+VM2S/i5VIv5ALCL+k0gy/lGIov5Oe8
	L+yNJC/w63wv9GbeL/F1MC/yCKAv8T0JL/QEGy/2/hYv8r0LL/J3eS/7BaQv+5HpL/6c
	WC/9g+gwAxDMMARz9jAErxEwAvzVMATDTjADP6EwA9HjMAZgtDAJwdUwCvNpMAwJTDAK
	Dm4wC0Z7MAngzTAIyEwwDXuZMA89vzARekswDdQgMA5nwzALoTYwD0L5MA4mcjAQuXow
	D7lwMA8/xDAQg0cwEWYuMBPJ6TAZ4l0wKruDMCRYqDAbFckwGMmNMAdtCS+xE3svH05G
	LlHRZy18r60smDxwK8MKfysGV8gqOBT/KYMdyijBz5YoEet9J1oKsyash/wmDpTeJYKv
	ViUL8TckuB6UJJi0OiSIbVokgpSqJHu2CiR/DgkkgR0UJHLR/g==
	</data>
	<key>NoiseProfile2</key>
	<data>
	Mzu1CjNU8dAypGsuMhb8dzGzd/sxdjxvMUJcZDEcojcxBc4kMOlquTDN3W0wsgIDMKFE
	mTCR6IEwhUKrMH4FcjBvhTcwXrwgMFZ2STBHZ6UwPOk+MDSLpzAuilUwJS1cMB0TVDAY
	ceQwE8XjMA3O1TAKQ5swA6KVL/+Iny/6/h4v+PL1L/G5dy/oP4cv5SUJL+MGyy/gPngv
	2DJSL9XniC/T+uQvywu6L8wuji/NOY8vyJkpL8UMui/AJ6wvv1CHL719mC+6zX4vus9t
	L7V9xC+1w8EvtZv+L7H2Ny+vvAAvsi/VL67QrC+tuVUvrqXvL6seay+m5DQvpTUOL6VM
	4S+ms9Evoa5NL6I6sC+igukvokuQL6JLLC+ljuQvoOI3L6DP3S+h2pgvpCI4L6L+By+i
	b9gvpHyHL6GOqC+gtCAvonpvL54RGy+b82ovndV2L5wQ+C+cMKkvn889L545bC+aBuYv
	mf5gL5X/Ui+USeEvmE3RL5p1Zy+YmMEvl5UNL5g7rC+Zf3MvlUuHL5WeXy+WTTYvlPRz
	L5UJsS+W/ZUvlxiwL5Y+jC+YseAvnXm7L5vjoi+b0VAvmZ1FL5g6mi+afJIvnHqDL5ua
	XC+Z42EvmoH9L5oVwi+epQMvounLL6D6BS+krGAvqEvRL6VY6i+jIf0voKZrL5zalC+Y
	+XkvmCTZL5awsS+anp4vnq6TL6Dhqy+pCbgvs2bZL72iaS/DxC8vzvRgL8uyfC/LkV8v
	2ERKL9SSpi/Sv8wv1BtwL8grxi/FVTIvxFpKL8Knmy/FoKMvzSDNL9YL9y/pFk0v7xl/
	L/DbqC/xLzQv850jL+01py/pXuwv4wRqL+GpVy/iqN8v3Ye4L/GoCjAE6pwv8xb/L/c5
	iDABr2QwBF/SMAdcDTAKs6EwEw3sMByn/DAk9hQwLlRxMD4POjBMrEQwRv54MDsMpzAw
	rZEwJoMmMCONljAeucMwGeQ1MBMrfDAYCMwwGd+IMBsxmTAhcwMwJQwwMCkdBDAizw4w
	G4QwMBbQ6jAX+NwwGpCeMBppfTAVVqcwFMnYMBNeXjAOF4QwEGTtMAyT0jAHRikwB6CG
	MANdDjAD8BcwAcc6MAJMxDAB6lwwAWZBMAGIZi//AI4v+7+RMAHI+TABBfYwAZ9zMAIm
	WjAEhWswBv+sMAaMvzAG8TMwABb7L/pHjy/76Gwv/AwOL/zwnTABuWEv/5ndL/0hdjAD
	SnYwBc70MAlw+zATLCAwGnDRMCUB5DAwZq0wOqwtMEoKejBPzT0wXHzbMGOi9zBn3DQw
	Z6i0MGuhYjBshrswblVBMHLMKTB795Mwg2F6MIe4MjCOwCUwj4a9MJEjJjCfurcwq3aq
	MKb/azCrFgIwrc7zMK5IPzC2MuAwtdrXMMuHPzDzqrsxAUPEMK4i8jCefQAwm7mIMJoJ
	STCdRgEwoBcYMKFuKjClGfUwpdrVMK2P5DCvrJkwtAezMLTqfTC3CNQwvOycML5MJDC9
	hzQwvvOYMMRwpzDFnaMwxHB9MMWOkTDH4/swxaBuMMRc2TDD2GQwwXPxMMZ0ZTDG3Wgw
	vTaUMLR8tDCvHZwwreInMKtQfjCk3xcwo/jbMLOirDEa7ykw2XHzMJtSpTCWmwkwkuoz
	MJHhFTCWht0wlf2AMJcoXzCdU9gwoiMuMKRxGzCqbvgwsfgGMLpagjC+C6Awwx0gMMT7
	HTDPhe0w1f+bMNG79DDXJYow3T9SMNjpIjDnNdgxA9mZMNQ6/jDRzrgwzj7XMMHNizC6
	8PQwtE+mMKwWQDCp4aUwpNpmMJyWhTCUYGswlAGcMJClujCMJCcwi/DwMIyG9TCKJEUw
	jOW+MIxgKTCIFnYwiaScMI430zCS9akwkvlqMJPX0DCUbgswkWzBMJMAWDCb+0kwl3Xd
	MJg4QDCXasIwm5XDMKVHUDConBswowAbMKAaTjCgMhUwopn3MKT9azCh4oEwoIxPMJ+S
	RzCgzUMwm/PzMJ9C2TCdlHIwlO5CMIzevzCHkhMwhIEuMIGgHTB+PPAwdbfHMHit5TB8
	5H8wdbizMHVrRjB6G/wwdI6CMHWaGjBz0pIwcwjLMHl3IDB7woMwexv/MHwfKjB9e8cw
	fzPYMIHuOTB/Ua4wgGI6MIGGpTCD4DUwhS3YMIf1lTCHsTEwhwgaMISomTCGDTswhlzA
	MIMBCjCDmL8whJzqMIOkxzCDzFgwgXp2MIRp5zCE9gIwihrwMIjvcjCGa+4wheCTMIcM
	NDCIegwwhlB+MIZzRzCFu98whZRsMIO3IDCJt3wwiCNeMImN5jCKqPEwjZv5MJGWDjCW
	+iowmkOfMJzAkDCdjnQwmTXoMJaZuzCZSq4wmccKMJ41szCeZ1kwoAIwMJ6ybDCec2Aw
	m+wMMJv1fTCZueYwn0GKMKdGwDDKmv4xRj6NMR7WoDCYCfEwj8VyMHWqpTAezNwvjDyd
	Lrr3ES3hasItCNbFLCuJKitaCLoqlHewKdbH7CkX+BwoYU0LJ6dFUyb+cdcmWThPJbzx
	bSU81fsk60elJL2PBCShZ8EkjEeUJIioJySLMg8khXEiJIGA7Q==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
