<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.0</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>33163308-08B0-45A8-B1A1-E6AA996CD2DE.ppb/Resources/Images/140401_FamilyCN-HuntingtonGriffithLA_AS_001318.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.500000,1,0.533951,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>2.033784</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>19</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>226.5</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>364.5</real>
					<key>x</key>
					<real>182.25</real>
					<key>y</key>
					<real>161.25</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>33163308-08B0-45A8-B1A1-E6AA996CD2DE.ppb/Resources/Images/140401_FamilyCN-HuntingtonGriffithLA_AS_002186.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.487890,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.417568</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>34</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>2</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>231</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>178.5</real>
					<key>x</key>
					<real>89.25</real>
					<key>y</key>
					<real>393</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>33163308-08B0-45A8-B1A1-E6AA996CD2DE.ppb/Resources/Images/140401_FamilyCN-HuntingtonGriffithLA_AS_000282.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.496851,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.352703</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>3</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>231</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>183</real>
					<key>x</key>
					<real>273</real>
					<key>y</key>
					<real>393</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>255.000000,255.000000,255.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>Cochin1923-Headline</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>Cochin1923-Headline</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>DefaultTitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>255.000000,255.000000,255.000000,1.000000</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>Happy Mother’s Day</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasBoilerplateText</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>4</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>36</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>320</real>
					<key>x</key>
					<real>180</real>
					<key>y</key>
					<real>23.5</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<true/>
			<key>height</key>
			<real>504</real>
			<key>holeCount</key>
			<integer>3</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>Outside-3PPL-Text</string>
			<key>treatmentId</key>
			<string>AFC288DC0254F03FF234AC4680C60DE25F26719C</string>
			<key>treatmentIdentifier</key>
			<string>AFC288DC0254F03FF234AC4680C60DE25F26719C</string>
			<key>uuid</key>
			<string>4E8FD90B-6469-40C2-AD52-DCB7F0857B68</string>
			<key>width</key>
			<real>360</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>FFDADD29-8574-4767-A915-36A440EB1A65</string>
			<key>cover</key>
			<string>60CF3830-8005-4564-BE72-8DB6007075C7</string>
			<key>inside</key>
			<string>76A000E6-D05E-463B-BDE1-A5E4C7E14227</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>1C00632723336151D1C0F25D7164015DBA63BAF9</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Mothers Day</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Holiday Colors</string>
		<key>productCodes</key>
		<array>
			<string>VerticalFoldedCard</string>
		</array>
		<key>themeIdentifier</key>
		<string>HolidayColors-FoldedCard-V</string>
		<key>themePreviewIdentifier</key>
		<string>HolidayColors-FoldedCard-V_33163308-08B0-45A8-B1A1-E6AA996CD2DE</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{72, 5}, {175, 245}}</string>
		<key>drawScale</key>
		<real>0.4861111111111111</real>
		<key>textFrames</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>255.000000,255.000000,255.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>Cochin1923-Headline</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>Cochin1923-Headline</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>DefaultTitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>255.000000,255.000000,255.000000,1.000000</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>Happy Mother’s Day</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasBoilerplateText</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>4</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>36</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string></string>
				<key>treatmentId</key>
				<string>None</string>
				<key>treatmentIdentifier</key>
				<string>None</string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>320</real>
				<key>x</key>
				<real>180</real>
				<key>y</key>
				<real>23.5</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
