<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.HolidayColors-FoldedCard_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.HolidayColors-FoldedCard_Preview</string>
	<key>catalogVersion</key>
	<integer>30</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:34:45Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>HolidayColors-FoldedCard-V_543A1AA9-A053-4E2D-9AE6-32F64F86D6FE</string>
		<string>HolidayColors-FoldedCard-V_29779846-ED21-43C5-9387-E5D5CDA8592C</string>
		<string>HolidayColors-FoldedCard_B3977AC0-9079-4302-8EC8-345D1332259D</string>
		<string>HolidayColors-FoldedCard-V_3F2A66DA-DE1F-4EC0-BC31-C7F4A0AD39B4</string>
		<string>HolidayColors-FoldedCard-V_586B9818-0084-4E2D-AF89-BED2CB9357D1</string>
		<string>HolidayColors-FoldedCard-V_3B63A31A-BE5D-4022-9295-358109591A4B</string>
		<string>HolidayColors-FoldedCard_6002BD24-EAFC-427A-A15F-034634829F61</string>
		<string>HolidayColors-FoldedCard_28F9B632-8803-4DCB-9F18-DD746D4E6045</string>
		<string>HolidayColors-FoldedCard_010AD02F-E2E4-4259-B2C0-3C37497D0106</string>
		<string>HolidayColors-FoldedCard-V_56B70340-3440-4246-A62D-52E0C77A0083</string>
		<string>HolidayColors-FoldedCard-V_64C120E0-E20E-4851-8D59-BDD2B03DDB24</string>
		<string>HolidayColors-FoldedCard-V_33163308-08B0-45A8-B1A1-E6AA996CD2DE</string>
		<string>HolidayColors-FoldedCard_83EC2291-3815-4CB1-9E1D-EDF140774494</string>
		<string>HolidayColors-FoldedCard_597B8DDD-D928-4D5D-A2B7-BBEFCEE122D8</string>
		<string>HolidayColors-FoldedCard_731EFE09-6799-48C6-A0F7-A549B1987505</string>
		<string>HolidayColors-FoldedCard_D06829DF-26C8-493E-9B18-A8F1B48AF303</string>
		<string>HolidayColors-FoldedCard_3DBC315F-83B2-45CA-BA04-1FACB36E5391</string>
		<string>HolidayColors-FoldedCard_3F3F682C-904A-4CCE-B609-9718FC553D51</string>
		<string>HolidayColors-FoldedCard-V_020C0C42-C922-43C2-ABEF-E2DF81FD7A77</string>
		<string>HolidayColors-FoldedCard-V_9A1486CB-26E0-4BA9-B483-436A01B47CDB</string>
		<string>HolidayColors-FoldedCard-V_8C9DF250-E520-4E1B-B0DD-F0DB1F77C980</string>
		<string>HolidayColors-FoldedCard_28160DBC-2DEB-4941-AB1A-166F32F8A8A1</string>
		<string>HolidayColors-FoldedCard-V_D7107285-FB13-4084-9795-F01332E88818</string>
		<string>HolidayColors-FoldedCard_458B9CFE-B06D-477B-8CB4-FAE53FC63B72</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
