<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>82</string>
	<key>CFBundleShortVersionString</key>
	<string>266.0.0</string>
	<key>CFBundleVersion</key>
	<string>265.0.0</string>
	<key>ProjectName</key>
	<string>IOSurfaceAccelerator</string>
	<key>SourceVersion</key>
	<string>115002004001000</string>
</dict>
</plist>
