<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedCodeless</key>
	<dict>
		<key>6HB5Y2QTA3</key>
		<array>
			<string>com.hp.kext.io.enabler.compound</string>
		</array>
		<key>TXAEAV5RN4</key>
		<array>
			<string>com.epson.print.kext.USBPrintClass</string>
		</array>
		<key>XE2XNRRXZ5</key>
		<array>
			<string>jp.co.canon.bj.print.BJUSBLoad</string>
			<string>jp.co.canon.ij.print.CIJUSBLoad</string>
		</array>
	</dict>
	<key>BlockedContent</key>
	<array/>
	<key>OverrideHashes</key>
	<array/>
</dict>
</plist>
