<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootSession</key>
	<string>1F1C5296-CDAB-4DE4-B009-CA7CE11CB249</string>
	<key>SignedKernelExtensions</key>
	<dict>
		<key>2QZ4H2LQ7N</key>
		<array>
			<array>
				<string>com.kfu.AtmelICE</string>
				<string>edac43601fa079584f1f9435802225abb89b4b27</string>
			</array>
		</array>
		<key>DX6G69M9N2</key>
		<array>
			<array>
				<string>com.highpoint-tech.kext.HighPointIOP</string>
				<string>e917a18aeefac30f0249fe451715c48100d5a1fc</string>
			</array>
			<array>
				<string>com.highpoint-tech.kext.HighPointRR</string>
				<string>4fb1f14d2b3d9639665a4df7e953b63765306616</string>
			</array>
		</array>
		<key>Q9P8K45M5C</key>
		<array>
			<array>
				<string>com.softraid.driver.SoftRAID</string>
				<string>642cdfe67b3654709980c832df053cbebe77da23</string>
			</array>
		</array>
	</dict>
	<key>UnsignedKernelExtensions</key>
	<array/>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
