<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	MhWdIDIiCIExMRZyMHtyuDABVv0vszGFL37iRC9JffIvMlhGLxM1wC8F7vAu/ZApLt9z
	8C7Jgw0uxWHbLqoI1C6cj94umHSWLpCfuy6Ea/gugEgNLodety6EzWsujb8ZLn2zCy5z
	B3UudrNTLmmV+C5v3gYuZCZrLlacni5UiNguVEACLlK/ly5ivSUuYC6NLkRD2y5YzMAu
	TRkuLkoAFS5NZ8UuStZ/LjdTly5FwqAuTgmoLjv/by46etouODIGLjeVnC454zguPRsc
	Lj6qti4y7SQuNd3HLjco6C41jzAuOjJELjCRAi4s3PkuMtwlLinc2C4xvKIuMo1xLjUB
	lC4xWTguKy/VLi3ACy4qvWwuJ7qGLie2AS4sn40uJnHyLiL4hC45ToguP2b/LkLhoy4/
	rq0uNA0uLjWuGy45BnUuMrY5LjZrXi4xtrMuMNpmLjhf2i43B/suMqGfLkJiSS48LI4u
	QiePLj5hyS4u19kuJ8wSLikXtC4zf7wuNR3iLi85By5B1YguQZ21LkPunC5A3pUuMRDT
	LjHdES5BLVkuQnXxLj5rti49FxQuNoxfLjT/Ry49NDguQn93LkWGlC4/1couPUmOLjGh
	Pi4taO8uPvTbLkR7Ky4+eAIuPig3LkQxcC5SUQYuTrYyLjsz/y48UHUuP1p8LkuL5S5I
	wFYuUZU/LlPMpy5JLU0uSAGDLk5Q1y5XLnsuU4+NLlAqyi5YkEUuXEn0LlKcwi5KsLEu
	V5zmLlOIpy5aYdUuVrmALlAnRS5U5dQuT/msLk5Y4y5XyL8uWnWYLl0rti5ZW1suXpgL
	LnZFsy5iXPYuYVjMLmiTsi5eyU4uY/dNLm0d6y5dJ30uXXOALl9D3S5slgwuXIwtLl64
	pC5ujssubin5LnUB3i5tJb4udS5OLnIm0S5y+J8ubwfSLnKdei6AvtQug5gJLnmU3i54
	0hQugRs7LoEvSS6FgIQui9UJLoqVCi6IzUoulA3XLpRs/i6Q0DYuhys4LovJny6TGQUu
	kWRNLpDlmS6W9pIum6mdLptr8C6mhi0uq9ZuLppiGS6cbhYuoHEPLpyLby6b8WAumPv8
	LqOuDS6rF/cuo/bjLqg7+S6xh1YusALlLq/+Ui6yEb8ur4CyLq6wvS62yQguuDOrLsC6
	ni7IzU8uwUD5LtRD+C7Qg68u1f8qLtwZIS7iNpwu6/fILuhCKy7vOMAu7fAZLus84S7q
	/0Eu55BCLuX6bi7u+SAu9Oc/Lvm+Ei8EMqYvArP6Lwhw6C8JdvsvDVYwLw2SXi8RPLQv
	FhvPLxtx1i8iXYAvLhZ+LymJmy8qJZgvMB61Lyqq5S8lNJAvLmbELysabS8q6e4vMOuX
	LzOO9S8/aY4vQWzjL0ggHy9KyaIvUUW8L1icDS9bsj0vWqVKL2CVTS9sTZ8vZP/1L2u0
	ey9uEyIvd+SbL4N3Oi+COKsvhFiQL4UY2S+JRUwvkcT3L4oqli+N7hMvmOUNL5bmVy+b
	xVkvk8OdL5FVMi+Ty1cvlbyzL5e6Zy+fuF4voEzpL5uutS+idY0vjWvpL43uaC+Ov5Uv
	kRbaL4SjDy+BJokviaCZL417WC95fGsvbi7hL3HyYS9xaXovaM+HL2QV9y9nSWQvXBSi
	L1K7ti9MXdEvSJi/L0MdVy8/878vQZfFL0EWGi88ercvN3sGLztXvC8jI3cvIH/GLxwO
	Ci8NgbYvFQLmLwsXrC8HXI0vAx52LwGSEi77ig4u+Nv1Lu49ai7tjpAu5xrKLt+vxi7S
	NoMuyrJ7LtB6ny7OKP8uyRyxLr+nLy67oMkuvzstLrwOXC62cMEusupgLqV1Ai6sd/su
	rvWFLqHIIi6qUL4uq+rlLppyKC6aOzAukpFtLo2pti6O7HoukvavLpAcSy6QTTwukTzq
	LoyKgS6GCAguhxC2LoV5ty6JDAQuhmVKLnv1zC6DQnUuhrg7LnhFES516YAufvD2LoHE
	qC504GwudYi6LnigbC5tXJgubjmlLm2rBy5nZdUuYTA/LmmLJS5kc64uW+jzLlkfmi5m
	2EkuZeuBLmXRLy5adOQuU/v1Ll+Iky5er9ouVVehLlK1gS5i/TkuWiMULk4BzS5VvB4u
	VU2GLkvs6i5GjDYuWOX4LmQHvS5Vms8uUJB8Lk8p0S5Wl7MuWfqfLkjpay5G0x0uUoLf
	LkbUtC424CIuPqT9LkKztC5HMpcuTnTSLjq5sS5BGcEuPyMkLkL2Zi5CfaUuNn33LjNB
	xC5COGguOo29LiySLS4r5EwuP7xJLjwrES419n0uOQq6LjKiTC4339suN68JLjfB8S4w
	ebcuL0GoLjnLTC4z6bAuPOatLjjv3C4zGlMuOOm+LjeZiC42rZ8uOlrwLjaJRC400m0u
	Pvi2LkG2Ty5L2BkuOd0JLjGeOy5BdAIuOPNfLkJyuy5FhsguPwjeLiPH1y3kAPYtVWus
	LIt9UCup34cqwkptKfbcuSkruWkodLL3J6+jJyb54qwmVTTHJbMkXyUsvNskxAnyJJVp
	SCSEeVUkdpEpJHBffiRpQQEkaxxCJGzAhCRk66QkZDb2JHN2fw==
	</data>
	<key>NoiseProfile1</key>
	<data>
	MhXQ4zIeKYoxINDtMF4Ufy/zJg0vqv/XL4C0XC9JkBQvMl5TLxR8fS8DEuku/sOcLvY0
	PC7TvWgutdU/LqfKDy6iW18uoJU0LpKHEy6JMbwuh2tGLogSAi6MrQwujjOgLoN0Dy6D
	4dkuhdg0LoFsji53jkQuZY0jLlr4TS5OoxAuTpaULk7Vny5R/f0uS07fLkiADy5LMO0u
	QUQWLkyMzy5LAzcuP5zzLjlA2i5BmJkuPLyyLjjojS43WhQuPGTMLjbmPi45tbIuPcOW
	LjN4Di45UAUuOeR3LjQ0LC40gdIuLEXBLjGfsy4ubp0uKp5OLi2eji4xCXEuMjZeLjGV
	+i4oHrEuMZt5LjJxIC44EjcuQA0/LjD0Ti41EZEuNZfbLj+EVi48rpMuOD4vLinuhi4o
	coAuLvTfLjZ1kS43J8EuMXe5Lik1ly4xWZwuKigFLjINtS4x6kAuMXwfLjWgoy4lyw4u
	KMisLjPQNi44qZQuMvD/LjjJIi4x5MIuMdysLjQrPS4w6NAuOOgBLj3dCS48dWEuO9o9
	LkAKDC4/zCMuQzTCLjqGKi4+4vcuQ/FKLkHARi5AfjouO3AhLkA9PS5EKN8uSTHqLkGx
	ti488DAuSBQfLjeaxS4yQS8uNZLQLjloGy5COrsuQfO5Lkszhy5IDyguSHu1LkoTRy5T
	BsQuTeZJLkHWCi5C/sMuSHYqLklF4C5VjNsuTZyzLlT4MS5pK94uaky5LlUKCi5QbGEu
	V1b4LlZX8C5SZCIuTf4zLkdyHS5OxwwuUqgbLk1qQy5cdMIuW4thLlcd+S5TcqcuUzc2
	Lmgv+C5dIN0uYseaLl5yai5vD84uZySHLlLxaS52qKQud5laLmteTS5xbC0uaZ8pLmvc
	7S5+9GwufBryLnQYPS5wPKAucmEvLm/BUy51SA8ugQ5ALom95S6MZJIuguHhLnrfby6B
	41ouflhGLobQSy6DHYguhOwZLoD3+C6HHbYujNJXLpIqbS6Olpouj5mULo3/Iy6I1qou
	kZ88LpNB2i6TSNYula7rLpGDxC6UqY4umdgHLpVwCy6ZZGMumYZHLpaLRi6dcVYuo7NS
	LqVvAy6kXlAuoDK8LqWJuS6d6hAuqEaRLqVwtS6q37wuq5lpLqdmRS6vutoutdq7Lrqn
	/i6wGnAuu2W/LrtXSy7MQrcuxW2wLtcp+C7bar0u6RtRLuAo9S7Z0+gu6LCKLu/WYy7k
	bfgu4YECLueHVy7zYh0u9ckBLv1Dcy8AeV8vAg0RLwHkKS8BGX0vCAsSLw9xQS8PrDYv
	EHZ/LxXCLi8bWiIvIlMvLx7rji8hW98vI6NWLy0MeS8rZrcvLfhILyzBsy8vrW4vMVFe
	LzpSaC9CGw4vN/Q3LzkkpC88yCovTmKiL1llQi9iIXsvWHhmL10cEy9nndYvb324L2fT
	DC9vuIEvbseHL3aTrS+FfcMvhdzqL4n9Ei+Si8MviRpwL4STky+P5bwvjsGEL4t9/S+O
	ZxgvjKInL5BUpC+YMPMvlgQ0L5lhNC+Ukk4vk+xNL5fe4S+PPmgviu7WL4/TvS+LBaAv
	ie+pL5DZny+PMz8vhbdnL4LjUC95vJEvepk1L3HGci9oqO0va5Y3L2OPty9caSgvW9BJ
	L059vy9S9EYvV82sL0grjS89v4cvNQn1LzU8Jy8sMf0vKcHcLx2yDi8koqMvJIcRLxje
	+S8Si0wvGfX7Lw9ZSy8P3ZsvCnPILwAXpS8BEJou+QfhLu967i7lr2Eu9W8kLuCULi7f
	MEMu4BJcLtbwiy7VxNMuz2yZLsqOZC7ApTQu5UM4LxxqJi89JqwvEOvbLsW2bC6lTo0u
	pdK4LqR9My6fgAcupUq+LqO3zy6ai94unGhiLpaSqS6TBWAulVl8LpeOJy6QMoQui3QQ
	Lph/SC6WgLgukT3iLoiyli6H+5kujcLhLon9LC6BTvcuiMEULoI7ai6AgrkueuYfLoCy
	vi5x7X8ucD/1LnYx1S52tD4ubYytLmuqES5w92oubxYQLmXndC52nwIuYgy4LmfOAS5q
	uRouax25Ll7z4S5Q59kuXkQCLmFtBS5eLdUuXIKcLleuCC5YixwuW1EtLl681C5obbcu
	WwHLLlzp3C5Xq3suUIkQLk6DzS5UWwMuR2GbLlL0lS5flwouXKbiLk53kC5H4xwuQaHx
	LjeWBi5LcXguTL/fLkzsFi5Q1zIuS0nqLkYk1y5EjDYuRcBnLkzAAi5IyNsuRhXlLjtZ
	Ei47HOAuR4FiLj110i4/1/EuORCdLjyDUi5G1U0uQAeGLkVXvi4+tDUuOAJaLjppkC5H
	v8ouP97wLkLWNi5A1u0uQxlNLkcuTS5HDp0uPTB0LjSyZS4y81UuOSPlLjn1Vi5J3Qwu
	PbEqLkJraS4+3mEuOFibLkN7ry5HZ24uR3pFLkANay5EHF8uQhNbLi+E2C3tD5AtWqmG
	LIsu5SuyhHoq05/pKgmWWCktlVIobqP0J7zQ5ScMLQgmTY08JbduHiUv4GQk0UK3JJYx
	ZiSGkj0kdUhxJGuc9yRzTQUkYVH3JGLw7yRl/FIkalCiJGfd0w==
	</data>
	<key>NoiseProfile2</key>
	<data>
	Mj0T1TJgbI4xgPPSMIs83C/9yU4vocsAL2pN/C9COfAvKmvDLxYAUi8DXxsu9yayLuvS
	bS7aOlouuDxtLqMRPC6bjWIuocgkLpcQri6Ev1MujjfULoy0cS6Ktd0uozjwLohFnS6Q
	tWMuroSiLpSzCC5vt20uY0SqLoiyQy6Dvn0udOX/Lng8Ti5i4AUuTc8SLkkJui5M78Eu
	Z/dXLnNMWi5p8XguWI7tLlolTS5QMY4uQUOGLkNf5C5D7NwuPqZwLkEPaS40Wx0uMlQY
	Lj0fEC5GAZAuUbiMLkY+TC4vzyAuKWtiLjbnrC41hyouJ/clLiHhry47brYuM+inLi/7
	8y43HsguPnCvLjqvPC4+ayouRiTCLk4s9i5Scr8uUSxCLlkGXy51iJ4udlSoLmw02y5H
	S5AuNBHjLjH0kC412REuPohvLj/x4C41UIwuJxOxLje60i41bK4uPGWzLjymYy41d5gu
	OEFYLjmrhS49RXAuRef5Lkhrwi5FXcEuPS6yLkKY0C41U00uNyabLjSAZC46pPsuPfMk
	LjrwWy42JFguPGq8Ljwcfy43SowuQqBELkkyMC5CkIguNXhPLi6xby43+gMuR1tfLksv
	cC5OXTwuTd5WLkoGUi5SC4MuWLq+LkMCoS5CH64uSMUzLkTDry5A2hMuPQ7qLjjDcC4/
	EU4uQm5qLk/7JS5K1k8uSLAsLkSD6y5cGGsuVJQELlntdS5jHWYuWVimLk7MLy5CVHku
	StokLkvbHC5Ot4IuTRmfLlbr4i5aEuMuXDfhLlkBBS5PqqMuXsBDLmSP6y5gwdguagND
	Lm93vi5kYdkuYCzMLlq2Wi5Y21guXr1WLmd4Vi57RvQueW4xLmsy0i5pTp4uZQeLLmLM
	7y5WZREuVxH8Ll0Duy5ewnouagXOLmsvWy56ovYuc83VLn9/Ui6A/t8ueq5TLn4zjy5w
	Or8ubLIWLnj/Qy6DAXMufjOVLnSO/i51qhcuebyKLoGj8S6C2EUug615Lop1Ni6S/agu
	j47oLpDHoS6IFUYuj/gjLoi7ry6QrcUumKFVLpI9US6RFnAujuJKLotWXC6JzZgujuFI
	LpKa3S6TJxkunh0eLp0uVy6Z2hIunYTrLpxwtS6Yar8uokUSLqAhQC6V/P0uk3GULpou
	PC6c8LIuo28bLqeDti6m+NEuqZttLqu6MS6qbHYurVebLrnuzC7AE0IuuoG6LrrUky7D
	yk8uxEarLtRKKy7Uvawux6dULsPNDC7dpyEu3EX3Lt03Zy7W8NMu3MIhLuXapS7g5W8u
	7EIvLu+IWC77OwIu+j+WLvabCC7uSAku+oMnLvriZC75GbIvBu13LwABZC7/JXUvBcjb
	Lw3pui8W7vYvHHyELxpnoi8XplMvHVPQLyGJGC8orAMvIrAZLyuyOS8zkCYvPOnhLzxD
	PC89pAEvPxmML0ELZS9CcZYvTD+2L0Ykii9RUKcvWurFL2OyPS9h4IovZ8RaL2SC3C9r
	afQvbkLdL3fB8i9+hKkviay+L4IiDi+LjrAvjBx5L4cJUS+PAQsvmmgIL5SE9S+SGPkv
	lHx9L5cTbS+Xh+EvlY6xL5XBMi+KfYYvkSLZL5WWbC+Z4/AvlIhAL4+4Ei+Na2UvjN+O
	L4vKmC+Ha6gvhnAlL4kiQi+ANNAvepMOL3oaDS99PhQvevocL3INfS9rg74vY5FYL1sR
	Qy9frbcvWMc0L1Eo1S9Leh4vSEEwLz/R3C84hgkvNj6OLzEQpC8tsb0vLrWCLyh2wy8g
	R3QvFLu4Lw+28y8VbHovD6xNLwrR2S8GqzMvBXP5LwQjeS8B6Ocu/Q3SLuqOKC7kNfcu
	7IIbLuWbdi7mxCIu3SIULtriJy7JFysuxdoCLsT5xS7F5FwuyXFGLsatXi69Fn0utPrM
	Lruj2C60E58usnaHLq2BuC6pwVMursiFLqA48y6VLnUumwBELp7cgC6djuIumodsLpoV
	PC6Rvkwuki9WLo5lwS6QFMMujzZZLos9XS6FYrwueTpoLoQR4i6EDDAuhcBtLoHv3y6D
	rzwugGi2Ln+t0i6GT8gugK06LnoZ2y56JisufV8YLnK9US5uRTEubTx9LmzA2i50u1ku
	eC8LLnH0IS5pD60ua3OKLnC3/y5gLVUuYvWcLlriVi5eqD0uZ9qoLlty5C5t9L8uZFMR
	Llvgji5iXWwuTtXsLklDgi5Ol7AuSuMmLk3kli5KmokuTTO/LlJIWi5N/88uTQxCLkQI
	qC5I6OUuS+i+LkXecC49jZkuRC4XLkFKRS5BU0suSkRsLkHTMy5E6ccuO0hNLj7ICi42
	1nEuN+l6LjSnli4z0tMuRha8LkVkxC5FYsYuRNubLkpG/C5Gr5AuPkaQLj83vi47rgku
	QtXCLknA1C5EsuEuOqmTLjVuQy5ATI8uRsMxLkMyNy5C2qYuOYp8LislJi3mBWAtUe9d
	LI++YSutxycq3BM9KgXjZikm0gQocJ41J7faKycQm2MmTtiWJbaxXSUukc8k141KJJYG
	iiR9vM8kf+u5JHolxiR9h/wkeQHgJG+DeiRslJEkZCa7JGwAPQ==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
