<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1">
    <options hostArchitectures="i386" customize="never"/>
    <title>SU_TITLE</title>
    <script>
</script>
    <volume-check script="VolumeCheck()"/>
    <installation-check script="InstallationCheck()"/>
    <script>
function compareBuildVersions(lhs, rhs) {
	var lhsMatch = lhs.match(/([0-9]+)([A-Z])([0-9]+)([a-z])?/);
	var rhsMatch = rhs.match(/([0-9]+)([A-Z])([0-9]+)([a-z])?/);
	return system.compareVersions(lhsMatch.slice(1).join(","), rhsMatch.slice(1).join(","));
}
function InstallationCheck(prefix) {
	if (system.compareVersions(system.version.ProductVersion, '10.6') &lt; 0 || system.compareVersions(system.version.ProductVersion, '10.7') >= 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_0', '10.6');
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function VolumeCheck(prefix) {
	if (system.env.OS_INSTALL == 1) return true;
	var hasOS = system.files.fileExistsAtPath(my.target.mountpoint + "/System/Library/CoreServices/SystemVersion.plist");
	if (!hasOS || system.compareVersions(my.target.systemVersion.ProductVersion, '10.6.0') &lt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_2', '10.6.0');
		my.result.type = 'Fatal';
		return false;
	}
	if (!hasOS || system.compareVersions(my.target.systemVersion.ProductVersion, '10.6.8') > 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_3', '10.6.8');
		my.result.type = 'Fatal';
		return false;
	}
	if (compareBuildVersions(my.target.systemVersion.ProductBuildVersion, '10A432') &lt; 0) {
		my.result.message = system.localizedString('ERROR_4');
		my.result.type = 'Fatal';
		return false;
	}
	if (compareBuildVersions(my.target.systemVersion.ProductBuildVersion, '10K1999') > 0) {
		my.result.message = system.localizedString('ERROR_4');
		my.result.type = 'Fatal';
		return false;
	}
	my.result.message = system.localizedString('ERROR_4');
	if (!FileCheck0(my.target.mountpoint) || !PlistCheck1(my.target.mountpoint) || !PlistCheck2(my.target.mountpoint)) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function FileCheck0(prefix) {
	if (system.files.fileExistsAtPath(prefix + '/System/Library/CoreServices/ServerVersion.plist') == 1) {
		return true;
	}
	return false;
}
function PlistCheck1(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/ServerVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.6.8') > 0) {
		return false;
	}
	return true;
}
function PlistCheck2(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/ServerVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.6') &lt; 0) {
		return false;
	}
	return true;
}
function PlistCheck3(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/ServerVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.6.8') >= 0) {
		return false;
	}
	return true;
}
function PlistCheck4(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/ServerVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.6.7') >= 0) {
		return false;
	}
	return true;
}
function LogicalOr5(prefix) {
	if (PlistCheck6(prefix) || LogicalAnd7(prefix)) {
		return true;
	}
	return false;
}
function PlistCheck6(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.6.8') >= 0) {
		return false;
	}
	return true;
}
function LogicalAnd7(prefix) {
	if (PlistCheck8(prefix) &amp;&amp; Not9(prefix)) {
		return true;
	}
	return false;
}
function PlistCheck8(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.6.8') != 0) {
		return false;
	}
	return true;
}
function Not9(prefix) {
	if (!(PlistCheck10(prefix))) {
		return true;
	}
	return false;
}
function PlistCheck10(prefix) {
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductBuildVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10K1999') &lt;= 0) {
		return false;
	}
	return true;
}
function LogicalOr11(prefix) {
	if (FileCheck12(prefix) || Script13(prefix)) {
		return true;
	}
	return false;
}
function FileCheck12(prefix) {
	if (system.files.fileExistsAtPath(prefix + '/usr/libexec/oah/translate') == 1) {
		return true;
	}
	return false;
}
function Script13(prefix) {
	if (!my.target.receiptForIdentifier('com.apple.pkg.Rosetta')) {
		return false;
	}
	return true;
}
function LogicalOr14(prefix) {
	if (FileCheck15(prefix) || Script16(prefix)) {
		return true;
	}
	return false;
}
function FileCheck15(prefix) {
	if (system.files.fileExistsAtPath(prefix + '/Applications/Utilities/QuickTime Player 7.app') == 1) {
		return true;
	}
	return false;
}
function Script16(prefix) {
	if (!my.target.receiptForIdentifier('com.apple.pkg.QuickTimePlayer7')) {
		return false;
	}
	return true;
}
function LogicalOr17(prefix) {
	if (FileCheck18(prefix) || Script19(prefix)) {
		return true;
	}
	return false;
}
function FileCheck18(prefix) {
	if (system.files.fileExistsAtPath(prefix + '/usr/bin/quartz-wm') == 1) {
		return true;
	}
	return false;
}
function Script19(prefix) {
	if (!my.target.receiptForIdentifier('com.apple.pkg.X11User')) {
		return false;
	}
	return true;
}
</script>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" title="SU_TITLE" versStr="SU_VERS" description="SU_DESCRIPTION" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="MacOSXServerUpdCombo10.6.8" visible="PlistCheck3('/') &amp;&amp; PlistCheck4('/')">
        <pkg-ref id="servercombo" auth="Root" packageIdentifier="com.apple.pkg.update.osserver.10.6.8.combo" onConclusion="RequireRestart">MacOSXServerUpdCombo10.6.8.pkg</pkg-ref>
        <pkg-ref id="SUBaseSystemCombo10.6.8" auth="Root" packageIdentifier="com.apple.pkg.update.subasesystem.10.6.8.combo" active="LogicalOr5('/')">SUBaseSystemCombo10.6.8.pkg</pkg-ref>
        <pkg-ref id="MacOSXClientCombo10.6.8" auth="Root" packageIdentifier="com.apple.pkg.update.os.10.6.8.combo" onConclusion="RequireRestart" active="LogicalOr5('/')">MacOSXClientCombo10.6.8.pkg</pkg-ref>
        <pkg-ref id="RosettaForCombo10.6.8" auth="Root" packageIdentifier="com.apple.pkg.update.rosetta.10.6.8.combo" active="LogicalOr11('/')">RosettaForCombo10.6.8.pkg</pkg-ref>
        <pkg-ref id="QuickTimePlayer7ForCombo10.6.8" auth="Root" packageIdentifier="com.apple.pkg.update.quicktimeplayer7.10.6.8.combo" active="LogicalOr14('/')">QuickTimePlayer7ForCombo10.6.8.pkg</pkg-ref>
        <pkg-ref id="X11ForCombo10.6.8" auth="Root" packageIdentifier="com.apple.pkg.update.X11.10.6.8.combo" active="LogicalOr17('/')">X11ForCombo10.6.8.pkg</pkg-ref>
    </choice>
    <localization>
        <strings language="English"><![CDATA["SU_TITLE" = "Mac OS X Server Update Combined";
"SU_VERS" = "10.6.8 v1.1";
"SU_SERVERCOMMENT" = "For Server Systems";
"SU_DESCRIPTION" = '<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1038.35">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 11.0px \'Lucida Grande\'}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; min-height: 14.0px}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 11.0px \'Lucida Grande\'; min-height: 13.0px}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 9.0px Verdana; min-height: 11.0px}
    span.s1 {text-decoration: underline ; color: #1843e1}
  </style>
</head>
<body>
<p class="p1">The 10.6.8 update is recommended for all servers currently running Snow Leopard Server. This update includes general operating system fixes, as well as specific fixes for:</p>
<p class="p2"><br></p>
<p class="p1">- properly displaying videos in Wiki pages when viewed from Firefox or Internet Explorer browsers</p>
<p class="p1">- reliability of using sharepoints with Time Machine</p>
<p class="p1">- reliability of vacation mail notices</p>
<p class="p1">- improved reliability of processing international character encodings in iCal Server</p>
<p class="p1">- improved authentication support when accessing iCal Server from iOS devices</p>
<p class="p1">- properly enabling previous updates in Software Update Server</p>
<p class="p1">- improved reliability for cascading Software Update Servers</p>
<p class="p1">- properly displaying videos in Wiki pages that have special characters in their URL</p>
<p class="p1">- reliability of availability of Wikis after rebooting<span class="Apple-converted-space"> </span></p>
<p class="p1">- improved Wiki server cache verification</p>
<p class="p1">- reliability of Web Server restarts</p>
<p class="p1">- iChat Server now behaves correctly with .local domains</p>
<p class="p1">- reliability of capturing videos using Epiphan devices with Podcast Producer</p>
<p class="p1">- allowing correct display of 12 digit hardware serial number with Server Admin</p>
<p class="p1">- properly displaying videos in Wiki pages that have special characters in their URL</p>
<p class="p1">- reliability of availability of Wikis after rebooting<span class="Apple-converted-space"> </span></p>
<p class="p1">- improved Wiki server cache verification</p>
<p class="p1">- reliability of Web Server restarts</p>
<p class="p1">- iChat Server now behaves correctly with .local domains</p>
<p class="p1">- reliability of capturing videos using Epiphan devices with Podcast Producer</p>
<p class="p1">- allowing correct display of 12 digit hardware serial number with Server Admin</p>
<p class="p1">- name queries in Web Calendar match against first name, last name and email attributes<span class="Apple-converted-space"> </span></p>
<p class="p1">- improved setup of Podcast Producer service when bound to an Active Directory server</p>
<p class="p1">- preventing Podcast Capture from always storing passwords in keychain</p>
<p class="p1">- reliability of Web Podcast Capture</p>
<p class="p1">- stopping Podcast Producer recordings with remote cameras<span class="Apple-converted-space"> </span></p>
<p class="p1">- reliability of connections between Podcast Producer server with remote cameras</p>
<p class="p1">- Podcast Producer workflows publishing to a wiki page with an Active Directory account</p>
<p class="p1">- synchronization of audio and video output from Podcast Producer workflows which include intro videos or titling or transitions</p>
<p class="p1">- use of "-" character in specifying DHCP Subnets with Server Admin</p>
<p class="p1">- improved Wiki Server connection latency<span class="Apple-converted-space"> </span></p>
<p class="p1">- use of "/" character with Wiki Server mailing lists</p>
<p class="p1">- configuration of iChat Server when changing host names using changeip<span class="Apple-converted-space"> </span></p>
<p class="p1">- preventing automatic changes to a ".local" domain in iChat Server configuration due to DNS unresponsiveness</p>
<p class="p1">- importing of iChat accounts with Managed Preferences</p>
<p class="p1">- preventing network homes being used after mobile accounts enabled</p>
<p class="p1">- corrections to the iCal Preference Manifest</p>
<p class="p1">- viewing of IPP print queues with Workgroup Manager</p>
<p class="p1">- reliability of External Accounts with FAT32 file systems</p>
<p class="p1">- reliability of applying Managed Preferences to Macs that have been idle</p>
<p class="p1">- allowing administrators to bypass Managed Preferences at login</p>
<p class="p1">- support for unique Software Update Server catalog URLs for each version of Mac OS X</p>
<p class="p1">- improper removal of older updates by Software Update Server</p>
<p class="p1">- using Server Assistant to setup remote servers</p>
<p class="p1">- reliability and logging of Mail Server</p>
<p class="p1">- reliability of Managed Preferences</p>
<p class="p1">- reliability of Web Server with PHP scripts</p>
<p class="p1">- CalDAV querying of email addresses with Active Directory and Open Directory servers</p>
<p class="p1">- stability and reliability accessing Wiki Server pages</p>
<p class="p1">- view movies on Wiki Server with Safari on iPad</p>
<p class="p1">- accessing publicly accessible Wikis when logged in to the Wiki Server</p>
<p class="p1">- listing blogs on Wiki Server<span class="Apple-converted-space"> </span></p>
<p class="p1">- vacation mail notices that span across multiple days</p>
<p class="p1">- updates from Software Update Server viewable by clients</p>
<p class="p1">- stability and reliability to Software Update Server synchronization</p>
<p class="p1">- downloading of software updates by Software Update Server</p>
<p class="p1">- creating NetInstall images which include iLife updater packages</p>
<p class="p1">- address issues copying, renaming, or deleting files on SMB file servers</p>
<p class="p1">- improve reliability of VPN connections</p>
<p class="p1">- configuring accounts in Server Preferences when bound to an external directory service</p>
<p class="p1">- CalDAV handling of Unicode text and attachments</p>
<p class="p1">- stability and reliability of Podcast Capture remote camera recordings</p>
<p class="p1">- submitting content into Podcast Producer using mv and cp command-line tools</p>
<p class="p1">- preventing time drift when capturing dual-source video in Podcast Capture</p>
<p class="p1">- syncing Software Update catalogs behind unauthenticated proxy servers<span class="Apple-converted-space"> </span></p>
<p class="p1">- upgrading and importing records from older Open Directory servers</p>
<p class="p1">- password expiration notifications for Mobile Account users</p>
<p class="p1">- using Server Admin to connect to servers in IPv6 environments</p>
<p class="p1">- creating NetRestore images from volumes with fragmented catalog files</p>
<p class="p1">- ordering of items in System Image Utility "Add Packages and Post-Install Scripts" action</p>
<p class="p1">- using Internet Explorer with web-based calendar, wiki, email rules and password reset</p>
<p class="p1">- adding and removing imported users in Server Preferences</p>
<p class="p1">- synchronizing Portable Home Directory content</p>
<p class="p1">- using iCal web interface within select time zones</p>
<p class="p1">- previewing and capturing dual-source video in Podcast Capture</p>
<p class="p1">- server-side filtering of incoming mail messages</p>
<p class="p1">- using chained digital certificates for mail services</p>
<p class="p1">- creating images with System Image Utility</p>
<p class="p1">- automating installation of NetRestore images</p>
<p class="p1">- preventing brute force password attacks</p>
<p class="p1">- using sudo command with authenticated Open Directory binding</p>
<p class="p1">- binding to Active Directory domains with invalid service records</p>
<p class="p1">- creation of mobile accounts for Active Directory users</p>
<p class="p1">- correcting a problem that would cause the Software Update cache to grow excessively<span class="Apple-converted-space"> </span></p>
<p class="p1">- reliability of services using Grand Central Dispatch</p>
<p class="p1">- duplicate serial number alerts on servers with multiple network interfaces</p>
<p class="p1">- preventing wikis and blogs from becoming inaccessible after migration from Leopard Server</p>
<p class="p3"><br></p>
<p class="p1">----</p>
<p class="p2"><br></p>
<p class="p4"><br></p>
<p class="p1">For detailed information on this update, please visit this website: <a href="http://support.apple.com/kb/HT4560">http://support.apple.com/kb/HT4560</a>.</p>
<p class="p1">For detailed information on security updates, please visit this website: <a href="http://support.apple.com/kb/HT1222"><span class="s1">http://support.apple.com/kb/HT1222</span></a>.</p>
</body>
</html>
';
]]></strings>
    </localization>

	<pkg-ref id='MacOSXClientCombo10.6.8' installKBytes='1338621' version='1.1.0.0.1.1249367152'/>
	<pkg-ref id='QuickTimePlayer7ForCombo10.6.8' installKBytes='3199' version='1.1.0.0.1.1249367152'/>
	<pkg-ref id='RosettaForCombo10.6.8' installKBytes='1433' version='1.1.0.0.1.1249367152'/>
	<pkg-ref id='servercombo' installKBytes='323883' version='1.1.1.1249367152'/>
	<pkg-ref id='SUBaseSystemCombo10.6.8' installKBytes='634471' version='1.1.0.0.1.1249367152'/>
	<pkg-ref id='X11ForCombo10.6.8' installKBytes='43158' version='1.1.0.0.1.1249367152'/>
</installer-gui-script>