<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KHCatalogBundleAttributesKey</key>
	<dict>
		<key>KHCatalogBundleAttributesHasLanguageSpecificPreviewsKey</key>
		<false/>
		<key>KHCatalogBundleAttributesInternalVersionKey</key>
		<integer>53</integer>
		<key>KHCatalogBundleAttributesVersionKey</key>
		<integer>3</integer>
		<key>bundleIdentifier</key>
		<string>com.apple.printproducts.catalog.calendar</string>
	</dict>
	<key>KHCatalogBundleCategoriesKey</key>
	<dict>
		<key>CALENDARCategoryAll</key>
		<array>
			<string>BigText-Calendar_97C19CEE-5772-4160-B841-0ACC6ACA1C60</string>
			<string>BigPicture-Calendar_1C370804-FA0F-4F6D-BEB3-14C416B00E70</string>
			<string>BigPicture-Calendar_FF0874FC-31B5-4A69-847B-EFE721CD133E</string>
			<string>Showcase-Calendar_765E1FA4-27E5-4732-8B26-972962509EF4</string>
			<string>Showcase-Calendar_6C5AF364-FE56-4F81-84D3-2EB0558F6384</string>
			<string>BigPicture-Calendar_626D8A46-DFD0-4E5E-912D-BC654A777B0B</string>
			<string>Showcase-Calendar_B48C9C91-354C-4F25-ABF9-DF230F3DE551</string>
			<string>BigDate-Calendar_4771F72A-E08F-4F6E-9D0C-D6405603004B</string>
			<string>ModernLines-Calendar_1BF83786-FA34-44A7-BD12-BC996A38D050</string>
			<string>Picture-Calendar_E221682B-9233-4B9E-9438-5F77D0897A95</string>
			<string>Picture-Calendar_B17140F4-4A12-4909-9BA2-2F71422853F6</string>
			<string>ModernLines-Calendar_7939E17E-C921-4339-9DD7-1CF040FEF873</string>
			<string>BigDate-Calendar_9ECE0AD2-BC9F-4D07-9B7D-BC16982A5895</string>
			<string>BigDate-Calendar_6467B957-D4A2-483D-91D3-0F8C93F0B4D5</string>
			<string>Picture-Calendar_088236D8-E4A1-4C1F-A26A-F4D20B18CAFF</string>
			<string>ModernLines-Calendar_D2B838F8-C3A1-4762-9866-66D5130E8397</string>
			<string>ColoredPaper-Calendar_D52C4A80-A626-4075-893C-4113DE061FE6</string>
		</array>
	</dict>
	<key>KHCatalogBundlePkgIdForBundleIdKey</key>
	<dict>
		<key>com.apple.printproducts.theme.BigDate-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.BigPicture-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.BigText-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Classic-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.ColoredPaper-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Formal-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Kids-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.ModernLines-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Picture-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Seasons-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Showcase-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Travel-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.theme.Vintage-Calendar</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	</dict>
	<key>KHCatalogBundlePreviewPkgIdForBundleIdKey</key>
	<dict>
		<key>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.BigPicture-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.BigText-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Classic-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.ColoredPaper-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Formal-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Kids-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.ModernLines-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Picture-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Seasons-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Showcase-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Travel-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
		<key>com.apple.printproducts.themepreview.Vintage-Calendar_Preview</key>
		<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	</dict>
	<key>KHCatalogBundleRecordsKey</key>
	<dict>
		<key>BigDate-Calendar_4771F72A-E08F-4F6E-9D0C-D6405603004B</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigDate-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>2</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigDate-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>BigDate-Calendar_6467B957-D4A2-483D-91D3-0F8C93F0B4D5</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigDate-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>2</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigDate-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>BigDate-Calendar_9ECE0AD2-BC9F-4D07-9B7D-BC16982A5895</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigDate-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>2</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigDate-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>BigPicture-Calendar_1C370804-FA0F-4F6D-BEB3-14C416B00E70</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigPicture-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigPicture-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigPicture-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>14</integer>
		</dict>
		<key>BigPicture-Calendar_626D8A46-DFD0-4E5E-912D-BC654A777B0B</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigPicture-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigPicture-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigPicture-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>14</integer>
		</dict>
		<key>BigPicture-Calendar_FF0874FC-31B5-4A69-847B-EFE721CD133E</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigPicture-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigPicture-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigPicture-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>14</integer>
		</dict>
		<key>BigText-Calendar_97C19CEE-5772-4160-B841-0ACC6ACA1C60</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.BigText-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.BigText-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>BigText-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>7</integer>
		</dict>
		<key>Classic-Calendar_5EAB44FF-4420-47AE-A419-7611FF71D925</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Classic-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Classic-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Classic-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>1</integer>
		</dict>
		<key>ColoredPaper-Calendar_D52C4A80-A626-4075-893C-4113DE061FE6</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.ColoredPaper-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.ColoredPaper-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>2</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>ColoredPaper-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>3</integer>
		</dict>
		<key>Formal-Calendar_DB5865C3-7DCC-4F4D-9497-FEF6FB1F9B74</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Formal-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Formal-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Formal-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>1</integer>
		</dict>
		<key>Kids-Calendar_62AB53C9-63EC-4CCF-A557-DF8C413C1917</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Kids-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Kids-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Kids-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>1</integer>
		</dict>
		<key>ModernLines-Calendar_1BF83786-FA34-44A7-BD12-BC996A38D050</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.ModernLines-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>ModernLines-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>ModernLines-Calendar_7939E17E-C921-4339-9DD7-1CF040FEF873</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.ModernLines-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>ModernLines-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>ModernLines-Calendar_D2B838F8-C3A1-4762-9866-66D5130E8397</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.ModernLines-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>ModernLines-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>Picture-Calendar_088236D8-E4A1-4C1F-A26A-F4D20B18CAFF</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Picture-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Picture-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>Picture-Calendar_B17140F4-4A12-4909-9BA2-2F71422853F6</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Picture-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Picture-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>Picture-Calendar_E221682B-9233-4B9E-9438-5F77D0897A95</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Picture-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Picture-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>9</integer>
		</dict>
		<key>Seasons-Calendar_DA872A48-F0DE-4C3E-929D-D3BFBBB4F086</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Seasons-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Seasons-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Seasons-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>1</integer>
		</dict>
		<key>Showcase-Calendar_6C5AF364-FE56-4F81-84D3-2EB0558F6384</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Showcase-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Showcase-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>6</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Showcase-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>11</integer>
		</dict>
		<key>Showcase-Calendar_765E1FA4-27E5-4732-8B26-972962509EF4</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Showcase-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Showcase-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>6</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Showcase-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>11</integer>
		</dict>
		<key>Showcase-Calendar_B48C9C91-354C-4F25-ABF9-DF230F3DE551</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Showcase-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Showcase-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>6</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Showcase-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>11</integer>
		</dict>
		<key>Travel-Calendar_C61888F2-BEFE-4032-89D2-24412E7E8D8C</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Travel-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Travel-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Travel-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>1</integer>
		</dict>
		<key>Vintage-Calendar_709583AE-7604-4FAD-8564-3E4D3F33796E</key>
		<dict>
			<key>KHCatalogBundleProductCodesByThemesKey</key>
			<array>
				<string>Calendar</string>
			</array>
			<key>KHCatalogBundleRecordBundleId</key>
			<string>com.apple.printproducts.theme.Vintage-Calendar</string>
			<key>KHCatalogBundleRecordOptionsKey</key>
			<dict/>
			<key>KHCatalogBundleRecordPreviewBundleId</key>
			<string>com.apple.printproducts.themepreview.Vintage-Calendar_Preview</string>
			<key>KHCatalogBundleRecordThemeBundleVersionKey</key>
			<integer>1</integer>
			<key>KHCatalogBundleRecordThemeIdentifierKey</key>
			<string>Vintage-Calendar</string>
			<key>KHCatalogBundleRecordThemePreviewBundleVersionKey</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
