<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrailleDriverAutoDetectDictionaries</key>
	<array>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>37643</integer>
			<key>idVendor</key>
			<integer>1118</integer>
		</dict>
	</array>
	<key>BrailleDriverBluetoothSearchDictionary</key>
	<dict>
		<key>BrailleDriverBluetoothConnectionIsIncoming</key>
		<false/>
		<key>BrailleDriverBluetoothDeviceNameRegexPatterns</key>
		<array>
			<string>BrailleEDGE[0-9]*</string>
		</array>
		<key>BrailleDriverBluetoothSPDUUID16ServiceClass</key>
		<integer>4353</integer>
	</dict>
	<key>BrailleDriverModels</key>
	<dict>
		<key>com.apple.scrod.braille.driver.hims.braille.edge.20</key>
		<dict>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<key>com.apple.scrod.braille.driver.hims.braille.edge.40</key>
		<dict>
			<key>size</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>BrailleDriverType</key>
	<integer>3</integer>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.scrod.braille.driver.hims</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HIMS Driver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>817.23</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2018 Apple Inc. All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>SCROHIMSBrailleDriver</string>
</dict>
</plist>
