<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14E46</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleGVAHEVCDecoder</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleGVAHEVCDecoder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleGVAHEVCDecoder</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.0.20</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>10.0.20</string>
	<key>CMClassImplementations</key>
	<array>
		<dict>
			<key>CMClassID</key>
			<string>com.apple.videotoolbox.videodecoder</string>
			<key>CMClassImplementationID</key>
			<string>com.apple.videotoolbox.videodecoder.hevc.gva</string>
			<key>CMClassImplementationName</key>
			<string>HEVC HW Decoder</string>
			<key>CMClassImplementationVersion</key>
			<integer>1</integer>
			<key>CMCopyright</key>
			<string>Copyright (c) 2015 Apple Inc. All rights reserved.</string>
			<key>CMDependencies</key>
			<dict>
				<key>IORegistryRequiredKey</key>
				<string>IOGVAHEVCDecode</string>
			</dict>
			<key>CMExecutableArchitectures</key>
			<array>
				<string>x86_64</string>
				<string>i386</string>
			</array>
			<key>CMFactoryFunction</key>
			<string>GVACODEC_VTDecoder_CreateInstance</string>
			<key>CMManufacturer</key>
			<string>Apple</string>
			<key>CMMatchingInfo</key>
			<dict>
				<key>VTCodecType</key>
				<string>hvc1</string>
				<key>VTIORegistryCapabilitiesKey</key>
				<string>IOGVAHEVCDecodeCapabilities</string>
				<key>VTIsHardwareAccelerated</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>CMClassID</key>
			<string>com.apple.videotoolbox.videodecoder</string>
			<key>CMClassImplementationID</key>
			<string>com.apple.videotoolbox.videodecoder.qhvc.gva</string>
			<key>CMClassImplementationName</key>
			<string>QHVC (GVA)</string>
			<key>CMClassImplementationVersion</key>
			<integer>1</integer>
			<key>CMCopyright</key>
			<string>Copyright (c) 2016 Apple Inc. All rights reserved.</string>
			<key>CMDependencies</key>
			<dict>
				<key>IORegistryRequiredKey</key>
				<string>IOGVAHEVCDecode</string>
			</dict>
			<key>CMExecutableArchitectures</key>
			<array>
				<string>x86_64</string>
				<string>i386</string>
			</array>
			<key>CMFactoryFunction</key>
			<string>GVACODEC_QHVC_VTDecoder_CreateInstance</string>
			<key>CMManufacturer</key>
			<string>Apple</string>
			<key>CMMatchingInfo</key>
			<dict>
				<key>VTCodecType</key>
				<string>qhvc</string>
				<key>VTIORegistryCapabilitiesKey</key>
				<string>IOGVAHEVCDecodeCapabilities</string>
				<key>VTIsHardwareAccelerated</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>CMClassID</key>
			<string>com.apple.videotoolbox.videodecoder</string>
			<key>CMClassImplementationID</key>
			<string>com.apple.videotoolbox.videodecoder.chvc.gva</string>
			<key>CMClassImplementationName</key>
			<string>CHVC (GVA)</string>
			<key>CMClassImplementationVersion</key>
			<integer>1</integer>
			<key>CMCopyright</key>
			<string>Copyright (c) 2016 Apple Inc. All rights reserved.</string>
			<key>CMDependencies</key>
			<dict>
				<key>IORegistryRequiredKey</key>
				<string>IOGVAHEVCDecode</string>
			</dict>
			<key>CMExecutableArchitectures</key>
			<array>
				<string>x86_64</string>
				<string>i386</string>
			</array>
			<key>CMFactoryFunction</key>
			<string>GVACODEC_QHVC_VTDecoder_CreateInstance</string>
			<key>CMManufacturer</key>
			<string>Apple</string>
			<key>CMMatchingInfo</key>
			<dict>
				<key>VTCodecType</key>
				<string>chvc</string>
				<key>VTIORegistryCapabilitiesKey</key>
				<string>IOGVAHEVCDecodeCapabilities</string>
				<key>VTIsHardwareAccelerated</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
</dict>
</plist>
