<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.0</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>32</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.500000,0,0.500000,0</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>74AAB447-6C53-4E20-BBA6-60794F1F11FF.ppb/Resources/Images/140614_FamilyMidEast-Provence_AT_01641.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>364</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>513</real>
					<key>x</key>
					<real>252</real>
					<key>y</key>
					<real>177</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<false/>
			<key>height</key>
			<real>360</real>
			<key>holeCount</key>
			<integer>1</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>Outside</string>
			<key>treatmentId</key>
			<string>C7B66902490660FF0A934319A6E60464C5E08C16</string>
			<key>treatmentIdentifier</key>
			<string>C7B66902490660FF0A934319A6E60464C5E08C16</string>
			<key>uuid</key>
			<string>683A5D5B-430D-4DC8-8B93-BACA4D732761</string>
			<key>width</key>
			<real>504</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>7DF72AA6-D6A3-44C5-9E65-5BFB1C3AEF1B</string>
			<key>cover</key>
			<string>EB403980-FDC3-47EC-8320-27ACAFE0E037</string>
			<key>inside</key>
			<string>66D08C72-37D0-4F0A-A542-A4F96B81283E</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>C7B66902490660FF0A934319A6E60464C5E08C16</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Featured</string>
			<string>Mothers Day</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Picture Card</string>
		<key>productCodes</key>
		<array>
			<string>HorizontalFoldedCard</string>
		</array>
		<key>themeIdentifier</key>
		<string>PictureCard-FoldedCard</string>
		<key>themePreviewIdentifier</key>
		<string>PictureCard-FoldedCard_74AAB447-6C53-4E20-BBA6-60794F1F11FF</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{30, 35}, {264, 188}}</string>
		<key>drawScale</key>
		<real>0.52380952380952384</real>
		<key>textFrames</key>
		<dict/>
	</dict>
</dict>
</plist>
