<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.0</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>17A6ECAA-610A-4B69-A1AF-7876ABC60D14.ppb/Resources/Images/SummerMurdock05.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>effects</string>
							<key>value</key>
							<string>CIPhotoEffectNoir</string>
							<key>valueType</key>
							<string>array</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.524217,1,0.500000,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.336486</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.fitAlign</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>513</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string></string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>364</real>
					<key>x</key>
					<real>182</real>
					<key>y</key>
					<real>252</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<false/>
			<key>height</key>
			<real>504</real>
			<key>holeCount</key>
			<integer>1</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>Outside-FullPage</string>
			<key>treatmentId</key>
			<string>BF3DA4F55079BB21512EB56A09F580CAE06B2816</string>
			<key>treatmentIdentifier</key>
			<string>BF3DA4F55079BB21512EB56A09F580CAE06B2816</string>
			<key>uuid</key>
			<string>B58BCAE4-84F7-4D3A-8587-80E8ABF8972A</string>
			<key>width</key>
			<real>360</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>1FCE9894-FDD5-4F04-973C-6491309A0043</string>
			<key>cover</key>
			<string>03285820-21FC-4A42-A80E-D41B503DE262</string>
			<key>inside</key>
			<string>858CB7CA-97AC-4B04-96B9-2A6ABF94798A</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>BF3DA4F55079BB21512EB56A09F580CAE06B2816</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Photos Only</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Picture Card B+W</string>
		<key>productCodes</key>
		<array>
			<string>VerticalFoldedCard</string>
		</array>
		<key>themeIdentifier</key>
		<string>PictureCard-FoldedCard-V</string>
		<key>themePreviewIdentifier</key>
		<string>PictureCard-FoldedCard-V_17A6ECAA-610A-4B69-A1AF-7876ABC60D14</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{72, 5}, {175, 245}}</string>
		<key>drawScale</key>
		<real>0.4861111111111111</real>
		<key>textFrames</key>
		<dict/>
	</dict>
</dict>
</plist>
