<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RFExportTemplateName</key>
	<string>QTMovieFlatten</string>
	<key>MGAVExportPresetIdentifier</key>
	<string>AVAssetExportPresetPassthrough</string>
	<key>QTExpComponentExtension</key>
	<string>mov</string>
	<key>QTExpType</key>
	<string>Flatten</string>
</dict>
</plist>
