<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MG320x240Video</key>
	<dict>
		<key>AVVideoCodecKey</key>
		<string>avc1</string>
		<key>AVVideoCompressionPropertiesKey</key>
		<dict>
			<key>MaxKeyFrameIntervalDuration</key>
			<integer>1</integer>
		</dict>
		<key>AVVideoHeightKey</key>
		<integer>240</integer>
		<key>AVVideoScalingModeKey</key>
		<string>AVVideoScalingModeFit</string>
		<key>AVVideoWidthKey</key>
		<integer>320</integer>
	</dict>
	<key>MG640x480Video</key>
	<dict>
		<key>AVVideoCodecKey</key>
		<string>avc1</string>
		<key>AVVideoCompressionPropertiesKey</key>
		<dict>
			<key>MaxKeyFrameIntervalDuration</key>
			<integer>1</integer>
		</dict>
		<key>AVVideoHeightKey</key>
		<integer>480</integer>
		<key>AVVideoScalingModeKey</key>
		<string>AVVideoScalingModeFit</string>
		<key>AVVideoWidthKey</key>
		<integer>640</integer>
	</dict>
	<key>MG720x480Video</key>
	<dict>
		<key>AVVideoCodecKey</key>
		<string>avc1</string>
		<key>AVVideoCompressionPropertiesKey</key>
		<dict>
			<key>MaxKeyFrameIntervalDuration</key>
			<integer>1</integer>
		</dict>
		<key>AVVideoHeightKey</key>
		<integer>480</integer>
		<key>AVVideoScalingModeKey</key>
		<string>AVVideoScalingModeFit</string>
		<key>AVVideoWidthKey</key>
		<integer>720</integer>
	</dict>
	<key>MG1280x720Video</key>
	<dict>
		<key>AVVideoCodecKey</key>
		<string>avc1</string>
		<key>AVVideoCompressionPropertiesKey</key>
		<dict>
			<key>MaxKeyFrameIntervalDuration</key>
			<integer>1</integer>
		</dict>
		<key>AVVideoHeightKey</key>
		<integer>720</integer>
		<key>AVVideoScalingModeKey</key>
		<string>AVVideoScalingModeFit</string>
		<key>AVVideoWidthKey</key>
		<integer>1280</integer>
	</dict>
	<key>MGH264Video</key>
	<dict>
		<key>AVVideoCodecKey</key>
		<string>avc1</string>
		<key>AVVideoCompressionPropertiesKey</key>
		<dict>
			<key>MaxKeyFrameIntervalDuration</key>
			<integer>1</integer>
		</dict>
		<key>AVVideoScalingModeKey</key>
		<string>AVVideoScalingModeFit</string>
	</dict>
	<key>MGProRes422Video</key>
	<dict>
		<key>AVVideoCodecKey</key>
		<string>apcn</string>
		<key>AVVideoScalingModeKey</key>
		<string>AVVideoScalingModeFit</string>
	</dict>
	<key>MGPassThrough</key>
	<dict/>
	<key>MGMediumQualityAACAudio</key>
	<dict>
		<key>AVEncoderBitRatePerChannelKey</key>
		<integer>128000</integer>
		<key>AVFormatIDKey</key>
		<integer>1633772320</integer>
	</dict>
	<key>MGHighQualityAACAudio</key>
	<dict>
		<key>AVEncoderBitRatePerChannelKey</key>
		<integer>256000</integer>
		<key>AVFormatIDKey</key>
		<integer>1633772320</integer>
	</dict>
	<key>MGLPCMAudio</key>
	<dict>
		<key>AVFormatIDKey</key>
		<integer>1819304813</integer>
		<key>AVLinearPCMIsBigEndianKey</key>
		<true/>
	</dict>
</dict>
</plist>
