<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Flip4Mac</string>
		<key>URL</key>
		<string>http://support.apple.com/kb/HT3526</string>
		<key>media-types</key>
		<dict>
			<key>vide</key>
			<array>
				<string>M4s2</string>
				<string>Mjpg</string>
				<string>Mp42</string>
				<string>Mp43</string>
				<string>Mp4S</string>
				<string>WMV1</string>
				<string>WMV2</string>
			</array>
			<key>soun</key>
			<array>
				<string>WMA1</string>
				<string>WMA2</string>
				<string>WMA3</string>
				<string>WMAL</string>
				<integer>1414725634</integer>
				<integer>1414725638</integer>
				<integer>1414725639</integer>
				<integer>1414725649</integer>
				<integer>1414725701</integer>
				<integer>1414725717</integer>
			</array>
			<key>MMS </key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>file-extensions</key>
		<array>
			<string>wma</string>
			<string>wmv</string>
			<string>wm</string>
			<string>wmp</string>
			<string>asf</string>
			<string>asx</string>
			<string>wmx</string>
			<string>wax</string>
			<string>wvx</string>
		</array>
		<key>file-types</key>
		<array>
			<string>ASF_</string>
			<string>ASX_</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pro Components</string>
		<key>URL</key>
		<string>http://support.apple.com/kb/HT3523</string>
		<key>media-types</key>
		<dict>
			<key>vide</key>
			<array>
				<string>2vuy</string>
				<string>v210</string>
				<string>OZML</string>
				<string>hdv1</string>
				<string>hdv2</string>
				<string>hdv3</string>
				<string>hdv4</string>
				<string>hdv5</string>
				<string>hdv6</string>
				<string>hdv7</string>
				<string>hdv8</string>
				<string>xdhd</string>
				<string>xdv2</string>
				<string>xdv3</string>
				<string>xdv6</string>
				<string>xdv7</string>
				<string>xdv8</string>
				<string>apch</string>
				<string>apcn</string>
				<string>mx3n</string>
				<string>mx3p</string>
				<string>mx4n</string>
				<string>mx4p</string>
				<string>mx5n</string>
				<string>mx5p</string>
				<string>icod</string>
				<string>dvh2</string>
				<string>dvh3</string>
				<string>dvh5</string>
				<string>dvh6</string>
				<string>dvhp</string>
				<string>dvhq</string>
			</array>
			<key>m2s </key>
			<array>
				<integer>0</integer>
			</array>
			<key>m2v </key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>file-extensions</key>
		<array>
			<string>m2v</string>
			<string>m2s</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>DivX</string>
		<key>URL</key>
		<string>http://support.apple.com/kb/HT3527</string>
		<key>media-types</key>
		<dict>
			<key>vide</key>
			<array>
				<string>DIV3</string>
				<string>DIV4</string>
				<string>DIV5</string>
				<string>DIV6</string>
				<string>DIVX</string>
				<string>DX45</string>
				<string>DX50</string>
				<string>SEDG</string>
				<string>XVID</string>
				<string>div3</string>
				<string>div4</string>
				<string>div5</string>
				<string>div6</string>
				<string>divx</string>
				<string>dx45</string>
				<string>dx50</string>
				<string>sedg</string>
				<string>xvid</string>
			</array>
		</dict>
		<key>file-extensions</key>
		<array>
			<string>divx</string>
			<string>tix</string>
			<string>mkv</string>
		</array>
		<key>file-types</key>
		<array>
			<string>DIVX</string>
			<string>tix </string>
			<string>mkv </string>
		</array>
	</dict>
</array>
</plist>
