<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IgnoreDeprecationDate</key>
    <string>2023-04-01</string>
	<key>Products</key>
	<dict>
        <key>Parallels</key>
        <array>
            <dict>
                <key>TeamID</key>
                <string>4C6364ACXT</string>
            </dict>
        </array>
        <key>VMware</key>
        <array>
            <dict>
                <key>TeamID</key>
                <string>8J7TAMPT4P</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>EG7KH642X6</string>
            </dict>
        </array>
        <key>VirtualBox</key>
        <array>
            <dict>
                <key>TeamID</key>
                <string>VB5E2TV963</string>
                <key>BundleID</key>
                <string>org.virtualbox.kext.VBoxDrv</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>VB5E2TV963</string>
                <key>BundleID</key>
                <string>org.virtualbox.kext.VBoxGuest</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>VB5E2TV963</string>
                <key>BundleID</key>
                <string>org.virtualbox.kext.VBoxNetAdp</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>VB5E2TV963</string>
                <key>BundleID</key>
                <string>org.virtualbox.kext.VBoxNetFlt</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>VB5E2TV963</string>
                <key>BundleID</key>
                <string>org.virtualbox.kext.VBoxUSB</string>
            </dict>
        </array>
        <key>LogitechHID</key>
        <array>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.Logitech.ControlCenter.HIDDriver</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.logitech.driver.LogiWheelDriver</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.logitech.driver.LogiGamingMouseFilter</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.Logitech.Unifying.HIDDriver</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.driver.LogJoystick</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.logitech.manager.kernel.driver</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.logi.gaming.mouse.filter</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.logi.gaming.hidio</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.Logitech.Control Center.HID Driver</string>
            </dict>
            <dict>
                <key>TeamID</key>
                <string>QED4VVPZWA</string>
                <key>BundleID</key>
                <string>com.Logitech.Unifying.HID Driver</string>
            </dict>
        </array>
    </dict>
	<key>Terms</key>
	<dict>
		<key>NetworkFilter</key>
		<dict>
			<key>Symbols</key>
			<array>
				<string>_ipf_addv4</string>
				<string>_ipf_addv6</string>
				<string>_ipf_inject_input</string>
				<string>_ipf_inject_output</string>
				<string>_ipf_remove</string>
				<string>_sflt_attach</string>
				<string>_sflt_detach</string>
				<string>_sflt_register</string>
				<string>_sflt_unregister</string>
				<string>_sock_inject_data_in</string>
				<string>_sock_inject_data_out</string>
				<string>_sock_setpriv</string>
				<string>_sockopt_copyin</string>
				<string>_sockopt_copyout</string>
				<string>_sockopt_direction</string>
				<string>_sockopt_level</string>
				<string>_sockopt_name</string>
				<string>_sockopt_valsize</string>
			</array>
		</dict>
        <key>Socket</key>
        <dict>
            <key>Symbols</key>
            <array>
                <string>_sock_accept</string>
                <string>_sock_bind</string>
                <string>_sock_close</string>
                <string>_sock_connect</string>
                <string>_sock_getpeername</string>
                <string>_sock_gettype</string>
                <string>_sock_getsockname</string>
                <string>_sock_getsockopt</string>
                <string>_sock_ioctl</string>
                <string>_sock_isconnected</string>
                <string>_sock_isnonblocking</string>
                <string>_sock_listen</string>
                <string>_sock_receive</string>
                <string>_sock_receivembuf</string>
                <string>_sock_release</string>
                <string>_sock_retain</string>
                <string>_sock_send</string>
                <string>_sock_sendmbuf</string>
                <string>_sock_setsockopt</string>
                <string>_sock_shutdown</string>
                <string>_sock_socket</string>
            </array>
        </dict>
		<key>KAUTH</key>
		<dict>
			<key>Symbols</key>
			<array>
				<string>_kauth_listen_scope</string>
				<string>_kauth_unlisten_scope</string>
			</array>
		</dict>
		<key>IOHIDFamily</key>
		<dict>
			<key>Libraries</key>
			<array>
				<string>com.apple.iokit.IOHIDFamily</string>
			</array>
		</dict>
		<key>USB</key>
		<dict>
			<key>Libraries</key>
			<array>
				<string>com.apple.iokit.IOUSBFamily</string>
				<string>com.apple.iokit.IOUSBHostFamily</string>
			</array>
		</dict>
		<key>Serial</key>
		<dict>
			<key>Libraries</key>
			<array>
				<string>com.apple.iokit.IOSerialFamily</string>
			</array>
		</dict>
		<key>Networking</key>
		<dict>
			<key>Libraries</key>
			<array>
				<string>com.apple.iokit.IONetworkingFamily</string>
			</array>
		</dict>
		<key>CustomIPC</key>
		<dict>
			<key>Symbols</key>
			<array>
				<string>__ZN12IOUserClient10clientDiedEv</string>
				<string>__ZN12IOUserClient10gMetaClassE</string>
				<string>__ZN12IOUserClient10getServiceEv</string>
				<string>__ZN12IOUserClient10initializeEv</string>
				<string>__ZN12IOUserClient10superClassE</string>
				<string>__ZN12IOUserClient11clientCloseEv</string>
				<string>__ZN12IOUserClient12initWithTaskEP4taskPvj</string>
				<string>__ZN12IOUserClient12initWithTaskEP4taskPvjP12OSDictionary</string>
				<string>__ZN12IOUserClient13connectClientEPS_</string>
				<string>__ZN12IOUserClient14externalMethodEjP25IOExternalMethodArgumentsP24IOExternalMethodDispatchP8OSObjectPv</string>
				<string>__ZN12IOUserClient15sendAsyncResultEPjiPPvj</string>
				<string>__ZN12IOUserClient17mapClientMemory64EjP4taskjy</string>
				<string>__ZN12IOUserClient17sendAsyncResult64EPyiS0_j</string>
				<string>__ZN12IOUserClient17setAsyncReferenceEPjP8ipc_portPvS3_</string>
				<string>__ZN12IOUserClient18clientHasPrivilegeEPvPKc</string>
				<string>__ZN12IOUserClient19clientMemoryForTypeEjPjPP18IOMemoryDescriptor</string>
				<string>__ZN12IOUserClient19setAsyncReference64EPyP8ipc_portyy</string>
				<string>__ZN12IOUserClient19setAsyncReference64EPyP8ipc_portyyP4task</string>
				<string>__ZN12IOUserClient20exportObjectToClientEP4taskP8OSObjectPS3_</string>
				<string>__ZN12IOUserClient21copyClientEntitlementEP4taskPKc</string>
				<string>__ZN12IOUserClient21destroyUserReferencesEP8OSObject</string>
				<string>__ZN12IOUserClient22AsyncCompletion_InvokeE5IORPCP15OSMetaClassBasePFvS2_P8OSActioniPKyjE</string>
				<string>__ZN12IOUserClient22_ExternalMethod_InvokeE5IORPCP15OSMetaClassBasePFiS2_yPKyjP6OSDataP18IOMemoryDescriptorPyPjyPS6_S8_P8OSActionE</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient0Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient1Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient2Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient3Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient4Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient5Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient6Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient7Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient8Ev</string>
				<string>__ZN12IOUserClient22_RESERVEDIOUserClient9Ev</string>
				<string>__ZN12IOUserClient22clientHasAuthorizationEP4taskP9IOService</string>
				<string>__ZN12IOUserClient23_RESERVEDIOUserClient10Ev</string>
				<string>__ZN12IOUserClient23_RESERVEDIOUserClient11Ev</string>
				<string>__ZN12IOUserClient23_RESERVEDIOUserClient12Ev</string>
				<string>__ZN12IOUserClient23_RESERVEDIOUserClient13Ev</string>
				<string>__ZN12IOUserClient23_RESERVEDIOUserClient14Ev</string>
				<string>__ZN12IOUserClient23_RESERVEDIOUserClient15Ev</string>
				<string>__ZN12IOUserClient23getExternalTrapForIndexEj</string>
				<string>__ZN12IOUserClient23releaseAsyncReference64EPy</string>
				<string>__ZN12IOUserClient23releaseNotificationPortEP8ipc_port</string>
				<string>__ZN12IOUserClient24getNotificationSemaphoreEjPP9semaphore</string>
				<string>__ZN12IOUserClient24getTargetAndTrapForIndexEPP9IOServicej</string>
				<string>__ZN12IOUserClient24registerNotificationPortEP8ipc_portjj</string>
				<string>__ZN12IOUserClient24registerNotificationPortEP8ipc_portjy</string>
				<string>__ZN12IOUserClient25getExternalMethodForIndexEj</string>
				<string>__ZN12IOUserClient26getTargetAndMethodForIndexEPP9IOServicej</string>
				<string>__ZN12IOUserClient26removeMappingForDescriptorEP18IOMemoryDescriptor</string>
				<string>__ZN12IOUserClient28sendAsyncResult64WithOptionsEPyiS0_jj</string>
				<string>__ZN12IOUserClient30CopyClientMemoryForType_InvokeE5IORPCP15OSMetaClassBasePFiS2_yPyPP18IOMemoryDescriptorE</string>
				<string>__ZN12IOUserClient30getExternalAsyncMethodForIndexEj</string>
				<string>__ZN12IOUserClient31getAsyncTargetAndMethodForIndexEPP9IOServicej</string>
				<string>__ZN12IOUserClient4freeEv</string>
				<string>__ZN12IOUserClient4initEP12OSDictionary</string>
				<string>__ZN12IOUserClient4initEv</string>
				<string>__ZN12IOUserClient8DispatchE5IORPC</string>
				<string>__ZN12IOUserClient9MetaClassC1Ev</string>
				<string>__ZN12IOUserClient9MetaClassC2Ev</string>
				<string>__ZN12IOUserClient9metaClassE</string>
				<string>__ZN12IOUserClientC1EPK11OSMetaClass</string>
				<string>__ZN12IOUserClientC2EPK11OSMetaClass</string>
				<string>__ZN12IOUserClientD0Ev</string>
				<string>__ZN12IOUserClientD2Ev</string>
				<string>__ZNK12IOUserClient12getMetaClassEv</string>
				<string>__ZNK12IOUserClient9MetaClass5allocEv</string>
				<string>__ZTV12IOUserClient</string>
				<string>__ZTVN12IOUserClient9MetaClassE</string>
			</array>
		</dict>
		<key>IOFamily</key>
		<dict>
			<key>Libraries</key>
			<array>
				<string>com.apple.iokit.IO80211Family</string>
				<string>com.apple.iokit.IO80211FamilyV2</string>
				<string>com.apple.iokit.IOAudioFamily</string>
				<string>com.apple.driver.IOBluetoothHIDDriver</string>
				<string>com.apple.iokit.IOFireWireFamily</string>
				<string>com.apple.iokit.IOFireWireSBP2</string>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<string>com.apple.iokit.IOSCSIArchitectureModelFamily</string>
				<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
				<string>com.apple.iokit.IOSCSIMultimediaCommandsDevice</string>
				<string>com.apple.iokit.IOSCSIParallelFamily</string>
				<string>com.apple.iokit.IOStorageFamily</string>
				<string>com.apple.iokit.IOStreamFamily</string>
				<string>com.apple.iokit.IOUSBMassStorageClass</string>
				<string>com.apple.iokit.IOVideoFamily</string>
			</array>
		</dict>
        <key>subclasses-IOUSBController</key>
        <dict>
            <key>Symbols</key>
            <array>
                <string>__ZTV15IOUSBController</string>
                <string>__ZTV17IOUSBControllerV2</string>
                <string>__ZTV17IOUSBControllerV3</string>
            </array>
        </dict>
        <key>IO80211</key>
        <dict>
            <key>Libraries</key>
            <array>
                <string>com.apple.iokit.IO80211Family</string>
                <string>com.apple.iokit.IO80211FamilyV2</string>
            </array>
        </dict>
        <key>PCI</key>
        <dict>
            <key>Libraries</key>
            <array>
                <string>com.apple.iokit.IOPCIFamily</string>
            </array>
        </dict>
        <key>IOSCSIParallelFamily</key>
        <dict>
            <key>Libraries</key>
            <array>
                <string>com.apple.iokit.IOSCSIParallelFamily</string>
            </array>
        </dict>
        <key>IOAudioFamily</key>
        <dict>
            <key>Libraries</key>
            <array>
                <string>com.apple.iokit.IOAudioFamily</string>
            </array>
        </dict>
        <key>IOBluetoothHIDDriver</key>
        <dict>
            <key>Libraries</key>
            <array>
                <string>com.apple.driver.IOBluetoothHIDDriver</string>
            </array>
        </dict>
	</dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>LogDescription</key>
			<string>KAUTH has been deprecated since macOS Catalina (10.15).  Please use EndpointSecurity instead.</string>
			<key>Classification</key>
			<string>Unsupported</string>
			<key>Expression</key>
			<string>KAUTH</string>
		</dict>
		<dict>
			<key>LogDescription</key>
			<string>NetworkFilter KPIs have been deprecated since macOS Catalina (10.15).  Please use NetworkExtension instead.</string>
			<key>Classification</key>
			<string>Unsupported</string>
			<key>Expression</key>
			<string>NetworkFilter</string>
            <key>Exceptions</key>
            <array>
                <dict>
                    <key>Product</key>
                    <string>Parallels</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <dict>
                    <key>Product</key>
                    <string>VMware</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <dict>
                    <key>Product</key>
                    <string>VirtualBox</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
            </array>
		</dict>
        <dict>
            <key>LogDescription</key>
            <string>Socket KPIs have been deprecated since macOS Catalina (10.15).  Please use NetworkExtension instead.</string>
            <key>Classification</key>
            <string>Deprecated</string>
            <key>Expression</key>
            <string>Socket</string>
            <key>Exceptions</key>
            <array>
                <dict>
                    <key>Product</key>
                    <string>Parallels</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <dict>
                    <key>Product</key>
                    <string>VMware</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <dict>
                    <key>Product</key>
                    <string>VirtualBox</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
            </array>
        </dict>
		<dict>
			<key>LogDescription</key>
			<string>IOHIDFamily has been deprecated since macOS Catalina (10.15).  Please use HIDDriverKit instead.</string>
			<key>Classification</key>
			<string>Unsupported</string>
			<key>Expression</key>
			<string>IOHIDFamily</string>
            <key>Exceptions</key>
            <array>
                <dict>
                    <key>Product</key>
                    <string>Parallels</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <string>LogitechHID</string>
            </array>
		</dict>
		<dict>
			<key>LogDescription</key>
			<string>USB Serial has been deprecated since macOS Catalina (10.15).  Please use USBDriverKit and SerialDriverKit instead.</string>
			<key>Classification</key>
			<string>Unsupported</string>
			<key>Expression</key>
			<string>USB Serial</string>
		</dict>
		<dict>
			<key>LogDescription</key>
			<string>USB Networking has been deprecated since macOS Catalina (10.15).  Please use USBDriverKit and NetworkingDriverKit instead.</string>
			<key>Classification</key>
			<string>Unsupported</string>
			<key>Expression</key>
			<string>USB Networking</string>
		</dict>
		<dict>
			<key>LogDescription</key>
			<string>USB custom IPC without also referencing IO Family subsystems has been deprecated since macOS Catalina (10.15).  Please use DriverKit Instead.</string>
			<key>Classification</key>
			<string>Unsupported</string>
			<key>Expression</key>
			<string>USB CustomIPC !IOFamily !subclasses-IOUSBController</string>
            <key>Exceptions</key>
            <array>
                <dict>
                    <key>Product</key>
                    <string>Parallels</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <dict>
                    <key>Product</key>
                    <string>VMware</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
                <dict>
                    <key>Product</key>
                    <string>VirtualBox</string>
                    <key>Classification</key>
                    <string>Deprecated</string>
                </dict>
            </array>
		</dict>
        <dict>
            <key>LogDescription</key>
            <string>PCI Networking has been deprecated since macOS Catalina (10.15.4).  Please use PCIDriverKit and NetworkingDriverKit instead.</string>
            <key>Classification</key>
            <string>Deprecated</string>
            <key>Expression</key>
            <string>PCI Networking !IO80211</string>
        </dict>
        <dict>
            <key>LogDescription</key>
            <string>IOSCSIParallelFamily has been deprecated since macOS Monterey (12.0).  Please use SCSIControllerDriverKit instead.</string>
            <key>Classification</key>
            <string>Deprecated</string>
            <key>Expression</key>
            <string>IOSCSIParallelFamily</string>
        </dict>
        <dict>
            <key>LogDescription</key>
            <string>IOAudioFamily has been deprecated since macOS Monterey (12.0).  Please use AudioDriverKit instead.</string>
            <key>Classification</key>
            <string>Deprecated</string>
            <key>Expression</key>
            <string>IOAudioFamily</string>
        </dict>
        <dict>
            <key>LogDescription</key>
            <string>IOBluetoothHIDDriver has been deprecated since macOS Monterey (12.4).  Please use CoreBluetooth instead.</string>
            <key>Classification</key>
            <string>Deprecated</string>
            <key>Expression</key>
            <string>IOBluetoothHIDDriver</string>
        </dict>
	</array>
</dict>
</plist>
