<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.GeoPolygonDataAssets</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:08:13Z</date>
			<key>objectID</key>
			<integer>12884939963</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.YearInReview-Postcard</string>
			<key>cdhash</key>
			<string>f8a8231cdf2e5ed85b4c445fd871e65b19fea912</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884911736</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.YearInReview-Postcard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.ModernLines-Calendar</string>
			<key>cdhash</key>
			<string>a356a057b2bf59cdd04723e3bac3da3de170001a</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:28Z</date>
			<key>objectID</key>
			<integer>12884909132</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.ModernLines-Calendar</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.YearInReview-FoldedCard_Preview</string>
			<key>cdhash</key>
			<string>24c4b7562bfe8ddb871e10c1a16e0c1567cd519d</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884907420</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.YearInReview-FoldedCard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.catalog.card</string>
			<key>cdhash</key>
			<string>8a5aa076129e38450bcbf81e7855553139180b37</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:25Z</date>
			<key>objectID</key>
			<integer>12884906465</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.catalog.card</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MRT</string>
			<key>cdhash</key>
			<string>af02db23e104d72e59c4f7b01f57d32e932b219c</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:22:37Z</date>
			<key>objectID</key>
			<integer>12884986731</integer>
			<key>signingID</key>
			<string>com.apple.MRT</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.SquareBySquare</string>
			<key>cdhash</key>
			<string>767b699b807146e701e1d23c8cc64a997a3aef2b</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:28Z</date>
			<key>objectID</key>
			<integer>12884910388</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.SquareBySquare</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.XProtectFramework.XProtect</string>
			<key>cdhash</key>
			<string>41c0b056782bd33859afa2b0da9fb54fec9fe3e4</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:22:44Z</date>
			<key>objectID</key>
			<integer>12884987053</integer>
			<key>signingID</key>
			<string>com.apple.XProtectFramework.XProtect</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.highpoint-tech.kext.HighPointRR</string>
			<key>cdhash</key>
			<string>4fb1f14d2b3d9639665a4df7e953b63765306616</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:13:09Z</date>
			<key>objectID</key>
			<integer>12884929191</integer>
			<key>signingID</key>
			<string>com.highpoint-tech.kext.HighPointRR</string>
			<key>teamID</key>
			<string>DX6G69M9N2</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.MacSoftwareUpdate</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:32:17Z</date>
			<key>objectID</key>
			<integer>12884989960</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.LinguisticData</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:09:34Z</date>
			<key>objectID</key>
			<integer>12884940499</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.IncompatibleAppsList</string>
			<key>cdhash</key>
			<string>84099ec1d4c3b1f1ee7d03426923efe51220e7bb</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:23Z</date>
			<key>objectID</key>
			<integer>12884902705</integer>
			<key>signingID</key>
			<string>com.apple.IncompatibleAppsList</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.PremiumClassic-FoldedCard_Preview</string>
			<key>cdhash</key>
			<string>e51caf9445a29bfdc6329e3126e6152b6806f13d</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908285</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.PremiumClassic-FoldedCard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.BentoBox</string>
			<key>cdhash</key>
			<string>61f712407891f42be6fef25b95f5db89e40d9c60</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884911360</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.BentoBox</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.Travelogue_Preview</string>
			<key>cdhash</key>
			<string>f0605e8577e6738efa364cb1e85fc3136869deef</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884906949</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.Travelogue_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.Travelogue</string>
			<key>cdhash</key>
			<string>e4e5dd3bcdc5c5490062b2efdb44bab8c307d867</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:30Z</date>
			<key>objectID</key>
			<integer>12884914092</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.Travelogue</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.HolidayColors-FoldedCard_Preview</string>
			<key>cdhash</key>
			<string>5cbe37bc8d8af37d4d1d35dd1a9cde5891d2ec11</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884907230</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.HolidayColors-FoldedCard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.highpoint-tech.kext.HighPointIOP</string>
			<key>cdhash</key>
			<string>e917a18aeefac30f0249fe451715c48100d5a1fc</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:13:08Z</date>
			<key>objectID</key>
			<integer>12884929143</integer>
			<key>signingID</key>
			<string>com.highpoint-tech.kext.HighPointIOP</string>
			<key>teamID</key>
			<string>DX6G69M9N2</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.Safari.framework</string>
			<key>cdhash</key>
			<string>804dc84227dfd766cecc63756c132d3371c71522</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885171181</integer>
			<key>signingID</key>
			<string>com.apple.Safari.framework</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
			<key>cdhash</key>
			<string>17ae1f90e57635c239a17f694843688577d220d5</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908158</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.PhishingImageClassifier2</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:17:27Z</date>
			<key>objectID</key>
			<integer>12884956523</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.catalog.calendar</string>
			<key>cdhash</key>
			<string>35a4bbd7bdd359a3993aee12268b6b652bc9be33</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:25Z</date>
			<key>objectID</key>
			<integer>12884906497</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.catalog.calendar</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.SafariFoundation</string>
			<key>cdhash</key>
			<string>c3e246c4e2d5d53674757541eb446142b8ebe400</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885174984</integer>
			<key>signingID</key>
			<string>com.apple.SafariFoundation</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebKit</string>
			<key>cdhash</key>
			<string>7683c1444d0ec4290ee7f3d31e304d3f6bd3c410</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885175479</integer>
			<key>signingID</key>
			<string>com.apple.WebKit</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.SquareBySquare_Preview</string>
			<key>cdhash</key>
			<string>57fa1cb4a1c976e667208ede2fb6cf890fd96c05</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908841</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.SquareBySquare_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.Portfolio</string>
			<key>cdhash</key>
			<string>a6d9ea72880f3b976dad31e6986e37254ed2e5fa</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:30Z</date>
			<key>objectID</key>
			<integer>12884913414</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.Portfolio</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebPrivacy</string>
			<key>cdhash</key>
			<string>762a4f774b1dc8881ef2b3eef3a0dd6128266023</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885175888</integer>
			<key>signingID</key>
			<string>com.apple.WebPrivacy</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.Picture_Book_Photos_OSX</string>
			<key>cdhash</key>
			<string>d5459d267bddf7ce9e6066f10370342e025172e6</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:30Z</date>
			<key>objectID</key>
			<integer>12884913793</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.Picture_Book_Photos_OSX</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebBookmarks</string>
			<key>cdhash</key>
			<string>45a569a8a86a8c3bf05dce9a3c38ed2e386b1739</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885175345</integer>
			<key>signingID</key>
			<string>com.apple.WebBookmarks</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.SoftwareUpdateDocumentation</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:07:54Z</date>
			<key>objectID</key>
			<integer>12884937374</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.SecExperimentAssets</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:22:46Z</date>
			<key>objectID</key>
			<integer>12884987266</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.AuthenticationServicesCore</string>
			<key>cdhash</key>
			<string>4903638a5cf52b59a09302034c819a66ff781e43</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885175914</integer>
			<key>signingID</key>
			<string>com.apple.AuthenticationServicesCore</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.Safari.Shared.UI</string>
			<key>cdhash</key>
			<string>f3533d05408e45d59b74c5c79cccaf12e055c38f</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885175678</integer>
			<key>signingID</key>
			<string>com.apple.Safari.Shared.UI</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebCore</string>
			<key>cdhash</key>
			<string>b96a9b90d6ca73b9cb6f49b55710c6534f7bd4e6</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885176261</integer>
			<key>signingID</key>
			<string>com.apple.WebCore</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.Passwords.PasswordManagerUI.framework</string>
			<key>cdhash</key>
			<string>fb72843f1178cd1f16cf26b1b0e6eb304e3af8ed</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885174699</integer>
			<key>signingID</key>
			<string>com.apple.Passwords.PasswordManagerUI.framework</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebKitLegacy</string>
			<key>cdhash</key>
			<string>2aca1ceec3ecc8d0ab8d5e2c9a6adf223a02210a</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885171048</integer>
			<key>signingID</key>
			<string>com.apple.WebKitLegacy</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.DictionaryServices.dictionaryOSX</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:14:21Z</date>
			<key>objectID</key>
			<integer>12884943034</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.BentoBox_Preview</string>
			<key>cdhash</key>
			<string>0587b4c30365f2d9dace1071e307057cfe629078</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884907888</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.BentoBox_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.SpeechTranslationAssets3</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:15:49Z</date>
			<key>objectID</key>
			<integer>12884953718</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.ModernLines-Large</string>
			<key>cdhash</key>
			<string>7a8038a4d7ce271a2a578030ca21f354d2f1e6d6</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884912053</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.ModernLines-Large</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.SafariBookmarksSyncAgent</string>
			<key>cdhash</key>
			<string>560eb2570019483664bce3fea69a19b2dfefcce0</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:24Z</date>
			<key>objectID</key>
			<integer>12884903710</integer>
			<key>signingID</key>
			<string>com.apple.SafariBookmarksSyncAgent</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.SafariServices.framework</string>
			<key>cdhash</key>
			<string>e2e1f47d556372d863b2700f4a68ec572c046c0e</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885176537</integer>
			<key>signingID</key>
			<string>com.apple.SafariServices.framework</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.HolidayColors-Postcard_Preview</string>
			<key>cdhash</key>
			<string>938e8397ab1ce710397d10d2c3449a55766691f6</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884907698</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.HolidayColors-Postcard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.HolidayColors-FoldedCard</string>
			<key>cdhash</key>
			<string>c81b0e3191b77f351e6dd0f54f56fdf56c2e6edc</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:30Z</date>
			<key>objectID</key>
			<integer>12884914963</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.HolidayColors-FoldedCard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.softraid.driver.SoftRAID</string>
			<key>cdhash</key>
			<string>642cdfe67b3654709980c832df053cbebe77da23</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:13:08Z</date>
			<key>objectID</key>
			<integer>12884929173</integer>
			<key>signingID</key>
			<string>com.softraid.driver.SoftRAID</string>
			<key>teamID</key>
			<string>Q9P8K45M5C</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebInspector</string>
			<key>cdhash</key>
			<string>5916d80841aafe164b6585896104e942bb61f6b3</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885170956</integer>
			<key>signingID</key>
			<string>com.apple.WebInspector</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.Safari.Core</string>
			<key>cdhash</key>
			<string>790787585605255e4a8b41aaf0b00c7999739844</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885174832</integer>
			<key>signingID</key>
			<string>com.apple.Safari.Core</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Calendar_Preview</string>
			<key>cdhash</key>
			<string>bfe5bfc28d9b8d91091df57645471c177356ded8</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884906822</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Calendar_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.PhotoEssay-Large</string>
			<key>cdhash</key>
			<string>8fdea124c7b3d6c4880703336cd7697027276704</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:28Z</date>
			<key>objectID</key>
			<integer>12884910051</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.PhotoEssay-Large</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.PictureCard-FoldedCard_Preview</string>
			<key>cdhash</key>
			<string>ecea7ab3e65a9eaa3fb62d4e38c8e32a3ac3212e</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908687</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.PictureCard-FoldedCard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.XProtect</string>
			<key>cdhash</key>
			<string>1360cb8f3fc74ceec8c5ccf2a11dca0e9288e07b</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:22:39Z</date>
			<key>objectID</key>
			<integer>12884986941</integer>
			<key>signingID</key>
			<string>com.apple.XProtect</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.Journal-Large_Preview</string>
			<key>cdhash</key>
			<string>794036bd04e1088d0e93ba17a2b92a1c53f53f90</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884907094</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.Journal-Large_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.SafariBookmarksSyncAgent.CloudBookmarksAccountsNotifier</string>
			<key>cdhash</key>
			<string>3e0e0abb257b3830fd7725859bf8088707d74741</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:24Z</date>
			<key>objectID</key>
			<integer>12884904056</integer>
			<key>signingID</key>
			<string>com.apple.SafariBookmarksSyncAgent.CloudBookmarksAccountsNotifier</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
			<key>cdhash</key>
			<string>4a988c5ecd3691e93c70514767d2a1c06c35aad4</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908560</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.BigDate-Calendar</string>
			<key>cdhash</key>
			<string>0c8fa80f7dd1dd4191fd063f95f2402dbb36596a</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:28Z</date>
			<key>objectID</key>
			<integer>12884910708</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.BigDate-Calendar</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.catalog.book</string>
			<key>cdhash</key>
			<string>6ba056ddc32aa0331a6cf9d20c80520ceb25f453</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:25Z</date>
			<key>objectID</key>
			<integer>12884906481</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.catalog.book</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.YearInReview-FoldedCard</string>
			<key>cdhash</key>
			<string>b8765b056d8966b257940972214c5b67215238d5</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884912711</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.YearInReview-FoldedCard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.YearInReview-Postcard_Preview</string>
			<key>cdhash</key>
			<string>5746940e60fd6789da45ea53a73ab474e12a15c9</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908033</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.YearInReview-Postcard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.AuthenticationServices</string>
			<key>cdhash</key>
			<string>bbefe8b152f044c0439ae97c048024954a9fa705</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885176047</integer>
			<key>signingID</key>
			<string>com.apple.AuthenticationServices</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.cmphoto.AppleJPEGXL</string>
			<key>cdhash</key>
			<string>a17322aec2b33cf45d08eee5bef2906c53ec0b0a</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885174971</integer>
			<key>signingID</key>
			<string>com.apple.cmphoto.AppleJPEGXL</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.Safari.Shared</string>
			<key>cdhash</key>
			<string>631a1522ae1007474b85028d18a154c3406cb6a4</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885175126</integer>
			<key>signingID</key>
			<string>com.apple.Safari.Shared</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.Picture-Calendar</string>
			<key>cdhash</key>
			<string>67efa7e100fe78d03173a27527191ff8eb1cb45e</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884912396</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.Picture-Calendar</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.PictureCard-FoldedCard</string>
			<key>cdhash</key>
			<string>a6e391e331f5fab116dfa03fba9f21246d888252</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:28Z</date>
			<key>objectID</key>
			<integer>12884909435</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.PictureCard-FoldedCard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.GeoPolygonDataAssets</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:08:13Z</date>
			<key>objectID</key>
			<integer>12884939981</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.PictureCard-Postcard</string>
			<key>cdhash</key>
			<string>0481084fcd6e2c1e1c2a1c8aa927a2b2d6212960</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:28Z</date>
			<key>objectID</key>
			<integer>12884909740</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.PictureCard-Postcard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.PremiumClassic-FoldedCard</string>
			<key>cdhash</key>
			<string>0994cd57421f832eb7dce195aebf23ee86cf5892</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:30Z</date>
			<key>objectID</key>
			<integer>12884914634</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.PremiumClassic-FoldedCard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.PhotoEssay-Large_Preview</string>
			<key>cdhash</key>
			<string>089eb40d3c8622f89484a1c8a00c1e397a94371f</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908977</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.PhotoEssay-Large_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.JavaScriptCore</string>
			<key>cdhash</key>
			<string>e1f7557a7fac7949b45bc6cb909009fc697eed1d</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885176570</integer>
			<key>signingID</key>
			<string>com.apple.JavaScriptCore</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.Journal-Large</string>
			<key>cdhash</key>
			<string>d8b34ef2127ad26b8af571673d33840da37c9133</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884913016</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.Journal-Large</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.DictionaryServices.dictionaryOSX</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:14:21Z</date>
			<key>objectID</key>
			<integer>12884943063</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.Safari</string>
			<key>cdhash</key>
			<string>b79207f5f5e3301190ea470652808e73e59aa53f</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:14Z</date>
			<key>objectID</key>
			<integer>12885177130</integer>
			<key>signingID</key>
			<string>com.apple.Safari</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>org.gimp.gimp-3.0</string>
			<key>cdhash</key>
			<string>b461cbeb1bf95b60b18f211f80450909d2587df4</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:18:55Z</date>
			<key>objectID</key>
			<integer>12884956549</integer>
			<key>signingID</key>
			<string>org.gimp.gimp-3.0</string>
			<key>teamID</key>
			<string>T25BQ8HSJF</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.Portfolio_Preview</string>
			<key>cdhash</key>
			<string>7ad10511b356f6e19d37cf3c989dc11bd112ba33</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:27Z</date>
			<key>objectID</key>
			<integer>12884908406</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.Portfolio_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.PictureCard-Postcard_Preview</string>
			<key>cdhash</key>
			<string>f629a00b442fa9be4e0e42e515404e7b10fdd065</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884907544</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.PictureCard-Postcard_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebDriver</string>
			<key>cdhash</key>
			<string>4433a2ec902ea7ef1404208fc4a1ad7f3b3892f8</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885176231</integer>
			<key>signingID</key>
			<string>com.apple.WebDriver</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.SafariShared.Assistant</string>
			<key>cdhash</key>
			<string>67eaf30d693c22d380d27896cf83c5bf41a866a5</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:24Z</date>
			<key>objectID</key>
			<integer>12884903469</integer>
			<key>signingID</key>
			<string>com.apple.SafariShared.Assistant</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.WebInspectorUI</string>
			<key>cdhash</key>
			<string>98ccf166ba66855e5d1f1081b6254c72e69455fb</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:53:11Z</date>
			<key>objectID</key>
			<integer>12885170516</integer>
			<key>signingID</key>
			<string>com.apple.WebInspectorUI</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.Picture_Book_Photos_OSX_Preview</string>
			<key>cdhash</key>
			<string>3e5c0f401e97d66829e90b5e3d78a499c4402500</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884906514</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.Picture_Book_Photos_OSX_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.MobileSoftwareUpdate.MacUpdateBrain</string>
			<key>cdhash</key>
			<string>40a0cd75e651dcd80cb87578fc00d1fd533b5f87</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:26:00Z</date>
			<key>objectID</key>
			<integer>12884989639</integer>
			<key>signingID</key>
			<string>com.apple.MobileAsset.MobileSoftwareUpdate.MacUpdateBrain</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.google.android.studio</string>
			<key>cdhash</key>
			<string>106a32ddb57626dcdb45011f9ff96a1f49269889</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:23:44Z</date>
			<key>objectID</key>
			<integer>12884982473</integer>
			<key>signingID</key>
			<string>com.google.android.studio</string>
			<key>teamID</key>
			<string>EQHXZ8M8AV</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Large_Preview</string>
			<key>cdhash</key>
			<string>623fa1bd515adf1fa9a3e3725a1a817d2ade742e</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:26Z</date>
			<key>objectID</key>
			<integer>12884906686</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.themepreview.ModernLines-Large_Preview</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.softraid.driver.SoftRAID</string>
			<key>cdhash</key>
			<string>642cdfe67b3654709980c832df053cbebe77da23</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:32Z</date>
			<key>objectID</key>
			<integer>12884918819</integer>
			<key>signingID</key>
			<string>com.softraid.driver.SoftRAID</string>
			<key>teamID</key>
			<string>Q9P8K45M5C</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.printproducts.theme.HolidayColors-Postcard</string>
			<key>cdhash</key>
			<string>fdbf25b3222b919f43658a7c3807c379f4add0e0</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-04-08T08:12:29Z</date>
			<key>objectID</key>
			<integer>12884911060</integer>
			<key>signingID</key>
			<string>com.apple.printproducts.theme.HolidayColors-Postcard</string>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
		<dict>
			<key>bundleID</key>
			<string>com.apple.MobileAsset.DictionaryServices.dictionaryOSX</string>
			<key>fsTypeName</key>
			<string>apfs</string>
			<key>modTime</key>
			<date>2025-06-13T19:14:31Z</date>
			<key>objectID</key>
			<integer>12884943025</integer>
			<key>volumeUUID</key>
			<string>B2821111-241C-31D4-8402-0A360F1527FE</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
