<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>9</integer>
	<key>NumChannels</key>
	<integer>6</integer>
	<key>Thermal_LookaheadDelay_ms</key>
	<real>2</real>
	<key>Thermal_SafeTlim</key>
	<integer>100</integer>
	<key>Thermal_SafeTlimTimeMin</key>
	<real>10</real>
	<key>Thermal_SafeTlimOffset</key>
	<real>-15</real>
	<key>Thermal_AmbientTemp</key>
	<real>50</real>
	<key>Thermal_GainAttackTime_s</key>
	<real>4.6</real>
	<key>Thermal_GainReleaseTime_s</key>
	<real>20</real>
	<key>Disp_PeakAttackTime_s</key>
	<real>0.0001</real>
	<key>Disp_PeakDecayTime_s</key>
	<real>0.01</real>
	<key>Disp_FBIntegrationTime_s</key>
	<real>1e-05</real>
	<key>ChannelSpecificParams</key>
	<dict>
		<key>Channel0</key>
		<dict>
			<key>SpeakerName</key>
			<string>W_L_1</string>
			<key>SpeakerGroup</key>
			<integer>1</integer>
			<key>IgnoreTelemetry</key>
			<false/>
			<key>OL_thermal</key>
			<dict>
				<key>Rshunt</key>
				<real>0.09</real>
				<key>Reb_ref</key>
				<real>3.2</real>
				<key>Rampout</key>
				<real>0.015</real>
				<key>T_sett_vc</key>
				<real>28.09</real>
				<key>tau_Tvc</key>
				<real>3.05</real>
				<key>T_sett_mg</key>
				<real>34.43</real>
				<key>tau_Tmg</key>
				<real>192.45</real>
				<key>ThermalFFSpeedupFactor</key>
				<real>0.25</real>
				<key>HardTempLimitHeadroom</key>
				<real>10</real>
				<key>TemperatureLimit</key>
				<integer>140</integer>
			</dict>
			<key>OL_disp</key>
			<dict>
				<key>Q_d</key>
				<real>1.3</real>
				<key>kt</key>
				<real>2290</real>
				<key>ct</key>
				<real>0.26</real>
				<key>phi</key>
				<real>0.76</real>
				<key>x_lim</key>
				<real>0.2</real>
				<key>ag</key>
				<real>11.89</real>
				<key>mt</key>
				<real>0.000185</real>
				<key>g_bw</key>
				<real>1</real>
			</dict>
			<key>CL</key>
			<dict>
				<key>PilotEnableThres</key>
				<real>0.03</real>
				<key>PilotDecayTimeStage2</key>
				<real>0.03</real>
				<key>ThermalMeasurementMethod</key>
				<integer>1</integer>
				<key>TlimErrDecayTime</key>
				<real>30</real>
				<key>TempSenseWindowTime</key>
				<real>0.18</real>
				<key>TempSenseSmoothingTau</key>
				<real>1</real>
				<key>PilotAmplHi_dB</key>
				<integer>-30</integer>
				<key>PilotAmplLo_dB</key>
				<integer>-40</integer>
				<key>PilotUpperThres</key>
				<integer>90</integer>
				<key>PilotLowerThres</key>
				<real>80</real>
				<key>PilotDecayTime</key>
				<real>0.03</real>
				<key>PilotFreq</key>
				<real>43.0664</real>
				<key>LPMLSPreGain</key>
				<real>1</real>
				<key>LPMLSPostGain</key>
				<real>1</real>
				<key>LPMLSLowerCorner</key>
				<real>0.1</real>
				<key>VMONScale</key>
				<integer>14</integer>
				<key>IMONScale</key>
				<real>3.75</real>
				<key>VPwrThres</key>
				<real>0.001</real>
				<key>IPwrThres</key>
				<real>1e-05</real>
				<key>RdcScale</key>
				<real>1</real>
				<key>a_t_20C</key>
				<real>0.003832137</real>
				<key>a_t_35C</key>
				<real>0.003624045</real>
				<key>RebRangeMin</key>
				<real>3</real>
				<key>RebRangeMax</key>
				<real>5.5</real>
				<key>CalTempRangeMin</key>
				<integer>10</integer>
				<key>CalTempRangeMax</key>
				<real>50</real>
				<key>TlimAdjCap</key>
				<real>60</real>
				<key>DisplacementProtectionType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Channel1</key>
		<dict>
			<key>SpeakerName</key>
			<string>W_L_2</string>
			<key>SpeakerGroup</key>
			<integer>1</integer>
			<key>IgnoreTelemetry</key>
			<false/>
			<key>OL_thermal</key>
			<dict>
				<key>Rshunt</key>
				<real>0.09</real>
				<key>Reb_ref</key>
				<real>3.2</real>
				<key>Rampout</key>
				<real>0.015</real>
				<key>T_sett_vc</key>
				<real>28.09</real>
				<key>tau_Tvc</key>
				<real>3.05</real>
				<key>T_sett_mg</key>
				<real>34.43</real>
				<key>tau_Tmg</key>
				<real>192.45</real>
				<key>ThermalFFSpeedupFactor</key>
				<real>0.25</real>
				<key>HardTempLimitHeadroom</key>
				<real>10</real>
				<key>TemperatureLimit</key>
				<integer>140</integer>
			</dict>
			<key>OL_disp</key>
			<dict>
				<key>Q_d</key>
				<real>2.0609</real>
				<key>kt</key>
				<integer>3000</integer>
				<key>ct</key>
				<real>0.28</real>
				<key>phi</key>
				<real>0.76</real>
				<key>x_lim</key>
				<real>0.4</real>
				<key>ag</key>
				<real>11.89</real>
				<key>mt</key>
				<real>0.000255</real>
				<key>g_bw</key>
				<integer>1</integer>
			</dict>
			<key>CL</key>
			<dict>
				<key>PilotDecayTimeStage2</key>
				<real>0.03</real>
				<key>PilotEnableThres</key>
				<real>0.03</real>
				<key>ThermalMeasurementMethod</key>
				<integer>1</integer>
				<key>TlimErrDecayTime</key>
				<real>30</real>
				<key>TempSenseWindowTime</key>
				<real>0.18</real>
				<key>TempSenseSmoothingTau</key>
				<real>1</real>
				<key>PilotAmplHi_dB</key>
				<real>-30</real>
				<key>PilotAmplLo_dB</key>
				<real>-40</real>
				<key>PilotUpperThres</key>
				<real>90</real>
				<key>PilotLowerThres</key>
				<real>80</real>
				<key>PilotDecayTime</key>
				<real>0.03</real>
				<key>PilotFreq</key>
				<real>43.0664</real>
				<key>LPMLSPreGain</key>
				<real>1</real>
				<key>LPMLSPostGain</key>
				<real>1</real>
				<key>LPMLSLowerCorner</key>
				<real>0.1</real>
				<key>VMONScale</key>
				<integer>14</integer>
				<key>IMONScale</key>
				<real>3.75</real>
				<key>VPwrThres</key>
				<real>0.001</real>
				<key>IPwrThres</key>
				<real>1e-05</real>
				<key>RdcScale</key>
				<real>1</real>
				<key>a_t_20C</key>
				<real>0.003832137</real>
				<key>a_t_35C</key>
				<real>0.003624045</real>
				<key>RebRangeMin</key>
				<integer>3</integer>
				<key>RebRangeMax</key>
				<real>5.5</real>
				<key>CalTempRangeMin</key>
				<real>10</real>
				<key>CalTempRangeMax</key>
				<real>50</real>
				<key>TlimAdjCap</key>
				<real>60</real>
				<key>DisplacementProtectionType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Channel2</key>
		<dict>
			<key>SpeakerName</key>
			<string>W_R_1</string>
			<key>SpeakerGroup</key>
			<integer>1</integer>
			<key>IgnoreTelemetry</key>
			<false/>
			<key>OL_thermal</key>
			<dict>
				<key>Rshunt</key>
				<real>0.09</real>
				<key>Reb_ref</key>
				<real>3.2</real>
				<key>Rampout</key>
				<real>0.015</real>
				<key>T_sett_vc</key>
				<real>28.09</real>
				<key>tau_Tvc</key>
				<real>3.05</real>
				<key>T_sett_mg</key>
				<real>34.43</real>
				<key>tau_Tmg</key>
				<real>192.45</real>
				<key>ThermalFFSpeedupFactor</key>
				<real>0.25</real>
				<key>HardTempLimitHeadroom</key>
				<real>10</real>
				<key>TemperatureLimit</key>
				<integer>140</integer>
			</dict>
			<key>OL_disp</key>
			<dict>
				<key>Q_d</key>
				<real>1.3</real>
				<key>kt</key>
				<real>2290</real>
				<key>ct</key>
				<real>0.26</real>
				<key>phi</key>
				<real>0.76</real>
				<key>x_lim</key>
				<real>0.2</real>
				<key>ag</key>
				<real>11.89</real>
				<key>mt</key>
				<real>0.000185</real>
				<key>g_bw</key>
				<real>1</real>
			</dict>
			<key>CL</key>
			<dict>
				<key>PilotEnableThres</key>
				<real>0.03</real>
				<key>PilotDecayTimeStage2</key>
				<real>0.03</real>
				<key>ThermalMeasurementMethod</key>
				<integer>1</integer>
				<key>TlimErrDecayTime</key>
				<real>30</real>
				<key>TempSenseWindowTime</key>
				<real>0.18</real>
				<key>TempSenseSmoothingTau</key>
				<real>1</real>
				<key>PilotAmplHi_dB</key>
				<integer>-30</integer>
				<key>PilotAmplLo_dB</key>
				<integer>-40</integer>
				<key>PilotUpperThres</key>
				<integer>90</integer>
				<key>PilotLowerThres</key>
				<real>80</real>
				<key>PilotDecayTime</key>
				<real>0.03</real>
				<key>PilotFreq</key>
				<real>43.0664</real>
				<key>LPMLSPreGain</key>
				<real>1</real>
				<key>LPMLSPostGain</key>
				<real>1</real>
				<key>LPMLSLowerCorner</key>
				<real>0.1</real>
				<key>VMONScale</key>
				<integer>14</integer>
				<key>IMONScale</key>
				<real>3.75</real>
				<key>VPwrThres</key>
				<real>0.001</real>
				<key>IPwrThres</key>
				<real>1e-05</real>
				<key>RdcScale</key>
				<real>1</real>
				<key>a_t_20C</key>
				<real>0.003832137</real>
				<key>a_t_35C</key>
				<real>0.003624045</real>
				<key>RebRangeMin</key>
				<integer>3</integer>
				<key>RebRangeMax</key>
				<real>5.5</real>
				<key>CalTempRangeMin</key>
				<integer>10</integer>
				<key>CalTempRangeMax</key>
				<real>50</real>
				<key>TlimAdjCap</key>
				<real>60</real>
				<key>DisplacementProtectionType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Channel3</key>
		<dict>
			<key>SpeakerName</key>
			<string>W_R_2</string>
			<key>SpeakerGroup</key>
			<integer>1</integer>
			<key>IgnoreTelemetry</key>
			<false/>
			<key>OL_thermal</key>
			<dict>
				<key>Rshunt</key>
				<real>0.09</real>
				<key>Reb_ref</key>
				<real>3.2</real>
				<key>Rampout</key>
				<real>0.015</real>
				<key>T_sett_vc</key>
				<real>28.09</real>
				<key>tau_Tvc</key>
				<real>3.05</real>
				<key>T_sett_mg</key>
				<real>34.43</real>
				<key>tau_Tmg</key>
				<real>192.45</real>
				<key>ThermalFFSpeedupFactor</key>
				<real>0.25</real>
				<key>HardTempLimitHeadroom</key>
				<real>10</real>
				<key>TemperatureLimit</key>
				<integer>140</integer>
			</dict>
			<key>OL_disp</key>
			<dict>
				<key>Q_d</key>
				<real>2.1435</real>
				<key>kt</key>
				<integer>4400</integer>
				<key>ct</key>
				<real>0.33</real>
				<key>phi</key>
				<real>0.76</real>
				<key>x_lim</key>
				<real>0.4</real>
				<key>ag</key>
				<real>11.89</real>
				<key>mt</key>
				<real>0.000235</real>
				<key>g_bw</key>
				<integer>1</integer>
			</dict>
			<key>CL</key>
			<dict>
				<key>PilotDecayTimeStage2</key>
				<real>0.03</real>
				<key>PilotEnableThres</key>
				<real>0.03</real>
				<key>ThermalMeasurementMethod</key>
				<integer>1</integer>
				<key>TlimErrDecayTime</key>
				<real>30</real>
				<key>TempSenseWindowTime</key>
				<real>0.18</real>
				<key>TempSenseSmoothingTau</key>
				<real>1</real>
				<key>PilotAmplHi_dB</key>
				<real>-30</real>
				<key>PilotAmplLo_dB</key>
				<real>-40</real>
				<key>PilotUpperThres</key>
				<real>90</real>
				<key>PilotLowerThres</key>
				<real>80</real>
				<key>PilotDecayTime</key>
				<real>0.03</real>
				<key>PilotFreq</key>
				<real>43.0664</real>
				<key>LPMLSPreGain</key>
				<real>1</real>
				<key>LPMLSPostGain</key>
				<real>1</real>
				<key>LPMLSLowerCorner</key>
				<real>0.1</real>
				<key>VMONScale</key>
				<integer>14</integer>
				<key>IMONScale</key>
				<real>3.75</real>
				<key>VPwrThres</key>
				<real>0.001</real>
				<key>IPwrThres</key>
				<real>1e-05</real>
				<key>RdcScale</key>
				<real>1</real>
				<key>a_t_20C</key>
				<real>0.003832137</real>
				<key>a_t_35C</key>
				<real>0.003624045</real>
				<key>RebRangeMin</key>
				<integer>3</integer>
				<key>RebRangeMax</key>
				<real>5.5</real>
				<key>CalTempRangeMin</key>
				<real>10</real>
				<key>CalTempRangeMax</key>
				<real>50</real>
				<key>TlimAdjCap</key>
				<real>60</real>
				<key>DisplacementProtectionType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Channel4</key>
		<dict>
			<key>SpeakerName</key>
			<string>T_L</string>
			<key>SpeakerGroup</key>
			<integer>0</integer>
			<key>IgnoreTelemetry</key>
			<false/>
			<key>OL_thermal</key>
			<dict>
				<key>Rshunt</key>
				<real>0.09</real>
				<key>Reb_ref</key>
				<real>3.2</real>
				<key>Rampout</key>
				<real>0.02</real>
				<key>T_sett_vc</key>
				<real>34.5</real>
				<key>tau_Tvc</key>
				<real>2.31</real>
				<key>T_sett_mg</key>
				<real>48.2</real>
				<key>tau_Tmg</key>
				<real>61.4</real>
				<key>ThermalFFSpeedupFactor</key>
				<real>0.25</real>
				<key>HardTempLimitHeadroom</key>
				<real>10</real>
				<key>TemperatureLimit</key>
				<integer>140</integer>
			</dict>
			<key>OL_disp</key>
			<dict>
				<key>Q_d</key>
				<real>1.3</real>
				<key>kt</key>
				<real>2290</real>
				<key>ct</key>
				<real>0.26</real>
				<key>phi</key>
				<real>0.76</real>
				<key>x_lim</key>
				<real>0.2</real>
				<key>ag</key>
				<real>11.89</real>
				<key>mt</key>
				<real>0.000185</real>
				<key>g_bw</key>
				<real>1</real>
			</dict>
			<key>CL</key>
			<dict>
				<key>PilotEnableThres</key>
				<real>0.03</real>
				<key>PilotDecayTimeStage2</key>
				<real>0.03</real>
				<key>ThermalMeasurementMethod</key>
				<integer>1</integer>
				<key>TlimErrDecayTime</key>
				<real>30</real>
				<key>TempSenseWindowTime</key>
				<real>0.18</real>
				<key>TempSenseSmoothingTau</key>
				<real>1</real>
				<key>PilotAmplHi_dB</key>
				<integer>-30</integer>
				<key>PilotAmplLo_dB</key>
				<integer>-40</integer>
				<key>PilotUpperThres</key>
				<integer>90</integer>
				<key>PilotLowerThres</key>
				<real>80</real>
				<key>PilotDecayTime</key>
				<real>0.03</real>
				<key>PilotFreq</key>
				<real>43.0664</real>
				<key>LPMLSPreGain</key>
				<real>1</real>
				<key>LPMLSPostGain</key>
				<real>1</real>
				<key>LPMLSLowerCorner</key>
				<real>0.1</real>
				<key>VMONScale</key>
				<integer>14</integer>
				<key>IMONScale</key>
				<real>3.75</real>
				<key>VPwrThres</key>
				<real>0.001</real>
				<key>IPwrThres</key>
				<real>1e-05</real>
				<key>RdcScale</key>
				<real>1</real>
				<key>a_t_20C</key>
				<real>0.003547788909679705</real>
				<key>a_t_35C</key>
				<real>0.003295384443954105</real>
				<key>RebRangeMin</key>
				<integer>3</integer>
				<key>RebRangeMax</key>
				<real>5.5</real>
				<key>CalTempRangeMin</key>
				<integer>10</integer>
				<key>CalTempRangeMax</key>
				<real>50</real>
				<key>TlimAdjCap</key>
				<real>60</real>
				<key>DisplacementProtectionType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Channel5</key>
		<dict>
			<key>SpeakerName</key>
			<string>T_R</string>
			<key>SpeakerGroup</key>
			<integer>0</integer>
			<key>IgnoreTelemetry</key>
			<false/>
			<key>OL_thermal</key>
			<dict>
				<key>Rshunt</key>
				<real>0.09</real>
				<key>Reb_ref</key>
				<real>3.2</real>
				<key>Rampout</key>
				<real>0.02</real>
				<key>T_sett_vc</key>
				<real>34.5</real>
				<key>tau_Tvc</key>
				<real>2.31</real>
				<key>T_sett_mg</key>
				<real>48.2</real>
				<key>tau_Tmg</key>
				<real>61.4</real>
				<key>ThermalFFSpeedupFactor</key>
				<real>0.25</real>
				<key>HardTempLimitHeadroom</key>
				<real>10</real>
				<key>TemperatureLimit</key>
				<integer>140</integer>
			</dict>
			<key>OL_disp</key>
			<dict>
				<key>Q_d</key>
				<real>1.9451</real>
				<key>kt</key>
				<integer>3200</integer>
				<key>ct</key>
				<real>0.32</real>
				<key>phi</key>
				<real>0.76</real>
				<key>x_lim</key>
				<real>0.4</real>
				<key>ag</key>
				<real>11.89</real>
				<key>mt</key>
				<real>0.000255</real>
				<key>g_bw</key>
				<integer>1</integer>
			</dict>
			<key>CL</key>
			<dict>
				<key>PilotDecayTimeStage2</key>
				<real>0.03</real>
				<key>PilotEnableThres</key>
				<real>0.03</real>
				<key>ThermalMeasurementMethod</key>
				<integer>1</integer>
				<key>TlimErrDecayTime</key>
				<real>30</real>
				<key>TempSenseWindowTime</key>
				<real>0.18</real>
				<key>TempSenseSmoothingTau</key>
				<real>1</real>
				<key>PilotAmplHi_dB</key>
				<real>-30</real>
				<key>PilotAmplLo_dB</key>
				<real>-40</real>
				<key>PilotUpperThres</key>
				<real>90</real>
				<key>PilotLowerThres</key>
				<real>80</real>
				<key>PilotDecayTime</key>
				<real>0.03</real>
				<key>PilotFreq</key>
				<real>43.0664</real>
				<key>LPMLSPreGain</key>
				<real>1</real>
				<key>LPMLSPostGain</key>
				<real>1</real>
				<key>LPMLSLowerCorner</key>
				<real>0.1</real>
				<key>VMONScale</key>
				<integer>14</integer>
				<key>IMONScale</key>
				<real>3.75</real>
				<key>VPwrThres</key>
				<real>0.001</real>
				<key>IPwrThres</key>
				<real>1e-05</real>
				<key>RdcScale</key>
				<real>1</real>
				<key>a_t_20C</key>
				<real>0.003547788909679705</real>
				<key>a_t_35C</key>
				<real>0.003295384443954105</real>
				<key>RebRangeMin</key>
				<integer>3</integer>
				<key>RebRangeMax</key>
				<real>5.5</real>
				<key>CalTempRangeMin</key>
				<real>10</real>
				<key>CalTempRangeMax</key>
				<real>50</real>
				<key>TlimAdjCap</key>
				<real>60</real>
				<key>DisplacementProtectionType</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>EnableCPMSClosedLoopControl</key>
	<false/>
	<key>EnableCPMSControl</key>
	<false/>
	<key>EnableDisplacementControl</key>
	<false/>
</dict>
</plist>
