<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	MnxvMjJIjBQxE+JIMGWRRy/rpeYvonChL3Z+TS9LXAIvMnBBLxx+hC8MqiUu9xGZLuWA
	ZS7Z518uyq4ZLsM/+i65NGUusThFLqjHTS6k/HQuoiChLphuGy6YNEwulMqCLpMFqy6V
	KBouj3nYLo2Wny6I0gAuhjM6LoOS4y6EWRsugR7gLoRDkC6CGLEugH9QLn3HAi55wL4u
	eHKjLnpj3C5520QueFk1LnObrS51jLwucKWQLnO+eS52kLEuaZTILmp4zS5vkqsuaSeC
	Lmj0Zy5oe2ouZYIzLmxBwS5r590uZ93rLmL2tC5hUnUuZxwQLmg0HS5mrbguY0fYLl+B
	Ui5iGHEuZr7jLmf2Ji5egyAuXXsxLmTuCC5m3pYuaxkWLmYhgS5jwiAuZtE5LmWnzy5f
	l5kuaKtLLmqoTy5hFw8uX/jBLmKgey5n3uouZ1LwLmNnei5hqEsuZHNWLmTzJC5otoYu
	ZHH9LmXh2S5kzQUuZ9fxLmGrTi5jGNUuZqKzLmQ6+C5lR7AuZRJdLmnVDC5o69AuaBHn
	Lma3UC5lzhMuahVrLm7V4y5pGa0uZ4jkLmjtKC5qXMAua8cNLmyUVy5r880uaeNULnI3
	RC5spJYubwd9LmpCmi5r6WEubfLXLnAQfi5wG1cuc3atLnJwNi5z9FAuc9WXLm5bxS5u
	RgAubO2VLm6IDC5zyE0ucebdLm7M9S535ocucRB6LnPOyC587jUucxzMLnMpWy5u7d4u
	dMhJLnp4vy6AI2Iueur/LnUIcC5ztUMucKM3LnXORy50y+ouehftLnzIDi57SMgufvyb
	Lnzm2y51EW4ueYVFLoG66i5/0/QugbP/LoDiFy5962cugl/zLnsXHS6A33cugAhxLoAS
	rS6AYDwug2oZLoRZri6DKdcugb6CLoJS1C6C1ZQuhkRoLoLmBi6C/HUugbwtLoPHlC6D
	tVIuiFI6LoWwKi6FoXcuht+iLofGUS6HP7kuhFcuLoTBpy6CA50uhB27LoyhXS6IgSYu
	inksLod5hS6JbosujMA1LokzRi6IhPIuiOUGLoocey6JrI8uisamLpCy8S6N8VoujD0H
	Lo+b+y6P8NcujO+LLoq+0y6Nu/AulIa3Lo7cGi6PmC4ujoqALpO2Wy6TmGwukSc/LpKw
	rS6SYjsukx14Lpc2fy6YshculcCKLpV9oS6UsYoumbgALp0NAi6bGfMumyLLLph+sS6Y
	dGQumHUtLpq9dy6arE4une1TLpwYLS6hQugun0kZLprDgC6d+aIuoPLZLqYmnS6m2aUu
	pIbWLqGfoy6jYJEupmIiLqgCaC6qDP0uqbDnLqwY1C6rzzUurooQLqfRvy6qgMsurMPt
	LrAxxC60hA0usD6zLrCu4S6xPfAut6aULrgMxi618OIutyx6LroC9C69fssuu8IELr5P
	ly6+hVEuwmCiLr7VQi7A80suvrMaLsT7GC7JCyouy8xpLsb3sS7IyW4uzhVoLs1Mcy7P
	bO0ux6xmLtWcUC7XS94u18zmLs7FWC7P7w8u1dMyLtYWfi7Vmbgu1hCqLtsUxS7fQEAu
	5RyaLuNC3C7hbiou4zLkLuBr4S7sMUYu6wZ9LundWy7rWwou72qHLvR1Ui7u+7Uu8chS
	Lu0TTy7w7twu8uxRLu+OzS74TEgu+kpFLvl6oy74ePIu+tTpLvw/7i77zfIu+JIYLv1m
	OS8AEe4vAxIKLwZnGS8EZ1kvBaOyLwaKty8IDGQvCN0zLwsQwC8L19MvCETBLwlMDy8J
	gzgvDIneLwjF2S8NjXEvD3u7LxEQni8OlSwvEv5NLxAdCC8QdCovELSCLxYLAC8WjoUv
	FwGuLxVEuy8Va+4vE4HMLxMX2S8XQ/4vFuBOLxkWUS8ZkC4vGK9lLxm0Qy8Zs9cvG8/b
	Lxt3gy8fS6svG1KBLx3nWS8bYzUvIEhbLx1+Ay8WKhwvHbplLx0OyC8gF1YvHmDKLxzi
	BC8fu+wvHHQLLxqSeS8faDcvIdQhLyOl/y8fv+IvHXenLx0WeS8hm2cvHu5qLx2E/C8f
	agwvG87YLxw/2S8dkGEvHWsxLxwR7C8a1+IvFouoLxY56S8YsB4vFrdZLxZRuS8aKZQv
	GIXhLxe33C8W0PIvFmD1LxV3HC8U+O8vEprCLxQZ4y8ZN0gvFdfvLxer8S8VGIovEjT7
	LxBgIi8QHasvDZpVLxDm6y8On70vD+ihLw2NXS8MSQYvDHyvLwlEZi8IiOwvB/hsLweq
	1S8JK7cvBbBhLwMTdy8G0ykvA4zvLwP3qC8DU0svBQQyLwXRNS8EYjovA4vyLvu20C79
	mbAu/9AELvwPUi7zzIEu9egsLvL5YS7vr+Uu7KRULu8dRy7rk18u70hsLufpTi7sif0u
	6GAPLuLo7i7le58u6RgmLuOsOS7lIaIu4rTILuDeji7ghOAu2MwpLropYi53erwt3yYA
	LRGCaiwvXGwrVF5vKoiWeymzBW4o/zy/KDHi7yeDpgYmweplJh64GyWJHiwlDsYKJLkd
	iySSVoAkgde+JHOrICRysdkka3tvJGmtfSRq7zYkZwwaJGMNxQ==
	</data>
	<key>NoiseProfile1</key>
	<data>
	MnWpCDJD/nIxFeylMGRAbS/jdyYvqXwSL4EsGi9S0nAvMiMGLxq5GS8MSZgvAMfGLusq
	by7gk4guz3CmLsbiAS65utsurVypLqy82i6oi+YuoXkMLqDFTC6cbVgumC0eLpW4ES6T
	IXoujZt4LorYnC6It3MuhefZLod7Ay6FsTAuhDOvLn3Zbi58TYAufQaiLnpSjS51C9Iu
	dfvDLnUmSC5vaQEucW8XLnHWLi5vERYubwsLLmvGOS5pMNouamhRLmv4AC5n7r8uZ09V
	Lm0Zjy5qOAkuZQc1LmeCBi5ppN0ualDTLmwaai5jG2UuYdz2LmFFkC5fZQwuaD+aLmq3
	5S5maT4uZoDQLmDEFi5jccIuYvXULmZgJi5nKUUuZXZULmcqki5lPKwuX4LMLmFFuy5k
	udIuX0A/LmEXLC5nR2kuZWyDLme2ki5kh/YuZf6sLmZQ+C5lzDMuY6BtLmL/1S5g418u
	YqWeLmAU3S5hCQ8uZXT3LmXUVi5hgPsuW3HnLmFz/i5u8usuaIiyLmmIfi5sl3kuZGYq
	Lmr8oC5nAHguZX2ELmVvMi5lk5QubLIzLmjE+C5pdQ0uaPfpLmdbjS5osgAuaIypLm1U
	EC5vrCUubiVpLml7oi5qYzUuZ3RrLmaaOy5n8Wouc8AVLmzimC5p2O4uc/XLLnBFQy5y
	Kb0ubfj/LnA7DS5uKA4uaWkNLnPb8S515gAudBA9Lnko/S5zIjwucjgzLnQacS53BqIu
	dhIPLngSBS54RgkuednALnNIqS52JAEudJyOLnTaXy6ALYwufms7LnR9JC56VGYufIj9
	Ln/Jwi59iGcufYePLn1Qay55lqsufSSlLoDHhi6Aa88ugTJyLoBxAC6AQf4ugJwPLn21
	ty6DIgQufk69Ln4dRi6AbW4uf+MMLoFLXS6AlnMug3+9LoOMHy6GvLcug8mjLoYEvy6G
	UQsuhtuoLoSRBi6Bkqwug70/LoM/OC6F0HsuintbLobY8i6GxxMuisWuLoihmy6G5DQu
	hmwsLoma6S6IB94uikm0Lo5oxC6LUmgujq+gLooXUy6KCVkujmg6Lo28GS6MKsUui0ne
	Lo2R0S6NwIcujcziLo+X1C6SUHcukRUHLpJR4S6QzN4ukKE1LpKeqS6WFi8uksAALpbR
	vi6UXH8ulm0lLpNnGi6XKMQumzHXLpkFBC6Tg/AulYyoLp7ONC6eqZkumWuMLp2pgC6d
	K6cuoMRdLqHLXy6fiJkum43QLp6R0C6knJAuovW4LqGwyC6gYrwuojWKLqP5cy6rAjYu
	qnbsLqoZzC6qsIwurEIeLq8+9i6rdP8uqf5bLqudKy6w9ogurafKLrCbly6zDaMurt+h
	LrMfJC6xuj8utT4zLrURvS61/RAus3ijLrXo9i67g/kuuDIALrZLXy67xzouu0TPLr/C
	qC7BTNAuwKRWLsb79i7DvMYuyUqhLsWrGi7GEYcuzYVjLsu4ai7MWxUu0lCGLtQ+qS7a
	bP4u2PoPLtIXli7UpnQu1V/lLtrlyi7WsY8u3DuFLt2e9i7eMkUu3rsjLt1oXS7jPpku
	3mBSLt7xmC7mwtUu5W/yLuqhKi7vKbAu6pI+LuY9zy7wsnsu899iLvVq+S72zWMu9M2a
	Lvn4vy76RdYu8ntaLvXjVi77qi8u/5FgLwGy6y8B7nQvAUouLwJRhi8HFFwvA67FLwff
	Gi8JOTQvB1ZlLwYNzi8H9cIvCbktLwwvpi8MeSQvCZfgLwso8i8NvbUvC30pLwwpYC8O
	vMQvDoPULxIlpC8RResvERU/Lw4bNi8X+gIvKNd+L1hAeC9xieMvR4GTLyLGwC8Vr+Iv
	FBQaLxbYRi8W1qgvGitHLxeHYi8ZWu4vG13CLxxdiC8aOZAvGQfgLxj3Uy8Z2yQvHhCY
	Lxv/yy8dvdQvHMNqLx9T9S8cycUvHq7eLxjuPS8gp5ovJJlTLyEV3i8gfmovHru+Lx1N
	QS8e60wvIErQLx2Iuy8d6n8vHF9HLx2KFy8ekLIvIeDhLx2wWS8X3ScvG+foLxvIGS8d
	FJcvHCJvLxxcxC8c4b8vGpi1LxqdIC8ZR7EvGfkHLxn68i8bL/ovHkZGLx4yei8b2Dsv
	GIOVLxepgi8SOTcvEiFsLxDP0C8RGNcvEAZkLxKDEi8PdU8vDBO9Lw566S8MO5wvC+P2
	Lw8Zsi8NGDMvDIy/LwvpGC8JAHQvCq5gLwaHvC8FJJovBrNsLwfWwy8JF28vBUspLweG
	zC8LLQEvByyhLwqv5i8LfI4vBP2vLvwHhi75dAgu9STlLvwPUi7+CTwu9LUtLv20Xy77
	m/4vADZtLv+8ky750+su/c/ULvQ1ei7yfEAu8XcjLu8NxC7rIRMu4FnsLuQ3vy7lM4gu
	5HYyLt5t1C7eL1Au4r10LtzVCC7eJEIu4JpdLtf1MC7UzZAu1QOcLrwsii53CIIt3Ruh
	LRGM3Sw1qeMrV3L1Kot0OCm2mqUo/SwUKDfw8yeECTImx1KLJhycESWJe6clDF3GJLP9
	bCSQpg8kfmACJG10zyRtVmQkbsRWJGrSFiRnd/0kbd+uJG3aXQ==
	</data>
	<key>NoiseProfile2</key>
	<data>
	MiJLSTJFnAIxmXItMO1s3zBxs1YwKQm/L/U5iS+88asvobHhL411QC91oOUvWyy0L0ZX
	Xy8xc9QvJGlpLxYjtC8N0z8vBr8oLwExOy71LOou58f+LubwfS7W4swuzRewLslU1y7B
	fMMuujanLrU74S6w5fcuqs17Lqd3xi6oSvAuo1rxLqRgWS6fN2IulMmMLpf71y6R4Ogu
	kP6XLpAf5S6Nvukui9nfLo55Ui6OZCouh6n1LoC5SC6AmbAue+k1Lnx95i55TNcuepxA
	Ln21Wy575hYueWw1Lne8hi51clQuc2UNLnGw8C5xgMIubWaFLm1Why5sHKYuZzAaLmG1
	Jy5m3GcuZYDfLmvb/i5q7HwuZzBfLmVRKS5kh2IuYZtRLl+kqS5dcasuYmijLmC6Qi5d
	KRMuXT6VLlj4RS5flTQuW15OLlp9Ey5fUNIuW4JBLllKIC5a2AguVd8MLlRw3S5ZkTUu
	VB7BLlwzly5bkHcuX6wNLl/M7y5d+acuVLTpLlYtIS5bAAkuW7y8Llq8pS5Um9UuVOUV
	Llya/y5cjo4uWMXMLlHAYS5YzgIuWLFLLlXtQy5VyEcuWlhyLlaqfy5Wf+4uWC7TLls3
	2y5chQQuVyMRLlgFni5XSFcuXCw0Ll7bKC5afVwuXGD7LlsvIS5ijMMuVpdrLlaz9y5X
	qtQuXCN+LmDufC5cUcEuWji4Lls5Ky5Z/MEuXflXLlqsUS5ZV2QuYFbSLlrI9C5fJf8u
	YTPaLmJoSC5bKNkuVU1xLlsTki5eAxYuYzo8Ll/PmC5h8KguYj6CLma7ly5mEvQuX8e8
	LljkDS5cRIMuXJh+Lmekry5kOC4uY+yPLmVYpS5nqj0uazEdLmQslS5ejaouXWI7LmXJ
	1i5pR04uae95Lmg9ji5paR4uZtquLmkqty5pp+kuZloxLmrDCi5wYDAubc/cLnA0qi5s
	yZQucPUyLnEQRS5rtnIub8hoLm7PES5z0hgucIrCLnGsgS5wLKIub5OYLm1zOi50MLou
	dDxrLnZFBC53k+cudYVDLnS4UC5xaOAucZnGLn4Oqi6AiPEuf40+Ln+Q8C6AJKUufWMz
	LoJJIS6A5WEufuecLoGYai6HVq8ugsDWLoO4hi6CSg0ug9UNLob/Ty6FeHsuhgVPLoOZ
	3C6De7wugQ95LoCACS6C1SwuhAGpLoaWBy6FhK8uhyJzLobXEi6H4rouilr1LomSJS6K
	6TIujFH1LpEvaS6PJNUujZA6LpC1iS6Lpl0uj6BwLo/5ZC6PpsgukR8lLpUDmS6WtEIu
	lFmELpT8RC6YffAulwUYLpWgji6RHa8ulCLaLphvgC6dYokunaFpLpnNOS6Zi98unQfK
	Lpzk9y6dPCounvqeLp9IWS6gWaUupFCeLqagLy6jsX0uoXbXLqZ7pi6mM1guqg7sLqzR
	3y6xHT4urOVhLqyHMC6wrisusj11Lq8pCy6wVNYuttwXLrM4ky6yeRcusnv5LrMlQy62
	xp0utq9qLrRDYS62Bqcus/gwLrt8EC66H0kuvmrYLsFKfS7ASWUuyIqwLsUwni7DavEu
	w0b4Lse8qS7IlS4uxyq+Ls/8oi7WBgguyflkLs2S0i7MglAu0G8jLtQVqC7QcPYu1gFX
	LtmBvi7WEggu1JM6Ltp9QC7es9Yu3Xr/LtmiEC7fmeUu4PSKLuT2Zi7icksu5djaLujb
	SC7m0Nsu6Z1mLvO4rC7o8l0u7zumLvDTpS7zbI4u9VBQLvLXPS72Fu8u9ZrLLvIuJi73
	3mQu/OpgLwC4Qi8AV3svALj5LvzWxS77fsQu/YSqLwADjC78xzsvAF6PLwRJ2C8D4Lou
	/1q8LwFzHi8FzRYvCqVTLwULRC8GACsvDB03LwmVVy8GBCQvCMT+LwiV1i8I5ckvCXxt
	Lwlq3i8NMfkvCQRBLwu75S8Nj4YvDjYoLw3z4S8MxHEvDYoCLwwrJC8NgkMvDQoXLwza
	si8N29YvDYvQLw72GC8QOw4vEVRNLxArCS8OZt0vCVtvLwuBfy8Oe5cvEk5DLxKtRC8S
	ZbEvENdLLw8I1y8OXsQvDg2jLw8Byi8OL+cvDonbLwycJC8L9lUvEC2lLw71hS8Mfxsv
	DjIMLw5+jS8PIjgvDbJYLw59wi8HBGwvBnE/Lw3lMS8KyJIvCucLLwnnyi8KnS4vCd5i
	LwmMES8FhncvCPnSLwrkHS8IO7ovC0XkLwo9LS8HnJ4vCYcmLwv18S8LEjkvCvnCLw8g
	3i8QtWIvD5v9Lw84Oy8Qc1UvFqDwLxHsXS8XdLwvGaeiLx9VyC8eh9gvFsNDLx6rcC8f
	FIAvGB7aLxJUXS8Lq3EvCFR7Lv5MWi7+kUQu9F94LudbLS7j6oIu5nkrLuWDCC7glo4u
	3JlXLtqq/i7YPYcu12eXLtGdvC7UyuAu1kgiLtE1TC7VUKku1IzCLrQi3y5tSQwtzx1R
	LQi74iwkBeMrRtwhKnOwiimlviwo6Qe1KBugFSdnw1wmrDX7Jgb6lyVXTdAkwWi1JFCU
	rSQK1Q0j4eA/I84wdiPIAoIjvrxoI8HKiSPCtw8jvzfjI76x3A==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
