<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleDCP</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleDCP</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleDCP</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleDCPExpert</key>
		<dict>
			<key>IOClass</key>
			<string>AppleDCPExpert</string>
			<key>IONameMatch</key>
			<string>dcp-expert-v1</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>DCPEndpoints</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleDCP</string>
			<key>IOClass</key>
			<string>DCPEndpoint</string>
			<key>IONameMatch</key>
			<array>
				<string>DCPEndpoint1</string>
				<string>DCPEndpoint2</string>
				<string>DCPEndpoint3</string>
				<string>DCPEndpoint4</string>
				<string>DCPEndpoint5</string>
				<string>DCPEndpoint6</string>
				<string>DCPEndpoint7</string>
				<string>DCPEndpoint8</string>
				<string>DCPEndpoint9</string>
				<string>DCPEndpoint10</string>
				<string>DCPEndpoint11</string>
				<string>DCPEndpoint12</string>
				<string>DCPEndpoint13</string>
				<string>DCPEndpoint14</string>
				<string>DCPEndpoint15</string>
				<string>DCPEndpoint16</string>
				<string>DCPEndpoint17</string>
				<string>DCPEndpoint18</string>
				<string>DCPEndpoint19</string>
				<string>DCPEndpoint20</string>
				<string>DCPEndpoint21</string>
				<string>DCPEndpoint22</string>
				<string>DCPEndpoint23</string>
				<string>DCPEXTEndpoint1</string>
				<string>DCPEXTEndpoint2</string>
				<string>DCPEXTEndpoint3</string>
				<string>DCPEXTEndpoint4</string>
				<string>DCPEXTEndpoint5</string>
				<string>DCPEXTEndpoint6</string>
				<string>DCPEXTEndpoint7</string>
				<string>DCPEXTEndpoint8</string>
				<string>DCPEXTEndpoint9</string>
				<string>DCPEXTEndpoint10</string>
				<string>DCPEXTEndpoint11</string>
				<string>DCPEXTEndpoint12</string>
				<string>DCPEXTEndpoint13</string>
				<string>DCPEXTEndpoint14</string>
				<string>DCPEXTEndpoint15</string>
				<string>DCPEXTEndpoint16</string>
				<string>DCPEXTEndpoint17</string>
				<string>DCPEXTEndpoint18</string>
				<string>DCPEXTEndpoint19</string>
				<string>DCPEXTEndpoint20</string>
				<string>DCPEXTEndpoint21</string>
				<string>DCPEXTEndpoint22</string>
				<string>DCPEXTEndpoint23</string>
				<string>DCPEXT0Endpoint1</string>
				<string>DCPEXT0Endpoint2</string>
				<string>DCPEXT0Endpoint3</string>
				<string>DCPEXT0Endpoint4</string>
				<string>DCPEXT0Endpoint5</string>
				<string>DCPEXT0Endpoint6</string>
				<string>DCPEXT0Endpoint7</string>
				<string>DCPEXT0Endpoint8</string>
				<string>DCPEXT0Endpoint9</string>
				<string>DCPEXT0Endpoint10</string>
				<string>DCPEXT0Endpoint11</string>
				<string>DCPEXT0Endpoint12</string>
				<string>DCPEXT0Endpoint13</string>
				<string>DCPEXT0Endpoint14</string>
				<string>DCPEXT0Endpoint15</string>
				<string>DCPEXT0Endpoint16</string>
				<string>DCPEXT0Endpoint17</string>
				<string>DCPEXT0Endpoint18</string>
				<string>DCPEXT0Endpoint19</string>
				<string>DCPEXT0Endpoint20</string>
				<string>DCPEXT0Endpoint21</string>
				<string>DCPEXT0Endpoint22</string>
				<string>DCPEXT0Endpoint23</string>
				<string>DCPEXT1Endpoint1</string>
				<string>DCPEXT1Endpoint2</string>
				<string>DCPEXT1Endpoint3</string>
				<string>DCPEXT1Endpoint4</string>
				<string>DCPEXT1Endpoint5</string>
				<string>DCPEXT1Endpoint6</string>
				<string>DCPEXT1Endpoint7</string>
				<string>DCPEXT1Endpoint8</string>
				<string>DCPEXT1Endpoint9</string>
				<string>DCPEXT1Endpoint10</string>
				<string>DCPEXT1Endpoint11</string>
				<string>DCPEXT1Endpoint12</string>
				<string>DCPEXT1Endpoint13</string>
				<string>DCPEXT1Endpoint14</string>
				<string>DCPEXT1Endpoint15</string>
				<string>DCPEXT1Endpoint16</string>
				<string>DCPEXT1Endpoint17</string>
				<string>DCPEXT1Endpoint18</string>
				<string>DCPEXT1Endpoint19</string>
				<string>DCPEXT1Endpoint20</string>
				<string>DCPEXT1Endpoint21</string>
				<string>DCPEXT1Endpoint22</string>
				<string>DCPEXT1Endpoint23</string>
				<string>DCPEXT2Endpoint1</string>
				<string>DCPEXT2Endpoint2</string>
				<string>DCPEXT2Endpoint3</string>
				<string>DCPEXT2Endpoint4</string>
				<string>DCPEXT2Endpoint5</string>
				<string>DCPEXT2Endpoint6</string>
				<string>DCPEXT2Endpoint7</string>
				<string>DCPEXT2Endpoint8</string>
				<string>DCPEXT2Endpoint9</string>
				<string>DCPEXT2Endpoint10</string>
				<string>DCPEXT2Endpoint11</string>
				<string>DCPEXT2Endpoint12</string>
				<string>DCPEXT2Endpoint13</string>
				<string>DCPEXT2Endpoint14</string>
				<string>DCPEXT2Endpoint15</string>
				<string>DCPEXT2Endpoint16</string>
				<string>DCPEXT2Endpoint17</string>
				<string>DCPEXT2Endpoint18</string>
				<string>DCPEXT2Endpoint19</string>
				<string>DCPEXT2Endpoint20</string>
				<string>DCPEXT2Endpoint21</string>
				<string>DCPEXT2Endpoint22</string>
				<string>DCPEXT2Endpoint23</string>
				<string>DCPEXT3Endpoint1</string>
				<string>DCPEXT3Endpoint2</string>
				<string>DCPEXT3Endpoint3</string>
				<string>DCPEXT3Endpoint4</string>
				<string>DCPEXT3Endpoint5</string>
				<string>DCPEXT3Endpoint6</string>
				<string>DCPEXT3Endpoint7</string>
				<string>DCPEXT3Endpoint8</string>
				<string>DCPEXT3Endpoint9</string>
				<string>DCPEXT3Endpoint10</string>
				<string>DCPEXT3Endpoint11</string>
				<string>DCPEXT3Endpoint12</string>
				<string>DCPEXT3Endpoint13</string>
				<string>DCPEXT3Endpoint14</string>
				<string>DCPEXT3Endpoint15</string>
				<string>DCPEXT3Endpoint16</string>
				<string>DCPEXT3Endpoint17</string>
				<string>DCPEXT3Endpoint18</string>
				<string>DCPEXT3Endpoint19</string>
				<string>DCPEXT3Endpoint20</string>
				<string>DCPEXT3Endpoint21</string>
				<string>DCPEXT3Endpoint22</string>
				<string>DCPEXT3Endpoint23</string>
				<string>DCPEXT4Endpoint1</string>
				<string>DCPEXT4Endpoint2</string>
				<string>DCPEXT4Endpoint3</string>
				<string>DCPEXT4Endpoint4</string>
				<string>DCPEXT4Endpoint5</string>
				<string>DCPEXT4Endpoint6</string>
				<string>DCPEXT4Endpoint7</string>
				<string>DCPEXT4Endpoint8</string>
				<string>DCPEXT4Endpoint9</string>
				<string>DCPEXT4Endpoint10</string>
				<string>DCPEXT4Endpoint11</string>
				<string>DCPEXT4Endpoint12</string>
				<string>DCPEXT4Endpoint13</string>
				<string>DCPEXT4Endpoint14</string>
				<string>DCPEXT4Endpoint15</string>
				<string>DCPEXT4Endpoint16</string>
				<string>DCPEXT4Endpoint17</string>
				<string>DCPEXT4Endpoint18</string>
				<string>DCPEXT4Endpoint19</string>
				<string>DCPEXT4Endpoint20</string>
				<string>DCPEXT4Endpoint21</string>
				<string>DCPEXT4Endpoint22</string>
				<string>DCPEXT4Endpoint23</string>
				<string>DCPEXT5Endpoint1</string>
				<string>DCPEXT5Endpoint2</string>
				<string>DCPEXT5Endpoint3</string>
				<string>DCPEXT5Endpoint4</string>
				<string>DCPEXT5Endpoint5</string>
				<string>DCPEXT5Endpoint6</string>
				<string>DCPEXT5Endpoint7</string>
				<string>DCPEXT5Endpoint8</string>
				<string>DCPEXT5Endpoint9</string>
				<string>DCPEXT5Endpoint10</string>
				<string>DCPEXT5Endpoint11</string>
				<string>DCPEXT5Endpoint12</string>
				<string>DCPEXT5Endpoint13</string>
				<string>DCPEXT5Endpoint14</string>
				<string>DCPEXT5Endpoint15</string>
				<string>DCPEXT5Endpoint16</string>
				<string>DCPEXT5Endpoint17</string>
				<string>DCPEXT5Endpoint18</string>
				<string>DCPEXT5Endpoint19</string>
				<string>DCPEXT5Endpoint20</string>
				<string>DCPEXT5Endpoint21</string>
				<string>DCPEXT5Endpoint22</string>
				<string>DCPEXT5Endpoint23</string>
				<string>DCPEXT6Endpoint1</string>
				<string>DCPEXT6Endpoint2</string>
				<string>DCPEXT6Endpoint3</string>
				<string>DCPEXT6Endpoint4</string>
				<string>DCPEXT6Endpoint5</string>
				<string>DCPEXT6Endpoint6</string>
				<string>DCPEXT6Endpoint7</string>
				<string>DCPEXT6Endpoint8</string>
				<string>DCPEXT6Endpoint9</string>
				<string>DCPEXT6Endpoint10</string>
				<string>DCPEXT6Endpoint11</string>
				<string>DCPEXT6Endpoint12</string>
				<string>DCPEXT6Endpoint13</string>
				<string>DCPEXT6Endpoint14</string>
				<string>DCPEXT6Endpoint15</string>
				<string>DCPEXT6Endpoint16</string>
				<string>DCPEXT6Endpoint17</string>
				<string>DCPEXT6Endpoint18</string>
				<string>DCPEXT6Endpoint19</string>
				<string>DCPEXT6Endpoint20</string>
				<string>DCPEXT6Endpoint21</string>
				<string>DCPEXT6Endpoint22</string>
				<string>DCPEXT6Endpoint23</string>
				<string>DCPEXT7Endpoint1</string>
				<string>DCPEXT7Endpoint2</string>
				<string>DCPEXT7Endpoint3</string>
				<string>DCPEXT7Endpoint4</string>
				<string>DCPEXT7Endpoint5</string>
				<string>DCPEXT7Endpoint6</string>
				<string>DCPEXT7Endpoint7</string>
				<string>DCPEXT7Endpoint8</string>
				<string>DCPEXT7Endpoint9</string>
				<string>DCPEXT7Endpoint10</string>
				<string>DCPEXT7Endpoint11</string>
				<string>DCPEXT7Endpoint12</string>
				<string>DCPEXT7Endpoint13</string>
				<string>DCPEXT7Endpoint14</string>
				<string>DCPEXT7Endpoint15</string>
				<string>DCPEXT7Endpoint16</string>
				<string>DCPEXT7Endpoint17</string>
				<string>DCPEXT7Endpoint18</string>
				<string>DCPEXT7Endpoint19</string>
				<string>DCPEXT7Endpoint20</string>
				<string>DCPEXT7Endpoint21</string>
				<string>DCPEXT7Endpoint22</string>
				<string>DCPEXT7Endpoint23</string>
			</array>
			<key>IOProviderClass</key>
			<string>RTBuddyEndpointService</string>
		</dict>
		<key>DCPFirmwareService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleFirmwareKit</string>
			<key>IOClass</key>
			<string>AFKFirmwareService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>DCP</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
		<key>DCPFirmwareServiceEXT</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleFirmwareKit</string>
			<key>IOClass</key>
			<string>AFKFirmwareService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>DCPEXT</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleFirmwareKit</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0</string>
	</dict>
</dict>
</plist>
