<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageSearch</key>
	<array>
		<dict>
			<key>LocalizedName</key>
			<string>AllSearchTitle</string>
			<key>SearchAttributes</key>
			<array>
				<string>Name</string>
				<string>Caption</string>
				<string>Comment</string>
				<string>displayDateString</string>
				<string>fileExtensionString</string>
				<string>ILMediaObjectKeywordsAttribute</string>
				<string>Faces</string>
			</array>
		</dict>
		<dict>
			<key>LocalizedName</key>
			<string>FacesSearchTitle</string>
			<key>SearchAttributes</key>
			<array>
				<string>Faces</string>
			</array>
		</dict>
		<dict>
			<key>LocalizedName</key>
			<string>KeywordsSearchTitle</string>
			<key>SearchAttributes</key>
			<array>
				<string>ILMediaObjectKeywordsAttribute</string>
			</array>
		</dict>
	</array>
	<key>MovieSearch</key>
	<array>
		<dict>
			<key>LocalizedName</key>
			<string>AllSearchTitle</string>
			<key>SearchAttributes</key>
			<array>
				<string>Name</string>
				<string>Artist</string>
				<string>fileExtensionString</string>
			</array>
		</dict>
		<dict>
			<key>LocalizedName</key>
			<string>KeywordsSearchTitle</string>
			<key>SearchAttributes</key>
			<array>
				<string>ILMediaObjectKeywordsAttribute</string>
			</array>
		</dict>
		<dict>
			<key>LocalizedName</key>
			<string>RatingSearchTitle</string>
			<key>SearchAttributes</key>
			<array>
				<string>Rating</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
