<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AGXG13X</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AGXG13X</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AGXG13X Graphics Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>190.23</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>190.23</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1313</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1313</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGXArmFirmwareMapper</key>
		<dict>
			<key>IOClass</key>
			<string>AGXArmFirmwareMapper</string>
			<key>IONameMatch</key>
			<string>iommu-mapper,gfx</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AGXG13S_A0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AGXG13X</string>
			<key>IOClass</key>
			<string>AGXAcceleratorG13S_A0</string>
			<key>IOGLBundleName</key>
			<string>AppleMetalOpenGLRenderer</string>
			<key>IOGLESBundleName</key>
			<string>AppleMetalGLRenderer</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IONameMatch</key>
			<array>
				<string>gpu,t8015</string>
				<string>gpu,t8027</string>
				<string>gpu,t8030</string>
				<string>gpu,t8103</string>
				<string>gpu,t6000</string>
				<string>gpu,t6001</string>
				<string>gpu,t6002</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>IOSourceVersion</key>
			<string>190.23</string>
			<key>MetalPluginName</key>
			<string>AGXMetalG13S_A0</string>
		</dict>
		<key>AGXG13X</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AGXG13X</string>
			<key>IOClass</key>
			<string>AGXAcceleratorG13X</string>
			<key>IOGLBundleName</key>
			<string>AppleMetalOpenGLRenderer</string>
			<key>IOGLESBundleName</key>
			<string>AppleMetalGLRenderer</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IONameMatch</key>
			<array>
				<string>gpu,t8015</string>
				<string>gpu,t8027</string>
				<string>gpu,t8030</string>
				<string>gpu,t8103</string>
				<string>gpu,t6000</string>
				<string>gpu,t6001</string>
				<string>gpu,t6002</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>IOSourceVersion</key>
			<string>190.23</string>
			<key>MetalPluginName</key>
			<string>AGXMetalG13X</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleMobileFileIntegrity</key>
		<string>1.0.1</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.CoreAnalyticsFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOGPUFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>52.6.0</string>
		<key>com.apple.kec.Libm</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
