<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>2201</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>
	<key>CFBundleVersion</key>
	<string>15481</string>
	<key>ProjectName</key>
	<string>ProResCodec</string>
	<key>SourceVersion</key>
	<string>15481000000000000</string>
</dict>
</plist>
