<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>1504</string>
	<key>CFBundleShortVersionString</key>
	<string>10.14</string>
	<key>CFBundleVersion</key>
	<string>1097</string>
	<key>ProjectName</key>
	<string>ActivityMonitor</string>
	<key>SourceVersion</key>
	<string>1097000000000000</string>
</dict>
</plist>
