<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.theme.Picture-Calendar</string>
	<key>CatalogVersion</key>
	<integer>1</integer>
	<key>CompileDate</key>
	<date>2016-12-08T19:12:46Z</date>
	<key>Picture-Calendar.keywords</key>
	<array>
		<string>CALENDARCategoryAll:100</string>
	</array>
	<key>Picture-Calendar.products</key>
	<array>
		<string>Calendar</string>
	</array>
	<key>ThemeIdentifiers</key>
	<array>
		<string>Picture-Calendar</string>
	</array>
</dict>
</plist>
