<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GB-en</key>
	<dict>
		<key>KHExtraLargeHardcoverBookPrice</key>
		<string>£49.99</string>
		<key>KHHardcoverBookPrice</key>
		<string>£29.99</string>
		<key>KHLargeSoftcoverBookPrice</key>
		<string>£19.99</string>
		<key>KHLargeWireBoundBookPrice</key>
		<string>£19.99</string>
		<key>KHMediumSoftcoverBookPrice</key>
		<string>£9.99</string>
		<key>KHMediumWireBoundBookPrice</key>
		<string>£9.99</string>
		<key>KHSmallSoftcoverBookPrice</key>
		<string>£3.99</string>
		<key>KHHorizontalFoldedCardPrice</key>
		<string>£1.99</string>
		<key>KHVerticalFoldedCardPrice</key>
		<string>£1.99</string>
		<key>KHHorizontalFlatCardPrice</key>
		<string>£1.29</string>
		<key>KHVerticalFlatCardPrice</key>
		<string>£1.29</string>
		<key>KHHorizontalPremiumCardPrice</key>
		<string>£2.99</string>
		<key>KHVerticalPremiumCardPrice</key>
		<string>£2.99</string>
		<key>KHCalendarPrice</key>
		<string>£19.99</string>
		<key>KHExtraLargeHardcoverBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHHardcoverBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHLargeSoftcoverBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHLargeWireBoundBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHMediumSoftcoverBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHMediumWireBoundBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHSmallSoftcoverBook2ndPrice</key>
		<string>£0.99</string>
		<key>KHHorizontalFoldedCard2ndPrice</key>
		<string>£1.49</string>
		<key>KHVerticalFoldedCard2ndPrice</key>
		<string>£1.49</string>
		<key>KHHorizontalFlatCard2ndPrice</key>
		<string>£0.99</string>
		<key>KHVerticalFlatCard2ndPrice</key>
		<string>£0.99</string>
		<key>KHHorizontalPremiumCard2ndPrice</key>
		<string> </string>
		<key>KHVerticalPremiumCard2ndPrice</key>
		<string> </string>
		<key>KHCalendar2ndPrice</key>
		<string>£0.99</string>
	</dict>
	<key>US-en</key>
	<dict>
		<key>KHExtraLargeHardcoverBookPrice</key>
		<string>$49.99</string>
		<key>KHHardcoverBookPrice</key>
		<string>$29.99</string>
		<key>KHLargeSoftcoverBookPrice</key>
		<string>$19.99</string>
		<key>KHLargeWireBoundBookPrice</key>
		<string>$19.99</string>
		<key>KHMediumSoftcoverBookPrice</key>
		<string>$9.99</string>
		<key>KHMediumWireBoundBookPrice</key>
		<string>$9.99</string>
		<key>KHSmallSoftcoverBookPrice</key>
		<string>$3.99</string>
		<key>KHHorizontalFoldedCardPrice</key>
		<string>$1.99</string>
		<key>KHVerticalFoldedCardPrice</key>
		<string>$1.99</string>
		<key>KHHorizontalFlatCardPrice</key>
		<string>$1.29</string>
		<key>KHVerticalFlatCardPrice</key>
		<string>$1.29</string>
		<key>KHHorizontalPremiumCardPrice</key>
		<string>$2.99</string>
		<key>KHVerticalPremiumCardPrice</key>
		<string>$2.99</string>
		<key>KHCalendarPrice</key>
		<string>$19.99</string>
		<key>KHExtraLargeHardcoverBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHHardcoverBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHLargeSoftcoverBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHLargeWireBoundBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHMediumSoftcoverBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHMediumWireBoundBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHSmallSoftcoverBook2ndPrice</key>
		<string>$0.99</string>
		<key>KHHorizontalFoldedCard2ndPrice</key>
		<string>$1.49</string>
		<key>KHVerticalFoldedCard2ndPrice</key>
		<string>$1.49</string>
		<key>KHHorizontalFlatCard2ndPrice</key>
		<string>$0.99</string>
		<key>KHVerticalFlatCard2ndPrice</key>
		<string>$0.99</string>
		<key>KHHorizontalPremiumCard2ndPrice</key>
		<string> </string>
		<key>KHVerticalPremiumCard2ndPrice</key>
		<string> </string>
		<key>KHCalendar2ndPrice</key>
		<string>$0.99</string>
	</dict>
	<key>IE-en</key>
	<dict>
		<key>KHExtraLargeHardcoverBookPrice</key>
		<string>€49.99</string>
		<key>KHHardcoverBookPrice</key>
		<string>€29.99</string>
		<key>KHLargeSoftcoverBookPrice</key>
		<string>€19.99</string>
		<key>KHLargeWireBoundBookPrice</key>
		<string>€19.99</string>
		<key>KHMediumSoftcoverBookPrice</key>
		<string>€9.99</string>
		<key>KHMediumWireBoundBookPrice</key>
		<string>€9.99</string>
		<key>KHSmallSoftcoverBookPrice</key>
		<string>€3.99</string>
		<key>KHHorizontalFoldedCardPrice</key>
		<string>€1.99</string>
		<key>KHVerticalFoldedCardPrice</key>
		<string>€1.99</string>
		<key>KHHorizontalFlatCardPrice</key>
		<string>€1.29</string>
		<key>KHVerticalFlatCardPrice</key>
		<string>€1.29</string>
		<key>KHHorizontalPremiumCardPrice</key>
		<string>€2.99</string>
		<key>KHVerticalPremiumCardPrice</key>
		<string>€2.99</string>
		<key>KHCalendarPrice</key>
		<string>€19.99</string>
		<key>KHExtraLargeHardcoverBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHHardcoverBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHLargeSoftcoverBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHLargeWireBoundBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHMediumSoftcoverBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHMediumWireBoundBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHSmallSoftcoverBook2ndPrice</key>
		<string>€0.99</string>
		<key>KHHorizontalFoldedCard2ndPrice</key>
		<string>€1.49</string>
		<key>KHVerticalFoldedCard2ndPrice</key>
		<string>€1.49</string>
		<key>KHHorizontalFlatCard2ndPrice</key>
		<string>€0.99</string>
		<key>KHVerticalFlatCard2ndPrice</key>
		<string>€0.99</string>
		<key>KHHorizontalPremiumCard2ndPrice</key>
		<string> </string>
		<key>KHVerticalPremiumCard2ndPrice</key>
		<string> </string>
		<key>KHCalendar2ndPrice</key>
		<string>€0.99</string>
	</dict>
</dict>
</plist>
