<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<array>
		<string>AT</string>
		<string>AU</string>
		<string>BE</string>
		<string>BR</string>
		<string>CA</string>
		<string>CH</string>
		<string>CN</string>
		<string>DK</string>
		<string>DE</string>
		<string>ES</string>
		<string>FI</string>
		<string>FR</string>
		<string>GB</string>
		<string>GR</string>
		<string>GU</string>
		<string>HK</string>
		<string>ID</string>
		<string>IE</string>
		<string>IN</string>
		<string>IT</string>
		<string>JP</string>
		<string>LK</string>
		<string>LU</string>
		<string>MO</string>
		<string>MX</string>
		<string>MY</string>
		<string>NL</string>
		<string>NO</string>
		<string>NZ</string>
		<string>PH</string>
		<string>PK</string>
		<string>PL</string>
		<string>PT</string>
		<string>RU</string>
		<string>SE</string>
		<string>SG</string>
		<string>TH</string>
		<string>TW</string>
		<string>US</string>
		<string>VN</string>
	</array>
</dict>
</plist>
