<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.BigDate-Calendar_Preview</string>
	<key>catalogVersion</key>
	<integer>9</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:39:37Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>BigDate-Calendar_4771F72A-E08F-4F6E-9D0C-D6405603004B</string>
		<string>BigDate-Calendar_9ECE0AD2-BC9F-4D07-9B7D-BC16982A5895</string>
		<string>BigDate-Calendar_6467B957-D4A2-483D-91D3-0F8C93F0B4D5</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
