<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>8598B78A-61B4-4E0E-9ECC-9B4A2ED031DD</string>
	<string>335C5196-C699-464D-AE68-7E6A19FC6A35</string>
	<string>9BD2AE85-7189-4176-9F39-2F2A12FD8024</string>
</array>
</plist>
