<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Half,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Half,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Half,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Half,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Half,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAvYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAwIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAwYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAQYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>mp4v</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAA
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAV
		bW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABwAAQAA
		AAAAFGlzaXoAAAABAAAAAAAAAAA=
		</data>
	</dict>
</array>
</plist>
