<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Half,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Half,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAQoAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Half,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Half,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAwIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Half,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>2</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAQIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1280</real>
		<key>identifier</key>
		<string>Size:1280x1280,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1280</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAQoAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1440</real>
		<key>identifier</key>
		<string>Size:1440x1440,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1440</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAQIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1680</real>
		<key>identifier</key>
		<string>Size:1680x1680,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1680</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAP4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>1920</real>
		<key>identifier</key>
		<string>Size:1920x1920,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>1920</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAQIAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAvoAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>height</key>
		<real>2560</real>
		<key>identifier</key>
		<string>Size:2560x2560,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:1</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:2</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAQYAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:3</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAgAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:4</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAAAv4AAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
	<dict>
		<key>codecType</key>
		<string>h263</string>
		<key>identifier</key>
		<string>Size:Normal,Quality:5</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>
		AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEA
		AAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaDI2MwAAAAAAGAAABAAAAAAg
		dHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAA
		AAAAAAyAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABht
		ZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAA
		ABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAo
		aGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMA
		AAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAA
		AAEAAAAAAAAAAHN1cmYAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAA
		AQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6
		AAAAAQAAAAAAAAAA
		</data>
	</dict>
</array>
</plist>
