<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>250</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>jpegThumbBest</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>250</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>8</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>jpegThumbHigh</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>250</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>5</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>jpegThumbMedium</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>jpegBest</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>8</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>jpegHigh</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>5</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>jpegMedium</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationHeight</key>
		<integer>768</integer>
		<key>DestinationWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>ImageFormat</key>
		<integer>1</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>8</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>png</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
