<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>editable</key>
		<false/>
		<key>hidden</key>
		<true/>
		<key>keys</key>
		<array/>
		<key>name</key>
		<string>none</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>iptcProperties.Keywords</string>
			<string>iptcProperties.CopyrightNotice</string>
			<string>iptcProperties.ObjectName</string>
			<string>exifProperties.ImageDate</string>
			<string>basicProperties.ProcessedPixelSize</string>
			<string>basicProperties.FileSize</string>
			<string>basicProperties.MasterLocation</string>
			<string>allBadges</string>
		</array>
		<key>name</key>
		<string>general</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
		</array>
		<key>name</key>
		<string>nameOnly</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>iptcProperties.Caption/Abstract</string>
		</array>
		<key>name</key>
		<string>captionOnly</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>basicProperties.MainRating</string>
			<string>allBadges</string>
		</array>
		<key>name</key>
		<string>nameAndRating</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>iptcProperties.Caption/Abstract</string>
		</array>
		<key>name</key>
		<string>captionAndName</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.MainRating</string>
			<string>allBadges</string>
		</array>
		<key>name</key>
		<string>rating</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>iptcProperties.Keywords</string>
		</array>
		<key>name</key>
		<string>captionAndKeywords</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>iptcProperties.Byline</string>
			<string>iptcProperties.Credit</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>iptcProperties.CopyrightNotice</string>
		</array>
		<key>name</key>
		<string>captionAndCredits</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>basicProperties.ColorLabel</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>exifProperties.FocalLength</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
		</array>
		<key>name</key>
		<string>contactSheet</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>basicProperties.FileName</string>
			<string>basicProperties.FileSize</string>
			<string>basicProperties.ProcessedPixelSize</string>
			<string>exifProperties.ColorModel</string>
			<string>exifProperties.ImageDate</string>
			<string>allBadges</string>
		</array>
		<key>name</key>
		<string>fileInfo</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>exifProperties.ImageDate</string>
			<string>exifProperties.Model</string>
			<string>exifProperties.LensModel</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>exifProperties.FocalLength</string>
			<string>exifProperties.FocalLenIn35mmFilm</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
			<string>exifProperties.Flash</string>
			<string>exifProperties.WhiteBalance</string>
			<string>exifProperties.ExposureProgram</string>
			<string>exifProperties.MeteringMode</string>
			<string>exifProperties.ExposureMode</string>
			<string>exifProperties.FocusMode</string>
			<string>exifProperties.ProfileName</string>
			<string>basicProperties.ProcessedPixelSize</string>
		</array>
		<key>name</key>
		<string>photoInfo</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>exifProperties.ImageDate</string>
			<string>exifProperties.Make</string>
			<string>exifProperties.Model</string>
			<string>exifProperties.CameraSerialNumber</string>
			<string>exifProperties.LensModel</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>exifProperties.FocalLength</string>
			<string>exifProperties.FocalLenIn35mmFilm</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
			<string>exifProperties.Flash</string>
			<string>exifProperties.FlashExposureComp</string>
			<string>exifProperties.WhiteBalance</string>
			<string>exifProperties.ExposureProgram</string>
			<string>exifProperties.ShootingMode</string>
			<string>exifProperties.MeteringMode</string>
			<string>exifProperties.ExposureMode</string>
			<string>exifProperties.FocusMode</string>
			<string>exifProperties.FocusDistance</string>
			<string>basicProperties.FileSize</string>
			<string>basicProperties.ProcessedPixelSize</string>
			<string>basicProperties.PixelSize</string>
			<string>exifProperties.ProfileName</string>
			<string>basicProperties.AspectRatio</string>
			<string>basicProperties.Orientation</string>
			<string>exifProperties.Depth</string>
		</array>
		<key>name</key>
		<string>exifInfo</string>
	</dict>
	<dict>
		<key>keys</key>
		<array>
			<string>exifProperties.Latitude</string>
			<string>exifProperties.Longitude</string>
			<string>exifProperties.Altitude</string>
			<string>exifProperties.ImgDirection</string>
		</array>
		<key>name</key>
		<string>gps</string>
	</dict>
	<dict>
		<key>showLabelsKey</key>
		<string>ViewerSet1ShowLabels</string>
		<key>placementKey</key>
		<string>ViewerSet1Placement</string>
		<key>context</key>
		<integer>3</integer>
		<key>setNumber</key>
		<integer>1</integer>
		<key>hidden</key>
		<true/>
		<key>keys</key>
		<array>
			<string>allBadges</string>
			<string>basicProperties.MainRating</string>
			<string>iptcProperties.Keywords</string>
			<string>basicProperties.ColorLabel</string>
			<string>basicProperties.Flagged</string>
		</array>
		<key>name</key>
		<string>basicViewer</string>
	</dict>
	<dict>
		<key>showLabelsKey</key>
		<string>ViewerSet2ShowLabels</string>
		<key>placementKey</key>
		<string>ViewerSet2Placement</string>
		<key>context</key>
		<integer>3</integer>
		<key>setNumber</key>
		<integer>2</integer>
		<key>hidden</key>
		<true/>
		<key>keys</key>
		<array>
			<string>basicProperties.MainRating</string>
			<string>allBadges</string>
			<string>basicProperties.ColorLabel</string>
			<string>basicProperties.Flagged</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.FocalLenIn35mmFilm</string>
			<string>exifProperties.FocalLength</string>
			<string>exifProperties.LensModel</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>iptcProperties.Keywords</string>
			<string>basicProperties.VersionName</string>
			<string>exifProperties.ImageDate</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>basicProperties.FileSize</string>
			<string>basicProperties.MasterLocation</string>
		</array>
		<key>name</key>
		<string>alternateViewer</string>
	</dict>
	<dict>
		<key>placementKey</key>
		<string>GridViewSet1Placement</string>
		<key>showLabelsKey</key>
		<string>GridViewSet1ShowLabels</string>
		<key>context</key>
		<integer>2</integer>
		<key>setNumber</key>
		<integer>1</integer>
		<key>hidden</key>
		<true/>
		<key>keys</key>
		<array>
			<string>allBadges</string>
			<string>basicProperties.MainRating</string>
			<string>basicProperties.ColorLabel</string>
			<string>basicProperties.Flagged</string>
		</array>
		<key>name</key>
		<string>basicGridView</string>
	</dict>
	<dict>
		<key>placementKey</key>
		<string>GridViewSet2Placement</string>
		<key>showLabelsKey</key>
		<string>GridViewSet2ShowLabels</string>
		<key>context</key>
		<integer>2</integer>
		<key>setNumber</key>
		<integer>2</integer>
		<key>hidden</key>
		<true/>
		<key>keys</key>
		<array>
			<string>allBadges</string>
			<string>basicProperties.MainRating</string>
			<string>basicProperties.VersionName</string>
			<string>basicProperties.ColorLabel</string>
			<string>basicProperties.Flagged</string>
		</array>
		<key>name</key>
		<string>alternateGridView</string>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>allBadges</string>
			<string>basicProperties.MainRating</string>
			<string>basicProperties.ColorLabel</string>
			<string>basicProperties.Flagged</string>
			<string>exifProperties.ImageDate</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>exifProperties.FocalLenIn35mmFilm</string>
			<string>exifProperties.FocalLength</string>
			<string>exifProperties.LensModel</string>
			<string>basicProperties.ProcessedPixelSize</string>
			<string>basicProperties.Orientation</string>
			<string>basicProperties.AspectRatio</string>
			<string>basicProperties.FileName</string>
			<string>basicProperties.FileSize</string>
			<string>exifProperties.Model</string>
			<string>basicProperties.ImportGroup</string>
			<string>basicProperties.MasterLocation</string>
		</array>
		<key>name</key>
		<string>basicList</string>
		<key>context</key>
		<integer>1</integer>
		<key>setNumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>context</key>
		<integer>1</integer>
		<key>setNumber</key>
		<integer>2</integer>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>allBadges</string>
			<string>basicProperties.MainRating</string>
			<string>basicProperties.ColorLabel</string>
			<string>basicProperties.Flagged</string>
			<string>exifProperties.ImageDate</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>iptcProperties.Keywords</string>
			<string>iptcProperties.Credit</string>
			<string>iptcProperties.CopyrightNotice</string>
			<string>iptcProperties.ObjectName</string>
			<string>basicProperties.FileName</string>
			<string>basicProperties.FileSize</string>
			<string>exifProperties.Model</string>
			<string>basicProperties.ImportGroup</string>
			<string>basicProperties.MasterLocation</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>exifProperties.FocalLenIn35mmFilm</string>
			<string>exifProperties.FocalLength</string>
			<string>exifProperties.LensModel</string>
			<string>basicProperties.ProcessedPixelSize</string>
		</array>
		<key>name</key>
		<string>alternateList</string>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>context</key>
		<integer>4</integer>
		<key>keys</key>
		<array>
			<string>basicProperties.VersionName</string>
			<string>basicProperties.FileName</string>
			<string>exifProperties.ImageDate</string>
			<string>basicProperties.FileSize</string>
			<string>iptcProperties.Caption/Abstract</string>
			<string>iptcProperties.Keywords</string>
			<string>exifProperties.ApertureValue</string>
			<string>exifProperties.ShutterSpeed</string>
			<string>exifProperties.ExposureBiasValue</string>
			<string>exifProperties.ISOSpeedRating</string>
			<string>exifProperties.FocalLenIn35mmFilm</string>
			<string>exifProperties.FocalLength</string>
			<string>basicProperties.ProcessedPixelSize</string>
			<string>exifProperties.Make</string>
			<string>exifProperties.Model</string>
			<string>basicProperties.MainRating</string>
		</array>
		<key>name</key>
		<string>tooltips</string>
	</dict>
</array>
</plist>
