<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExistsQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>1</integer>
			<key>value</key>
			<string>exists</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>2</integer>
			<key>value</key>
			<string>doesNotExist</string>
		</dict>
	</array>
	<key>DateQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>14</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>15</integer>
			<key>value</key>
			<string>isNotEmptyAndIsNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>16</integer>
			<key>value</key>
			<string>isAfter</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>17</integer>
			<key>value</key>
			<string>isBefore</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>18</integer>
			<key>value</key>
			<string>isInTheLast</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>19</integer>
			<key>value</key>
			<string>isNotInTheLast</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>20</integer>
			<key>value</key>
			<string>isInTheRange</string>
		</dict>
	</array>
	<key>DateQualifiersPlural</key>
	<array>
		<dict>
			<key>object</key>
			<integer>14</integer>
			<key>value</key>
			<string>are</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>15</integer>
			<key>value</key>
			<string>areNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>16</integer>
			<key>value</key>
			<string>areAfter</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>17</integer>
			<key>value</key>
			<string>areBefore</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>18</integer>
			<key>value</key>
			<string>areInTheLast</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>19</integer>
			<key>value</key>
			<string>areNotInTheLast</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>20</integer>
			<key>value</key>
			<string>areInTheRange</string>
		</dict>
	</array>
	<key>NumericQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>5</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>6</integer>
			<key>value</key>
			<string>isNotEmptyAndIsNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>7</integer>
			<key>value</key>
			<string>isGreaterThan</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>9</integer>
			<key>value</key>
			<string>isLessThan</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>8</integer>
			<key>value</key>
			<string>isGreaterThanOrEqualTo</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>10</integer>
			<key>value</key>
			<string>isLessThanOrEqualTo</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>11</integer>
			<key>value</key>
			<string>isInTheRange</string>
		</dict>
	</array>
	<key>NumericQualifiersPlural</key>
	<array>
		<dict>
			<key>object</key>
			<integer>5</integer>
			<key>value</key>
			<string>are</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>6</integer>
			<key>value</key>
			<string>areNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>7</integer>
			<key>value</key>
			<string>areGreaterThan</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>9</integer>
			<key>value</key>
			<string>areLessThan</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>8</integer>
			<key>value</key>
			<string>areGreaterThanOrEqualTo</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>10</integer>
			<key>value</key>
			<string>areLessThanOrEqualTo</string>
		</dict>
	</array>
	<key>GeneralTextQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>23</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>24</integer>
			<key>value</key>
			<string>doesNotContain</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>isNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>27</integer>
			<key>value</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>28</integer>
			<key>value</key>
			<string>endsWith</string>
		</dict>
	</array>
	<key>TextQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>23</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>24</integer>
			<key>value</key>
			<string>isNotEmptyAndDoesNotContain</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>isNotEmptyAndIsNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>27</integer>
			<key>value</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>28</integer>
			<key>value</key>
			<string>endsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>29</integer>
			<key>value</key>
			<string>isEmpty</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>30</integer>
			<key>value</key>
			<string>isNotEmpty</string>
		</dict>
	</array>
	<key>TextQualifiersPlural</key>
	<array>
		<dict>
			<key>object</key>
			<integer>23</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>24</integer>
			<key>value</key>
			<string>isNotEmptyAndDoesNotContain</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>are</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>areNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>27</integer>
			<key>value</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>28</integer>
			<key>value</key>
			<string>endsWith</string>
		</dict>
	</array>
	<key>IptcKeywordTextQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>23</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>24</integer>
			<key>value</key>
			<string>doesNotContain</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>isNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>27</integer>
			<key>value</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>28</integer>
			<key>value</key>
			<string>endsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>29</integer>
			<key>value</key>
			<string>isEmpty</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>30</integer>
			<key>value</key>
			<string>isNotEmpty</string>
		</dict>
	</array>
	<key>PlaceNameQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>23</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>24</integer>
			<key>value</key>
			<string>doesNotContain</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>isNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>27</integer>
			<key>value</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>28</integer>
			<key>value</key>
			<string>endsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>29</integer>
			<key>value</key>
			<string>isEmpty</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>30</integer>
			<key>value</key>
			<string>isNotEmpty</string>
		</dict>
	</array>
	<key>IsEmptyQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>29</integer>
			<key>value</key>
			<string>isEmpty</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>30</integer>
			<key>value</key>
			<string>isNotEmpty</string>
		</dict>
	</array>
	<key>BooleanQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>40</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>41</integer>
			<key>value</key>
			<string>isNotEmptyAndIsNot</string>
		</dict>
	</array>
	<key>ArrayQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>34</integer>
			<key>value</key>
			<string>isOneOf</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>35</integer>
			<key>value</key>
			<string>isNotOneOf</string>
		</dict>
	</array>
	<key>ContainsQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>50</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>51</integer>
			<key>value</key>
			<string>isNotEmptyAndDoesNotContain</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>2</integer>
			<key>value</key>
			<string>isEmpty</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>1</integer>
			<key>value</key>
			<string>isNotEmpty</string>
		</dict>
	</array>
	<key>AdjustmentQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>52</integer>
			<key>value</key>
			<string>exists</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>53</integer>
			<key>value</key>
			<string>doesNotExist</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>50</integer>
			<key>value</key>
			<string>contains</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>51</integer>
			<key>value</key>
			<string>doesNotContain</string>
		</dict>
	</array>
	<key>FaceQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>23</integer>
			<key>value</key>
			<string>includes</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>isNot</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>60</integer>
			<key>value</key>
			<string>hasUnnamed</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>61</integer>
			<key>value</key>
			<string>isDetected</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>62</integer>
			<key>value</key>
			<string>isNotDetected</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>27</integer>
			<key>value</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>28</integer>
			<key>value</key>
			<string>endsWith</string>
		</dict>
	</array>
	<key>MainRatingQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>5</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>8</integer>
			<key>value</key>
			<string>isGreaterThanOrEqualTo</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>10</integer>
			<key>value</key>
			<string>isLessThanOrEqualTo</string>
		</dict>
	</array>
	<key>ColorLabelQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>5</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>6</integer>
			<key>value</key>
			<string>isNot</string>
		</dict>
	</array>
	<key>IncludesQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>40</integer>
			<key>value</key>
			<string>includes</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>41</integer>
			<key>value</key>
			<string>doesNotInclude</string>
		</dict>
	</array>
	<key>FlaggedQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>5</integer>
			<key>value</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>6</integer>
			<key>value</key>
			<string>no</string>
		</dict>
	</array>
	<key>MasterSubtypeQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>25</integer>
			<key>value</key>
			<string>is</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>26</integer>
			<key>value</key>
			<string>isNot</string>
		</dict>
	</array>
	<key>StatisticQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>1</integer>
			<key>value</key>
			<string>hasBeen</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>2</integer>
			<key>value</key>
			<string>hasNotBeen</string>
		</dict>
	</array>
	<key>SharingQualifiers</key>
	<array>
		<dict>
			<key>object</key>
			<integer>1</integer>
			<key>value</key>
			<string>shared</string>
		</dict>
		<dict>
			<key>object</key>
			<integer>2</integer>
			<key>value</key>
			<string>notShared</string>
		</dict>
	</array>
</dict>
</plist>
