<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFAppleHelpAnchor</key>
	<string>jpimce21c292</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Ainu Input Method</string>
	<key>CFBundleExecutable</key>
	<string>AinuIM</string>
	<key>CFBundleHelpBookFolder</key>
	<string>JapaneseIM.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.inputmethod.Kotoeri.help</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.inputmethod.Ainu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AinuIM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>253</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.AinuIM.Ainu</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>CustomIcon</key>
					<string>Ainu@2x.pdf</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.AinuIM.Ainu</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Ainu.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.AinuIM.Ainu</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>InputMethodConnectionName</key>
	<string>com.apple.inputmethod.Ainu.IMK_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>AINInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Apple. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISIntendedLanguage</key>
	<string>ain</string>
	<key>tsInputMethodIconFileKey</key>
	<string>Ainu.tiff</string>
</dict>
</plist>
