<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleDisplayCrossbar</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleDisplayCrossbar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleDisplayCrossbar</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1313</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1313</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleATCDPAltModePort</key>
		<dict>
			<key>IOClass</key>
			<string>AppleATCDPAltModePort</string>
			<key>IONameMatch</key>
			<string>AAPL,atc-dpphy</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>port-type</key>
				<data>
				AgAAAA==
				</data>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleATCDPHDMIPort</key>
		<dict>
			<key>IOClass</key>
			<string>AppleATCDPHDMIPort</string>
			<key>IONameMatch</key>
			<string>AAPL,atc-dpphy</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>port-type</key>
				<data>
				BgAAAA==
				</data>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleATCDPINAdapterPort</key>
		<dict>
			<key>IOClass</key>
			<string>AppleATCDPINAdapterPort</string>
			<key>IONameMatch</key>
			<string>AAPL,atc-dpin</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleATCDPOUTAdapterPort</key>
		<dict>
			<key>IOClass</key>
			<string>AppleATCDPOUTAdapterPort</string>
			<key>IONameMatch</key>
			<string>AAPL,atc-dpout</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleDisplayCrossbar</key>
		<dict>
			<key>IOClass</key>
			<string>AppleDisplayCrossbar</string>
			<key>IONameMatch</key>
			<string>AAPL,display-crossbar</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleT600XATCDPXBAR</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT600XATCDPXBAR</string>
			<key>IONameMatch</key>
			<array>
				<string>atc-dpxbar,t600x</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>tunables</key>
			<integer>5</integer>
		</dict>
		<key>AppleT600xDisplayCrossbar</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT600xDisplayCrossbar</string>
			<key>IONameMatch</key>
			<string>display-crossbar,t600x</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleT8103ATCDPXBAR</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8103ATCDPXBAR</string>
			<key>IONameMatch</key>
			<array>
				<string>atc-dpxbar,t8103</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>tunables</key>
			<integer>0</integer>
		</dict>
		<key>AppleT8112ATCDPXBAR</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8112ATCDPXBAR</string>
			<key>IONameMatch</key>
			<array>
				<string>atc-dpxbar,t8112</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleT8112DPTXPort</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8112DPTXPort</string>
			<key>IONameMatch</key>
			<array>
				<string>dptx-phy,t8112</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleT8112DisplayCrossbar</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8112DisplayCrossbar</string>
			<key>IONameMatch</key>
			<string>display-crossbar,t8112</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.2</string>
		<key>com.apple.driver.AppleTypeCPhy</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOAVFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOAccessoryManager</key>
		<string>1.0</string>
		<key>com.apple.iokit.IODisplayPortFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOThunderboltFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>20.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>20.0</string>
	</dict>
</dict>
</plist>
