<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Lotus Notes Client [9134371]</string>
		<key>Predicate</key>
		<string>ANY packages.identifier == &quot;Expeditor framework for Notes&quot;</string>
	</dict>
</array>
</plist>
