<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAuthCP</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleAuthCP</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleAuthCP</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleAuthCPAID</key>
		<dict>
			<key>IOAccessoryDigitalID</key>
			<data>
			AAEAAAAAAAEAAAAA
			</data>
			<key>IOAccessoryPowerMode</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>AppleAuthCPAID</string>
			<key>IOMatchCategory</key>
			<string>AU</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryDock9Pin</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
		</dict>
		<key>AppleAuthCPAIDInternal</key>
		<dict>
			<key>IOAccessoryIDBusTransportInternalAuth</key>
			<true/>
			<key>IOClass</key>
			<string>AppleAuthCPAID</string>
			<key>IOMatchCategory</key>
			<string>AU</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryIDBusTransport</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
		</dict>
		<key>AppleAuthCPC26</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAuthCPC26</string>
			<key>IOMatchCategory</key>
			<string>AppleAuthCP</string>
			<key>IOProviderClass</key>
			<string>AppleC26DeviceStream</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
			<key>QippStreamType</key>
			<integer>255</integer>
			<key>StreamType</key>
			<integer>3</integer>
		</dict>
		<key>AppleAuthCPHSAID</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAuthCPHSAID</string>
			<key>IOMatchCategory</key>
			<string>AU</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryManagerHSAID</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
		</dict>
		<key>AppleAuthCPI2C</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAuthCPI2C</string>
			<key>IONameMatch</key>
			<array>
				<string>authcp,2c</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
		</dict>
		<key>AppleAuthCPMGAID </key>
		<dict>
			<key>IOAccessoryDigitalID</key>
			<data>
			AAAAABAAAAEAABAA
			</data>
			<key>IOAccessoryPowerMode</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>AppleAuthCPMGAID</string>
			<key>IOMatchCategory</key>
			<string>AU</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryDock9Pin</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
		</dict>
		<key>AppleAuthCPRelay</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAuthCPRelay</string>
			<key>IOMatchCategory</key>
			<string>AppleAuthCP</string>
			<key>IOProviderClass</key>
			<string>AppleAuthCPRelayInterface</string>
			<key>IOUserClientClass</key>
			<string>AppleAuthCPUserClient</string>
		</dict>
		<key>MogulAuthI2CRelayInterface</key>
		<dict>
			<key>IOClass</key>
			<string>MogulAuthI2CRelayInterface</string>
			<key>IONameMatch</key>
			<array>
				<string>mogul,a1222</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
		</dict>
		<key>RoswellAuthI2CRelayInterface</key>
		<dict>
			<key>IOClass</key>
			<string>RoswellAuthI2CRelayInterface</string>
			<key>IONameMatch</key>
			<array>
				<string>roswell</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleC26Charger</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOAccessoryManager</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
