<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cache</key>
	<array/>
	<key>dnsResults</key>
	<array>
		<dict>
			<key>favoredServerRanges</key>
			<array/>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					aWj9+Kez/uFjM0vCeWTa65jCTZJP4aUS5+mm
					v/6tJDg=
					</data>
					<key>key</key>
					<data>
					jZHhm0zBXLivnw/FGJqjarDdaGGoxhqJm+C6
					dV4S0IQ=
					</data>
				</dict>
			</array>
			<key>publicAddressRanges</key>
			<array/>
			<key>validUntil</key>
			<date>2026-05-30T18:17:14Z</date>
		</dict>
	</array>
	<key>serversRecentlySeen</key>
	<array>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					1WvK3sz+HrvfsVrCX9VRYZwdYP2P94eIj6Hx
					S1L6/0k=
					</data>
					<key>key</key>
					<data>
					WZpmu66ZlGbEiLlha1ZBdrFDS5kJPRcz4ZlK
					/7ehC40=
					</data>
				</dict>
				<dict>
					<key>digest</key>
					<data>
					mBC5M0S0BbEXLCihjGJPUXB5QSuIiLvGiXwd
					b+jQSL4=
					</data>
					<key>key</key>
					<data>
					nhhK5ITM0kHXul/uSPEzHccQ4hiGjDAi0lJJ
					+YhJQOA=
					</data>
				</dict>
				<dict>
					<key>digest</key>
					<data>
					jXnK3udV9e0QDavAhCL6+RyZKZAc+SUPloiC
					nHc+z4A=
					</data>
					<key>key</key>
					<data>
					4aVfNHwJPXa2hnBHst/F1pYlKjVma7oYLnv/
					NZKM7Q0=
					</data>
				</dict>
			</array>
			<key>recentlySeen</key>
			<false/>
			<key>validUntil</key>
			<date>2026-05-30T18:17:14Z</date>
		</dict>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					y7hpv2iUoeQ2IK2jUNVoIfaXXMABgxckB8fN
					5sNNzl4=
					</data>
					<key>key</key>
					<data>
					V94LmFL3avWMh0zYmqWlYqO2xMeAloWbAVJL
					frhIf0g=
					</data>
				</dict>
			</array>
			<key>recentlySeen</key>
			<true/>
			<key>validUntil</key>
			<date>2026-06-05T18:17:15Z</date>
		</dict>
	</array>
	<key>version</key>
	<integer>10</integer>
</dict>
</plist>
