<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alerts sent</key>
	<array/>
	<key>All requests</key>
	<array>
		<string>com.highpoint-tech.kext.HighPointRR</string>
		<string>com.highpoint-tech.kext.HighPointIOP</string>
		<string>com.softraid.driver.SoftRAID</string>
		<string>com.ftdi.vcp.dext</string>
		<string>com.kfu.AtmelICE</string>
	</array>
	<key>User requests</key>
	<array/>
</dict>
</plist>
