<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.theme.SquareBySquare</string>
	<key>CatalogVersion</key>
	<integer>20</integer>
	<key>CompileDate</key>
	<date>2016-12-08T19:13:35Z</date>
	<key>SquareBySquare.keywords</key>
	<array>
		<string></string>
	</array>
	<key>SquareBySquare.products</key>
	<array>
		<string>SquareHardcoverBook</string>
		<string>SquareMediumHardcoverBook</string>
		<string>SquareMediumSoftcoverBook</string>
	</array>
	<key>ThemeIdentifiers</key>
	<array>
		<string>SquareBySquare</string>
	</array>
</dict>
</plist>
