<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	M0WjPzOhTTMzGFeNMmE8UzIrxPwyPNzlMd7CojGSJ1QxcGTSMUwnqzDuRzswtlHQMKv2
	7TCUbPkwhLIlMIQk/DCkRYEwp36GMGgFMTA9hZgwNYBfMCuOhDAuABIwI3KYMByNZjAj
	CqwwQ3edMCiBVTATaycwDm0dMAMsKTAD9uQwIdQ8MDfh5jAUDnUwEPgXMA1YOC/q9G4v
	6LDbMBsKZDBt1/kwQjAWL9qF2S/FZ4gvyXRxL8mzHi/MuQMv5vR5L/Z4VS/TTyYvwN7n
	L9j8tC/xiusv7BI2L/IoSjATz8AwCyGcL8bQei+pwe0vq48xL6fonS+jftYvn+yfL52H
	Wi+dtDIvnj9qL6JwvS+hWU8vmPTuL5STAS+Z0xcvkjvnL5TkbC+TIskvl/0EL5nJ8S+O
	6gEvi0s5L5BJ6i+QgY4vjX4VL4g+Ey+KH+kvjbBuL49l/S+O9dYvkAo7L4+M1i+K61Mv
	i91WL4xFWC+Qz8kvjoVnL4sAiC+KBxYviLHBL4X0lC+E+sMvgnn0L4bLTi+Ek88vgTin
	L4WhJi+JjlsvhKecL36LpC93uysve4lkL4BgZS+D+y0vgSZzL4dgNy+Fs7Qvg8PxL4Ry
	FC+C8DYvgl/YL4LKdy+B420vgiYyL4Gmwy98CmovdPiaL317HC96kgAvfZ1JL4L23y98
	z3ovfd92L4FrQi94CIIvfagTL3l02S92aJsveIpeL301NC+CEtovfppcL4ASBC+DL3Yv
	hduFL4YDgy+FNF4vhZY8L4XcmS+F3CIvgJweL4VDsS+FmQEvitAJL4tpDi+NDjAvjelP
	L43YZy+S6IIvmWAtL5sQoC+bndUvnL/fL50ihi+jPFMvoo3ZL6Fzny+eOVsvmgEsL5tz
	ni+duXYvneaaL6ctei+jxCgvnvOBL52aGC+iPSMvnTuuL6D37y+ccV4vpoeWL63PPS+k
	5h8voAiOL6iKRC+oG04vo1Q2L6iiGi+tIv8vr4l/L7NZjC+vIcEvrlDAL7aUzy+6+7Iv
	t3G9L7xT8y+6Noovu0p0L7zF2C/GBfYvzCaNL8xbFC/YnBgv1YfgL9T0Bi/dCxUv4cTU
	L+sboS/vT+kv8dpUL/VCFi/8Ikov/lPPMACfwjAFL3cwCUS7MAnRTDALPxAwDRtlMBDq
	SzARnscwFeCgMBW6oDAbhwgwJVw7MCDaqTAcpSswJZIgMC0zeTAz5LgwOEtWMDkg/TA/
	s4IwVxIZMFeDczBaG0QwXlMTMFuPSjBeVVUwYxGaMGxR8TBpSmEwc2EpMHpa3jB5QhUw
	h463MIPPCjCCz1gwiPXAMI2xCDCP5tQwijqBMIaspzCHhJAwgSYDMHUDOjBl+MEwaN30
	MHH71TCFiqcwlzmSMKq7OjCUeSkwYmT4MEKC/zA5DGwwJXjnMBhPCzAZZZkwEF18MAYL
	oTAEka4v+YiSL+3u6S/j6H8v2guZL9QotC/Mgxsvv92/L7yo2S+5RT4vuPUhL68zoy+t
	lTcvrfPJL6O24y+jaIMvphJlL52Dyi+akB8vmVdYL47wiC+MWcwviVAOL4K56C982D0v
	d0rHL33YcS9zvHQvcmynL11T7y9Ul24vUMjbL0k9nC9FkXQvPCtsLza6PS8zgsIvMfJM
	LypxLC8nKUwvLzbCLyxuhC8sUHQvLbbtLysdwC8p2hgvKA9ULyVDRC8nMmovIcRrLxxB
	xy8f0MwvHSUiLxqyri8aQt4vG8IHLxh5hi8ViNAvFM+9LxawmS8U528vFo2aLxG/ci8W
	KwYvF8SuLxWPhC8UeUovFgtULxw4BC8gJ6ovHa0ILx43qy8llEcvJB4LLyZe6S8oBzcv
	L5gOLymr6C8l0pUvH/aHLx22xi8e+jMvIKRvLyB59C8fFQgvIetsLyKNbi8hFDkvIFhS
	LyNJGS8iNZgvG/OZLyFAkS8ewZwvIhWZLx+pkC8m8s0vJTWwLyE+Ny8gJUUvJ81+LyeW
	zC8qeDcvMkreLzALNi8tbKMvNRFSLzbXRi8zGlQvLh8iLy+AZi8tlckvLhw2Ly+snC81
	Iq4vMU9GLzbGYC9BqMYvQq/xL0J8Ni9BmiIvPycYL0UaYi9FLeAvRMgwL0geRC9MHx0v
	TayFL1JoTS9YPG8vV+uIL1fDcy9d4KovZhYTL2wfBS90DzAvdQt0L3gwwi9/H9Yvhd2l
	L4g+nS+SUkAvkZYaL5QUky+Vrn4vmA2mL571ii+fl8UvoBsnL52UdC+borgvlxwBL5gW
	Hi+SPAkvlHuAL5grMi+VZuUvlRq1L5UsDy+doBovpgEDL6I6YS+fUgYvpPLHL6MCmS+d
	qz4vmwV2L6AhCy+hPL0vpQAhL6ScKC+euP8voTKlL6jr5C+iTqEvoS4FL68Joy+zi48v
	tNjPL7qE5y/L618vy87KL9HviC/WQAUv6gHsL+ri7y/vHk4v6KteL+G33y/YQw0vyRj5
	L76eTi+r5E4vle6yL4acoS+BgvYvcjBYL17AIC9KGFYvOE+oLyFLRi8Hj9Eu7Z0rLsEd
	0i6mdfguhJLKLlvNji4nXTguAxUcLdRE1y25RX8tqo9BLZ8bGA==
	</data>
	<key>NoiseProfile1</key>
	<data>
	M17m8zO5kKQzNYUIMpLerTJn4fQyhsVbMhg5lzG2st4xjcPTMWn+0TD8V7swxFFRMLFj
	VDCWkb4wi9rGMIu4ADC9L4Awt8XQMGyw+jBGGaQwPQM2MDgjKTAzKgQwMaL/MDYcfzAy
	bAYwPE73MCZGIzAXw0EwE/qpMA1FczAESykwILv6MDuxpTAZufMwFZ60MBUeNzADjWAv
	9s7CMCJnlzBtMUEwRcu+L+nx8S/Q1HMvzdN/L9Gdty/WpyIv6PjVL9/fEC/SWJgv0vk7
	L97U2i/zhTkv7Do7L+2o2DALeMEwA4p6L83iLi+5x/wvsQ/jL69/SS+wPGgvrQarL7Em
	Hi+v3N4vtBkZL7QA6i+z9FQvrVwWL6gdni+rlqMvqw/ZL6yHMS+umfsvqx2YL6rmvS+x
	nr0vrTojL74I8C/Q9NIvxuehL8RAci+7WZovrmsSL68rhC+q7NgvsqjqL7t7LC+5SDAv
	urQTL7zpMy+4nS4vuB2kL75MOC/EXz8vx3UQL8l0dC/T94Qv4oLpL+W8Ki/fbcIv5wlI
	L+Sbpy/cSMUv00GPL9QBgC/bvzsv6qP4L+idSy/tWHkv9owUL/UaFi/5zPQv9cIbL/ld
	yi/5WQkv8dVxL/fppC/zoyAv9/gUMAO9uzAMttswAR+MMAIzzjACKi8wCFKNMAyeTjAX
	8NowHQVFMBexazAeJCgwIYXrMCabGDAnQ+EwKybkMDnfZzA7yvcwPEecMETMijBLTWgw
	V0zkMFy/tDBbiX8wZfniMGS0iTBt6j0wdxwSMHxEgjB9JGUweombMHscWjCEQcowiqqM
	MIv86zCLmcYwkBKRMJdnDjCSUacwhqX9MINMOjCOU/kwjilKMIVevzCA4v4wcdY4MGP3
	DDBgEIEwTmHhMDgwYDAlm/owHtWBMBbxEjAPneEwC7//MApp5DAKsVswBe+QL/5TBy/s
	TNMv4ho7L+BcDC/bn3kv2uawL9NNsi/RpjwvyxhNL8aRli/BwD4vtroFL7FJVi+tNpgv
	qCEHL51VES+UxsUvkv7+L5BBVS+Q/4cvju0eL41FeS+TZ/AvmUxxL5ANpS+Pk6Mvi+gx
	L49xTS+JU5gvihX2L4Lb2C+EcewvhgjXL4Aldi97wHUvfFs1L3zRUi9yJIcvazpQL2Us
	Ei9VV6MvWTKgL1WiBS9TYTkvUFr+L0zUcy9JQ4cvRLSwL0oBNi9F6v8vPrbwL0R4Jy9F
	euQvPQH5Lz1T9C86z9EvO7P+LzvVhS9BXeIvPHA5Lze6eC80vnYvNZ4PLzMkiy80hPov
	LxewLy4VHS8wTaYvN4p5Lzb1VC8yTkcvLsVSLyjXnS8oOK4vLiH0LyxJhy8uym8vL3Zw
	LzGsXS8ut18vPe7PL1I0sS9DDwsvKqzNLydHCi8jkEkvHG89Lx+/JS8ckp0vHfN7Lxxb
	jC8bSjkvGfZKLx14Ai8UrzAvGuwDLxvmfC8cWksvGJdgLxc0by8bAJAvIDuHLxzIxS8Y
	CxEvGYnCLxSVjS8Ut2QvEpYqLwzxkC8JwfAvD7mxLxJjxC8T/Y8vFjGkLxKEbC8Q1MMv
	DYaCLw5i6C8N4QkvEihbLxTFRS8OMz8vDsH3LxKrFC8QEEUvEltRLxEHli8RzlQvD95+
	LxABYS8THuYvFFVuLxKceS8SU+QvEvo2LxeQly8Z+uIvG3ydLxtWhC8cv50vEo1hLxJ8
	My8WZhgvHA8aLxqKHy8cD2IvHfh3LxpDFS8Zly4vHgKbLxzopS8eQd4vH6kLLyNfWy8e
	JvgvIcywLyRQ0y8m7KEvKQDMLy9POC8rkVwvPCZLL2wa/i9xJBgvTAtkL0PW0C86jkYv
	OjxMLzhr7C80YMQvLzfkLz5IiS8/PVovPIN7LzsFoS9ERF8vRb1SL0ZWXC9FadgvSoYm
	L1Cb9y9PsdEvUncWL1iG4C9Y/DkvXMoiL19rbS9frCgvZXm0L2ahCi9kPfcvZIgOL2iq
	ki9wN14vcM5dL3aCsi95+WMveb5qL3rZxC+Cy/ovgtwML4HaGC+HdJcviTTkL4tmQi+Q
	BfMvkuj4L5bEnS+XqoQvn51IL6ISrC+lfGcvrFSFL6+bDS+vlmMvsZQcL7myeS/CdkAv
	wVTvL8L7sS/GDFwvxlXPL8ZpbS/LEbYvy6vWL84KZy/OABsvzZc1L8uFmy/O8jEv2PXM
	L9j/Ji/YFVAv3b1cL+WGUy/sF0gv82ntL/WypC/9hiIwAXZfMAQjGTADVsswBICBMA1f
	sjAObZ4wF/emMCDUCTAiEkkwKb13MDA9IDAzJf8wOk0VMEHbhDBD8qcwTEtvMFH/IjBR
	fkEwVGE6MFZNgzBcWVEwZH+6MGcjTDBg8PcwXVaaMGAtxTBmh0owav5dMGpi7TB56hww
	gfwKMHtb8TB/5p0wgCbmMIDYkTB6Vh8wdZrSMH7FyTB6KQ4wcOz0MGhHRjBhtGMwWoMm
	MEx8BjA6B8EwKXh6MBy6njAFdrcv7zOrL9Leoi+yXd4vmKTuL3hZoC9VwB0vMcM1LwxW
	uy7fWxQurQG4LoSDAS5HZV4uFr86Lg1Jri4yw+kubXUALoUHzg==
	</data>
	<key>NoiseProfile2</key>
	<data>
	M4NFlTPXzJAzVJxfMpQKAjJTulsycbpqMgTBTDGzhx0xpEqKMY1QWjEPN4IwvRQqMKx/
	pTCaNrYwjdfMMImk9zCqO5owqantMGovUjBElBYwMgkZMCmZADAol74wMPDOMDDkZDAo
	wKUwJ3fcMA9LjTAHukEwDpQvMAGq6y/trk8wEmDYMCrwmDAKmCIwB4MbL/umOC/XJ8wv
	7b5XMCtCNzBrv+wwMZ6SL9FlPS+9qrsvxdi0L8Pq7y/H2Kwv5Je0L+hiVS/MSoUvykXi
	L+sTeDABWRAv81rTMADJLDAl08QwHMgZL8zw+i+hpAIvn76wL57Kty+ak3QvmhfVL5t8
	tS+btYgvnHCoL5zImy+VtBAvkV8ZL48Bhy+NhEEvkXOzL5DIXS+LvOQvkp7VL5KLwC+O
	ZfMvi7n3L4xl4y+Qk5kvjMuvL4m3xi+FhVgvhNRkL4Rtzy+FvWYviH92L4g4Ay+JGegv
	hiGFL4T6XS+GyncvhBwJL4kygS+KQn8vheUGL4pCdy+HnCEvius/L4eSsS+IFZMvjQja
	L4m0Si+HlPcvhR3tL4erEC+HNWovikJ0L4on6i+L3pgvjNi2L4snJi+KBEovj5gwL4jr
	1S+G1UgvgEjxL3nXkC98rXcvf22QL4KmdS+D+Q4vgH65L4KXDy+CntYvfAWiL4NOmy+A
	OHIvgE/oL4FCTi+FE4UveCQLL3dLzS97wfgvgnoZL4Qd2C+Hr50viJ1tL4g/Ky+CpKgv
	i0DBL4tLZC+JImsvi8K0L49Vmy+S6LIvj6snL40pAC+KnXQvirBFL5GheC+OZT0vkYpp
	L5bzti+UslwvllshL5buQi+X3Mkvl6dhL5f7AC+aTakvm8pNL6BBjy+l11Yvq9UuL7L/
	wS+5O9kvvCPfL7aOCC+4Cf4vsD4bL6mUYS+xUP8vtdE7L7gQai+zf0AvuI8mL8HinC/A
	OdUvxVUXL8n12i/EOB8vxDcWL8HXJy/Pb3Mv2x9EL9x27S/i5R8v30T3L+iOLS/mpU4v
	68Z5L/CsAi/xQfIv+JNdMABGVjAE6HMwBycKMASgFzAI2scwDE/PMBNG2TAZ9DkwIEiO
	MCnJkDArPHQwNQ+AMD+A1TBE52YwRuhbMEv70DBUkikwVQDyMFBgJTBGm4kwSk2bMEuG
	lTBLlfswTryyME8ZMDBUmmQwWHndMF3IcjBuEDkwbKYLMHOu3TB2EwIwcswSMHKekzBz
	++kwg8jlMIDGsDB1KV8wchRCMHYb+TBya/YwbXxGMGAi+jBS6ZAwS/xZMD8YVzA4V6kw
	QAcYMDZ57TAxr4swL9s3MCogKzAs9Q4wKEyWMB/CqjAcgacwFFACMAhykTACKi4v+yfD
	L/Vpli/xSiUv8VBEL/pCsy/etLgvuhwZL7BdKC+pFvQvn4JGL5scGC+XxwAvmk+AL55G
	MC+W/Rcvi36VL4g+hy+E6fAvdoG+L2pP7C9jnpMvV2H/L1NGJi9VQuovY1HZL1pLIi9L
	qlMvRii+L0qdRi9Ah4MvM10bLy/ZbS8vmvsvKxk9LyZdiy8dXh0vHrl4Lx206S8eULMv
	GrFTLxg6RC8Vr3ovGDv8LxX+NS8Sq+UvEa3gLw/B7y8Lo4kvBUz9Lwzz9i8OE+kvDVoK
	Lw0Xdy8NuUgvCA45LwjRSC8R/YkvFC/SLwqrYS8LnR8vDesMLwnbTi8O/YIvECznLw4f
	2y8I4iAvB3VDLwfKvC8FDWMvB72eLwDf2y7/U10vAG0jLv09Ki79YpwvAKimLwQzYy8J
	TMsvBapYLwM3Cy8ES5cvAx4NLwNTMi8Ilp0vCcNTLwfZxC8GsTkvCBVDLwY3dy8CPZIv
	BeEBLwjNQy8IM+svEGwqLxKMxy8SKr4vC4mFLxJLcy8UmpgvE9FwLxBDSi8TuccvFj4+
	LxlfLi8gR9AvH+12Lx+Wji8hg/4vImJULyVcoi8l2fwvJiMyLyZvai8a53EvGMInLyK5
	eS8hlTsvIPpgLyHwDy8eaVsvHgi6LyEyhy8mANMvKeCnLyc8OS8teOYvLpolLy3UHy80
	RQwvMp8JLy+rTy83D0YvQVDfL0EGXC82lQkvPvbtL0JqVy88OvcvRoUwL0RoiS9GK+4v
	Q02BLz+p3i9BjFQvSgX1L1FO5i9XIlgvXrlIL2a6bC9nZD0vZIgRL2xikS9s+Ksvd8o4
	L3yPTC9/AlovfJxqL33dKC94wkwvgGMxL4PeTS+Bq/kvhIpmL4vgTi+L1NUvjMrqL5Dq
	qi+Vw+wvm2a+L57Yhi+aXi8vnIyyL6Or/C+gGOAvnqzNL6PH3C+hEHUvpVhGL52rxy+f
	410vpUWeL6gRQi+jlpkvpOxsL6Vf1y+qWXgvrWJ+L7LdEC+6lMovvuX6L8KW6y/DGjUv
	v98aL8d/6y/COPgvvkEkL7/A9S+9Vwkvu5hqL7PDNS+siiEvrABRL6AMWS+e96wvlQgS
	L5Dl7C+JEmcvgQBRL2TqXi9SOxIvOAk3Ly0sZS8RJzou/A7xLtYKDy6xWpgulGKjLnus
	FS5HILwuF+75LfSCry21d1cti89eLVnlgS0x3M4tLrOkLSYPZQ==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
