<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleVirtIO</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleVirtIO</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleVirtIO</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>154.100.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>154.100.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleVirtIO9P</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIO9P</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00091af4</string>
		</dict>
		<key>AppleVirtIOBalloon</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOBalloon</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00051af4</string>
		</dict>
		<key>AppleVirtIOBlock</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOBlockStorageDevice</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00021af4</string>
		</dict>
		<key>AppleVirtIOConsole</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOConsole</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00031af4</string>
		</dict>
		<key>AppleVirtIOEntropy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOEntropy</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOUserClientClass</key>
			<string>AppleVirtIOEntropyUserClient</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00041af4</string>
		</dict>
		<key>AppleVirtIOInput</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOInput</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00121af4</string>
		</dict>
		<key>AppleVirtIOInputKeyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOInputKeyboard</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>AppleVirtIOInputType</key>
				<string>Keyboard</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleVirtIOInput</string>
		</dict>
		<key>AppleVirtIOInputMouse</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOInputMouse</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>AppleVirtIOInputType</key>
				<string>Mouse</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleVirtIOInput</string>
		</dict>
		<key>AppleVirtIOInputTrackpad</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOInputTrackpad</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>AppleVirtIOInputType</key>
				<string>Trackpad</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleVirtIOInput</string>
		</dict>
		<key>AppleVirtIONetwork</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIONetwork</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00011af4</string>
			<key>Product Name</key>
			<string>VirtIO Ethernet</string>
		</dict>
		<key>AppleVirtIOPCITransport</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOPCITransport</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00001af4&amp;0x0000FFFF</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AppleVirtIOSocket</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOSocket</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00131af4</string>
		</dict>
		<key>AppleVirtIOSound</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOSound</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOUserClientClass</key>
			<string>AppleVirtIOSoundUserClient</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x00191af4</string>
			<key>Product Name</key>
			<string>VirtIO Sound</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016-2020 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.5</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>11.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>2.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>15.5</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.5</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.5</string>
		<key>com.apple.kpi.mach</key>
		<string>15.5</string>
		<key>com.apple.kpi.private</key>
		<string>15.5</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
