<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	MiqrCjH345Aw7P+9MEFsTi/PxU8vlAXfL2d2qC810OAvGq6NLwPDDC7vME8u2CwtLrtV
	SS6qvAkuoXBqLpQuTC6K7+kug+fELn422S502XkuZ614LmMBLC5cWZkuS6ANLkXgdS5B
	7RguNzojLjUd5S4vEY0uKs2GLikgMi4k26ouIylULiK4YS4e1iwuHhjkLh7Nmi4bgbsu
	FJ4BLhRxDC4XrocuGLzJLhRsJC4TDQIuDn2qLg2pEy4O1MkuCfUtLgsJLy4MK1ouDOeg
	LgdgtS4FY2guB8o6LgZD3y4Hx8guB8zFLgafRy4FOHIuBa8ZLgNHyS3+6ist/jyTLfxf
	AC3/hAwt/gKBLfwy+S37+c8t/+lDLgDHqy4A7Gct+rYNLf4ZKy4A30ouAaOlLfzhgC36
	Jqkt82XfLfGnQC37+ZMt+5UALflImy4AOPcuAmiFLgCqbS3/VkQuAqKgLgFH6S4JrIgu
	DqOHLhMaNC4UI9cuGEhkLhK4my4JBtouDV80Lgy9ES4LVsEuD+PLLhprzy4jrakuB69R
	LgIWOC4EBg8uACxJLgEucy4A/+kt+BEqLfn/VC3+4wcuA3ADLgQxoS4DtdIuB4knLgQb
	+C4HKXQuAkJ+LgGLKS4EdE4uBDhcLgIzyi4CRzQuA7qPLgOXky4CPpouBDFGLgM74S4C
	9touA0hxLf4iZC304aIt+3kYLftyqS4BSeMuALrxLfzGvy3+M/ot+yavLf9lvi4BBmYt
	/hyyLf5Fdy39Ncct/5NKLgJLCy4AnsUt/x8nLgKKji4ApJEuAiFjLgIGAS4ApjwuAGKI
	LgFBOC3/ts4uAd+JLgMvzi4Dk6MuB6NhLgvMNS4Ie5UuDxwELgPTRS4D6uQuB8hQLgdv
	Py4MPaIuCgw+Lgum8y4OAbIuDGcNLgkt0y4IeJ4uB8V7LgTsOi4BdlAuA8RCLgGN4C4B
	MnouA5Z2LgJ+xS4B7kMuBS2pLgkDqy4G1Z4uBxH6LgVEFS4EkpYuArgyLgLcgC4FsjQu
	B70xLgXeYC4C9uwuADbfLgNCdC4Ea8EuB3QjLgRFfi4D+jkuBEm5LgVPdS4GKuYuAh3q
	LgOS6S4EwwMuBJn1LgRs5y4KyyAuDBZ3LgumxC4KFswuCVnNLgiFIy4LfnMuCw0xLgZb
	ai4G26YuCsulLga8Pi4OPlwuD8dALg/H5y4MEicuDqv2Lg+nBC4OqMguE1TqLhBkry4Q
	Q8cuFRWyLhb9ci4TnfsuEzkNLhFQ5C4RqUIuEkE0LhIPmC4SfhQuEtd2LhMEzS4YQUgu
	FGHdLhaCVS4WfZguF4IELhQ5Ki4XOpkuGOAzLhbKIC4Y33ouGdVzLhTwai4bWbEuHTl+
	Lh62ay4hNLEuIf86LiEiDC4kLhMuJlzTLiVViC4nsB4uK4QPLioRKy4ki+cuJWbkLijw
	ci4n4r0uKfnmLiqXuC4s1XYuLou/Li5BUy4wWWQuMA2gLjMA5C40VVcuNJSkLjgdLi43
	2DIuQAD8LkTmrC4/+zsuQQTWLkOVXy5FSBQuSKa5LkQORC5DCl4uSBgNLkoXxS5ISK8u
	R3DTLknzbC5TmMUuU6K3LqTuCy67RG8uY453Ll+6ky5bWW8uWeHALl04/S5h8QMuYFw8
	Ll3lBC5iH6QuYwn0LmgYqy5r44sudMl0LnElly5vyFUubXkVLmwrgC5vlpoueECcLoD8
	bi6BZYMuggPVLoBTCy6A0XAufszHLoFyWS6CQ00uhIr5LoWU+y6JvqQuiG6BLox8Ay6P
	+2oujsYlLpAZ6C6R2vQukaoVLpGUEC6Urtoul1HZLpZipC6T5PMumiCULpsiky6crk0u
	ntaNLqDNQC6kZvAupPGDLqPxKy6mNv0up43aLqmIby6rD18uqHAULqg+Ty6tQ74uq4Qj
	LqyqOi6yQVAusgFYLrSgky65pwYuuDGiLrtIjy6+TMEuvhBlLsY6CC7Dva4uxiM0Lscn
	3S7QwpQu1E4HLtQ4Uy7WYMcu0t7CLtCxii7RqGMu140SLtgskC7eJI4u31h2LuGVxi7k
	3Wsu4ZsxLuUbZy7rDTgu7fScLvGOUy7yXAku83CTLvW7Ui7yI+wu9qjPLvyZZC7+LIIv
	AecXLwFzfi8BmScvBNxkLweeuS8JsNEvC2iDLw0Xhi8Mi5kvDaQqLw/QDi8T0kwvE0ws
	LxTQIy8XblcvGvJeLxr4NC8dhuwvHiV1Lx+fgi8lJzQvJ9U4Ly6qxi8rPJgvLh83LzM7
	1y81x7EvNaxzLzTafy8zJ3gvNmMhLzgStS85tEovNdiwLz0Pxi8/eBMvPyvwL0LjHi9O
	Gt4vUDYWL06cWC9Q4vEvTse6L1RpYy9W3yUvXC1ML16zBC9hHEUvZe+GL2u7xS9uak8v
	dELkL3EXwi9xyBsvdc4DL3mhCy96ayUvfkmwL4EHRC+DnSAvgOMnL2ByuC8Yl8suiJpf
	Lbhcwyzh8pYsB4cxKzHriipujbgppXeXKOjlySgrjPwngB+EJsdmkiYhl6klj3c3JRFb
	uCS3S+4kkBxLJIJMqSR6EykkeNSxJHLtyiRqEkMkbYVuJG4jGQ==
	</data>
	<key>NoiseProfile1</key>
	<data>
	MiUF7THq/DMw027nMDEn4i/M5zMvlIZJL2R75C86iFYvIQiGLwPXDy7y2Zwu2zg3Lr9E
	bS6rqR4unZ+MLpZPPi6PEIQuhMMLLnuJNy5vVAQuY8R5Ll0zKi5XP5AuTriLLkju6y5B
	NRAuOQCHLjj8/i40ko8uLBmHLiggMi4l9S8uJVZELieQDC4jV48uIg4vLiQHuC4b0fMu
	GwxQLhR47S4XvF4uFItDLg/A8C4NqJIuDzVzLg5LUy4OTssuEIYsLgskLy4LdVUuEI7j
	Lgo4TS4G4TsuB7WcLgfFLS4MLu8uD7T/Lg18ny4QzlQuDyBbLgkT6C4Fk/YuBJX+LgVs
	7C4KjTQuCtMXLgNWzi3/cvQuAP9ZLgBBES4An4YuAM7bLf4lvi4ATSQt/MJXLgEZVC4A
	56YuAbzKLgA+ti4AFikuACt2Lf1jGy35Bfkt+FxvLfynWC36/eQt+y0vLfneJS33EyEt
	9K8KLfhcQy35P+ct83shLfocJS4ACJYt/p5LLfvPWC3+rxIt/g4ELfzCGy393b0t/m+2
	LgBE0C4BPKct/agyLf5E7S3+byct/QXCLf1FOy37QSIt+PXeLfXm3S34ijEt/GmQLf2K
	ji379M4t91B/LfnY9S3/aFst/UrOLgC73S3+MfIt/ejzLgC8fy4BkLwuAhADLgRhDS4F
	3HMuBmfHLgIKey39YRkt/LJfLfx6Zi4ASNguABTPLgAzUy4AESwt/nxJLfqoSS3+pl8u
	AR0ILf1ZfC37q7Et/fDqLgCBWi38jBMt++cGLffr4y38cXot/2ZALgJJ+C4DCkcuApDM
	LgDmvi4CNccuAtEyLgQsTy4FCf0uBBhsLgJMiy4Bss8uBqcxLgd0bC4DvmsuBPkNLgNO
	OC4DuNIuAgHqLf+jJC4D/AEuBerpLgaiCi4ClGouAUEKLgQcPi4DacMuAyuiLgSItS4H
	PbsuBJyjLgd45i4GJr8uBriBLgP2Ei4EcqEuBaMMLgYVii4CqLcuBTHsLgRNni4FCyMu
	BgktLgU2Gy4HNXsuBSDILgLwpC4DrwcuBVQCLgb7zS4K8skuCiM8Lgdpby4CbWAuBZcV
	Lgm4BS4HgkQuCr3pLgh9ki4JKhAuC7dGLgxF1S4L7O0uCqCnLgql7S4ItHAuCP7zLgbM
	BC4JeT8uDR7oLgs2Hy4InKcuCg5ELg0BxS4OCUouC+43Lg8Yoy4S6TAuDyr1Lg6p7S4R
	8nEuEomHLhKuri4Q5mkuEfZOLhIMSy4QAQ0uEIOmLhF2mS4TQ0MuEk4lLg+ENS4QZ3Iu
	ESsrLhJfaS4Wa6UuGC9ZLhn7qS4aOccuG3kMLh1ndy4dV5IuHbiKLh79cS4amHUuHMAS
	LiA5TS4fcVsuJiBdLiBfVS4i6WkuIxEoLiKc7i4hXy4uJqguLipkBC4nRjsuJpwuLih/
	wS4sq3IuLxF7LittJy4nPLUuLHfKLjJXfS4wyoguLN48LjLGfy44yLAuN54hLjZttC46
	KYouQSmDLj+SeC47ZpUuQTf3LkRKqC5Ff7wuQnjgLkLK8y4/6FkuQg3iLk3CYy5LjeIu
	SQ7jLk6MRy5RJcUuT3krLnNu4S6BjZwuZp+xLmUdky5bt+0uXKbkLlyFOC5f6/0uYdiB
	LmMsri5pUF8uYIgLLmWA2C5l8qMuaLkkLm2lQi5pEWsub65wLnNb1S518pUuc1zmLnoj
	iC55DL8udmDoLncaiS6AHKUugGnlLoCmiS6D4MEuguTULoN65i6FbGkuhUPYLoQloy6G
	ucMuiR6RLo3FGC6OBLkujrsULpIlSC6UhBUuqx2iLxRspi8/S4ku/haHLqtIIy6fXf8u
	oJYILqI36i6g9tounpYuLqF78C6j9wUupCC0Lqi7Hy6xgpYusl0WLrA2uC6uK+8urEYB
	LrBeyC6xr9sutujyLrprwy62Au8uuJZfLrmnqC66+1UuuZPILr1zJC7C2m8uwmeNLsjZ
	SC7KUbouySF9Ls5f8S7M+yAuzexILtJ8aC7WBw0u1FRVLtZdPi7dRlIu4DVyLt41mi7e
	3a0u5WruLuOc9i7mjecu7YqyLut67S7ta4Yu87r6LvKygC79/VAu/RtOLwC5Ci8EYrAv
	BY4NLwbmHS8C47MvB2UzLwueXi8JoD0vDZhuLxCOlC8VGX8vFhX2LxTGEC8UvGsvFTPS
	LxiJ7y8dUJMvHU4YLx4OKi8ia0AvJGIfLyWjaS8k0OYvKG3wLypJTy8rUWEvLzGsLzXB
	8S8wwVAvNzq5LzeChy83uXAvO9UWL0IG5y9EnCgvPlkPL0WaeS9IIwEvSR4lL0yyny9N
	168vVMm+L1Mp5C9YmNgvW0WPL17oCC9iYPMvYImgL2ivri9sahsvcLVCL3QTXS96a8kv
	flIsL36Y9y+AnAkvgxBbL4SZdy+IsI0viNbOL4pKxC+LLCovhe2RL2v6rS8eQ00ujZSB
	Lb9iyCzvCnssE8uBKzr7aip98zMpsONrKPcTVyg3jy0niaWsJtKS4CYnWyQllf8GJRZ6
	IyTClTAkmKE4JIRvzCR46FYkdOslJHCpIiRutYYkbwYZJG1nHQ==
	</data>
	<key>NoiseProfile2</key>
	<data>
	MiMYajHpagEw0LfPMC+96i/FA74vjytwL1xq2C8zsLwvFiV2LwINui7m5kku0cziLroV
	Ii6s/9QuneKOLpQvpi6JXpYuf8x+LnO7IS5scyMuZhPKLl27fi5ORocuRZYNLjyWmC47
	DcYuNtmMLjOF6S4sQE8uI7rtLiJeSy4lAD0uHJy3Lhw9Zy4cUGguFxr/Lh2gpy4bkx8u
	EfV6Lg9Uri4PSjUuDu1RLgxlvS4KQ4EuBzf+LgcSay4JeNEuA+65LgUVBi4HSuYuBVfl
	LgQ02C4DkcouAHreLgSoGC4DvHAuA9nmLgW3Hy4JnUIuA6haLf4bki4BWPQuACmJLf5o
	/y3/mhAuAyelLf0cxC33JCot8pttLfHGfS37+KAt/BGoLf9GUi4Azh8t9b1KLfGhoi34
	2hct93RcLfRoiS30mzst7vMZLe713S3wPvUt7sNSLfCgQC3puiMt76pSLfNbFy3267ot
	9OcZLfDSwy3vY6Ut8o66LfWSkC35C8ot+xdyLfpBmi38mMQt/aeuLgFHNC4CP4It81H/
	LfO1jy36/5Mt/5k7Le5ani3wKFst9claLfTtlS3zu8kt+egLLfimuS360sct+C0ELfeo
	KS3wCIMt9SGyLfP8Qy3xBegt7Q21LfF4cS30034t7jALLfgdJi38JcQt+E9MLft3SC39
	+pYuAX1TLffO7i36J54t95IBLfyoYi3+dWwt/0u8Lfw+ES34xT0t/Dr+LfdvGy370FMt
	/eN+Lf2pyi35meAt9/n8Lf87VC39jG0t/N5/Lfz0yy34qG8t/jS/LgIGCS4DsSQuAAnB
	LfsBcC4At0Et/xOrLgWXGy4HZ+0uC4LZLgikIC4Aps8uAE1ELfp4ty32iT8t+wp1Lf7P
	By4A15QuAkPfLgPHXS4HMgUuBj3vLgVW6y4Fje0uAXmHLgGrlS4DxwUuBDwULgQYYy4H
	/ScuBcbhLgDaqi4Cx9ouANfDLgB0/i38sy4uAI1BLgG4yy4Cx2suAt7mLgIvFy4AP4Yt
	/wRqLgKEKy4BW1guAcaKLgMkxi4CIo0uAWgKLgEaoi4E8cIuAqMgLgERni4CemsuAafQ
	LgH5LC4ECLAuBkWkLgiaAC4Hg+UuCJq4LgjBYy4MQjcuCCYjLgUJjC4HlyYuBIOJLgYT
	1i4GMgwuBpMNLgYfxC4F90IuByHkLgY/aS4HqIQuCtm6LgirdC4LuaQuDNgnLg0DOS4K
	SLouDw2uLg65Gi4RWJYuD7cZLg9ASi4QdYcuD9fQLhG2Dy4Q35kuEfMcLhIq4i4UYLIu
	Fl2wLhhCRS4ThJYuFiSPLhb0Ui4TA9YuFkW0Lhh+7i4WJ9guGU2bLhqJLi4ZoAEuGttT
	Lh0cHi4YU+EuGVD0LhvM3y4a7BIuGww0Lhn42S4dOFQuIgo6LiCE0C4f3LUuIRfELiIP
	xi4lqkguJl3ALiVn8S4jIwIuJm2DLinmoS4u7BEuLb7WLiphiC4rBc4uMioHLjQTUS41
	1m0uNvxHLjaveS46MvMuOvUmLjtT8C49zREuOx+pLkDcfy5BO6QuQPPKLkCzAi5A0b4u
	RCFbLkL2JC5Jvo8uSm2ZLpU1/C6oAREuWOjQLllUTy5TI+YuVHK4LlWkyi5YS28uW6Zp
	Llicoi5cuFcuX7IpLl5lBy5fh2ouXuo9LmM14C5oUlMuaxqMLmhsly5pO6wucKY9Lnij
	ni53wekueyN5Ln1TFy59pbQugAUvLoCwOC6BhLEug42+LoZs+i6E3TUuh/JqLoe1li6G
	5j0uiiReLoybJy6IlykujZDsLpEp4S6QIO8ujsfNLpJPAC6R8T0uldeYLpS4MS6ZZcUu
	m7KWLp0oCS6dLPQulx7lLpyIsC6hbBIuoGxcLqTXkC6kDn4upjIKLqRTwC6pz8Auq3Xu
	Lqf/SC6sK4AusbtRLrJzWy6yGJ4uu01RLriIyS61O10utVO4LrvsLi6/BXQuv8K+LsDH
	ri7HjfcuzUY2LsxYFC7MaYcuzqMULsxYAC7OapIu1MLSLtb/AC7XcXcu2FosLtcrSi7b
	Mucu1+GJLte9SS7dVCQu3T4VLuMgqS7prZYu72UwLvDyQy7zSPku+SbzLvAtnC75qNgu
	/2uMLwDVeC79W7QvBIMSLwOTby8CgeovB6UpLwymey8PXAkvCyorLww+Fi8Md/svD9YI
	LxFNDC8R1ykvFCFULxRs9C8WNXovGrS8LxrcqS8co+0vI9C5LyPuYS8muUMvKhFkLy0G
	Yi8tr/4vLJ7tLy6ljC8zOWQvN6XPLzcVvC85gpovOnoPLz2RWi9CMn4vQbh+L0SiNi9O
	HyMvTd72L05h8y9SgQsvVvWsL1i0zy9T9KEvWjFyL1oWyy9erFUvZnI2L2zmLS90e/8v
	dtTIL3ejvS94T28vemSQL3utxy980NMvgLv+L4I3WC+FNKYvhKqVL20efi8cYhQui836
	LcJCNizkK2MsDtsVKzcqzipw/VcpqjiwKO/BiSgwnz8nhC9tJtQpziY1fwAln9OTJRUq
	8yS9a1Mkkk0fJIJrnSR5hWUkdQsYJG2SYCRskzMkbjBNJG/lZQ==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
