<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientIdentifier</key>
	<data>
	AZgBp69rFQ==
	</data>
	<key>IPAddress</key>
	<string>172.16.0.217</string>
	<key>LeaseLength</key>
	<integer>1800</integer>
	<key>LeaseStartDate</key>
	<date>2026-05-26T12:32:59Z</date>
	<key>PacketData</key>
	<data>
	AgEGANfAyIYAAAAArBAA2awQANmsEAABAAAAAJgBp69rFQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABjglNjNQEFNgSsEAABMwQAAAcI
	OgQAAAMcOwQAAAW/HASsEAH/DxxicmlnaHRzdGFyLTI2NDEtY2FsdW1ldC5hcnBhBggB
	AQEBCAgICAMErBAAAQEE///+AP4CDQb/
	</data>
	<key>RouterHardwareAddress</key>
	<data>
	VPCxyduE
	</data>
	<key>RouterIPAddress</key>
	<string>172.16.0.1</string>
	<key>SSID</key>
	<string>BrightStart Guest</string>
</dict>
</plist>
