<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A58501</key>
	<string>kHW_ATIrv351ProItem</string>
	<key>A58504</key>
	<string>kHW_ATIrv351leItem</string>
	<key>ATY,264LT-G</key>
	<string>kHW_ATIRageLTProItem</string>
	<key>ATY,264LTPro</key>
	<string>kHW_ATIRageLTProItem</string>
	<key>ATY,264LTProA</key>
	<string>kHW_ATIRageLTProItem</string>
	<key>ATY,CrownParent</key>
	<string>kHW_ATIRadeonMobility7500Item</string>
	<key>ATY,M12</key>
	<string>kHW_ATIrv360M12Item</string>
	<key>ATY,R200</key>
	<string>kHW_ATIr200Item</string>
	<key>ATY,R300</key>
	<string>kHW_ATIr300Item</string>
	<key>ATY,R350</key>
	<string>kHW_ATIr350Item</string>
	<key>ATY,R360</key>
	<string>kHW_ATIr360Item</string>
	<key>ATY,R420</key>
	<string>kHW_ATIr420Item</string>
	<key>ATY,R481</key>
	<string>kHW_ATIr481Item</string>
	<key>ATY,RV100</key>
	<string>kHW_ATIrv100Item</string>
	<key>ATY,RV200</key>
	<string>kHW_ATIrv200Item</string>
	<key>ATY,RV250</key>
	<string>kHW_ATIrv250Item</string>
	<key>ATY,RV280</key>
	<string>kHW_ATIrv280Item</string>
	<key>ATY,RV280M9</key>
	<string>kHW_ATIRadeonMobility9000Item</string>
	<key>ATY,RV280M9+</key>
	<string>kHW_ATIrv280M9PlusItem</string>
	<key>ATY,RV350</key>
	<string>kHW_ATIrv350Item</string>
	<key>ATY,RV350M10</key>
	<string>kHW_ATIrv350M10Item</string>
	<key>ATY,RV351</key>
	<string>kHW_ATIrv351Item</string>
	<key>ATY,RV360</key>
	<string>kHW_ATIrv360Item</string>
	<key>ATY,RV360M11</key>
	<string>kHW_ATIrv360M11Item</string>
	<key>ATY,RV370</key>
	<string>kHW_ATIrv370Item</string>
	<key>ATY,RV380</key>
	<string>kHW_ATIrv380Item</string>
	<key>ATY,RadeonX1300</key>
	<string>kHW_ATIrv515Item</string>
	<key>ATY,RadeonX1600</key>
	<string>kHW_ATIr520Item</string>
	<key>ATY,RadeonX1900</key>
	<string>kHW_ATIr580Item</string>
	<key>ATY,Rage128P2ks</key>
	<string>kHW_ATIRage128UltraItem</string>
	<key>ATY,Rage128Pd</key>
	<string>kHW_ATIRage128ProItem</string>
	<key>ATY,Rage128Pk</key>
	<string>kHW_ATIRage128ProItem</string>
	<key>ATY,Rage128Ps</key>
	<string>kHW_ATIRage128ProItem</string>
	<key>ATY,Rage128Psd</key>
	<string>kHW_ATIRage128ProItem</string>
	<key>ATY,Rage128k</key>
	<string>kHW_ATIRage128VRItem</string>
	<key>ATY,Rage128s</key>
	<string>kHW_ATIRage128Item</string>
	<key>ATY,Rage128y</key>
	<string>kHW_ATI3DRage128GLItem</string>
	<key>ATY,Rage6ag</key>
	<string>kHW_ATIRadeonItem</string>
	<key>ATY,Rage6as</key>
	<string>kHW_ATIRadeonItem</string>
	<key>ATY,Rage6p</key>
	<string>kHW_ATIRadeonItem</string>
	<key>ATY,RageIIC_C</key>
	<string>kHW_ATIRageIIcItem</string>
	<key>ATY,RageM3p1</key>
	<string>kHW_ATIRageMobility128Item</string>
	<key>ATY,RageM3p12A</key>
	<string>kHW_ATIRageMobility128Item</string>
	<key>ATY,RageM3p29s</key>
	<string>kHW_ATIRageMobility128Item</string>
	<key>ATY,RageM3p54A</key>
	<string>kHW_ATIRageMobility128Item</string>
	<key>ATY,RageM3pA</key>
	<string>kHW_ATIRageMobility128Item</string>
	<key>ATY,RageM6</key>
	<string>kHW_ATIRadeonMobilityItem</string>
	<key>ATY,RageM7</key>
	<string>kHW_ATIRadeonMobility7500Item</string>
	<key>ATY,RageM_Lp</key>
	<string>kHW_ATIRageMobilityItem</string>
	<key>ATY,RagePro_C</key>
	<string>kHW_ATIRageProItem</string>
	<key>ATY,Stone_A</key>
	<string>kHW_ATIRadeonMobilityItem</string>
	<key>DDR GeForce2 MX</key>
	<string>kHW_NVidiaGeForce2MXItem</string>
	<key>GMA 900</key>
	<string>kHW_IntelGMA900Item</string>
	<key>GMA 950</key>
	<string>kHW_IntelGMA950Item</string>
	<key>GeForce 6600</key>
	<string>kHW_NVidiaGeForce6600Item</string>
	<key>GeForce 6600LE</key>
	<string>kHW_NVidiaGeForce6600LEItem</string>
	<key>GeForce 6800 GT</key>
	<string>kHW_NVidiaGeForce6800GTItem</string>
	<key>GeForce 6800 Ultra</key>
	<string>kHW_NVidiaGeForce6800UltraDDLItem</string>
	<key>GeForce 7800GT</key>
	<string>kHW_NVidiaGeForce7800GTItem</string>
	<key>GeForce2 MX</key>
	<string>kHW_NVidiaGeForce2MXItem</string>
	<key>GeForce2 TwinView</key>
	<string>kHW_NVidiaTwinViewItem</string>
	<key>GeForce3 Ti</key>
	<string>kHW_NVidiaGeForce3Item</string>
	<key>GeForce4 420 Go</key>
	<string>kHW_NVidiaGeForce4Go64MBItem</string>
	<key>GeForce4 MX</key>
	<string>kHW_NVidiaGeForce4MXItem</string>
	<key>GeForce4 Ti 4600</key>
	<string>kHW_NVidiaGeForce4TiItem</string>
	<key>GeForceFX 5200</key>
	<string>kHW_NVidiaGeForceFX5200Item</string>
	<key>GeForceFX Go 5200 32MB</key>
	<string>kHW_NVidiaGeForce4GoFX5200Item</string>
	<key>NVDA,NVParent</key>
	<string>kHW_NVidiaGeForce4420GoItem</string>
	<key>NVIDIA GeForce 7300 GT</key>
	<string>kHW_NVidiaGeForce7300GTItem</string>
	<key>NVIDIA Quadro FX 4500</key>
	<string>kHW_NVidiaQuadroFX4500Item</string>
	<key>Quadro FX 4500</key>
	<string>kHW_NVidiaQuadroFX4500Item</string>
</dict>
</plist>
