<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
    <options customize="never" rootVolumeOnly="true" visibleOnlyForPredicate="true" hostArchitectures="i386,x86_64"/>
    <title>SU_TITLE</title>
    <script/>
    <volume-check script="VolumeCheck()"/>
    <installation-check script="InstallationCheck()"/>
    <tags>
        <tag>VOICEID:com.apple.speech.synthesis.voice.markus.premium_6</tag>
        <tag>VOICEID:com.apple.speech.synthesis.voice.markus.compact_6</tag>
    </tags>
    <script>
function InstallationCheck(prefix) {
	if (system.compareVersions(system.version.ProductVersion, '10.12') &lt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_0', '10.12');
		my.result.type = 'Fatal';
		return false;
	}
	my.result.message = system.localizedString('ERROR_1');
	if (!BundleCheck0("/")) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function BundleCheck0(prefix) {
	var bundle = system.files.bundleAtPath(prefix + './System/Library/Speech/Voices/Markus.SpeechVoice');
	if (!bundle) {
		return true;
	}
	var bundleKeyValue = bundle['CFBundleShortVersionString'];
	if (!bundleKeyValue) {
		return true;
	}
	if (system.compareVersions(bundleKeyValue, '6.0.2') &gt;= 0) {
		return false;
	}
	return true;
}
function VolumeCheck(prefix) {
	if (system.env.OS_INSTALL == 1) return true;
	var myTargetSystemVersion = (my.target.systemVersion || system.files.plistAtPath(my.target.mountpoint + "/System/Library/CoreServices/SystemVersion.plist"));
	if (!myTargetSystemVersion || system.compareVersions(myTargetSystemVersion.ProductVersion, '10.12') &lt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_0', '10.12');
		my.result.type = 'Fatal';
		return false;
	}
	my.result.message = system.localizedString('ERROR_2');
	if (!BundleCheck0(my.target.mountpoint)) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
</script>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" title="SU_TITLE" versStr="SU_VERS" description="SU_DESCRIPTION" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="MultiLingualVoice_de_DE_markus" start_selected="true" visible="BundleCheck0('/')">
        <pkg-ref id="MultiLingualVoice_de_DE_markus" auth="Root" packageIdentifier="com.apple.pkg.MultiLingualVoice_de_DE_markus">MultiLingualVoice_de_DE_markus.pkg</pkg-ref>
    </choice>
    <localization>
        <strings language="English">"SU_TITLE" = "Voice Update - Markus";
"SU_TITLE_ALT" = "";
"SU_VERS" = "6.0.2";
"SU_VERS_ALT" = "";
"SU_SERVERCOMMENT" = "For Desktop and Server systems";
"SU_DESCRIPTION" = '&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;style type="text/css"&gt;
	body {font: 11.0px Lucida Grande;}
    p {margin: 0.0px 0.0px 0.0px 0.0px;}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
';
"SU_DESCRIPTION_ALT" = '';
</strings>
    </localization>
    <pkg-ref id="MultiLingualVoice_de_DE_markus" installKBytes="100408" version="3.0.0.0.1.1474061895"/>
</installer-gui-script>