<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CVCategoryData</key>
	<dict>
		<key>CVSkipNullGlyphs</key>
		<true/>
		<key>Data</key>
		<string>0x1A20-0x1A89,0x1AA0-0x1AAD,0x1A90-0x1A99</string>
	</dict>
</dict>
</plist>
