<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CVCategoryData</key>
	<dict>
		<key>Data</key>
		<string>0x1980-0x19AB,0x19C1-0x19C7,0x19B0-0x19C0,0x19C8,0x19C9,0x19DE,0x19DF,0x19D0-0x19DA</string>
	</dict>
</dict>
</plist>
