<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CVCategoryData</key>
	<dict>
		<key>Data</key>
		<string>0xFF71-0xFF9C,0xFF66,0xFF9D,0xFF67-0xFF6B,0xFF6F,0xFF6C-0xFF6E,0xFF65,0xFF70,0xFF9E,0xFF9F,0xFF61,0xFF64,0xFF62,0xFF63,0xFF63,0xFFE8-0xFFEE</string>
	</dict>
</dict>
</plist>
