<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CVCategoryData</key>
	<dict>
		<key>Data</key>
		<string>0xABC0-0xABED,0xABF0-0xABF9,0xAAE0-0xAAF6</string>
	</dict>
</dict>
</plist>
