#
# File System Name Servers Master File
#
# This file instructs CVFS port mappers where to go to find the names of
# file systems available in the storage area network. The bandwidth required
# to access file system names is extremely low, so it is not necessary
# to place name servers on high end equipment. It is, however important
# that name servers are highly available and reliable. This reduces the
# possibility that a CVFS client will be unable to engage a file system
# because it cannot find its server location in the network.
#
# Name information is be actively replicated to all the listed name servers. 
# In the event that the primary server is down, the other servers have
# enough information to resolve the request.
#
# Syntax:
#
# <primary_host>
# [<secondary_host #1>]
# [<secondary_host #2>]
# [...]
# [<secondary_host #n>]
# 
#
# Where <host> is a host name or IP number to contact to get the list
# of CVFS file systems in the SAN.
#
# The first host is the PRIMARY name server. Any subsequent hosts are
# secondary name servers. The list will be accessed in the order they
# are listed.
#
# Comments must be preceded by a pound sign (#), as depicted in this file.
#

#
# Primary FS Name Sserver is rock
#
rock

#
# Secondary FS Name Server #1 is crag
#
crag

#
# Secondary FS Name Server #2 is arete
#
arete

