# 
# File System Port Restriction File
# 
# The fsports file provides a way to constrain the TCP and UDP
# ports used by the SNFS server processes.  This is usually only
# necessary when the SNFS control network configuration must pass
# through a firewall.  Use of the fsports file permits firewall
# 'pin-holing' for improved security.  If no fsports file is used
# then port assignment is operating system dependent.
# 
# If an fsports file exists in the SNFS 'config' directory it
# restricts the TCP and UDP port bindings to the user specified
# window.  The format of the fsports file consists of two lines.
# Comments starting with pound-sign (#) in column one are skipped.
# 
# MinPort <value> 
# MaxPort <value>
# 
# where <value> is a number.  The MinPort to MaxPort values define
# a range of ports that the SNFS server processes can use. Be careful
# to choose port range values that are appropriate for your operating
# system. The Internet Assigned Numbers Authority (IANA) suggests
# dynamic port range values from 49152 through 65535. See the fsports
# man page for more detailed information.
#
# Example:
# 
# Restrict SNFS server processes to port range 52,000 to 52,100:
# 
# MinPort 52000
# MaxPort 52100
# 
