{
    "filter_list": [
	{
	    "ip_address": "12::",
	    "netmask_length": 64
	},
	{
	    "ip_address": "192.168.200.0",
	    "netmask_length": 24
	},
	{
	    "ip_address": "192.168.201.1"
	},
	{
	    "ip_address": "192.168.202.0",
	    "netmask_length": 24
	},
	{
	    "interface_name": "em1"
	},
	{
	    "interface_name": "eth0:"
	}
    ]
}
