<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cache</key>
	<array>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					bGiJla18iO/L+CU2tqRFJbsZnxfZd4+PiubV
					88BhV50=
					</data>
					<key>key</key>
					<data>
					xOb6EOxw+tdrIzUnK4ca5jmGKlpd1dshS88t
					JZjxzXk=
					</data>
				</dict>
			</array>
			<key>servers</key>
			<array/>
			<key>validUntil</key>
			<date>2026-05-27T00:45:29Z</date>
		</dict>
	</array>
	<key>dnsResults</key>
	<array>
		<dict>
			<key>favoredServerRanges</key>
			<array/>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					xAUEHvTZCFJM1TT04gyiKf5Qge2tm1BAbHV3
					JALj70s=
					</data>
					<key>key</key>
					<data>
					Ih2UCm6sKHAqTzCMszkmVYkvknU2kJhYXH5Z
					tVnZ8HE=
					</data>
				</dict>
			</array>
			<key>publicAddressRanges</key>
			<array/>
			<key>validUntil</key>
			<date>2026-05-27T00:45:29Z</date>
		</dict>
	</array>
	<key>serversRecentlySeen</key>
	<array>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					zK3TdGzuTHf3v9WRo5guS1iFXcJP3iFyWCWE
					+lOxT8U=
					</data>
					<key>key</key>
					<data>
					jqRs55LM4PqGyHrkPbDp2F4sX+C3zbUQjLlT
					VSms4Tk=
					</data>
				</dict>
				<dict>
					<key>digest</key>
					<data>
					cFy5FV/AwD1KUlWBbWOTOa2fEVgaZd6V86F3
					0W3pgzI=
					</data>
					<key>key</key>
					<data>
					Z2dpEUq9+kDQ8tm5ZtAkOlj/WvfF/mov9kd4
					iTuIZzc=
					</data>
				</dict>
				<dict>
					<key>digest</key>
					<data>
					O3mzxuTN0erYCbsPn/8oOXLxOm2C7vOmGyZc
					Ufmc1yA=
					</data>
					<key>key</key>
					<data>
					IVU/zUHdyQqSWUwLyYFYF1Z+xr0lIQ41J80I
					6soZRNg=
					</data>
				</dict>
			</array>
			<key>recentlySeen</key>
			<false/>
			<key>validUntil</key>
			<date>2026-05-27T00:45:29Z</date>
		</dict>
		<dict>
			<key>networkIdentifiers</key>
			<array>
				<dict>
					<key>digest</key>
					<data>
					pUpOLEZ6bXy9C6SyUAb7+8LtVRtOf6tJYUu5
					/bOVLvI=
					</data>
					<key>key</key>
					<data>
					iX6jHBcwTgEkHuFriCmdaMFAqSRHudrvWh8J
					EJlsXtI=
					</data>
				</dict>
			</array>
			<key>recentlySeen</key>
			<false/>
			<key>validUntil</key>
			<date>2026-05-27T00:45:29Z</date>
		</dict>
	</array>
	<key>version</key>
	<integer>10</integer>
</dict>
</plist>
