<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>Slack</string>
    <key>CFBundleExecutable</key>
    <string>Slack</string>
    <key>CFBundleIconFile</key>
    <string>electron.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.tinyspeck.slackmacgap</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Slack</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>4.50.128</string>
    <key>CFBundleVersion</key>
    <string>450000128</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTSDKBuild</key>
    <string>24F74</string>
    <key>DTSDKName</key>
    <string>macosx15.5</string>
    <key>DTXcode</key>
    <string>1640</string>
    <key>DTXcodeBuild</key>
    <string>16F6</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.business</string>
    <key>LSEnvironment</key>
    <dict>
      <key>MallocNanoZone</key>
      <string>0</string>
    </dict>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSAudioCaptureUsageDescription</key>
    <string>This app needs access to audio capture</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app needs access to Bluetooth</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app needs access to Bluetooth</string>
    <key>NSCameraUsageDescription</key>
    <string>This app requires camera access to make video calls from your Slack workspaces.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires microphone access to make video calls from your Slack workspaces.</string>
    <key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
    <false/>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSQuitAlwaysKeepsWindows</key>
    <false/>
    <key>NSRequiresAquaSystemAppearance</key>
    <false/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>ElectronTeamID</key>
    <string>BQR82RBBHL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>slacktoken</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>slack-key.icns</string>
        <key>CFBundleTypeName</key>
        <string>Slack token</string>
        <key>CFBundleTypeRole</key>
        <string>Shell</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>slack</string>
    </array>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.tinyspeck.chatlyio.view-canvas</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Slack</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>slack</string>
        </array>
      </dict>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>©2026 Slack Technologies LLC, a Salesforce company. All rights reserved.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>This app saves downloaded files to your Downloads folder.</string>
    <key>ElectronAsarIntegrity</key>
    <dict>
      <key>Resources/app-arm64.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>a5a9c898d048c9621144a0353935009cbbcb84a95cd0b322a0eb69d68eb9159a</string>
      </dict>
      <key>Resources/app-x64.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>5933659064b995974df6be96cac2cd3f9c252da88118c50e51a6abf4cf0dce55</string>
      </dict>
      <key>Resources/app.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>848d703b3d5a8129d9c7b8fa9249df60593fe9ff7ffef0617a61ec6aa9b9d47b</string>
      </dict>
    </dict>
  </dict>
</plist>