<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>0944FC70-06E7-4A19-8BBD-6A4C1C11DBEC</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
