<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.Picture-Calendar_Preview</string>
	<key>catalogVersion</key>
	<integer>9</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:35:22Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>Picture-Calendar_B17140F4-4A12-4909-9BA2-2F71422853F6</string>
		<string>Picture-Calendar_E221682B-9233-4B9E-9438-5F77D0897A95</string>
		<string>Picture-Calendar_088236D8-E4A1-4C1F-A26A-F4D20B18CAFF</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
