<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<installer-gui-script minSpecVersion="1">
    <options customize="never" hostArchitectures="i386,x86_64,arm64e" visibleOnlyForPredicate="true"/>
    <title>SU_TITLE</title>
    <script/>
    <tags>
        <tag>IAL:11.0</tag>
    </tags>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="OSX_11_0_IncompatibleAppList" start_selected="true" versStr="SU_VERS" description="SU_DESCRIPTION" title="Compatibility Update for 11.0" visible="Script0(my.target.mountpoint)">
        <pkg-ref id="com.apple.pkg.IncompatibleAppList.11_0.16U2116" auth="Root" packageIdentifier="com.apple.pkg.IncompatibleAppList.11_0.16U2116">OSX_11_0_IncompatibleAppList.pkg</pkg-ref>
    </choice>
    <script>
function Script0(prefix) {
	if (!my.target.receiptForIdentifier('com.apple.pkg.IncompatibleAppList.11_0.16U2116')) {
		return true;
	}
	return false;
}
</script>
    <localization>
        <strings language="English">"SU_TITLE" = "Compatibility Update for 11.0";
"SU_VERS" = "1.0";
"SU_SERVERCOMMENT" = "For Desktop and Server systems";
"SU_DESCRIPTION" = '&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;style type="text/css"&gt;
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 11.0px Lucida Grande;}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p class="p1"&gt;This update is used by the OS X Install Assistant, and will not appear to the Software Update client.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
';
</strings>
    </localization>
    <pkg-ref id="com.apple.pkg.IncompatibleAppList.11_0.16U2116" installKBytes="1866" version="1.0.0.0.1.1614910444"/>
</installer-gui-script>