<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.SquareBySquare_Preview</string>
	<key>bundleIdentifier</key>
	<string>com.apple.printproducts.themepreview.SquareBySquare_Preview</string>
	<key>catalogVersion</key>
	<integer>6</integer>
	<key>compilationDate</key>
	<date>2016-11-10T23:35:14Z</date>
	<key>packageIdentifier</key>
	<string>4DA18DCE-59E5-4572-AA61-9615E57AF8FF</string>
	<key>themePreviewIdentifiers</key>
	<array>
		<string>SquareBySquare_DF8D2A76-0276-4A80-8312-B02A6DB6EB15</string>
		<string>SquareBySquare_1B42D265-7291-43C9-B1DF-D2136BF35FC2</string>
		<string>SquareBySquare_4D204B30-F62E-4A3C-AE6B-559B15DDE6C9</string>
		<string>SquareBySquare_82E984EC-6C79-407F-918A-37AED1BB4555</string>
		<string>SquareBySquare_067C4A8A-6C4E-472C-9C36-EB1A09EE2E75</string>
		<string>SquareBySquare_73670B6A-0A7A-40C2-B7F5-348DEBF568E8</string>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
