<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2·2·38.akga_c_start</key>
	<false/>
	<key>2·2·38.akga_c_stop</key>
	<false/>
	<key>2·2·38.akga_oncetimechecked</key>
	<false/>
	<key>2·2·38.main_entry_main_window_show</key>
	<false/>
	<key>Affiliate</key>
	<data>
	dQFTtT5UctIkjT6WMYnT2m4WRvWpmuJ+B1kPWQoBwheMpK8vOEMXBWmSgpOp/0fFbyzS
	sAJbI4m7EMv34TRFAegMh8nV7R7H8oB72DH0IQFTNnm/Z2Rs7KYZAjfaVwUm+XnPcY8W
	fN/KpmRClI9qE5IX+iqryamNu2yIRa/h70KQSNALVHt86g==
	</data>
	<key>CEIPIdentifier</key>
	<string>{12959491-078b-47cb-b9de-057b712e9264}</string>
	<key>accessedCountingUrl</key>
	<true/>
	<key>affiliateSpecial</key>
	<string>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;set&gt;
	&lt;affext_followus&gt;
        &lt;hidefollowus value="0" /&gt;                                                                                                                                                               
                                                                                                                                                                                                         
                                                                                                                                                                                                         
                                                                                                                                                                                                         
                                                                                                                                                                                       
    &lt;/affext_followus&gt;
	&lt;affext_OldPurchase&gt;
        &lt;useOldPurchase value="0" /&gt;                                                                                                                                                               
                                                                                                                                                                                                         
                                                                                                                                                                                                 
                                                                                                                                                                                                         
                                                                                                                                                                                            &lt;/affext_OldPurchase&gt;
&lt;/set&gt;</string>
	<key>affiliatexml</key>
	<string></string>
	<key>affini</key>
	<string>Is_this_file_affiliate=1
aff_type=avangate
aff_code=&amp;QTY=1&amp;CART=2&amp;AFFILIATE=119493
user_url=

custom_version=

popup_url_after_install=0

custom_purchase_url=https://secure.2checkout.com/order/checkout.php?PRODS=4731794&amp;QTY=1&amp;CART=1&amp;CARD=1&amp;SHORT_FORM=1&amp;AFFILIATE=119493&amp;COUPON=AISEOHC

custom_hide_homepage_link=true
custom_hide_product_link=true
custom_hide_support_link=true
custom_hide_update=true
custom_hide_facebook=true
custom_hide_help_local=true
custom_hide_help_online=true
custom_homepage_showlink_onAboutDlg=false
</string>
	<key>affini_top</key>
	<true/>
	<key>cacheUrlDate</key>
	<integer>1777094715</integer>
	<key>custom_affiliate_control</key>
	<integer>1</integer>
	<key>request_affiliate_control_date</key>
	<integer>1777094687</integer>
</dict>
</plist>
