<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	M5AoSDOQwzMyzD8tMo13EDJunBIyGir7MhKrWzGJwqYxGg/OMQVxMzD6DY4w1Zf6MK91
	wDCPovIwhJe1MHmlvzBhM+swT7P0MEyACzBHClQwPunIMDrUmTAmUmwwFakNMBRxSTAV
	8IMwIw6pMCyBwTBAte0wHamAMArUEzAjWZkwZfaJMDxkji/6hFowCcGpMB9TdzAa6tQw
	BDxrMCHaozB/hwswPYfJL9mYKS/O6lAv04yNL8hd7i+1nl8vunSzL77X1C/HO+wv0sXi
	L9AOUi/AYSUv1m//L/MWES/fdAAvuVn2L7P4Oi+ydEgvoixGL6PgdC+n3pAvp2OIL6A7
	1C+lcdwvoeJtL6a75y+blSEvnuJkL538di+XF1ovkfriL51rxS+YgCYvpkFeL6L/sC+W
	D70viW9dL4zX7C+Vs7EvjTghL42aJC+O8dIvggydL4Ev+i98yyUve0kRL3kN4i9vFXsv
	gc9cL3uXkC97BzQvd0APL3VQwi96jm4vfRk4L3Po1S97qTMvf/fkL2zGDC9wYAYvb6pN
	L2svVi9/0p8vdMHWL276Xi90R84vcEWRL20i3S9xa4ovbl9/L2fZcS9iHaIvZTUwL2bx
	yy9p2q0vakn/L2jcdy9o1+4vY9tnL1q5Sy9mK9ovcYGJL2SKiy9dG+0vXDZML2grOS92
	8vUvcT2EL2aW2i9gGzgvYddzL1zesS9aYQovVyTTL1NW3S9S/YMvW2XSL1aIgC9ehjQv
	W7YAL1H/Zy9TqUkvT0rPL1ZmoC9XeTMvTbMbL1b8xC9NSuAvVAefL1ID8C9cejQvVz1c
	L1zhEy9Tu2MvTaSKL1RkxS9XLjovVgmtL1PPMi9RZLMvVijQL13AAC9QYXwvXYMBL1fa
	RS9PmhcvWmKvL1T4mC9WEIIvW+vLL1ZLbC9cTYQvVacVL05gBS9Ww1svUsxuL0uGbi9Q
	v6IvYZ3lL1fjDC9LnsIvST1hL0XPhi9TdCIvWC1TL1f1Jy9U9t8vVpZfL1E2iS9T3hQv
	VcMiL0rc1C9KZd8vSvSeL1K0YS9Tuv4vTrK9L1A9ly9UgxIvSMEDL0QBui9MPPQvTfBY
	L0ifQC9O6K8vU+OFL0/M5i9RrAkvVNRBL1FeLS9TjKYvXVhrL1J/6y9VNm4vWrGfL1oX
	Zy9TnlgvWK47L1DACi9XduEvYQatL1GvTy9G26kvSxonL1C9Vi9GHFkvToSQL10J+i9b
	7DYvY8RjL2OJey9vVzkvbwuEL1fr3S9Rz+cvXYyFL1r2gi9OmEgvUnRRL0/nbS9BStwv
	UyjHL1vjyy9MI2YvUQtuL0+FLS9NG+wvSyXmL0xHgS9KQ/wvSiK0L0wlDy9IfBkvPxyr
	L0qiOC9F3PAvRPrXL0dpTi9HfNovTKhzL078zC9RDK8vSwK3L06pli9T90cvUH+YL1ZO
	uy9alhIvW5smL2PJhS9slcovarJKL1vARy9UPyIvYbrfL2pbNi9gZBQvZa9tL2R4FC9W
	M1cvTbCAL0t5Ay9VrPEvVET+L0PQ2S9II8wvRDRLL0hUxC9NCNwvRcraL0YxbS9EFUIv
	TKGIL1Opui9U2JsvTTL9L0SufS88DsgvOvs+L0Yqwy9KVlIvT+bbL1geNS9MXdUvTyBA
	L1c1DS9hYwEvaNU1L3GRRC9ulcgvdkEFL1KCOi9neoQvaiURL2wr9S9j1AwvY0FeL2TV
	Wy9c97svaTZxL2ge8S9uhvAvbKwBL2b8WC9qghMvZ0a5L3nY9C99fUsvjI7+L4+DVC+a
	t1Qvoln7L6myji+svmQvvAe6L7FV5S+wLUgvop/6L6xWNS+tBrIvmg+zL5lM+C+dDG4v
	nHTWL5vH3i+QTP0vkHWXL40dJy+RnfUvkM7AL5Beui+XX3cvnF/fL5njNy+jgh0vn4to
	L6IZaC+iOXQvpZsbL6r4fy+wxt4vrxhrL68j5i+6VsIvuvWEL7OVAS+8XpUvwOh2L78G
	VC++qe4vs2dUL7t5ui/FLSMvwm3jL9wEby/ntDsv8dU3MASr4DAFkFowBpbyMAVA0zAK
	NeIwBduwL/ygci/9oYcwBS9RMAxmnjAVVGAwEuDBMBT9PDAg/z8wKgocMDnLCjA/O7Iw
	Qs3CMESu7TA9SLQwOcN6MDotMTA40VwwSISPMDu69TA1CMUwOFY7MDYa6DBFRSswV9Ct
	MGsZhzCIDXUwqZM6MM6EbTDvvvgxFy1mMS6TZTE4gwMxJ94XMShfrjEa/YUxCiwtMQb4
	BzDqgocwxx/vMKFrGTCS9VYwmHPhMLkVYjDx2MQxI5oIMUwZpzF+nKIxidhGMZwrGDG1
	VhMxvPCKMczTlzHY3SoxzoHuMdQBeDHCVHExyjGSMcNLbzGZKX4xWl0CMTfyOzELLtcx
	BhfLMRBuozEeLVUxWSyGMZU7GTHUNFYx8JM0MhfKOTI+oH0yTaIsMmRruzKPLvYyqfMv
	MsDeYTLSpLkyz1QOMrSmSjKTN44yb7lnMj4jkTIetxAyA1DrMe90nTHNvqsxpx2VMWK1
	zTEF9fowspuaMHSbFTAQlTkvtf0bL4My2y9M2AsvMk1MLzRutQ==
	</data>
	<key>NoiseProfile1</key>
	<data>
	M1+WrTNVwtoyo5X6MmVzZDI8oAAyC/BAMhniiDGgmxIxFIiyMPcTxTDjUWowx2C1MLCD
	QTCWsxswhlbxMHM7gzBoVFUwWdthMFCGmTBKWu8wTGmYMERhnTA2EpswK2GcMBvL5zAc
	WEswJ0upMB5DHTANu6swC+Q7MAv+qzArxjYwiKnmMF7omzAKFCMwG9QKMB+m+zAMGgMv
	9mzEMAl4vDBPN0owI4JxL9TJ4S/GBe0vypj6L8ftSy/DpPgvxqzlL8G26i/ENx4vyvqQ
	L8tkAy/KkQMv9AbzMBhGnTAY1tsv6Am8L8x+Zy/IPtgvs8ISL6wJZS+3XQIvuqDwL6zJ
	OS+t/VAvrpvbL6Gb3C+pG3IvnJIeL6G7ey+giREvpl0IL6iwyS+iITYvqQryL7GEVC+i
	digvlwX0L50IAS+YyjgvqogzL6iDUS+Ty+Uvlc3NL5W5yy+QIgcvjjHVL4qU+C+AbvIv
	gJMeL4SqXi+Ir/MvgBVJL4J4hy+FKp0viqOmL4nL1C+PVQEvj1TKL4pFsC+GgO0vhSZf
	L3moIy91wi0vhhFOL4LHCS99cHAvdZ1SL3TTVi91/JkvccV5L2wGmS9u3bwvaRj7L2z8
	VS9t1Govc0B+L3HRMC94bKkveHDlL3mGPC96FXsvd1eEL3S3MS9pUVAvcJ4AL2zNKS9m
	LrYvYHoHL2C78i9f8xQvbMoML21p6C9tDVUva3NuL2MXdy9mWqgvg1g2L27IdC9qWEcv
	YSnDL2YfkC9bil4vWhl9L1tEfi9ZM8YvYxqZL18QyS9bcCwvXTjNL2MaQy9p2vMvb7p4
	L2O1Ny9dRvMvXHE3L1m5Zy9jf/4vaib8L1vchS9pF0Avdjb3L2Yq8y9Ux6UvYpIOL3Oj
	Bi9qCwQvbgtiL3PVNS9xTb4vZrwpL1m3Ry9lCOUvYwblL1jqNi9bts4vZLAgL1k35C9h
	0ewvcz5sL2Qwdy9emnEvaUeeL2FOkC9fDLgvZoREL2duji9ryRYvZL1qL3KSki9myOgv
	bQIVL2X0ai9Wh2YvUspsL03jdy9ZThAvWPL8L1sOqi9Upf4vUiuqL1qn0S9XeMwvZbJW
	L2lypS9ls40vYNLFL2AV3i9dvuQvXgw2L2xhbC9jDSYvZdJbL1us1y9XMFIvWzifL1qX
	DS9eWusvX2dYL2ROZy9VzocvVZceL0jEay9MnGQvUPAkL2IlXC9QNwwvT5LOL1a/IC9g
	PVsvW/WKL0yesC9TmlwvWbSvL1bBPS9J5cUvS0/1L03siy9JUo4vUt90L005Hi9Rfaov
	WUoRL1CDqC9NXHwvSckXL1H5wC9KFHkvS7HsL1WV3y9UQ/cvVLLxL00B7i9FTPIvSxRU
	L0/NLC9S4FsvTZqcL1AvHC9OBb4vWCskL17pYy9h+tMvVbbkL1xkhS9e/xcvWE8gL136
	SC9dbgsvXwg/L2q7VS9m3vcvZ4arL2RmqC9p2ZgvX4Y8L1WMny9bl98vVtPtL1WaZi9e
	mNovaZKLL2JPbi9g1BEvXsXuL19cWC9YSyMvWCGUL1TxOy9TbE0vVm9QL1Uqxy9Uh9Ev
	Vb8eL1NlYy9Og5svXT6hL2ibSi9r4iEvWx/YL1dtZC9YrDMvXiHsL2B2Yi9h/ywvcnfR
	L27v2i9poCAvctGAL2aCyC9oROovarg9L3k2/y970XkvgPo1L38SJC92vscvglmCL4FL
	my9zgSwvgzS3L3pxVC97laQveDs2L3vRny93AyEve2EAL3NwRy+BhWIvfyQvL4I+dy+G
	76UvkA0mL6COQS+0B6gvw8mhL86iIy/VUPwv8BXqMAloZDAK4HIwBk4rL/cbqi/j2xov
	4fVlL9Bj3C/HeCov1Qd+L99C0TACnRYwCd4qMA4zLzAXUMEwISTuMCnerjA7x44wUctl
	MGHPkjBzM6MwhUxTMIMK5zCGUkcwjvmAMJgGeTCa51EwljeVMI6nBDCVGWswmW6dMI+S
	nTCJVjUwbbuEMGBvgzA8D6swPUDDMFJ2xDBPwi8wTuA4MDuA7zA/9dswNkb9MDhgBTA0
	pqowKsf/MBtVgzATRkQwGUE3MB7uwzAT/4AwCoP7MAypBzAZDE8wJW20MESsaDBZ8iEw
	gA8EMJFAFDCfO4Qws5DgMMKz7DDWcp0w7kJPMPrOQDEATd0xCM+HMQQySjEGNeUxA8b2
	MQjHTzEbD0sxLV2+MUDNPjFW47sxdjb3MY3DBDGb+scxmgeKMajlaDGjB0IxntyzMZ7i
	jzGQmZMxfFfyMWnhRDFp1oExgNmeMYEABzGLEzoxmN85Maj3rzGzepIxv7cKMcNOZTHR
	FOgx2DdyMeyn8jIBmcgyAIXRMgfMlDIB4jUyBnyrMg5D3TIeDp0yEj5OMgn9uzH47YQx
	+ElgMdmwWzG2+NAxpBWdMYx99TGBFRYxS2P4MT0ZwDFA7TkxR2t0MUPMvTEMzMkwytU0
	MJ0T8zBecy8wTj40MHCFszCUX1MwpeMnMKdEmjCql1Iwp9U5MKgDMjCrbeEwmkiBMIqz
	CTBk+mUwRpzUMCu6aC/5KgwvszYcL3r9Ny9PICgvVAejL2RMDQ==
	</data>
	<key>NoiseProfile2</key>
	<data>
	M3y/ZDOHKB4y5+vYMofA3TKiWV4yn829MqOOZDIopnwxSmMGMRhvITD1o7Yw1h21MLo5
	bTCc+Y4wjZ+uMITEejBupzkwVaAxME1JJTBHh5owUPVJMFM8tDA+pSgwJwV/MB4qazAl
	5nQwJMQiMHtYwTCR7s0wO7nzMAv3OjArFIgwiXaUMGd2VDAX0cYwPA5fMFcCpTAt3Lcw
	EP99MFZB5TDRXYAwqRkMMAdwhS/3HBEwBiSfL/jlWS/iegcv5n5FL/cC8TANWEYwOrIg
	MD9ERjBC5uEwiAI6MJ5mkzB3jkEwD2uiL9/tqS/FGsQvs0AeL6xkxi+tWUcvt4ykL7LG
	Bi+tE5UvsPMOL65wfC+w7jgvqAD+L6w+ui+mBtovr0iGL7AiNS+p1rEvrQlQL7gqIC+m
	uRAvoCbgL59e6C+dxckvqCSjL6eFTi+gVW0vl387L4yJTi+QOXcvjGjhL5Rh3C+R6hwv
	mpZAL6Cnyy+eUzcvmxuDL5s9rC+RSbMvjjJxL5a/6C+VJXovklUdL5aaii+bB28vlAKU
	L5bsPi+jMrIvmXXbL5KPWi+WaocvlsKdL5f1dC+XyZcvmhcEL5jm2y+hjG8vpWTTL6Gf
	vS+b/bQvnSP2L6WkXi+lwhwvpWDzL6WxXC+l33kvqXkPL6iDTy+rFpgvqPgdL6adLy+o
	RfcvooB8L6zXZC+rN2EvsI+/L7c+sS+47DAvrdY6L64iay+pGNsvu+JOL8PGiC/F70Qv
	xuA7L74V6C/JOwgvvDXmL79+di/IGrkv0W9ML9q99C/VpLwv0aPsL8frbC/QLSEv1cla
	L+WKoS/paYAv+vlvMAMcKTAJuPwwEFFqMAmJSjALqf0wCZi7MAly8jAOVG4wF9VSMB+X
	3zAaGlEwHBfMMCSHDDAtwtowNx8KMDnPQzA41lkwQYksMEbavTBQo/YwWfEeMGzVDzBv
	5gIwjVRpMIhk/jB1aBcweBTUMIFNcTCG/EEwgZToMHmXfzCAWHcwht0zMIdOmjBp05kw
	TI+LMD4zgDA+HH4wKicmMCPzQjAjHsIwJhzlMCb8qDAtPuQwJQAqMBo2LzAUmnMwDHkL
	MAj46jAIqEIwB/DyMAS8ry/tB7sv9VRtL99fRS/S9Qkvy3ukL9CY3i/KYJEvvXJwL7Of
	3y+zYEMvsE+qL62eyS+r7e0vpCQnL5XQJS+cKOovjtg+L4cwsi+E7U4vijBXL4rfwC99
	OjwvgOr8L4Rrpy+HAxkvgmVGL3OMYy92U9gveJ/fL29BSy9sh0AvaABHL1gNlC9P35Yv
	Va/qL0Zg2y9Id4cvR9hYLz5pzC88DNgvOiZ7LzgF0S8tXhIvK8QwLyjo4C8pTU0vLSK0
	LzWyJS81XBovOxmFLze5Vi85x9EvOdpKL0Aw/C8/c9wvRL1GL09Xry9hCRUvXhUyL2yB
	lS9gKyYvVrI0L1i0di9bIHkvQG8VLy4kUS8v650vK785LysaYC8mc5EvJjywLygyii8m
	HPYvHAJSLyaLJi8iK8kvGQfNLxA2XS8MbJkvBr5JLwNT4S8Can4vAbIELvysyy72uvgv
	BlmDLw22aC8G6jku/Sz2LwlImy8AQt8u+JwRLvAjly79GCwvBipsLvTyaS77sbku/x/R
	LvlefS78neou+dmmLu1ILi72UlgvAbC6LvpHCy8BrqYvAu/2LvHRuS7qtbwu869YLv9m
	pC8CJpQvATuaLwGeky8HKksvB0YzLwWb5i8G1IEvBZ+XLwqJxi8Gf4UvBCuGLwbqrS8R
	LpcvDucHLwiuHi8I+5UvD5M/LxTdgC8T3HwvEnBQLw+MQC8LbCQvCagfLwr5Ny8MjSkv
	CRdvLwvQ6y8PmpQvDdDnLwoP9C8MB4ovE+JILw0zNC8Ok5EvEnqILxa5rC8hD/UvHejz
	Lx4Y3C8fE4kvGN0yLxcemi8mCB4vIT9ELyXf8C8xRnUvNHnTLzCyJC8uyZAvNu3yLyvq
	yS8uWykvLx3fLzH5bS81tNkvPj4xLznTeS853UovTMOfL09z/C9EAgYvRaeKL0IgPy9B
	AU8vSI1eLz5sTS9I6lkvTmvsL0Uawi9I3AMvRvMyL03K8i9OTxcvXXndL1PgLS9beOUv
	V8+uL2QAtS93FOovfKK+L4MP3C+IJ+cvi/X1L4x5MS+JPwwviuzbL45lbi+GDHEvh21d
	L4J88y+Cq1YvhPQ1L3/EKi+EQ+sviJgyL4yo8C+RXcUvm5lAL6c5VS+wGGsvow+kL6B1
	RC+kStQvo9FrL6K/xi+ytucvvBEhL8CvYi/B8ZAv0c4nL+AA+S/RvP0vw/t+L7eUSi/C
	GqsvylvqL9K6iC/hCigv33QFL+pIoC/n4mov4YbxL9wsjy/eJhgv6+ZwL/wpzS/wklgv
	9WiqL/S/7i/h1Skv88GzL+Y+VC/n3Tcv4JHgL9eQfy/U408vzrhPL85iJS/A5hEvufLI
	L7mpYy+4z9QvqDjnL54cfC+P2dcvh5s7L2JvLS9GfA8vKPHRLxBlui8BA7Mu3wRVLrvY
	Zy6VNSYugrw0LmJNtS4v11AuD8vgLegUKi3C6WgtqMbsLa57sA==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
