<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0</string>
	<key>CFBundleVersion</key>
	<string>55297.100.2.700.1</string>
	<key>ProjectName</key>
	<string>KeychainAccess</string>
	<key>SourceVersion</key>
	<string>55297100002700001</string>
</dict>
</plist>
