<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TamilIM</string>
	<key>CFBundleGetInfoString</key>
	<string>Tamil Input Method 1.5</string>
	<key>CFBundleIconFile</key>
	<string>Tamil.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.inputmethod.Tamil</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tamil</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>appl</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>60</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Tamil.AnjalIM</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>. </string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>அ</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.Tamil.AnjalIM</string>
				<key>TISIntendedLanguage</key>
				<string>ta</string>
				<key>anjalIMModeID</key>
				<integer>0</integer>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Anjal.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Anjal.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
			<key>com.apple.inputmethod.Tamil.Tamil99</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>. </string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>க</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.apple.inputmethod.Tamil.Tamil99</string>
				<key>TISIntendedLanguage</key>
				<string>ta</string>
				<key>anjalIMModeID</key>
				<integer>1</integer>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Tamil.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Tamil.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Tamil.AnjalIM</string>
			<string>com.apple.inputmethod.Tamil.Tamil99</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21G806</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>InputMethodConnectionName</key>
	<string>TamilInputMethodServer_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>TamilIMController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>TamilIMController</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.apple.inputmethod.Tamil</string>
	<key>TISIntendedLanguage</key>
	<string>ta</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Taml</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>Tamil.tiff</string>
</dict>
</plist>
