<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WindowState</key>
	<dict>
		<key>positionOfDivider</key>
		<real>280</real>
		<key>savedFrame</key>
		<string>7 538 439 457 0 0 1280 1002 </string>
		<key>selectedTabView</key>
		<string>description</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.script-editor-dummy.scptd</string>
	<key>CFBundleName</key>
	<string>script-editor-dummy.scptd</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
</dict>
</plist>
