<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<installer-gui-script minSpecVersion="1">
    <options customize="never" visibleOnlyForPredicate="true" hostArchitectures="i386,x86_64"/>
    <title>SU_TITLE</title>
    <script/>
    <volume-check script="VolumeCheck()"/>
    <installation-check script="InstallationCheck()"/>
    <tags>
        <tag>VOICEID:com.apple.speech.synthesis.voice.custom.siri.chenghan.premium_1</tag>
    </tags>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="CustomVoice_zh_TW_chenghan" start_selected="true" versStr="SU_VERS" description="SU_DESCRIPTION" title="SU_TITLE" visible="Bundle0(my.target.mountpoint)">
        <pkg-ref id="com.apple.pkg.CustomVoice_zh_TW_chenghan.16U2063" auth="Root" packageIdentifier="com.apple.pkg.CustomVoice_zh_TW_chenghan.16U2063">CustomVoice_zh_TW_chenghan.pkg</pkg-ref>
    </choice>
    <script>
function InstallationCheck(prefix) {
	if (system.compareVersions(system.version.ProductVersion, '10.16') &lt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_B85E600482', '10.16');
		my.result.type = 'Fatal';
		return false;
	}
	my.result.message = system.localizedString('ERROR_3491501876');
	if (!Bundle0("/")) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function Bundle0(prefix) {
	var bundle = system.files.bundleAtPath(prefix + './System/Library/Speech/Voices/ChenghanSiri.SpeechVoice');
	if (!bundle) {
		return true;
	}
	var bundleKeyValue = bundle['CFBundleShortVersionString'];
	if (!bundleKeyValue) {
		return true;
	}
	if (system.compareVersions(bundleKeyValue, '1.14.4') &gt;= 0) {
		return false;
	}
	return true;
}
function VolumeCheck(prefix) {
	var myTargetSystemVersion = (my.target.systemVersion || system.files.plistAtPath(my.target.mountpoint + "/System/Library/CoreServices/SystemVersion.plist"));
	if (!myTargetSystemVersion || system.compareVersions(myTargetSystemVersion.ProductVersion, '10.16') &lt; 0) {
		my.result.message = system.localizedStringWithFormat('ERROR_B85E600482', '10.16');
		my.result.type = 'Fatal';
		return false;
	}
	my.result.message = system.localizedString('ERROR_ABA5BBB51F');
	if (!Bundle0(my.target.mountpoint)) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
</script>
    <localization>
        <strings language="English">"SU_TITLE" = "Voice Update - Chenghan";
"SU_VERS" = "1.14.4";
"SU_SERVERCOMMENT" = "For Desktop and Server systems";
"SU_DESCRIPTION" = '&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;&lt;title&gt;&lt;/title&gt;&lt;/head&gt;
&lt;body&gt;&lt;/body&gt;
&lt;/html&gt;
';
</strings>
    </localization>
    <pkg-ref id="com.apple.pkg.CustomVoice_zh_TW_chenghan.16U2063" installKBytes="514158" version="3.0.0.0.1.1601691638"/>
</installer-gui-script>