<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleARMPlatform</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2009 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleARMPlatform</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleARMPlatform</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleARMBacklight</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMBacklight</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>backlight-control</key>
			<true/>
		</dict>
		<key>AppleARMBootPerf</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMBootPerf</string>
			<key>IOMatchCategory</key>
			<string>AppleARMBootPerf</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleARMCFIFlashController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMCFIFlashController</string>
			<key>IONameMatch</key>
			<string>nor-flash,cfi</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleARMCHRPNVRAM</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMCHRPNVRAM</string>
			<key>IONameMatch</key>
			<string>nvram,chrp</string>
			<key>IOProviderClass</key>
			<string>AppleARMNORFlashDevice</string>
		</dict>
		<key>AppleARMCPU</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMCPU</string>
			<key>IONameMatch</key>
			<string>cpu</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleARMFabricTrace</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMFabricTrace</string>
			<key>IONameMatch</key>
			<string>gen-aft</string>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>AppleARMI2CEEPROM</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMI2CEEPROM</string>
			<key>IONameMatch</key>
			<string>eeprom,i2c</string>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
		</dict>
		<key>AppleARMLightEmUp</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMLightEmUp</string>
			<key>IONameMatch</key>
			<string>cpu-debug-interface</string>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>AppleARMNMI</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMNMI</string>
			<key>IONameMatch</key>
			<string>programmer-switch</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleARMNORNVRAM</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMNORNVRAM</string>
			<key>IONameMatch</key>
			<string>nvram,nor</string>
			<key>IOProviderClass</key>
			<string>AppleARMNORFlashDevice</string>
		</dict>
		<key>AppleARMNORPanicLog</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMNORPanicLog</string>
			<key>IONameMatch</key>
			<string>paniclog</string>
			<key>IOProviderClass</key>
			<string>AppleARMNORFlashDevice</string>
		</dict>
		<key>AppleARMPE</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMPE</string>
			<key>IONameMatch</key>
			<string>AppleARM</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
		</dict>
		<key>AppleARMPWMBacklight</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMPWMBacklight</string>
			<key>IONameMatch</key>
			<string>backlight,pwm</string>
			<key>IOProviderClass</key>
			<string>AppleARMPWMDevice</string>
		</dict>
		<key>AppleARMSPIFlashController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMSPIFlashController</string>
			<key>IONameMatch</key>
			<string>nor-flash,spi</string>
			<key>IOProviderClass</key>
			<string>AppleARMSPIDevice</string>
		</dict>
		<key>AppleARMSlowAdaptiveClockingManager</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMSlowAdaptiveClockingManager</string>
			<key>IONameMatch</key>
			<string>sacm</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleARMSoftIICController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMSoftIICController</string>
			<key>IONameMatch</key>
			<string>iic,soft</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOSlowAdaptiveClockingFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
