<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Class</key>
		<string>IPMapElement</string>
		<key>CompassElement</key>
		<dict>
			<key>Image</key>
			<string>Assets/Shared/Maps/Art/simple-big-compass.png</string>
			<key>Width</key>
			<real>44</real>
			<key>Height</key>
			<real>59.3</real>
		</dict>
		<key>WaterStyle</key>
		<dict>
			<key>StrokeWidth</key>
			<real>0.5</real>
			<key>StrokeColor</key>
			<string>255,0,0,1</string>
			<key>FillColor</key>
			<string>155,162,138,1</string>
			<key>FillTexture</key>
			<string>pj_water_tile.jpg</string>
			<key>FillTextureTileWidth</key>
			<real>300</real>
			<key>FillTextureTileHeight</key>
			<real>300</real>
		</dict>
		<key>InlandWaterStyle</key>
		<dict>
			<key>AltStrokeWidth</key>
			<real>0.1</real>
			<key>FillColor</key>
			<string>119,145,136,1</string>
			<key>StrokeColor</key>
			<string>119,145,136,1</string>
			<key>StrokeWidth</key>
			<real>0.5</real>
		</dict>
		<key>LandStyle</key>
		<dict>
			<key>FillColor</key>
			<string>198,184,125,1</string>
			<key>FillTexture</key>
			<string>pj_tan_noise_bg.jpg</string>
			<key>StrokeColor</key>
			<string>179,153,106,1</string>
			<key>StrokeWidth</key>
			<real>0.75</real>
			<key>TextStyle</key>
			<string>Cochin</string>
			<key>TextColor</key>
			<string>53,61,53,70</string>
			<key>TextSize</key>
			<real>10</real>
			<key>TextKern</key>
			<real>3</real>
			<key>TextUpperCase</key>
			<true/>
		</dict>
		<key>VisitedLandStyle</key>
		<dict>
			<key>FillColor</key>
			<string>219,186,116,1</string>
			<key>FillTexture</key>
			<string>Assets/Shared/Maps/Art/simple-noise-green.jpg</string>
			<key>FillTextureTileWidth</key>
			<real>54</real>
			<key>FillTextureTileHeight</key>
			<real>54</real>
			<key>StrokeColor</key>
			<string>128,127,126,1</string>
			<key>StrokeWidth</key>
			<real>0.75</real>
			<key>OuterStrokeColor</key>
			<string>255,255,255,0.45</string>
			<key>OuterStrokeWidth</key>
			<real>4.25</real>
			<key>InnerGlowColor</key>
			<string>163,124,56,1</string>
			<key>InnerGlowBlur</key>
			<integer>30</integer>
			<key>InnerGlowSteps</key>
			<integer>24</integer>
			<key>TextStyle</key>
			<string>Cochin Bold</string>
			<key>TextColor</key>
			<string>53,61,53,1</string>
			<key>TextSize</key>
			<integer>15</integer>
			<key>TextKern</key>
			<real>9</real>
			<key>TextUpperCase</key>
			<true/>
		</dict>
		<key>SkyStyle</key>
		<dict>
			<key>FillTexture</key>
			<string>pj_sky_tile.png</string>
			<key>FillTextureTileWidth</key>
			<integer>625</integer>
			<key>FillTextureTileHeight</key>
			<integer>625</integer>
			<key>FillTextureAlpha</key>
			<real>0.22</real>
			<key>FillTextureBlendMode</key>
			<string>SourceAtop</string>
		</dict>
		<key>TitleStyle</key>
		<dict>
			<key>TextStyle</key>
			<string>HelveticaNeue1720-MapTitle</string>
			<key>TextColor</key>
			<string>76,76,76,1</string>
			<key>TextBackgroundColor</key>
			<string>225,240,251,1</string>
			<key>TextBackgroundStrokeColor</key>
			<string>255,255,255,1</string>
			<key>TextBackgroundStrokeWidth</key>
			<real>2</real>
			<key>TextBackgroundPadding</key>
			<real>10</real>
		</dict>
		<key>MarkerStyle</key>
		<dict>
			<key>FillColor</key>
			<string>188,57,27,1</string>
			<key>StrokeColor</key>
			<string>255,255,255,1</string>
			<key>Radius</key>
			<real>4</real>
			<key>StrokeWidth</key>
			<string>1.5</string>
			<key>TextStyle</key>
			<string>FuturaMedium1113-MapMarkers</string>
			<key>TextColor</key>
			<string>0,0,0,1</string>
		</dict>
		<key>MarkerConnectorStyle</key>
		<dict>
			<key>StrokeColor</key>
			<string>188,57,27,1</string>
			<key>StrokeWidth</key>
			<real>1.5</real>
			<key>ArrowheadImage</key>
			<string>Assets/Shared/Maps/Art/simple-arrowhead.png</string>
			<key>ArrowheadWidth</key>
			<real>9</real>
			<key>ArrowheadHeight</key>
			<real>10.3</real>
			<key>ArrowheadAnchor</key>
			<real>4.2</real>
		</dict>
	</dict>
</array>
</plist>
