<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A2330</key>
	<string>regulatory-036-00052.lpdf</string>
	<key>A2337</key>
	<string>regulatory-036-00082.lpdf</string>
	<key>A2338</key>
	<string>regulatory-036-00081.lpdf</string>
	<key>A2348</key>
	<string>regulatory-036-00065.lpdf</string>
	<key>A2438</key>
	<string>regulatory-036-00060.lpdf</string>
	<key>A2439</key>
	<string>regulatory-036-00061.lpdf</string>
	<key>A2442</key>
	<string>regulatory-036-00067.lpdf</string>
	<key>A2485</key>
	<string>regulatory-036-00068.lpdf</string>
	<key>A2615</key>
	<string>regulatory-036-00078.lpdf</string>
	<key>A2681</key>
	<string>RegulatoryCertification-A2681-J413.lpdf</string>
	<key>Mac-06F11F11946D27C5</key>
	<string>regulatory-022-03312.lpdf</string>
	<key>Mac-06F11FD93F0323C5</key>
	<string>regulatory-022-03312.lpdf</string>
	<key>Mac-0CFF9C7C2B63DF8D</key>
	<string>regulatory-036-00045.lpdf</string>
	<key>Mac-12407AA7AA36BAC6</key>
	<string>regulatory-036-00080.lpdf</string>
	<key>Mac-1E7E29AD0135F9BC</key>
	<string>regulatory-036-00034.lpdf</string>
	<key>Mac-226CB3C6A851A671</key>
	<string>regulatory-036-00032.lpdf</string>
	<key>Mac-27AD2F918AE68F61</key>
	<string>regulatory-036-00079.lpdf</string>
	<key>Mac-35C5E08120C7EEAF</key>
	<string>regulatory-022-03319.lpdf</string>
	<key>Mac-473D31EABEB93F9B</key>
	<string>regulatory-022-01763.lpdf</string>
	<key>Mac-4B682C642B45593E</key>
	<string>regulatory-036-00073.lpdf</string>
	<key>Mac-53FDB3D8DB8CA971</key>
	<string>regulatory-036-00031.lpdf</string>
	<key>Mac-551B86E5744E2388</key>
	<string>regulatory-022-03315.lpdf</string>
	<key>Mac-5F9802EFE386AA28</key>
	<string>regulatory-036-00075.lpdf</string>
	<key>Mac-63001698E7A34814</key>
	<string>regulatory-036-00072.lpdf</string>
	<key>Mac-65CE76090165799A</key>
	<string>regulatory-022-00654.lpdf</string>
	<key>Mac-66E35819EE2D0D05</key>
	<string>regulatory-022-01845.lpdf</string>
	<key>Mac-77F17D7DA9285301</key>
	<string>regulatory-036-00073.lpdf</string>
	<key>Mac-7BA5B2D9E42DDD94</key>
	<string>regulatory-036-00071.lpdf</string>
	<key>Mac-7BA5B2DFE22DDD8C</key>
	<string>regulatory-036-00066.lpdf</string>
	<key>Mac-827FAC58A8FDFA22</key>
	<string>regulatory-036-00032.lpdf</string>
	<key>Mac-827FB448E656EC26</key>
	<string>regulatory-036-00033.lpdf</string>
	<key>Mac-937A206F2EE63C01</key>
	<string>regulatory-036-00034.lpdf</string>
	<key>Mac-937CB26E2E02BB01</key>
	<string>regulatory-036-00020.lpdf</string>
	<key>Mac-9F18E312C5C2BF0B</key>
	<string>regulatory-022-03383.lpdf</string>
	<key>Mac-A369DDC4E67F1C45</key>
	<string>regulatory-022-00524.lpdf</string>
	<key>Mac-A5C67F76ED83108C</key>
	<string>regulatory-022-01846.lpdf</string>
	<key>Mac-A61BADE1FDAD7B05</key>
	<string>regulatory-036-00074.lpdf</string>
	<key>Mac-AA95B1DDAB278B95</key>
	<string>regulatory-036-00037.lpdf</string>
	<key>Mac-AF89B6D9451A490B</key>
	<string>regulatory-036-00062.lpdf</string>
	<key>Mac-B4831CEBD52A0C4C</key>
	<string>regulatory-036-00009.lpdf</string>
	<key>Mac-B809C3757DA9BB8D</key>
	<string>regulatory-022-00654.lpdf</string>
	<key>Mac-BE088AF8C5EB4FA2</key>
	<string>regulatory-036-02717.lpdf</string>
	<key>Mac-CAD6701F7CEA0921</key>
	<string>regulatory-022-03314.lpdf</string>
	<key>Mac-CFF7D910A743CAAF</key>
	<string>regulatory-036-00062.lpdf</string>
	<key>Mac-DB15BD556843C820</key>
	<string>regulatory-022-00654.lpdf</string>
	<key>Mac-E1008331FDC96864</key>
	<string>regulatory-036-00074.lpdf</string>
	<key>Mac-E43C1C25D4880AD6</key>
	<string>regulatory-022-00458.lpdf</string>
	<key>Mac-E7203C0F68AA0004</key>
	<string>regulatory-036-00046.lpdf</string>
	<key>Mac-EE2EBD4B90B839A8</key>
	<string>regulatory-036-00012.lpdf</string>
	<key>Mac-F60DEB81FF30ACF6</key>
	<string>regulatory-022-6346.lpdf</string>
	<key>Mac-FFE5EF870D7BA81A</key>
	<string>regulatory-022-00524.lpdf</string>
</dict>
</plist>
