<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockSize</key>
	<real>480</real>
	<key>NoiseProfile0</key>
	<data>
	MslWKTLmQ08yLndMMZk0vzEmn1cw3bzmMKhYOTCBsDowTmcrMDPBZTAa/mowCbYOL/NT
	vy/VJfIvvxKZL7ur8C+0eBkvoSTjL5ZI9C+TmU8vjmAKL4+QMy+KKTsvgD1zL3o+9i9s
	1ogvZymnL1+iXC9c7u0vX4gBL1PlvC9DXwMvQx8BL0m1Ni9EoesvO11wLzXuQC80AJcv
	NtkSLzhAZS80MesvMAY4LzRsDy84+rgvOcy1Ly/yjC8sIgcvKm5LLyivBS8pilMvMBMe
	LzNUMi8zlgYvNHKvLzC4iS8tq2MvJBIlLygTXi8pD28vKECILx2mrS8dUTgvK+IILyc2
	nC8sV24vKBh+Lyd26S8lg4gvJuIfLyoppC8q+JkvKd/+LyuU+y8rZVsvMFh+Lzccqi81
	cv0vMXJ8LzIThS8zJN4vMWuFLy25dy83iwgvP4AILzd+ki81Wl8vOi+JLzvEhi83Q78v
	O3vbLzsBOC9GEyYvRE4lL0H+vi9QjCYvTtsSL0z5Vy9MOT0vW1hCL0wvAy9KRlsvVgjf
	L1qHLi9Vzr8vW/ZiL2bOmy9ytOgvdDrhL2sd4S9yOZgvdQ0tL3RhNi9xe3IvcS/KL3qf
	0C+BInwvhLeqL41q3C+LJw8viQ1gL5HIyi+WC6IvjmfzL5TnSi+YhCYvntCSL6A1/y+j
	A20vq0+ML67h6S+tMf8vsr/2L8LPuC/IRwcvyjBKL9Hy0C/MxxEvzfW1L9bI4C/ghQkv
	7FmYL/s1DjAIvA8wDeTSMA6R/TAW6YswFl7JMBAitjARB7AwFocmMCs6WTA7HIkwT+D5
	MGeRjzCAhKMwhozLMIOppTCLarswk7obMJEtiDCVOWYwm82zMKvOdTC+HPcw3hsuMOyc
	bjEDjcsxDv+bMRrjTjEjadkxHm3NMRGJwjENlaow9CKHMN253zC4QC4wm6CmMJP4STCU
	QKswkj62MIt49zCAFpAwbZQYMFmOEzBP1g4wXrEGMIAQ+TBrXv0wTrDFMGdv/jByWKMw
	bH+yMGPmqjBN+Y4wSfr4MEF9fTA1m08wNJYOMDQxuTA4biAwLhLhMCAoIDAVG3YwDfNk
	MAsiGjALA9YwEcYEMB25YjAezOgwGjOWMBMDnjAMlN0wA7RTL+ydwS/FfdIvsnUNL6nf
	pi+jnewvoLuCL5uxlS+h/cAvpkzIL6bhMy+kZKYvprn6L6uvsi+mfdMvn9h/L6FDri+c
	6W8vkMmLL4Tnzi9ozP8vYQuHL24s8y9v8+cvc1exL3VpBi98U0kvieqlL4dzIS94d60v
	bwVGL2gOeS9HP1svPmH/Lz8JEi9G5l0vN42cLyVvoC8casUvEc8jLw2/ci77ynIu5sJ4
	LtXWSy7Fbd0uwxpfLsl0MS7bDgku5bAHLuJCTi7YFBwu2J5/LszHvy7IWyIuzzubLtTG
	Ci7N0/4u0pp4LtmbjS7TxyAuxhH0Lrfs4C6t5JIurkmTLrYh8C7DdZsuzVSlLtZhbi7k
	b6Iu9MZhLwJGMi8KiT8vFltBLxs8US8YHAMvE2SkLxDgEy8S9rcvGSh0LyHApy8hurwv
	J+QrLx4P7y8f1JovKI+DLzkC9i9EZNMvR8zhL06brS9ZHsAvTM8CL0xUxC9TLDMvXixA
	L1qaAi9OOCYvPo1qLzImES8gaWUvFTdwLweG8C8AaDwu/llFLvlzgy7vaO4u5jJjLuCZ
	Qy7ozbQu4LdYLuDr2y7jilQu4BgMLuP6my71mH8u7Y2OLu1g5C7ksxMu2ImCLtJWTi7X
	eKku4BkQLuKyGS7wiiEvBfX1LxCSOy8cLOMvLBDpLznBTy8/7KsvV6V1L2vNiS+Iw8gv
	jTbVL5iWAi+cBewvliprL4xcfi+F9mcvc6c1L3p5/i+Fn5QvkNCRL5l6By+kePAvnBva
	L6wmti+zpecvua1PL8lHwS/aOEMv9mV4MAHGoDALmDUwHQORMB1zWDAlysswLf4TMC8S
	sjArvWQwJpHSMB8bwDATWXwwCAs5MARjwDABmRAv/45zL+jHYS+7FeMvlBDgL41Fay+P
	nU4vl9rLL5jSzi+qVgwvvyLHL9RaOi/6BSMwE4moMDBQbDBBl2kwUGgfMGOsHzB13Isw
	ffeNMH0cvjCEBmswfx70MHVQzDBmKHwwScwPMDxapjAsO6swGAQcMAXpwC/wN3Uv3QbZ
	L9XAvi/EEnMvxWfKL7vCuS+rK60vqWDuL6Miny+bvasvmITAL5CmeS+WVeMvm5AgL6rv
	pi/QkMUwB1pKMCb1ljBKFCgwgrHaMJ4NuTCwCV4wysTFMPKiczEBEdgxDU5hMRLwZDEZ
	em4xJd9uMSLdaDEqVtkxLKlmMS8whDEngSIxGQeFMQxgOTEMcFYxBpTyMQrPGTEV3Mcx
	GlKzMSAVnzEjZ1AxJKTdMSmOnTEqV34xMwugMTnaLDE0uSExONxkMSbAXTDqKNEwZ6MO
	L6RcWC7xSO4uIWHoLW2M7Cy1CVwsDDrVK2paIyq2fqEqHXAAKYceMyjWIyMoPUPsJ5do
	KicEVWomZsGBJdh0gyVf0OslCn/kJMgECiShxLMknHT6JJB00g==
	</data>
	<key>NoiseProfile1</key>
	<data>
	MqCn0DKtTDMx+oc+MWsA5jENZZMwxfdvMJe/ujBtwSowStbyMCzRCzAVkhcwAYJzL+67
	pS/h8yQvyQ6yL7kmQC+yVikvp9E+L6GfhC+S5XcvkGM/L5Mdhi+N0Lcvi3urL4FyTS+C
	ccwveg4VL3CBwi9ghb8va0PdL2GRAS9dstYvVW2XL05Y2y9P0pIvUvMOL1Judi9Flc4v
	SUTbL0Lo3i9FfSMvRRHkLz40YC87u2QvNfn4Lz7A9S85OM4vOnKaLz300S9DPX4vP/lD
	LzjX9y84rrYvPIV9LzOc9C9BmdIvO4+PL0DQjy84uT4vM4rfL0H8fi88iEUvOduzL0BM
	VS85y4svOD2uLzve8S8/WWkvQ9b2LzzJoy84kWsvO8llLz4XMi9MKfovTdneL0z8VS9J
	XKYvSfEaL1S0WC9c+McvYJG7L20ZeC9oTyovaABZL3CI+i9sX54vbjZkL3qEhC96Tq4v
	hFPcL4Z/Ii+LXSMvi1mzL5je2C+bm8kvnAWaL6pKni+4NksvwettL8SJ+y/P7lAvzGB6
	L8dA0i+1AakvulGKL80nWy/aeJwv5sQmL95vpC/bzyAv2NZCL9in8i/YPxkv6p3eL/xh
	5TAFnGwwCVioMA7W+TAMx2kwB8zxMAqadjAJagMwE+PEMBe1CjAYVvYwJFLwMCVlXzAl
	UMYwIoxEMCfZ9DAzjGkwUTgDMEzD7TBPbgkwTpHSMECi8TAr23QwH39uMBzXaTAmgW8w
	GUUZMCprtzAtq/wwH+rwMA57ljAR4r4wCzqEL/5O/C/2ZXUwBATvMBBADzAQ2NgwCAhp
	L/1QLzAAEg8wA/nsL/YmzC/7AIUv4/CoL9ZzLC/YwlAv8HMeMAkXpTAkk/gwP+8kMES2
	STBFETkwMRvhMBtydzAPPwowAD6xL/4ZjDAFGZAv6oaFL9q6Si/Ps0Uvv9XdL6p5qi+r
	dmMvptTmL5pI6C+ZSiIvjQDsL4iwvi+Qy+wvkMrzL4eB8i9f1hEvSNMIL0QZSS9Srzcv
	Uz5VL2GC4C97O/ovg72qL4ZyPS+E8i4vdkF/L2fJny9K5KsvM51jLyVVEy8eURwvHD2c
	LySOdS83hvkvUqr+L23AWC982qQvgDyQL4Mpsy9prZkvV+B6LzJPhC8YKcQvIOPHLzAc
	Uy84znsvPHiEL0dt8y9O3gQvWeBNL3uvxC+Lj8cvmuBTL6MHnC+qS7AvtFQ9L8lhmi/P
	SDQvzFT3L9b8qS/JtskvvqztL7LEey+WzOsvhNisL2RKWi9j6jAvcBa3L4AA9i+DlSsv
	f3yLL4Ji+S97MwsviJCKL5tXZC+2U90v1FywL+HE4S/U5dgvzGUHL77DxC/ETL4v0kc/
	L99GGS/pcesv9t6kMAmAgDAbBjIwLmBmMEtE7zBe5BAwXb6AMGECcjBYSPMwTwpKMEBh
	RTA7CjYwIzVAMBHqhzACZuQv15BwL7uwBy+4rzcvzXFSL961by/l3c8v72m7L+XOcy/X
	e5IvyS25L7FPkS+bZOovkxQGL5N+8y+XuX4vquyVL9a3QjABLaMwFxCuMCFTQzAsKsQw
	M1vwMC4WJDAfI6kwCoBqL+YPRi++En8vl2HCL4mwcS9812MvXbpSL0mTii84iH8vMApk
	LyxrWS8o7fUvQZW5L0/VQS99ioEviYPwL5gN+i+mYxkvsIBnL9b5gjAA+r0wD/SlMBY1
	yDAhhLYwKewPMCkFejAkYmYwLs6jMD6WczA/2fUwQmaCME33ezBiOPQwa8GvMHnH8DCI
	Czowjd+XMJnwzzCgwYQwpCnjMKxZYTCrngswqxvdML8v6jDTj6Ew6LjoMQgO0jEmr10x
	QBk+MW/5/jGGvvMxlLgSMaf2VjHGGNsx1yM7MeT3FDH0L2IyAb29Mf/ARzIRKk8yE4mH
	MiHU2zIpRgsyM0pYMja++DI8XfAyQ/NuMj72zTI+94gyS6S4MklbIzJInzUyRDECMj9n
	5zI+Q6oyNodGMioOVjIem4gyGZ2+Mh4oODIor0syMpgkMjE8HzIgI1kyEZQiMgshkjII
	SuEyAXM2Meh7RzHkqm4x41ENMdQ7dzHFI94xsylFMaIPYTGHerwxZib8MT15hzEYv6Yw
	98aEMMszzTC2ikowoXhJMJp65jCM0z4wdmRFMFyOvjBJu/swSr3aMEe5+jAyMdcwMLVD
	MCeekjAVPKswDCztL+ZD2S/at/gv6WrJL/8WzjAHDzcwDigMMCUsGDBKAVUwY4a1MIOR
	wzCZnGkwrlIsMLUcajC09gkwyyWaMNLOkzDVusIw4KDyMPZqEzEAT1gxCvQSMQjoOjEL
	4J8xEJcMMQrOgTENP8cxCyf+MQbD1zDwa08w0/hmMMGzOjDDo1AwxhjNMNTOLjDwmysx
	AQ1OMQwXMTETbDAxHOiPMSGDLzEjOSYxJJ9cMSifEjEi07gxLM1fMSV58DDyQvAwgHAQ
	L75d/S8IW00uLFROLWr/bSyeLpsr48C9Ky2dzyp59NUpw+oTKRX1hihUsxgno9KaJuYM
	3iYyX8Qlku7zJRorRiTM1gEksaabJJ716iSfWrYkkT+uJJAdAA==
	</data>
	<key>NoiseProfile2</key>
	<data>
	MsY72zLz/Y4yL0Y9MXB4VjELTl0wt7k5MIoKvTBmpGgwPG8gMBzVpDANlAwv/yF4L+jb
	Sy/bUGIvyVw/L73t8S+zCNAvprCIL6GVvS+co4cvl5MYL5HA0S+L3msvgQOXL3TTIy9m
	DHMvawVwL2Cwsy9bdD0vVqN4L0ziGy9VrF8vSRSJLz+BEC9BxwIvQAscL0MImS82fvEv
	OEYTLzJBmy836/QvMhOALzECri8ymBEvLJFKLyqjUC8owWIvI2ELLyZRti8tvz8vLMMm
	LyIDki8kWusvJ7s2LyhJDi8g0fkvHCF5LxsXii8g3x4vHQi2LyJYoy8ivsQvIB5zLyKQ
	GS8fk3gvIh9MLxpIBS8es1IvJnneLyO37S8dmhUvJOPuLyNWHi8hYBsvJfImLyFbVy8e
	80IvH2X4LyVQES8rogwvJnLaLyL3Bi8jc4AvJxrnLy2aAy8r2mYvLwiaLzZg4y8y1Hkv
	LQCoLy9HIy83DsYvMhmiLzCI6y8ug90vMEd2LzcGiS82m/UvMXngLzfjmi815WEvQmvR
	L0gQZi9JQYovUJzDL0ssyi9Anu4vRHUGL0Q7eS9H8fsvTyacL0vd+y9XwH8vX9wIL2Ku
	ui9665svhjsML4bYVi+C87cvgqtkL4YA7C+NkH8vgfSQL4CSsS967Dwvft6XL36dIC+A
	8dQvkWFVL53nPy+fUDMvlryEL5FL1S+Y2lIvqi8FL74+Gy/HOVovyVWjL8aQdy/Qr0Ev
	0m4gL854RC/NzXUv56u9L/JRJTABqeMwATLdMANM2zAIvJ8wGrftMCvnSzBUNGowgapP
	MJQpyDCas0cwoBesMJarZDCTIykwhjOcMHoIiTCDpsIwpvNxMNPJxjDtM3wxCacbMRu8
	4jEnqYAxL41tMTBREDFB4GAxPtpiMTWryTExa8sxGGuIMQxZODEAaDcxAIx/MPMUkzDk
	MGcw0eGMMMG63zDJ+K0w2MwFMOj/kjDnXbow61cLMPTPdjDhpT0wrk50MKqanzCn1bQw
	oiyQMKyOQzCwC2cwrG0NMLUz0jCwS/swptYYMKa2XjCqFhgwqLbOMKH/hDCWX88wjMjZ
	MJagSzCYt6UwprKlMLB76zC5rD0wvR5fMMF+UzDa2skw/VYSMPwt/DD4uggw5qVpMNUz
	ozC+D5gwrS3/MKN6dzCNzHwwcPk2MF/1RjBDxSkwLsOaMCg84DAexi0wIGHBMCUq9jAl
	zTAwFUJ7MAvxSjACPrkv77H+L9maZi+wFzgvlGN/L2md4S9C8X8vIlwFLxTwGi8PGMcv
	ClrbLwevwS8DzvYvA5ngLw7dJS8lmNQvT1OjL4HTUS+lQy8vweuLL9h55C/+J5QwD0dW
	MCTK4jAtZG8wOQm9MFI2GDB20F0wi9RqMJt8gzCtRi4wpSqOMKPn3zCixR4wnfR0MJFj
	QzCZW6swjnMjMIF/7zCHcYkwgNqrMG4MEDBdFQswZv05MFs9HzBIymQwRT61MEAEXTAx
	hIYwKKlCMBwn8TALzXwwAxDIL/eKly/wThYv8LXrMAjS/DAUbpkwI+OIMCTaoDAeLPkw
	E60SMASFYy/3IGgv7ORMMAAdbTANqbcwEVT2MBgxQDAVbiUwB12LL/PY9S/XYBwvtySp
	L5I+QS9tK/IvcPrBL43x2S+qls0vznHgL/eeXDAL3YEwGGdcMChD1jAyk4MwNY0fMDB1
	LjA8XiQwP7xHMEH78jA4KJkwR7J9MFC5ezBXVGEwZObMMGi9pTBt9S0wcWRFMH0GDzCC
	JT8whWU9MINpyjCFwZgwgf2MMIDR9TB1NZcwZrf/MGMbDzBXx5IwRW3dMD8BzzA94Zow
	ODujMFAJKTBdSU8wdA4RMITWrDCYytAwpwS2MLxIcDDWjl0w/X8aMQsuVzEge9cxI6Ig
	MTIvZjE2H54xPt0tMT9z2DFGznkxSdkVMUU+ijFFNzUxRy/MMTyC+DExqZAxI6BIMRNK
	UzEKEPkw89uFMMzpMTCpiYYwjjXNMIQtdDCRtrwwstOeMKrqxjCMd8kwe2ZYMIVWsDCZ
	+ZAwuFYuMNOpqDECPgMxHrUZMTk7pjFUqFwxcDMpMY7uMzGewF0xsRRfMcL7ETHMelcx
	yj73McD0dzHFNqcxuZ4xMbDdUDGnjfwxmYwjMZfkmzGT8+Axjn5/MYYwSjF0w+wxd9j5
	MXbNbDFpiqQxbah/MWMkXjFi0VwxdRXmMYJ2xTGKUKsxj56JMZfXazGiuTgxqIrnMbcw
	4zHDg/Ex1K7eMdXQ9DHSvI0x6OuSMe5b4THhTw0x0NhvMd8wOjHp1r8x/4ISMgSoeDIS
	yJ0yJeulMi1SgDJBf1gyVWT3MnCxCDJ0Z9AyeU8qMoDdzTKJ02AyjK6iMpfTBjKePgMy
	oaihMqTPzzKnyggyrK7AMrQztzK5XaYyyVuSMtszAzLXlLYy2JsHMraVtjJps5Ix1gK3
	MQg/djAsn7MvQgdGLnRdkS2fgVws2+H7LB4N6itTtPQqoRkTKfwYCCk8x5Iooo8QJ/2p
	QSdaqVAmuQ3YJkIeCyXoYFsloLl/JW45oiVa4jwlSgHKJTUvzA==
	</data>
	<key>NumberOfChannels</key>
	<integer>3</integer>
	<key>SampleRate</key>
	<real>48000</real>
</dict>
</plist>
