<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
    <options visibleOnlyForPredicate="true" hostArchitectures="i386" customize="never"/>
    <title>SU_TITLE</title>
    <script>
</script>
    <installation-check script="InstallationCheck()"/>
    <tags>
        <tag>MultiLingualVoice</tag>
        <tag>VOICEID:com.apple.speech.synthesis.voice.kyoko.premium_2</tag>
        <tag>VOICEID:com.apple.speech.synthesis.voice.kyoko.premium_2;VERSION:2.0.3;LOCALE:ja_JP;NAME:Kyoko;NAMEROOT:Kyoko;GENDER:VoiceGenderFemale;DEMOTEXT:こんにちは、私の名前はKyokoです。日本語の音声をお届けします。;SYNTHID:1919902066;NUMID:444</tag>
    </tags>
    <script>
function InstallationCheck(prefix) {
	my.result.message = system.localizedString('ERROR_0');
	if (!PlistCheck0("/") || !PlistCheck1("/")) {
		my.result.type = 'Fatal';
		return false;
	}
	return true;
}
function PlistCheck0(prefix) {
	if (typeof(my.result) != 'undefined') my.result.message = system.localizedString('ERROR_1');
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.8') &lt; 0) {
		return false;
	}
	return true;
}
function PlistCheck1(prefix) {
	if (typeof(my.result) != 'undefined') my.result.message = system.localizedString('ERROR_2');
	var plist = system.files.plistAtPath(prefix + '/System/Library/CoreServices/SystemVersion.plist');
	if (!plist) {
		return false;
	}
	var plistKeyValue = plist['ProductVersion'];
	if (!plistKeyValue) {
		return false;
	}
	if (system.compareVersions(plistKeyValue, '10.10') >= 0) {
		return false;
	}
	return true;
}
</script>
    <platforms>
        <client arch="i386"/>
        <server arch="i386"/>
    </platforms>
    <choices-outline ui="SoftwareUpdate">
        <line choice="su"/>
    </choices-outline>
    <choices-outline>
        <line choice="su"/>
    </choices-outline>
    <choice id="su" title="SU_TITLE" versStr="SU_VERS" description="SU_DESCRIPTION" description-mime-type="text/html" secondaryDescription="SU_SERVERCOMMENT" suDisabledGroupID="MultilingualVoices" start_selected="true">
        <pkg-ref id="MLV_ja_JP_kyoko" auth="Root" packageIdentifier="com.apple.pkg.MLV_ja_JP_kyoko">MLV_ja_JP_kyoko.pkg</pkg-ref>
    </choice>
    <localization>
        <strings language="English"><![CDATA["SU_TITLE" = "Multi-Lingual Voices";
"SU_VERS" = "2.0.0";
"SU_SERVERCOMMENT" = "For Desktop and Server systems";
"SU_DESCRIPTION" = '<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <style type="text/css">
	body {font: 11.0px Lucida Grande;}
    p {margin: 0.0px 0.0px 0.0px 0.0px;}
  </style>
</head>
<body>
<p>blank for now</p>
</body>
</html>
';
]]></strings>
    </localization>

	<pkg-ref id='MLV_ja_JP_kyoko' installKBytes='252367' version='2.0.0.0.1.1301431254'/>
</installer-gui-script>