<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleVirtualPlatform</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleVirtualPlatform</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleVirtualPlatform</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ApplePL031RTC</key>
		<dict>
			<key>IOClass</key>
			<string>ApplePL031RTC</string>
			<key>IONameMatch</key>
			<string>ARM,pl031</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>ApplePSCI</key>
		<dict>
			<key>IOClass</key>
			<string>ApplePSCI</string>
			<key>IONameMatch</key>
			<string>ARM,psci</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleVirtIOUSBConfiguration</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtualPlatform</string>
			<key>IOClass</key>
			<string>AppleVirtIOUSBConfiguration</string>
			<key>IOProviderClass</key>
			<string>AppleVirtIOTransport</string>
			<key>IOVirtIOPrimaryMatch</key>
			<string>0x1a01106b</string>
		</dict>
		<key>AppleVirtIOUSBDeviceController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtualPlatform</string>
			<key>IOClass</key>
			<string>AppleVirtIOUSBDeviceController</string>
			<key>IOPlatformPanicAction</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleVirtIOUSBConfiguration</string>
		</dict>
		<key>AppleVirtIOUSBPCITransport</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleVirtIO</string>
			<key>IOClass</key>
			<string>AppleVirtIOPCITransport</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x1a01106b</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AppleVirtualPlatformARMPE</key>
		<dict>
			<key>IOClass</key>
			<string>AppleVirtualPlatformARMPE</string>
			<key>IONameMatch</key>
			<string>AppleVirtualPlatformARM</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
			<key>SystemPowerProfileOverrideDict</key>
			<dict>
				<key>System Sleep Timer</key>
				<integer>2147483647</integer>
			</dict>
		</dict>
		<key>AppleVirtualPlatformHIDEventDriver</key>
		<dict>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>2</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDServiceSupport</key>
			<true/>
			<key>HIDSupportsScrollAcceleration</key>
			<false/>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
				<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleVirtualPlatformHIDEventDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProductID</key>
			<integer>33030</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>AppleVirtualPlatformIO</key>
		<dict>
			<key>IOClass</key>
			<string>AppleVirtualPlatformIO</string>
			<key>IONameMatch</key>
			<string>arm-io,vmapple1</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleVirtualPlatformPCIE</key>
		<dict>
			<key>IOClass</key>
			<string>AppleVirtualPlatformPCIE</string>
			<key>IONameMatch</key>
			<string>pcie,vmapple1</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleVirtualPlatformPowerButtons</key>
		<dict>
			<key>IOClass</key>
			<string>AppleVirtualPlatformButtons</string>
			<key>IONameMatch</key>
			<string>ARM,pl061</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>VMA1_BUTTONS</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleVirtualPlatformXART</key>
		<dict>
			<key>IOClass</key>
			<string>AppleVirtualPlatformXART</string>
			<key>IOMatchCategory</key>
			<string>AppleVirtualPlatformXART</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018-2021 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleVirtIO</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.AppleVirtIOStorage</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOCryptoAcceleratorFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.7</string>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6</string>
		<key>com.apple.iokit.IOUSBDeviceFamily</key>
		<string>2.0.0</string>
		<key>com.apple.kec.corecrypto</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
