<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<array>
		<dict>
			<key>icon</key>
			<string>iCloud</string>
			<key>domain</key>
			<string>icloud.com</string>
			<key>Identifier</key>
			<string>IPHEmailProvideriCloudIdentifier</string>
			<key>DisplayName</key>
			<string>iCloud</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mme</string>
			<key>domain</key>
			<string>me.com</string>
			<key>AlternateDomains</key>
			<array>
				<string>mac.com</string>
			</array>
			<key>Identifier</key>
			<string>IPHEmailProviderMobileMeIdentifier</string>
			<key>DisplayName</key>
			<string>MobileMe</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>hotmail</string>
			<key>domain</key>
			<string>hotmail.com</string>
			<key>Identifier</key>
			<string>IPHEmailProviderHotmailIdentifier</string>
			<key>DisplayName</key>
			<string>Hotmail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>yahoo</string>
			<key>domain</key>
			<string>yahoo.com</string>
			<key>Identifier</key>
			<string>IPHEmailProviderYahooIdentifier</string>
			<key>DisplayName</key>
			<string>Yahoo! Mail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>gmail</string>
			<key>domain</key>
			<string>gmail.com</string>
			<key>Identifier</key>
			<string>IPHEmailProviderGmailIdentifier</string>
			<key>DisplayName</key>
			<string>Gmail</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>aol</string>
			<key>domain</key>
			<string>aol.com</string>
			<key>Identifier</key>
			<string>IPHEmailProviderAOLIdentifier</string>
			<key>DisplayName</key>
			<string>AOL</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>IPHEmailProviderOtherIdentifier</string>
			<key>DisplayName</key>
			<string>Other</string>
		</dict>
	</array>
</dict>
</plist>
