<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BezelServicesPlugin</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.driver.AppleTopCaseHIDEventDriver</string>
		<key>Classes</key>
		<dict>
			<key>AppleDeviceManagementHIDEventService</key>
			<dict>
				<key>Actions</key>
				<dict>
					<key>BatteryStatusChangedInfo</key>
					<dict>
						<key>Type</key>
						<string>None</string>
					</dict>
					<key>ExKB2LowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>ExtendedKeyboard2.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>ExKBLowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>ExtendedKeyboard.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KB2LowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Keyboard2.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KB3LowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Keyboard3.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>KBLowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Keyboard.icns</string>
						<key>NCInformativeText</key>
						<string>KeyboardLowBatteryText</string>
						<key>NCTitle</key>
						<string>KeyboardLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>MOLowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>Mouse.icns</string>
						<key>NCInformativeText</key>
						<string>MouseLowBatteryText</string>
						<key>NCTitle</key>
						<string>MouseLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>TPLowBatteryNC</key>
					<dict>
						<key>NCImageURL</key>
						<string>MagicTrackpad.icns</string>
						<key>NCInformativeText</key>
						<string>TrackpadLowBatteryText</string>
						<key>NCTitle</key>
						<string>TrackpadLowBatteryHeader</string>
						<key>Type</key>
						<string>NotificationCenter</string>
					</dict>
					<key>USBConnectedKBOSD</key>
					<dict>
						<key>DelayMS</key>
						<integer>4000</integer>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBConnectedMOOSD</key>
					<dict>
						<key>DelayMS</key>
						<integer>4000</integer>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouseRev.pdf</string>
						<key>MessageKey</key>
						<string>MouseConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBConnectedTPOSD</key>
					<dict>
						<key>DelayMS</key>
						<integer>4000</integer>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadConnectedText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBKBOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtKeyboard.pdf</string>
						<key>MessageKey</key>
						<string>KeyboardOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBMOOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtMouseRev.pdf</string>
						<key>MessageKey</key>
						<string>MouseOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
					<key>USBTPOffOSD</key>
					<dict>
						<key>DurationMS</key>
						<integer>2000</integer>
						<key>Image</key>
						<string>BtTrackpad.pdf</string>
						<key>MessageKey</key>
						<string>TrackpadOffText</string>
						<key>Priority</key>
						<string>600</string>
						<key>Type</key>
						<string>OSD</string>
					</dict>
				</dict>
				<key>Messages</key>
				<dict>
					<key>BatteryStatusChanged</key>
					<dict>
						<key>Action</key>
						<string>BatteryStatusChangedInfo</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>ExKB2LowBattery</key>
					<dict>
						<key>Action</key>
						<string>ExKB2LowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>ExKBLowBattery</key>
					<dict>
						<key>Action</key>
						<string>ExKBLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KB2LowBattery</key>
					<dict>
						<key>Action</key>
						<string>KB2LowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KB3LowBattery</key>
					<dict>
						<key>Action</key>
						<string>KB3LowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>KBLowBattery</key>
					<dict>
						<key>Action</key>
						<string>KBLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>MOLowBattery</key>
					<dict>
						<key>Action</key>
						<string>MOLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>TPLowBattery</key>
					<dict>
						<key>Action</key>
						<string>TPLowBatteryNC</string>
						<key>SuppressBatteryActions</key>
						<true/>
					</dict>
					<key>USBConnectedKB</key>
					<dict>
						<key>Action</key>
						<string>USBConnectedKBOSD</string>
						<key>CancelsPendingAction</key>
						<string>DisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>USBConnectedMO</key>
					<dict>
						<key>Action</key>
						<string>USBConnectedMOOSD</string>
						<key>CancelsPendingAction</key>
						<string>DisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>USBConnectedTP</key>
					<dict>
						<key>Action</key>
						<string>USBConnectedTPOSD</string>
						<key>CancelsPendingAction</key>
						<string>DisconnectOSD</string>
						<key>CancelsSelf</key>
						<true/>
						<key>SuppressConnectionActions</key>
						<true/>
					</dict>
					<key>USBKBOff</key>
					<dict>
						<key>Action</key>
						<string>USBKBOffOSD</string>
					</dict>
					<key>USBMOOff</key>
					<dict>
						<key>Action</key>
						<string>USBMOOffOSD</string>
					</dict>
					<key>USBTPOff</key>
					<dict>
						<key>Action</key>
						<string>USBTPOffOSD</string>
					</dict>
				</dict>
				<key>ReportsBatteryPercent</key>
				<true/>
			</dict>
		</dict>
		<key>Version</key>
		<string>2</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.BezelServices.AppleTopCaseHIDEventDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleTopCaseHIDEventDriver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5450.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5450.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21H1308</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.7</string>
	<key>DTSDKBuild</key>
	<string>21H1308</string>
	<key>DTSDKName</key>
	<string>macosx12.7.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
</dict>
</plist>
