<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>defaultLayoutKey</key>
		<dict>
			<key>alternativeLayoutIds</key>
			<array>
				<string></string>
			</array>
			<key>disableBackground</key>
			<false/>
			<key>drawingBehavior</key>
			<integer>0</integer>
			<key>favorability</key>
			<real>0.5</real>
			<key>frames</key>
			<array>
				<dict>
					<key>attributes</key>
					<array/>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>empty</string>
					<key>drawingOrder</key>
					<integer>1</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>627.51176499999997</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string>&lt;null&gt;</string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>747.52322700000002</real>
					<key>x</key>
					<real>369.14727299999998</real>
					<key>y</key>
					<real>434.61000000000001</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>includeInFrameMat</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/AF893360-401A-4D02-A79C-B3E54019FAA6.ppb/Resources/Images/14630030.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.436183,1,0.432885,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.279846</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.includeInFrameMat</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>photoTreatment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.photoTreatment</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>2</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>559.99764700000003</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string>&lt;null&gt;</string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>418.36690900000002</real>
					<key>x</key>
					<real>205.081818</real>
					<key>y</key>
					<real>403.95176500000002</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/AF893360-401A-4D02-A79C-B3E54019FAA6.ppb/Resources/Images/14670018.JPG</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.482808,1,0.505093,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.503723</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>3</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.includeInFrameMat</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>includeInFrameMat</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>3</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>355.47529400000002</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string>&lt;null&gt;</string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>445.36690900000002</real>
					<key>x</key>
					<real>641.05036399999995</real>
					<key>y</key>
					<real>506.212941</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>imageKey</string>
							<key>value</key>
							<string>/AF893360-401A-4D02-A79C-B3E54019FAA6.ppb/Resources/Images/14620031.jpg</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>pan</string>
							<key>value</key>
							<string>0.500000,1,0.395223,1</string>
							<key>valueType</key>
							<string>pointString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>userAlteredPhotoPanZoom</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>zoom</string>
							<key>value</key>
							<string>1.000000</string>
							<key>valueType</key>
							<string>float</string>
						</dict>
						<dict>
							<key>key</key>
							<string>projectPhotoId</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.includeInFrameMat</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>includeInFrameMat</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>photo</string>
					<key>drawingOrder</key>
					<integer>4</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>200.39058800000001</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string>&lt;null&gt;</string>
					<key>treatmentId</key>
					<string>None</string>
					<key>treatmentIdentifier</key>
					<string>None</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>445.36690900000002</real>
					<key>x</key>
					<real>641.05036399999995</real>
					<key>y</key>
					<real>224.148235</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>255,255,255,1</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>Georgia2833</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>Georgia2833</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>ProjectName</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>109,101,89,1</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textUsageMask</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>Autumn in Japan</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Title</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textUsageMask</string>
							<key>value</key>
							<string>4</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>5</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>39.251764999999999</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string>&lt;null&gt;</string>
					<key>treatmentId</key>
					<string></string>
					<key>treatmentIdentifier</key>
					<string></string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>734.19290899999999</real>
					<key>x</key>
					<real>406.06200000000001</real>
					<key>y</key>
					<real>89.865881999999999</real>
				</dict>
				<dict>
					<key>attributes</key>
					<array>
						<dict>
							<key>key</key>
							<string>uppercase</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>usageTag</string>
							<key>value</key>
							<string>Subtitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>verticalAlignment</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textColor</string>
							<key>value</key>
							<string>255,255,255,1</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textStyleName</string>
							<key>value</key>
							<string>GeorgiaItalic1521</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasClippedText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textStyleName</string>
							<key>value</key>
							<string>GeorgiaItalic1521</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.rawText</string>
							<key>value</key>
							<string>DefaultAuthorSubtitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textColor</string>
							<key>value</key>
							<string>109,101,89,1</string>
							<key>valueType</key>
							<string>colorString</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textUsageMask</string>
							<key>value</key>
							<string>8</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textType</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>rawText</string>
							<key>value</key>
							<string>The Hikiji Family</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.usageTag</string>
							<key>value</key>
							<string>Subtitle</string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>horizontalAlignment</string>
							<key>value</key>
							<string>2</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>richText</string>
							<key>value</key>
							<string></string>
							<key>valueType</key>
							<string>string</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.hasBoilerplateText</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.verticalAlignment</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>prototype.textType</string>
							<key>value</key>
							<string>1</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>textUsageMask</string>
							<key>value</key>
							<string>8</string>
							<key>valueType</key>
							<string>int</string>
						</dict>
						<dict>
							<key>key</key>
							<string>hasBoilerplateText</string>
							<key>value</key>
							<string>0</string>
							<key>valueType</key>
							<string>bool</string>
						</dict>
					</array>
					<key>behaviors</key>
					<array>
						<string></string>
					</array>
					<key>blendMode</key>
					<string>normal</string>
					<key>contentEntityClass</key>
					<string>text</string>
					<key>drawingOrder</key>
					<integer>6</integer>
					<key>fillOrder</key>
					<integer>0</integer>
					<key>height</key>
					<real>20.658823999999999</real>
					<key>hidden</key>
					<false/>
					<key>isLink</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>mirrorAlignment</key>
					<false/>
					<key>name</key>
					<string></string>
					<key>rotation</key>
					<real>0.0</real>
					<key>source</key>
					<string>&lt;null&gt;</string>
					<key>treatmentId</key>
					<string>BentoBox_cover_text_8FF31CEF-CDF1-FEC2-2F63-C02426A26C81</string>
					<key>treatmentIdentifier</key>
					<string>BentoBox_cover_text_8FF31CEF-CDF1-FEC2-2F63-C02426A26C81</string>
					<key>uuid</key>
					<string></string>
					<key>width</key>
					<real>734.19290899999999</real>
					<key>x</key>
					<real>406.06200000000001</real>
					<key>y</key>
					<real>39.251764999999999</real>
				</dict>
			</array>
			<key>hasMapFrames</key>
			<false/>
			<key>hasPhotoFrames</key>
			<true/>
			<key>hasTextFrames</key>
			<true/>
			<key>height</key>
			<real>632.15999999999997</real>
			<key>holeCount</key>
			<integer>3</integer>
			<key>layoutTypeId</key>
			<string>photo</string>
			<key>mirror</key>
			<string>none</string>
			<key>name</key>
			<string>LD-Cover-3Up</string>
			<key>treatmentId</key>
			<string>BentoBox_background_080588DC-7F7A-D372-C22C-D6B6092939C5</string>
			<key>treatmentIdentifier</key>
			<string>BentoBox_background_080588DC-7F7A-D372-C22C-D6B6092939C5</string>
			<key>uuid</key>
			<string>852400D8-C2EA-45BE-AE3A-2FA43EB8BBC6</string>
			<key>width</key>
			<real>812.12400000000002</real>
		</dict>
		<key>defaultMasterIdentifiersByUsage</key>
		<dict>
			<key>backCover</key>
			<string>03D2E8ED-84CB-4DDA-89E1-15A54F25E40B</string>
			<key>cover</key>
			<string>F87594DD-35A3-425E-A569-D317C2DDE88B</string>
			<key>flap</key>
			<string>FAE0953C-62DE-4663-A6C6-18C685A87D8B</string>
			<key>inside</key>
			<string>3EC916AF-3CA0-4BE7-95A4-759164352D4A</string>
		</dict>
		<key>defaultPagesTreatments</key>
		<array>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_FD307B11-1E1A-59CC-715D-29AD839A2CE6</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_027B3BEC-AEC2-5AD6-E941-7BB7FB3281C0</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_FD307B11-1E1A-59CC-715D-29AD839A2CE6</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_027B3BEC-AEC2-5AD6-E941-7BB7FB3281C0</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_FD307B11-1E1A-59CC-715D-29AD839A2CE6</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_027B3BEC-AEC2-5AD6-E941-7BB7FB3281C0</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_FD307B11-1E1A-59CC-715D-29AD839A2CE6</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_027B3BEC-AEC2-5AD6-E941-7BB7FB3281C0</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_FD307B11-1E1A-59CC-715D-29AD839A2CE6</string>
			<string>BentoBox_background_2BA90875-D02D-60EE-2EC1-3F04A6AF5FA6</string>
			<string>BentoBox_background_027B3BEC-AEC2-5AD6-E941-7BB7FB3281C0</string>
		</array>
	</dict>
	<key>info</key>
	<dict>
		<key>catalogVersion</key>
		<integer>1</integer>
		<key>keywords</key>
		<array>
			<string>Featured</string>
		</array>
		<key>languages</key>
		<array/>
		<key>name</key>
		<string>Bento Box</string>
		<key>productCodes</key>
		<array>
			<string>HardcoverBook</string>
		</array>
		<key>themeIdentifier</key>
		<string>BentoBox-LD</string>
		<key>themePreviewIdentifier</key>
		<string>BentoBox-LD_AF893360-401A-4D02-A79C-B3E54019FAA6</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>drawRect</key>
		<string>{{5, 5}, {313, 244}}</string>
		<key>drawScale</key>
		<real>0.38540912471494498</real>
		<key>textFrames</key>
		<dict>
			<key>Subtitle</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Subtitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>255,255,255,1</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>GeorgiaItalic1521</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>GeorgiaItalic1521</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>DefaultAuthorSubtitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>109,101,89,1</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textUsageMask</string>
						<key>value</key>
						<string>8</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>The Hikiji Family</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Subtitle</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasBoilerplateText</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>1</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textUsageMask</string>
						<key>value</key>
						<string>8</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>6</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>20.658823999999999</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string>&lt;null&gt;</string>
				<key>treatmentId</key>
				<string>BentoBox_cover_text_8FF31CEF-CDF1-FEC2-2F63-C02426A26C81</string>
				<key>treatmentIdentifier</key>
				<string>BentoBox_cover_text_8FF31CEF-CDF1-FEC2-2F63-C02426A26C81</string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>734.19290899999999</real>
				<key>x</key>
				<real>406.06200000000001</real>
				<key>y</key>
				<real>39.251764999999999</real>
			</dict>
			<key>Title</key>
			<dict>
				<key>attributes</key>
				<array>
					<dict>
						<key>key</key>
						<string>uppercase</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>verticalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textColor</string>
						<key>value</key>
						<string>255,255,255,1</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textStyleName</string>
						<key>value</key>
						<string>Georgia2833</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasClippedText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textStyleName</string>
						<key>value</key>
						<string>Georgia2833</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.rawText</string>
						<key>value</key>
						<string>ProjectName</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textColor</string>
						<key>value</key>
						<string>109,101,89,1</string>
						<key>valueType</key>
						<string>colorString</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textUsageMask</string>
						<key>value</key>
						<string>4</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textType</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>rawText</string>
						<key>value</key>
						<string>Autumn in Japan</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.usageTag</string>
						<key>value</key>
						<string>Title</string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>horizontalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>richText</string>
						<key>value</key>
						<string></string>
						<key>valueType</key>
						<string>string</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.verticalAlignment</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>prototype.textType</string>
						<key>value</key>
						<string>2</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>textUsageMask</string>
						<key>value</key>
						<string>4</string>
						<key>valueType</key>
						<string>int</string>
					</dict>
					<dict>
						<key>key</key>
						<string>hasBoilerplateText</string>
						<key>value</key>
						<string>0</string>
						<key>valueType</key>
						<string>bool</string>
					</dict>
				</array>
				<key>behaviors</key>
				<array>
					<string></string>
				</array>
				<key>blendMode</key>
				<string>normal</string>
				<key>contentEntityClass</key>
				<string>text</string>
				<key>drawingOrder</key>
				<integer>5</integer>
				<key>fillOrder</key>
				<integer>0</integer>
				<key>height</key>
				<real>39.251764999999999</real>
				<key>hidden</key>
				<false/>
				<key>isLink</key>
				<false/>
				<key>locked</key>
				<false/>
				<key>mirrorAlignment</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>rotation</key>
				<real>0.0</real>
				<key>source</key>
				<string>&lt;null&gt;</string>
				<key>treatmentId</key>
				<string></string>
				<key>treatmentIdentifier</key>
				<string></string>
				<key>uuid</key>
				<string></string>
				<key>width</key>
				<real>734.19290899999999</real>
				<key>x</key>
				<real>406.06200000000001</real>
				<key>y</key>
				<real>89.865881999999999</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
