<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>IOAccessoryManager</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Default Impulse Marker</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>Component</key>
				<string>0x94</string>
				<key>Code</key>
				<string>0</string>
				<key>EventsMatchedBy</key>
				<string>Thread</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AIDBulkDataRead</string>
				<key>Type</key>
				<string>Interval</string>
				<key>Component</key>
				<string>0x94</string>
				<key>CodeBegin</key>
				<string>0x81</string>
				<key>CodeEnd</key>
				<string>0x82</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AIDBulkDataWrite</string>
				<key>Type</key>
				<string>Interval</string>
				<key>Component</key>
				<string>0x94</string>
				<key>CodeBegin</key>
				<string>0x83</string>
				<key>CodeEnd</key>
				<string>0x84</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>BulkDataHIDGetReport</string>
				<key>Type</key>
				<string>Interval</string>
				<key>Component</key>
				<string>0x94</string>
				<key>CodeBegin</key>
				<string>0x141</string>
				<key>CodeEnd</key>
				<string>0x142</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>BulkDataHIDSetReport</string>
				<key>Type</key>
				<string>Interval</string>
				<key>Component</key>
				<string>0x94</string>
				<key>CodeBegin</key>
				<string>0x143</string>
				<key>CodeEnd</key>
				<string>0x144</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>BulkDataHIDHandleReport</string>
				<key>Type</key>
				<string>Interval</string>
				<key>Component</key>
				<string>0x94</string>
				<key>CodeBegin</key>
				<string>0x145</string>
				<key>CodeEnd</key>
				<string>0x146</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
