<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BigDate-Calendar.keywords</key>
	<array>
		<string>CALENDARCategoryAll:200</string>
	</array>
	<key>BigDate-Calendar.products</key>
	<array>
		<string>Calendar</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.apple.printproducts.theme.BigDate-Calendar</string>
	<key>CatalogVersion</key>
	<integer>2</integer>
	<key>CompileDate</key>
	<date>2016-12-08T19:10:15Z</date>
	<key>ThemeIdentifiers</key>
	<array>
		<string>BigDate-Calendar</string>
	</array>
</dict>
</plist>
