<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewOptionsInitialSettings</key>
	<dict>
		<key>ViewerShowProperties</key>
		<true/>
		<key>ViewerPropertySet</key>
		<integer>1</integer>
		<key>ViewerSet1MetadataName</key>
		<string>basicViewer</string>
		<key>ViewerSet1Placement</key>
		<integer>1</integer>
		<key>ViewerSet1ShowLabels</key>
		<false/>
		<key>ViewerSet2MetadataName</key>
		<string>alternateViewer</string>
		<key>ViewerSet2Placement</key>
		<integer>2</integer>
		<key>ViewerSet2ShowLabels</key>
		<true/>
		<key>GridViewShowProperties</key>
		<true/>
		<key>GridViewPropertySet</key>
		<integer>2</integer>
		<key>GridViewSet1MetadataName</key>
		<string>basicGridView</string>
		<key>GridViewSet1Placement</key>
		<integer>2</integer>
		<key>GridViewSet1ShowLabels</key>
		<false/>
		<key>GridViewSet2MetadataName</key>
		<string>alternateGridView</string>
		<key>GridViewSet2Placement</key>
		<integer>1</integer>
		<key>GridViewSet2ShowLabels</key>
		<false/>
		<key>LightTableShowProperties</key>
		<true/>
		<key>LightTablePropertySet</key>
		<integer>1</integer>
		<key>LightTableSet1MetadataName</key>
		<string>basicGridView</string>
		<key>LightTableSet1ShowLabels</key>
		<false/>
		<key>LightTableSet1Placement</key>
		<integer>1</integer>
		<key>ListViewPropertySet</key>
		<integer>1</integer>
		<key>ListViewSet1MetadataName</key>
		<string>basicList</string>
		<key>ListViewSet2MetadataName</key>
		<string>alternateList</string>
		<key>TooltipMetadataName</key>
		<string>tooltips</string>
		<key>isUserVisible</key>
		<false/>
	</dict>
	<key>hidden</key>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>CustomIndex</string>
			</dict>
		</array>
		<key>isUserVisible</key>
		<false/>
	</dict>
	<key>badges</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>valueType</key>
			<integer>9</integer>
			<key>formatterClass</key>
			<string>RKBooleanFormatter</string>
		</dict>
		<key>Movie</key>
		<dict>
			<key>valueType</key>
			<integer>9</integer>
			<key>formatterClass</key>
			<string>RKBooleanFormatter</string>
		</dict>
		<key>Missing</key>
		<dict>
			<key>valueType</key>
			<integer>9</integer>
			<key>formatterClass</key>
			<string>RKBooleanFormatter</string>
		</dict>
		<key>ExternallyEditable</key>
		<dict>
			<key>valueType</key>
			<integer>9</integer>
			<key>formatterClass</key>
			<string>RKBooleanFormatter</string>
		</dict>
	</dict>
	<key>allBadges</key>
	<dict>
		<key>valueType</key>
		<integer>3</integer>
		<key>formatterClass</key>
		<string>RKBadgesFormatter</string>
		<key>isCollection</key>
		<true/>
	</dict>
	<key>basicProperties</key>
	<dict>
		<key>VersionName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>AspectRatio</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>FileName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>FileSize</key>
		<dict>
			<key>valueType</key>
			<integer>5</integer>
			<key>formatterClass</key>
			<string>RKFileSizeFormatter</string>
		</dict>
		<key>ImportGroup</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>formatterClass</key>
			<string>RKRemoveExtensionFormatter</string>
		</dict>
		<key>Orientation</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>PixelSize</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>MasterLocation</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ProjectName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ProcessedPixelSize</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>MainRating</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKRatingFormatter</string>
		</dict>
		<key>ColorLabel</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>LastModifiedDate</key>
		<dict>
			<key>valueType</key>
			<integer>2</integer>
		</dict>
		<key>Flagged</key>
		<dict>
			<key>valueType</key>
			<integer>9</integer>
			<key>formatterClass</key>
			<string>RKFlagFormatter</string>
		</dict>
	</dict>
	<key>ratings</key>
	<dict>
		<key>valueType</key>
		<integer>4</integer>
		<key>isCollection</key>
		<true/>
	</dict>
	<key>tags</key>
	<dict>
		<key>valueType</key>
		<integer>3</integer>
		<key>isCollection</key>
		<true/>
		<key>formatterClass</key>
		<string>RKTagListFormatter</string>
	</dict>
	<key>customInfo</key>
	<dict>
		<key>valueType</key>
		<integer>3</integer>
		<key>isCollection</key>
		<true/>
		<key>formatterClass</key>
		<string>RKDictionaryFormatter</string>
	</dict>
	<key>exifProperties</key>
	<dict>
		<key>Altitude</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKGpsAltitudeFormatter</string>
		</dict>
		<key>AltitudeRef</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>isUserVisible</key>
			<false/>
		</dict>
		<key>ApertureValue</key>
		<dict>
			<key>valueType</key>
			<integer>7</integer>
			<key>components</key>
			<array>
				<string>ApertureValue</string>
				<string>FNumber</string>
			</array>
			<key>formatterClass</key>
			<string>RKApertureFormatter</string>
		</dict>
		<key>Artist</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>BrightnessValue</key>
		<dict>
			<key>valueType</key>
			<integer>7</integer>
		</dict>
		<key>CameraSerialNumber</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>components</key>
			<array>
				<string>CameraSerialNumber</string>
				<string>CanonSerial</string>
			</array>
		</dict>
		<key>CaptureYear</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>CaptureMonthOfYear</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>CaptureDayOfMonth</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>CaptureDayOfWeek</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>CaptureHourOfDay</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>CaptureMinuteOfHour</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>CaptureSecondOfMinute</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>ColorModel</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Copyright</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ColorSpace</key>
		<dict>
			<key>valueType</key>
			<integer>5</integer>
			<key>formatterClass</key>
			<string>RKColorSpaceFormatter</string>
		</dict>
		<key>Contrast</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKContrastSharpnessFormatter</string>
		</dict>
		<key>DataRate</key>
		<dict>
			<key>valueType</key>
			<integer>6</integer>
			<key>formatterString</key>
			<string>#,###.## kbps;0 kbps;-#.# kbps</string>
		</dict>
		<key>DNGBackwardVersion</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>DNGVersion</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>Depth</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>ExifVersion</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ExposureBiasValue</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>formatterClass</key>
			<string>RKExposureBiasFormatter</string>
		</dict>
		<key>ExposureMode</key>
		<dict>
			<key>formatterClass</key>
			<string>RKExposureModeFormatter</string>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>ExposureProgram</key>
		<dict>
			<key>formatterClass</key>
			<string>RKExposureProgramFormatter</string>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>Firmware</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Flash</key>
		<dict>
			<key>formatterClass</key>
			<string>RKFlashFormatter</string>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>FlashExposureComp</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>formatterClass</key>
			<string>RKExposureBiasFormatter</string>
		</dict>
		<key>FlashPixVersion</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>FocalLenIn35mmFilm</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterString</key>
			<string>0.0mm</string>
		</dict>
		<key>FocalLength</key>
		<dict>
			<key>valueType</key>
			<integer>6</integer>
			<key>formatterString</key>
			<string>#.#mm</string>
		</dict>
		<key>FocusMode</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKFocusModeFormatter</string>
		</dict>
		<key>FocusDistance</key>
		<dict>
			<key>valueType</key>
			<integer>7</integer>
			<key>formatterClass</key>
			<string>RKFocusDistanceFormatter</string>
		</dict>
		<key>FPS</key>
		<dict>
			<key>valueType</key>
			<integer>6</integer>
		</dict>
		<key>GPSVersion</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ImageDate</key>
		<dict>
			<key>valueType</key>
			<integer>2</integer>
			<key>components</key>
			<array>
				<string>DateTime</string>
				<string>DateTimeDigitized</string>
				<string>DateTimeOriginal</string>
			</array>
		</dict>
		<key>ISOSpeedRating</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterString</key>
			<string>ISO 0</string>
			<key>components</key>
			<array>
				<string>ISOSpeedRatings</string>
				<string>NikonISOSet</string>
				<string>NikonISOSetting</string>
			</array>
		</dict>
		<key>ImageDescription</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ImgDirection</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>formatterClass</key>
			<string>RKGpsDirectionFormatter</string>
		</dict>
		<key>ImgDirectionRef</key>
		<dict>
			<key>valueType</key>
			<string>3</string>
			<key>isUserVisible</key>
			<false/>		
		</dict>
		<key>Latitude</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>formatterClass</key>
			<string>RKGpsLatitudeFormatter</string>
		</dict>
		<key>LensMaxMM</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterString</key>
			<string>0.0mm</string>
		</dict>
		<key>LensMinMM</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterString</key>
			<string>0.0mm</string>
		</dict>
		<key>LensModel</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Longitude</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>formatterClass</key>
			<string>RKGpsLongitudeFormatter</string>
		</dict>
		<key>Make</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>MapDatum</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>MaxApertureValue</key>
		<dict>
			<key>valueType</key>
			<integer>7</integer>
		</dict>
		<key>MeasuredEV</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>formatterString</key>
			<string>+0.0##ev;0ev;-0.0##ev</string>
		</dict>
		<key>MeteringMode</key>
		<dict>
			<key>formatterClass</key>
			<string>RKMeteringModeFormatter</string>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>Model</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>MovieDuration</key>
		<dict>
			<key>formatterClass</key>
			<string>RKTimeDurationFormatter</string>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>NikonFlashSet</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>NikonFlashSetting</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>NikonFocusMode</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>NikonImageSharpening</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>NikonQuality</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>NikonSharpenMode</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>NikonWhiteBalanceMode</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>OwnerName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>PixelHeight</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>PixelWidth</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>ProfileName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Saturation</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKSaturationFormatter</string>
		</dict>
		<key>SceneCaptureType</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKSceneCaptureFormatter</string>
		</dict>
		<key>Sharpness</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKContrastSharpnessFormatter</string>
		</dict>
		<key>ShootingMode</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
		</dict>
		<key>ShutterSpeed</key>
		<dict>
			<key>valueType</key>
			<integer>8</integer>
			<key>components</key>
			<array>
				<string>ShutterSpeedValue</string>
				<string>ExposureTime</string>
			</array>
			<key>formatterClass</key>
			<string>RKShutterSpeedFormatter</string>
		</dict>
		<key>Software</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>SubjectDistance</key>
		<dict>
			<key>valueType</key>
			<integer>7</integer>
		</dict>
		<key>UserComment</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>SubsecondTime</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>components</key>
			<array>
				<string>SubsecTime</string>
				<string>SubsecTimeDigitized</string>
				<string>SubsecTimeOriginal</string>
			</array>
		</dict>
		<key>WhiteBalance</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKWhiteBalanceFormatter</string>
		</dict>
		<key>LightSource</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>isUserVisible</key>
			<false/>
		</dict>
		<key>WhiteBalanceIndex</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>isUserVisible</key>
			<false/>
		</dict>
	</dict>
	<key>iptcProperties</key>
	<dict>
		<key>ActionAdvised</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>AudioDuration</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>AudioOutcue</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>AudioSamplingRate</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>AudioSamplingRes</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>AudioType</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Byline</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>BylineTitle</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Caption/Abstract</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Category</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiAdrCity</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiAdrCtry</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiAdrExtadr</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiAdrPcode</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiAdrRegion</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiEmailWork</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiTelWork</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CiUrlWork</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>City</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Contact</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ContentLocationCode</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ContentLocationName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>CopyrightNotice</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Country/PrimaryLocationCode</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Country/PrimaryLocationName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Credit</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>DateCreated</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>DigitalCreationDate</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>DigitalCreationTime</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>EditStatus</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>EditorialUpdate</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ExpirationDate</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ExpirationTime</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>FixtureIdentifier</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Headline</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ImageOrientation</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ImageType</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Keywords</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>LanguageIdentifier</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ObjectAttributeReference</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ObjectCycle</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ObjectName</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ObjectTypeReference</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>OriginatingProgram</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>OriginalTransmissionReference</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ProgramVersion</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Province/State</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ReferenceDate</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ReferenceNumber</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ReferenceService</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ReleaseDate</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>ReleaseTime</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Scene</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Source</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>SpecialInstructions</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>SubjectReference</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>SubLocation</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>SupplementalCategory</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>TimeCreated</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Urgency</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>formatterClass</key>
			<string>RKIPTCNumberFormatter</string>
		</dict>
		<key>UsageTerms</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
		<key>Writer/Editor</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>adjustmentProperties</key>
	<dict>
		<key>RawDecodeVersion</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>statistics</key>
	<dict>
		<key>exported</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKStatisticFormatter</string>
		</dict>
		<key>printed</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKStatisticFormatter</string>
		</dict>
		<key>emailed</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKStatisticFormatter</string>
		</dict>
		<key>orderedViaBook</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKStatisticFormatter</string>
		</dict>
		<key>orderedPrint</key>
		<dict>
			<key>valueType</key>
			<integer>4</integer>
			<key>formatterClass</key>
			<string>RKStatisticFormatter</string>
		</dict>
	</dict>
	<key>placesProperties</key>
	<dict>
		<key>Ocean</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>1</integer>
		</dict>
		<key>Country</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>2</integer>
		</dict>
		<key>State</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>3</integer>
		</dict>
		<key>County</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>4</integer>
		</dict>
		<key>City</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>5</integer>
		</dict>
		<key>Neighborhood</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>6</integer>
		</dict>
		<key>Aoi</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>7</integer>
		</dict>
		<key>Poi</key>
		<dict>
			<key>valueType</key>
			<integer>3</integer>
			<key>displayOrder</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
