<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustments</key>
	<dict>
		<key>color index</key>
		<integer>0</integer>
		<key>commands</key>
		<array>
			<string>showHideAdjustmentsInspector</string>
		</array>
	</dict>
	<key>adjustmentPresets</key>
	<dict>
		<key>color index</key>
		<integer>6</integer>
		<key>commands</key>
		<array/>
	</dict>
	<key>browser</key>
	<dict>
		<key>color index</key>
		<integer>3</integer>
		<key>commands</key>
		<array>
			<string>filterByFiveStars</string>
			<string>reduceSelection</string>
			<string>gridView</string>
			<string>selectAll</string>
			<string>filterByFourStars</string>
			<string>showAll</string>
			<string>filterByOneStar</string>
			<string>deselectAll</string>
			<string>filterByUnratedOrBetter</string>
			<string>showUnrated</string>
			<string>filterByTwoStars</string>
			<string>filterByThreeStars</string>
			<string>showRejected</string>
			<string>listView</string>
			<string>filmstrip</string>
			<string>filterByNoColor</string>
			<string>filterByRedColor</string>
			<string>filterByOrangeColor</string>
			<string>filterByYellowColor</string>
			<string>filterByGreenColor</string>
			<string>filterByBlueColor</string>
			<string>filterByPurpleColor</string>
			<string>filterByGrayColor</string>
			<string>filterByFlagged</string>
		</array>
	</dict>
	<key>tools</key>
	<dict>
		<key>color index</key>
		<integer>4</integer>
		<key>commands</key>
		<array>
			<string>selectArrowTool</string>
			<string>selectStraightenTool</string>
			<string>selectSpotAndPatchTool</string>
			<string>selectCropTool</string>
			<string>selectRotateTool</string>
			<string>selectRedEyeTool</string>
			<string>selectLiftTool</string>
			<string>selectStampTool</string>
			<string>selectRetouchTool</string>
			<string>selectDodgeTool</string>
			<string>selectBurnTool</string>
		</array>
	</dict>
	<key>metadata</key>
	<dict>
		<key>color index</key>
		<integer>1</integer>
		<key>commands</key>
		<array>
			<string>flag</string>
			<string>colorLabelRed</string>
			<string>colorLabelOrange</string>
			<string>colorLabelYellow</string>
			<string>colorLabelGreen</string>
			<string>colorLabelBlue</string>
			<string>colorLabelPurple</string>
			<string>colorLabelGray</string>
			<string>colorLabelNone</string>
			<string>reject</string>
			<string>decreaseRating</string>
			<string>increaseRating</string>
			<string>select</string>
			<string>rejectAndRemoveLastRating</string>
			<string>decreaseRatingAndRemoveLastRating</string>
			<string>increaseRatingAndRemoveLastRating</string>
			<string>selectAndRemoveLastRating</string>
			<string>rejectAndRemoveLastRatingAndSelectNextImage</string>
			<string>decreaseRatingAndRemoveLastRatingAndSelectNextImage</string>
			<string>increaseRatingAndRemoveLastRatingAndSelectNextImage</string>
			<string>selectAndRemoveLastRatingAndSelectNextImage</string>
			<string>rejectAndSelectNextImage</string>
			<string>decreaseRatingAndSelectNextImage</string>
			<string>increaseRatingAndSelectNextImage</string>
			<string>selectAndMoveToNextImage</string>
			<string>setRatingAsUnrated</string>
			<string>setRatingAsOneStar</string>
			<string>setRatingAsTwoStars</string>
			<string>setRatingAsThreeStars</string>
			<string>setRatingAsFourStars</string>
			<string>setRatingAsFiveStars</string>
			<string>batchChange</string>
			<string>showHideMetadataInspector</string>
			<string>assignPlace</string>
			<string>managePlaces</string>
			<string>removeLocations</string>
			<string>writeIPTCToMaster</string>
			<string>reloadEXIF</string>
		</array>
	</dict>
	<key>interface</key>
	<dict>
		<key>color index</key>
		<integer>5</integer>
		<key>commands</key>
		<array>
			<string>browserOnly</string>
			<string>browserAndViewer</string>
			<string>viewerOnly</string>
			<string>nextWorkspaceView</string>
			<string>fullScreen</string>
			<string>swapBrowserPosition</string>
			<string>rotateBrowserPosition</string>
			<string>showHideProjectInspector</string>
			<string>showHideLoupe</string>
			<string>swapInspectorPosition</string>
			<string>viewerMetadataOverlays</string>
			<string>changeViewerMetadataSet</string>
			<string>gridViewMetadataOverlays</string>
			<string>changeBrowserMetadataSet</string>
			<string>nextInspectorTab</string>
			<string>showAllProjects</string>
			<string>showHideToolbar</string>
			<string>showHideActivity</string>
			<string>showHideControlBar</string>
			<string>showHideInspector</string>
			<string>showHideImportPanel</string>
			<string>showHideKeywordControls</string>
			<string>showHideKeywordsHUD</string>
			<string>showHideVaults</string>
			<string>showHideLiftStampHUD</string>
		</array>
	</dict>
	<key>viewer</key>
	<dict>
		<key>color index</key>
		<integer>2</integer>
		<key>commands</key>
		<array>
			<string>zoomViewer</string>
			<string>zoomInViewer</string>
			<string>zoomOutViewer</string>
			<string>primaryMode</string>
			<string>stackMode</string>
			<string>secondaryOff</string>
			<string>secondaryAlternate</string>
			<string>secondaryMirror</string>
			<string>secondarySpan</string>
			<string>threeUpMode</string>
			<string>compareMode</string>
			<string>secondaryBlank</string>
			<string>multiMode</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 1</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordOne</string>
			<string>removeKeywordOne</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 2</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordTwo</string>
			<string>removeKeywordTwo</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 3</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordThree</string>
			<string>removeKeywordThree</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 4</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordFour</string>
			<string>removeKeywordFour</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 5</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordFive</string>
			<string>removeKeywordFive</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 6</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordSix</string>
			<string>removeKeywordSix</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 7</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordSeven</string>
			<string>removeKeywordSeven</string>
		</array>
	</dict>
	<key>a_addRemovePresetWithModifiers: - 8</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>addKeywordEight</string>
			<string>removeKeywordEight</string>
		</array>
	</dict>
	<key>a_setRatingWithModifiers: - -1</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>reject</string>
			<string>rejectAndSelectNextImage</string>
			<string>rejectCompareItem</string>
			<string>rejectAndRemoveLastRating</string>
			<string>rejectAndRemoveLastRatingAndSelectNextImage</string>
		</array>
	</dict>
	<key>a_adjustRatingWithModifiers: - -1</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>decreaseRating</string>
			<string>decreaseRatingAndSelectNextImage</string>
			<string>decreaseRatingOfCompareItem</string>
			<string>decreaseRatingAndRemoveLastRating</string>
			<string>decreaseRatingAndRemoveLastRatingAndSelectNextImage</string>
		</array>
	</dict>
	<key>a_adjustRatingWithModifiers: - 1</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>increaseRating</string>
			<string>increaseRatingAndSelectNextImage</string>
			<string>increaseRatingOfCompareItem</string>
			<string>increaseRatingAndRemoveLastRating</string>
			<string>increaseRatingAndRemoveLastRatingAndSelectNextImage</string>
		</array>
	</dict>
	<key>a_setRatingWithModifiers: - 5</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>select</string>
			<string>selectAndMoveToNextImage</string>
			<string>setCompareItemAsSelect</string>
			<string>selectAndRemoveLastRating</string>
			<string>selectAndRemoveLastRatingAndSelectNextImage</string>
		</array>
	</dict>
	<key>a_setRatingWithModifiers: - 0</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>setRatingAsFiveStars</string>
			<string>setRatingAsFourStars</string>
			<string>setRatingAsThreeStars</string>
			<string>setRatingAsTwoStars</string>
			<string>setRatingAsOneStar</string>
			<string>setRatingAsUnrated</string>
			<string>reject</string>
		</array>
	</dict>
	<key>a_setColorLabelIndex: - 0</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>colorLabelRed</string>
			<string>colorLabelOrange</string>
			<string>colorLabelYellow</string>
			<string>colorLabelGreen</string>
			<string>colorLabelBlue</string>
			<string>colorLabelPurple</string>
			<string>colorLabelGray</string>
			<string>colorLabelNone</string>
		</array>
	</dict>
	<key>a_movePrimaryItemWithModifiers: - 3</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>moveSelectionLeft</string>
			<string>selectAndMoveLeft</string>
			<string>moveCompareItemSelectionLeft</string>
			<string>previousItemInSelection</string>
		</array>
	</dict>
	<key>a_movePrimaryItemWithModifiers: - 4</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>moveSelectionRight</string>
			<string>selectAndMoveRight</string>
			<string>moveCompareItemSelectionRight</string>
			<string>nextItemInSelection</string>
		</array>
	</dict>
	<key>a_rotateWithModifiers: - -90</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>rotateCounterclockwise</string>
			<string>rotateCompareItemCounterclockwise</string>
		</array>
	</dict>
	<key>a_rotateWithModifiers: - 90</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>rotateClockwise</string>
			<string>rotateCompareItemClockwise</string>
		</array>
	</dict>
	<key>repeatingMoveSelection: - 3</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>moveSelectionLeft</string>
			<string>selectAndMoveLeft</string>
			<string>moveCompareItemSelectionLeft</string>
			<string>previousItemInSelection</string>
		</array>
	</dict>
	<key>repeatingMoveSelection: - 4</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>moveSelectionRight</string>
			<string>selectAndMoveRight</string>
			<string>moveCompareItemSelectionRight</string>
			<string>nextItemInSelection</string>
		</array>
	</dict>
	<key>a_rotate: - 0</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>rotateClockwise</string>
			<string>rotateCounterclockwise</string>
			<string>selectRotateTool</string>
		</array>
	</dict>
	<key>a_liftSelection: - 1</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>lift</string>
			<string>selectLiftTool</string>
		</array>
	</dict>
	<key>a_stampSelection: - 1</key>
	<dict>
		<key>visible</key>
		<false/>
		<key>commands</key>
		<array>
			<string>stamp</string>
			<string>selectStampTool</string>
		</array>
	</dict>
</dict>
</plist>
